<fieldset ng-disabled="$ctrl.isViewing === true">
    <div class="row">
        <div class="col-md-12 form-group">
        	<form-step class="col-md-2 control-label">Case Source</form-step>
        	<div class="col-md-8">
        		<select ng-model="$ctrl.questions.lcSource.response.value">
        			<option value="Intercept">Intercept</option>
        			<option value="Police referral">Police referral</option>
        			<option value="Informant">Informant</option>
        			<option value="Investigations">Investigations</option>
        		</select>
            </div>
        </div>
    </div>
     <div class="row">
    	<div class="col-md-12 form-group center-vertical">
	    		<form-step class="col-md-2 control-label">Location:</form-step>
	    	<div class="col-md-10">
	    		<form-step class="col-md-3" type="radio" radio-name="locationRadio" ng-repeat="location in $ctrl.locations" label="{{location}}" other-value="$ctrl.otherData.questions.lcLocation.otherValue" response-value="$ctrl.otherData.questions.lcLocation.value"></form-step>
	        	<form-step class="col-md-3" type="otherRadio" label="Other:" radio-name="locationRadio" other-value="$ctrl.otherData.questions.lcLocation.otherValue" response-value="$ctrl.otherData.questions.lcLocation.value"></form-step>
	        </div>
	     </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <form-step class="col-md-4 control-label">Charge Sheet Date</form-step>
            <div class="col-md-4">
                <input  type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="$ctrl.dateData.questions.lcChargeSheetDate.value">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <form-step class="col-md-4 control-label">Police Case #</form-step>
            <div class="col-md-4">
                <input  type="text" class="form-control" placeholder="Police Case Number" ng-model="$ctrl.questions.lcPoliceCase.response.value">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <form-step class="col-md-4 control-label">Human Trafficking Narrative</form-step>
            <div class="col-md-8">
	        	<form-step type="radio" class="col-md-6" radio-name="human-trafficking" label="Yes"
	            	response-value="$ctrl.questions.lcHumanTrafficking.response.value"></form-step>
	           <form-step type="radio" class="col-md-6" radio-name="human-trafficking" label="No"
	            	response-value="$ctrl.questions.lcHumanTrafficking.response.value"></form-step>
            </div>
        </div>
    </div>
    <div class="row">
    	 <div class="col-md-6 form-group center-vertical">
    	 	<form-step class="col-md-12 control-label">Case Summary</form-step>
	    	<textarea class="col-md-12"></textarea>
		</div>
		<div class="col-md-6 form-group">
            <form-step class="col-md-4 control-label">Date Last Contacted</form-step>
            <div class="col-md-4">
                <input  type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="$ctrl.dateData.questions.lcDateLastContacted.value">
            </div>
        </div>
   	 </div>
    
    <div class="row" ng-repeat="(cardIndex, card) in $ctrl.getCardInstances('Court Case')">
    	<hr>
    	<span>
    		<form-step class="sequenceNumber">{{ $ctrl.displayNumber('Court Case', $index) }}</form-step>
		    <div class="col-md-9 form-group" style="display:inline-block">
		    	<div class="row form-group">
			    	<form-step class="col-md-2 control-label">Court Case #</form-step>
			    	<input class="col-md-2" type="text" ng-model="$ctrl.getResponseOfQuestionByTag(card.responses, 'lcCourtCaseCourtCase').value">
			    	<div class="col-md-2"></div>
			    	<form-step class="col-md-2 control-label">District Court</form-step>
			    	<input class="col-md-2" type="text" ng-model="$ctrl.getResponseOfQuestionByTag(card.responses, 'lcCourtCaseDistrictCourt').value">
		    	</div>
		    	<div class="row form-group">
			    	<form-step class="col-md-2 control-label">Legal Status</form-step>
					{{ $ctrl.getResponseOfQuestionByTag(card.responses, 'lcCourtCaseStatus').value }}
		    	</div>
		    	<div class="row form-group">
		    		<span>
			    	<form-step class="col-md-2 control-label">Charges</form-step>
					<div class="col-md-10 nopadding">
						<span class="checkbox-text col-md-3" ng-repeat="charge in $ctrl.basicCharges">
				            <input type="checkbox" 
				            	ng-model="$ctrl.courtCase[cardIndex].checkboxGroup.questions.lcCourtCaseCharges[charge]"
				            	ng-class="$ctrl.inputClass" id="{{'Charge_'+$cardIndex+'_'+$charge}}"
				            	ng-change="$ctrl.chargesChange(cardIndex, charge)">
			            	<label for="{{'Charge_'+$cardIndex+'_'+$charge}}">{{charge}}</label>
			            </span>
		            </div>
		            </span>
		    	</div>
		    	<div  class="row form-group">
			    	<form-step class="col-md-2 control-label">Specific Country Code/Law</form-step>
					<div class="col-md-10">
	    	 			<form-step type="checkbox" ng-repeat="charge in $ctrl.countrySpecific" class={{charge.format}}
							label="{{charge.charge}} " response-value="$ctrl.courtCase[cardIndex].checkboxGroup.questions.lcCourtCaseSpecific[charge.charge]"></form-step>
					</div>
		    	</div>
		    </div>
		    <div class="col-md-2 form-group" style="display:inline-block">
		    	<button class="btn btn-dark" ng-click="$ctrl.addCourtCase()" ng-if="$index === 0">
		    		<i class="fa fa-gavel"></i> Add Court Case
		    	</button>
		    </div>
		</span>
    </div>
    
</fieldset>