<div id="irf-india-interceptees" class="row stretch-vertical">
    <div class="col-md-4 stretch-vertical" ng-repeat="card in $ctrl.cards">
        <div class="panel panel-default clickable col-md-12 padding-0" ng-click="$ctrl.openIntercepteeModal(card.responses)">
            <h3 class="panel-heading margin-top-0">{{$ctrl.getResponseOfQuestionById(card.responses, 9).name.value}}</h3>
            <div class="panel-body text-center">
                <img class="img-rounded margin-bottom-20" ngf-thumbnail="$ctrl.getResponseOfQuestionById(card.responses, 7).value" ng-if="$ctrl.getResponseOfQuestionById(card.responses, 7).value.type"
                />
                <img class="img-rounded margin-bottom-20" ng-if="$ctrl.getResponseOfQuestionById(card.responses, 7).value && !$ctrl.getResponseOfQuestionById(card.responses, 7).value.type"
                    ng-src="{{$ctrl.getIntercepteeImage($ctrl.getResponseOfQuestionById(card.responses, 7).value)}}" alt="Interceptee Picture"
                />
                <form-step>{{$ctrl.getResponseOfQuestionById(card.responses, 8).value}}</form-step>
                <form-step>{{$ctrl.getResponseOfQuestionById(card.responses, 9).age.value}}</form-step>
                <form-step>{{$ctrl.getResponseOfQuestionById(card.responses, 9).name.value}}</form-step>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center center-vertical">
        <div class="col-md-12">
            <button class="btn btn-success" ng-click="$ctrl.openIntercepteeModal([], true)">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>