<div id="personManagement" class="container-fluid padding-top-20">
    <div class="sticky">
    	<div>&nbsp;</div>
    	<div class="row text-center h4">{{ vm.masterPerson.full_name }}</div>
        <div class="btn-group btn-group-justified padding-bottom-20 padding-horizontal-40" role="group">
        	<a ng-repeat="stepTemplate in vm.stepTemplates"
        		class="btn btn-default"
        		ng-class="{active: vm.selectedStep == $index}" 
        		ng-click="vm.selectedStep = $index;">{{stepTemplate.name}}</a>
        </div>
        <hr class="margin-bottom-0" />
    </div>
    <div id="pm-content" class="padding-bottom-40">
        <div ng-repeat="template in vm.stepTemplates" ng-include="template.template" ng-hide="vm.selectedStep != $index"></div>
    </div>
    <div class="alert alert-warning" ng-repeat="warnings in vm.getWarningMessages()">
        <strong>Warning! {{warnings}}</strong>
    </div>
    <div class="alert alert-danger" ng-repeat="errors in vm.getErrorMessages()">
        <strong>Error! {{errors}}</strong>
    </div>
</div>
