<div id="vdf-nepal-attachment-modal" class="modal-content">
    <form name="AttachmentForm" ng-disabled="AttachmentModalController.isViewing === 'true'">
    	<div class="modal-header">
            <button type="button" class="close" ng-click="AttachmentModalController.dismiss()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <div class="col-md-5">
            	<h3 class="modal-title">{{AttachmentModalController.questions.lcAttachmentDescription.response.value || 'Attachment'}}</h3>
            </div>
            <div class="col-md-2 margin-top-10">
	    		<label>Attachment#</label>
	    	</div>
			<div class="col-md-3 form-group">
		        <input type="number" min="0" class="form-control" ng-model="AttachmentModalController.questions.lcAttachmentNumber.response.value">
	        </div>
        </div>
        <div class="modal-body">
        	<div class="row">
	            <div class="col-md-2 form-group">
		    		<label>Description</label>
		    	</div>
				<div class="col-md-10 form-group">
			        <input type="text" min="0" class="form-control" ng-model="AttachmentModalController.questions.lcAttachmentDescription.response.value">
		        </div>
            </div>
            <div class="row">
            	<div class="col-md-2 form-group">
		    		<label>Option</label>
		    	</div>
		    	<div class="col-md-5 form-group">
		            <select class="form-control" ng-model="AttachmentModalController.questions.lcAttachmentOption.response.value">
                        <option value="Charge Sheet">Charge Sheet</option>
                        <option value="Verdict">Verdict</option>
                        <option value="Other">Other</option>
                    </select>
	            </div>
	        </div>
            <div class="row center-vertical">
	            <div class="col-md-2 form-group">
	                <form-step>
	                    <label>File to attach</label>
	                </form-step>
	            </div>
	            <input type="file" ngf-select value="Choose File" ng-model="AttachmentModalController.questions.lcAttachmentAttachment.response.value"
	            	ng-change="AttachmentModalController.checkUploadSize(AttachmentModalController.questions.lcAttachmentAttachment.response)">
            </div>
            <div class="row center-vertical">
            	<div class="col-md-2 form-group">
	            </div>
	            <div ng-if="!AttachmentModalController.isString(AttachmentModalController.questions.lcAttachmentAttachment.response.value)">
	        		<p>{{AttachmentModalController.questions[1020].response.value.name}}</p>
	        	</div>
	        	<div ng-if="AttachmentModalController.isString(AttachmentModalController.questions.lcAttachmentAttachment.response.value)">
	        		<a href="{{AttachmentModalController.getScannedFormUrl(AttachmentModalController.questions.lcAttachmentAttachment.response.value)}}">{{AttachmentModalController.questions.lcAttachmentAttachment.response.value.split("/")[3]}}</a>
	        	</div>
        	</div>
        	<div class="row center-vertical">
        		<form-step type="checkbox" class="col-md-6" label="Attachment contains private data" response-value="AttachmentModalController.questions[700].response.value"></form-step>
        	</div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-success float-left" ng-click="AttachmentModalController.save()" ng-disabled="!AttachmentModalController.questions.lcAttachmentAttachment.response.value" ng-if="!AttachmentModalController.isViewing">Save</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-danger" ng-click="AttachmentModalController.delete()" ng-if="!AttachmentModalController.isAdd && !AttachmentModalController.isViewing">Delete</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default" ng-click="AttachmentModalController.dismiss()">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>