<fieldset class="form-horizontal" ng-disabled="$ctrl.isViewing">
	<div class="row col-md-12">
	 	<h3>Compliance</h3>
	</div>
	<div class="row"></div>
	<div class="row center-vertical">
		<form-step class="col-md-4">Date Received</form-step>
		<div class="col-md-4">
			<input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="$ctrl.dateData.questions.sfComplianceDateReceived.value">
		</div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row center-vertical">
    	<form-step class="col-md-4">Were there any missing required fields on the original form?</form-step>
    	<div class="col-md-1">
      		<form-step type="radio" label="No" response-value="$ctrl.questions.sfComplianceIncomplete.response.value" radio-name="incompleteQuestions"></form-step>
     	</div>
   		<div class="col-md-1">
			<form-step type="radio" label="Yes" response-value="$ctrl.questions.sfComplianceIncomplete.response.value" radio-name="incompleteQuestions"></form-step>
		</div>
	</div>
	<br>
	<div class="row center-vertical" ng-show="$ctrl.questions.sfComplianceIncomplete.response.value==='Yes'">
		<form-step class="col-md-4">Please list missing required fields</form-step>
		<div class="col-md-4">
			<input type="text" class="form-control" placeholder="Incomplete sections" ng-model="$ctrl.questions.sfComplianceIncompleteSections.response.value">
		</div>
	</div>
	<br>
	<div class="row center-vertical" ng-show="$ctrl.questions.sfComplianceIncomplete.response.value==='Yes'">
		<form-step class="col-md-4">Date Complete Information was Received</form-step>
		<div class="col-md-4">
			<input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="$ctrl.dateData.questions.sfComplianceDateComplete.value">
		</div>
	</div>
	<br>
	<div class="row center-vertical">
		<form-step class="col-md-1">List any changes made to the form when entering into SL</form-step>
		<div class=col-md-8>
			<textarea class="form-control" rows="3" ng-model="$ctrl.questions.sfComplianceNotes.response.value"></textarea>
		</div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row center-vertical">
		<form-step class="col-md-4">Date Submitted</form-step>
		<div class="col-md-4">
			<input ng-disabled="true" type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="$ctrl.dateData.questions.sfComplianceDateSubmitted.value">
		</div>
	</div>
</fieldset>
