<div class="container-fluid">
    <form>
        <div class="form-group text-left">
            <h3>Type of Intercept</h3>          
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="irfCtrl.form.interception_type_gulf_countries">
                    9.1 Gulf Countries
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="irfCtrl.form.interception_type_india_trafficking">
                    9.2 India Trafficking
                </label>
            </div>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="irfCtrl.form.interception_type_unsafe_migration">
                    9.3 Unsafe Migration
                </label>
            </div>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="irfCtrl.form.interception_type_circus">
                    9.4 Circus
                </label>
            </div>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="irfCtrl.form.interception_type_runaway">
                    9.5 Runaway
                </label>
            </div>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-init="policeCustodyBool = irfCtrl.form.trafficker_taken_into_custody != ''" ng-model="policeCustodyBool">
                    9.6 Was any trafficker taken into police custody?
                </label>
            </div>  
            <div class="checkbox">
                <label ng-show="policeCustodyBool">
                    If yes, write the # from the table above
                    <input type="text" maxlength="255" ng-model="irfCtrl.form.trafficker_taken_into_custody">
                </label>
            </div>
            
            <div class="select">
                <label>
                    9.7 How sure are you that it was a trafficking case?<br>
                    <select class="form-control" ng-model="irfCtrl.form.how_sure_was_trafficking" ng-options="how_sure for how_sure in ['1 - Not at all sure', '2 - Unsure but suspects it', '3 - Somewhat sure', '4 - Very sure', '5 - Absolutely sure']">
                        <option value="">---Choose Option---</option>
                    </select>
                </label>
            </div>              
            
            <h3>Digital Signature</h3>
            <p><strong>I certify that I have followed procedures and filled out this form correctly, completely, and accurately.</strong></p>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="irfCtrl.form.has_signature">
                    Scanned form has signature?
                </label>
            </div>          
        </div>
    </form>
</div>