<div class="container-fluid">
    <form>
        <div class="form-group text-left">
            <h3>Type of Intercept</h3>          
            <check-box number="9.1" ng-model="irfCtrl.form.interception_type_gulf_countries">Gulf Countries</check-box>
            <check-box number="9.2" ng-model="irfCtrl.form.interception_type_india_trafficking">India Trafficking</check-box>
            <check-box number="9.3" ng-model="irfCtrl.form.interception_type_unsafe_migration">Unsafe Migration</check-box>
            <check-box number="9.4" ng-model="irfCtrl.form.interception_type_circus">Circus</check-box>
            <check-box number="9.5" ng-model="irfCtrl.form.interception_type_runaway">Runaway</check-box>
            
            <div class="select">
                <label>
                    9.7 How sure are you that it was a trafficking case?<br>
                    <select class="form-control" ng-model="irfCtrl.page9.how_sure_was_trafficking" 
                        ng-options="how_sure.name for how_sure in irfCtrl.page9.how_sure_was_trafficking_options">
                    </select>
                </label>
            </div>              
            
            <h3>Digital Signature</h3>
            <p><strong>I certify that I have followed procedures and filled out this form correctly, completely, and accurately.</strong></p>
            <check-box ng-model="irfCtrl.form.has_signature">Scanned form has signature?</check-box>
        </div>
    </form>
</div>