<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="header bg-info">
        <vertical-word>Q</vertical-word>
      </td>
      <td colspan="10">
        <h4>Where are you going, and for what?</h4>
        <flag number="3.13">Doesn't know she's going to India</flag>
        <flag number="3.14">Running away from home (18 years or older)</flag>
        <flag number="3.15">Running away from home (under 18 years old)</flag>
      </td>
    </tr>
    <tr>
      <td class="header bg-warning">
        <vertical-word>A</vertical-word>
      </td>
      <td colspan="2">
        <answer number="2.1">Job</answer>
        <flag number="3.14">Going to Gulf for work through India</flag>
      </td>
      <td>
        <answer number="2.2">Visit/Family/Returning Home</answer>
      </td>
      <td>
        <answer number="2.3">Shopping</answer>
      </td>
      <td colspan="2">
        <answer number="2.4">Study</answer>
      </td>
      <td colspan="3">
        <answer number="2.5">Treatment</answer>
      </td>
    </tr>
    <tr>
      <td class="header bg-success">
        <vertical-word>Act</vertical-word>
      </td>
      <td>
        <b>Check documents</b>
      </td>
      <td>
        <b>Call job place</b>
      </td>
      <td>
        <b>Check bags</b>
      </td>
      <td>
        <b>Check to see if bags are empty</b>
      </td>
      <td>
        <b>Check documents</b>
      </td>
      <td>
        <b>Call School</b>
      </td>
      <td>
        <b>Ask which hospital, doctor</b>
      </td>
      <td>
        <b>Check documents</b>
      </td>
      <td>
        <b>Call doctor</b>
      </td>
    </tr>
    <tr>
      <td class="header bg-danger">
        <vertical-word>Red Flags</vertical-word>
      </td>
      <td>
        <flag number="3.17">No address in India</flag>
        <flag number="3.18">No company phone number</flag>
        <flag number="3.19">No Appointment Letter</flag>
        <flag number="3.20">Has a valid gulf country visa in passport</flag>
        <flag number="3.21">Passport is with a broker</flag>
        <flag number="3.22">Job is too good to be true</flag>
      </td>
      <td>
        <flag number="3.23">Not a real job</flag>
        <flag number="3.24">Could not confirm job</flag>
        <green-light>Job Confirmed</green-light>
        <green-light>Going back to same job she was working previously</green-light>
      </td>
      <td>
        <flag number="3.25">No bags though claim to be going for a long time</flag>
      </td>
      <td>
        <flag number="3.26">Shopping - Stuff for overnight stay in bags</flag>
      </td>
      <td>
        <flag number="3.27">No documentation of enrollment</flag>
        <flag number="3.28">Does not Know School's Name and location</flag>
        <flag number="3.29">No phone number for School</flag>
        <green-light>Valid ID card or enrollment documents</green-light>
      </td>
      <td>
         <flag number="3.30">Not enrolled in school</flag>
         <green-light>Enrollment Confirmed</green-light>
      </td>
      <td>
        <flag number="3.31">Reluctant to give info about treatment</flag>
      </td>
      <td>
        <flag number="3.32">Does not have medical documents</flag>
        <flag number="3.33">Fake Medical documents</flag>
        <green-light>Valid Documents (Referring Doctor's report, prescription, x-ray, etc.)</green-light>
      </td>
      <td>
        <flag number="3.34">No medical appointment</flag>
        <green-light>Doctor confirms appointment</green-light>
      </td>
    </tr>
  </tbody>
</table>