<div class="row well well-sm">
  <h1>Locations</h1>
  <hr/>
  <div ng-repeat="location in locationCtrl.locations"
       ng-mouseenter="location.hover = true"
       ng-mouseleave="location.hover = false; location.removeConfirmed = false">
    <div class="row">
        <div class="col-sm-12 form-group">
          <label for="locationName">Name</label>
          <input type="text" class="form-control" placeholder="Location Name"
                 ng-attr-id="{{'locationName-' + $index}}"
                 ng-model="location.name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" placeholder="Latitude"
                 ng-attr-id="{{'latitude-' + $index}}"
                 ng-model="location.latitude">
        </div>
        <div class="col-sm-6 form-group">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" placeholder="Longitude"
                 ng-attr-id="{{'longitude-' + $index}}"
                 ng-model="location.longitude">
        </div>
    </div>
    <button class="btn btn-xs btn-danger pull-left hidden-xs animated" ng-hide="bsCtrl.isViewing"
            ng-click="locationCtrl.removeLocation(location)"
            ng-class="{fadeIn: location.hover && !location.removeConfirmed, fadeOut: !location.hover, pulse: location.removeConfirmed}">
      {{ location.removeConfirmed ? "Are you sure?" : "Remove " + location.name }}
    </button>
    <button class="btn btn-xs btn-danger pull-left col-xs-12 visible-xs animated" ng-hide="bsCtrl.isViewing"
            ng-click="locationCtrl.removeLocation(location)"
            ng-class="{fadeIn: location.hover && !location.removeConfirmed, fadeOut: !location.hover, pulse: location.removeConfirmed}">
      {{ location.removeConfirmed ? "Are you sure?" : "Remove " + location.name }}
    </button>
    <br/>
    <br ng-if="$last"/>
    <hr ng-if="!$last && locationCtrl.locations.length > 1"/>
  </div>
  <h4 class="col-xs-12 text-center"
      ng-if="locationCtrl.locations.length == 0">No Locations</h4>
  <button class="btn btn-sm btn-success col-xs-12 col-sm-offset-4 col-sm-4"
          ng-click="locationCtrl.addLocation()" ng-hide="bsCtrl.isViewing">Add Location</button>
</div>