<div class="col-lg-6">
    <h2 class="background"><span>Staff Salaries</span></h2>

    <div class="row" ng-controller="staffCtrl as staff">
        <div class="row" ng-repeat="form in staff.staffSalaryForms" ng-init="staff.totalSalaries();">

            <div class="col-lg-2 col-lg-offset-3">
                <label style="margin-bottom: 0; margin-top: 5px">{{ form.name }}</label>
            </div>

            <div class="col-lg-4">
                <input class="form-control" type="number" ng-model="form.salary" ng-change="staff.totalSalaries()" ng-disabled="main.view"/>
            </div>

            <br/><br/>

        </div>


        <div class="row" ng-controller="otherBudgetItemsCtrl as staffItemsCtrl" ng-init="form_section = 8;">
            <div class="animated-budget-items" ng-repeat="form in staffItemsCtrl.staffForms">

                <div class="col-lg-4 col-lg-offset-1">
                    <input class="form-control" type="text" ng-model="form.name" ng-disabled="main.view"/>
                </div>
                <div class="col-lg-4">
                    <input class="text-right form-control" type="number" ng-model="form.cost" ng-change="staffItemsCtrl.otherItemsTotal()" ng-disabled="main.view"/>
                </div>
                <div class="col-lg-2">
                    <a class="btn btn-danger" ng-click="staffItemsCtrl.removeItem(form.id, $index)" ng-hide="main.view">
                        Remove
                    </a>
                </div>
                <br/><br/>
            </div>
            <div class="row">
                <br/>

                <div class="col-lg-4 col-lg-offset-5">
                    <a class="btn btn-success" id="staff_add_item" ng-click="staffItemsCtrl.addNewItem()" ng-hide="main.view">
                        Add staff
                    </a>
                </div>
            </div>
        </div>


        <div class="row text-center" style="margin-top: 30px">

            <div class="col-lg-4 col-lg-offset-4">
                <label>Staff Total</label>
                <input id="staffTotal" class="form-control text-center" ng-value="main.staffTotal()" disabled="disabled"/>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>

</div>