# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# -- Vite --
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# -- OLD ones --
yarn.lock
node_modules/
bower_components/
.sass-cache/
.idea/
.tmp/
dist/
*.swp
*.d.ts
build/

jsconfig.json
npm-debug.log
# Removed in React conversion, standards say to commit it now
# package-lock.json