Abram Stamper <abram.j.stamper@me.com>
Andrew Jackson <andrew.c.j1995@gmail.com>
Andrew Jackson <andrew_jackson1@taylor.edu>
Andrew Smith  <videogame0201@gmail.com>
Andrew Smith <andrew_smith3@taylor.edu>
Austin Munn <amunn33@gmail,com>
Ben Duggan <benaduggan@gmail.com>
Bryant Sell <bryantsell@gmail.com>
Erik Krauss <ekrauss@Roth.cs.local>
Jacob Jin <yage_jin@taylor.edu>
John Luscombe <jluscomb@brainerd.cs.local>
John Luscombe <jluscomb@cse21715.cs.local>
John Luscombe <jluscomb@elliot.cs.local>
John Luscombe <jluscomb@saint.cs.local>
John Luscombe <jluscomb@taylor.cs.local>
John Luscombe <jluscomb@townsend.cs.local>
John Luscombe <john_luscombe@taylor.edu>
John Luscombe <johnluscombe@johns-mbp.campus.tayloru.edu>
Jon Warren <Jon-Warren@users.noreply.github.com>
Jordan Wright <jordancwright314@gmail.com>
Jordan Wright <jwright@patrick.cs.local>
Keith Bauson <kwbauson@gmail.com>
Kyle Shelton <kshelton@liddel.cse.taylor.edu>
Matt Hall <matthalltu@gmail.com>
Steven Enzor <senzor@edwards.cs.local>
Steven Enzor <senzor@muller.cs.local>
Steven Ulmer <sulmer@Craton.cs.local>
Tim Parr <timmy_parr@yahoo.com>
