<div id="cif-location-boxes" class="row stretch-vertical">
    <div class="col-md-3 stretch-vertical" ng-repeat="card in $ctrl.getCardInstances('LocationBoxes')">
        <div class="panel panel-default clickable col-md-12 padding-0" ng-click="$ctrl.openLocationBoxModal(card, false, $index)">
            <h3 class="panel-heading margin-top-0">({{$ctrl.getResponseOfQuestionById(card.responses, 481).value}}){{$ctrl.getResponseOfQuestionById(card.responses, 424).value}}</h3>
            <div class="panel-body text-center">
                <form-step>{{$ctrl.getResponseOfQuestionById(card.responses, 425).value}}</form-step>
                <form-step>{{$ctrl.getResponseOfQuestionById(card.responses, 426).value}}</form-step>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center center-vertical" ng-if="!$ctrl.isViewing">
        <div class="col-md-12">
            <button class="btn btn-success" ng-click="$ctrl.openLocationBoxModal(null, true)">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>