<div id="personManagementPendingFaceMatchesList" class="container">
	<!-- To start, list person_ids with face_encodings -->
	<!-- Upload a photo, encode photo, get matching (face_encodings) from filterd list of person_ids with face_encodings -->
	<div>
		<h1 class="text-center">Face-Matching</h1>
		<div>
			<p>0. List person_ids with face_encoding</p>
			<p>1. Upload and image and search for similar faces in records</p>
			<p>2. Select and image from records and search for similar faces in records</p>
		</div>
	    <div class="row">
	    	<div class="col-md-1">
	            <p style="margin-top: 5px;">Country</p>
	        </div>
	        <div class="col-md-2">
		        <select class="form-control" ng-model="vm.countryId" ng-change="">
		        	<option value="">All</option>
					<option ng-repeat="country in vm.countries" value="{{country.id}}">{{ country.name}} </option>
				</select>
	        </div>
	        <div class="col-md-4">
		        <div class="col-md-4">
		            <p style="margin-top: 5px;">Match Type</p>
		        </div>
		        <div class="col-md-8">
			        <select class="form-control" ng-model="vm.matchType" ng-change="">
			        	<option value="">All</option>
						<option value="Possible">Possible</option>
						<option value="Suggested">Suggested</option>
						<option value="Non-match">Non-match</option>
					</select>
		        </div>
	        </div>
	        <div class="col-md-2">
	        	<div class="col-md-3">
		            <p style="margin-top: 5px;">Role</p>
		        </div>
		        <div class="col-md-9">
			        <select class="form-control" ng-model="vm.matchRole" ng-change="">
			        	<option value="">All</option>
						<option value="PV">PV</option>
						<option value="NON-PV">Non PV</option>
					</select>
		        </div>
	        </div>
	        <div class="pull-right">
	            <form>
	                  <label>
	                      <input type="search" placeholder="Person name..." ng-model="vm.searchValue" class="form-control" ng-keypress="vm.keyPress($event)">
	                  </label>
	                  <a class="btn btn-primary" ng-click="">Search</a>
	            </form>
	        </div>
	    </div>
	
	    <table class="table table-striped" float-thead="vm.stickyOptions" cellspacing="0" cellpadding="0" cellborder="0" style="border-collapse:collapse;" ng-model="vm.encodedPersons">
	        <thead class="sticky-table-header">
	        	<tr>
	        		<th colspan="2" class="person_id"> Person ID
	                </th>
	        		<th colspan="2" class="face_encoding"> Face Encoding
	                </th>
	        	</tr>
	        </thead>
	        <tbody ng-init="vm.sortColumn = 'name'">
	            <tr ng-repeat="face_encoding in vm.encodedPersons">
	                <td class="text-center">{{ face_encoding.person }}</td>
	                <td class="text-center">{{ face_encoding.face_encoding }}</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	<div class="row text-center">
        <paginate page-control="vm.paginate" controller="vm">
    </div>
    <br>
	<div ng-show="vm.loading" class="loader-container">
		<div class="loader">Loading...</div>
	</div>
</div>