#irf {
    .sticky {
        background-color: white;
        z-index: 1;
        position: fixed;
        top: 50px;
    }
    #irf-content {
        padding-top: 150px;
    }
    #irf-interceptees {
        img {
            max-height: 250px;
            max-width: 250px;
        }
    }
    
}

#purpose {
    background: #c6ecc6;
}

#deceive {
    background: #c6ecc6;
}

#irf-interceptee-modal {
    .upload-image {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        margin: 0 auto;
        padding: 50px 10px;
        text-align: center;
        width: 170px;
    }
}