<fieldset ng-disabled="$ctrl.isViewing === true">
	<br>
    <div class="row">
        <div class="col-md-4 form-group">
            <form-step class="col-md-3 control-label">1.1 Name</form-step>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Name" ng-model="$ctrl.questions[292].response.name.value">
            </div>
        </div>
        <div class="col-md-3 form-group">
            <form-step class="col-md-5 control-label">1.2 Gender</form-step>
            <div class="col-md-7">
                 <select class="form-control" ng-model="$ctrl.questions[292].response.gender.value">
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>
                 </select>
            </div>
        </div>
        <div class="col-md-2 form-group">
            <form-step class="col-md-6 control-label">1.3 Age</form-step>
            <div class="col-md-6">
                <input type="number" class="form-control" placeholder="Age" ng-model="$ctrl.questions[292].response.age.value">
            </div>
        </div>
        <div class="col-md-3 form-group">
            <form-step class="col-md-5 control-label">1.4 Date of Birth</form-step>
            <div class="col-md-7">
                <input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="$ctrl.dateData.questions[292].value">
            </div>
        </div>
    </div>
    <div class="row">
    	<br>
         <div class="col-md-3">
            <form-step class="col-md-5 control-label" style="float:left">1.5 Phone#</form-step>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="$ctrl.questions[292].response.phone.value">
            </div>
        </div>
        <div class="col-md-5 form-group">
            <form-step class="col-md-4 control-label">1.6 Email/Facebook ID</form-step>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="$ctrl.questions[293].response.value">
            </div>
        </div>
        <div class="col-md-4 form-group">
            <form-step class="col-md-4 control-label">1.7 Nationality</form-step>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="$ctrl.questions[292].response.nationality.value">
            </div>

        </div>
    </div>
    <div class="row">
     	<div class="col-md-6 form-group">
        	<form-step class="col-md-4 margin-top-25">1.8 Address: VDC/Town/Ward</form-step>
            <autocomplete-address2 class="col-md-8 padding-horizontal-30" ng-model="$ctrl.questions[292].response.address2"></autocomplete-address2>
        </div>
        <div class="col-md-6">
            <form-step class="col-md-4 margin-top-25">District/State/Country</form-step>
            <autocomplete-address1 class="col-md-8 padding-horizontal-30" ng-model="$ctrl.questions[292].response.address1"></autocomplete-address1>
        </div>
    </div>
    <div class="row">
		<div class="col-md-4">
            <form-step class="col-md-5 control-label">1.9 Occupation</form-step>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="$ctrl.questions[294].response.value">
            </div>
        </div>
		<div class="col-md-8">
			<div class="col-md-2">
            	<form-step class="col-md-12 control-label">1.10 Education</form-step>
            </div>
            <div class="col-md-10">
		        <div class="col-md-3">
		            <form-step type="radio" radio-name="education" label="None/Illiterate" response-value="$ctrl.questions[295].response.value"></form-step>
		        </div>
		        <div class="col-md-2">
		            <form-step type="radio" radio-name="education" label="Primary" response-value="$ctrl.questions[295].response.value"></form-step>
		        </div>
		        <div class="col-md-2">
		            <form-step type="radio" radio-name="education" label="Secondary" response-value="$ctrl.questions[295].response.value"></form-step>
		        </div>
		        <div class="col-md-2">
		            <form-step type="radio" radio-name="education" label="University" response-value="$ctrl.questions[295].response.value"></form-step>
		        </div>
	        </div>
	     </div>
    </div>
    <div class="row">
    	<br>
    	<div class="col-md-7">
            <form-step class="col-md-4 control-label">1.11 (If Under 18) Name of Guardian</form-step>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="$ctrl.questions[296].response.value">
            </div>
        </div>
		<div class="col-md-5">
			<form-step class="col-md-5 control-label">1.12 Guardian Phone Number</form-step>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="$ctrl.questions[297].response.value">
            </div>
			
	    </div>
    </div>
    <div class="row">
    	<br>
		<div class="col-md-2">
           	<form-step class="col-md-12 control-label">1.13 Relationship to Guardian</form-step>
        </div>
        <div class="col-md-7">
	        <div class="col-md-2">
	            <form-step type="radio" radio-name="relationship-guardian" label="Own Parent(s)" response-value="$ctrl.questions[298].response.value"></form-step>
	        </div>
	        <div class="col-md-2">
	            <form-step type="radio" radio-name="relationship-guardian" label="Other Relative" response-value="$ctrl.questions[298].response.value"></form-step>
	        </div>
	        <div class="col-md-2">
	            <form-step type="radio" radio-name="relationship-guardian" label="Non-relative" response-value="$ctrl.questions[298].response.value"></form-step>
	        </div>
	        <div class="col-md-4">
	            <form-step type="radio" radio-name="relationship-guardian" label="No one (I have no guardian)" response-value="$ctrl.questions[298].response.value"></form-step>
	        </div>
	     </div>
    </div>
    <div class="row">
    	<br>
 		<div class="col-md-4">
           	<form-step class="col-md-12 control-label">1.14 Were there other possible victims associated with this case?</form-step>
        </div>
        <div class="col-md-7">
	        <div class="col-md-2">
	            <form-step type="radio" radio-name="other-pvs" label="Yes" response-value="$ctrl.questions[299].response.value"></form-step>
	        </div>
	        <div class="col-md-2">
	            <form-step type="radio" radio-name="other-pvs" label="No" response-value="$ctrl.questions[299].response.value"></form-step>
	        </div>
	     </div>
    </div>
</fieldset>