<fieldset class="container-fluid"ng-disabled="$ctrl.isViewing === true">
    <div class="row">
    	<br>
    	<div class="col-md-2">
    		<form-step class="control-label">3.1 What was the main purpose for which the PV left home?</form-step>
    	</div>
    	<div class="col-md-10">
            	<form-step type="checkbox" class="col-md-3" label="Education" response-value="$ctrl.questions[330].response.value"></form-step>
            	<form-step type="checkbox" class="col-md-3" label="Travel/Tour" response-value="$ctrl.questions[331].response.value"></form-step>
            	<form-step type="checkbox" class="col-md-3" label="Marriage" response-value="$ctrl.questions[332].response.value"></form-step>
            	<form-step type="checkbox" class="col-md-3" label="Visit family" response-value="$ctrl.questions[333].response.value"></form-step>
            	<form-step type="checkbox" class="col-md-3" label="Medical treatment" response-value="$ctrl.questions[334].response.value"></form-step>
            	<form-step type="checkbox" class="col-md-3" label="Job - Hotel" response-value="$ctrl.questions[336].response.value"></form-step>
            	<form-step type="checkbox" class="col-md-3" label="Job - Household" response-value="$ctrl.questions[337].response.value"></form-step>
            	<form-step type="otherCheckbox" class="col-md-3" label="Other:" response-value="$ctrl.questions[338].response.value"></form-step>
		</div>
    </div>
   
    <div class="row">
    	<br>
    	<div class="col-md-2">
    		<form-step class="control-label">3.2 Destination:</form-step>
    	</div>
    	<div class="col-md-10">
            <form-step type="radio" class="col-md-3" radio-name="destination" ng-repeat="dest in $ctrl.idConstants.RadioItems[339]" label="{{dest}}"
            	response-value="$ctrl.otherData.questions[339].value" other-value="$ctrl.otherData.questions[339].otherValue"></form-step>
            <form-step type="otherRadio" class="col-md-4" radio-name="destination" label="Other:" other-value="$ctrl.otherData.questions[339].otherValue"
	                response-value="$ctrl.otherData.questions[339].value"></form-step>
        </div>
 	</div>
 	<hr>
 	<div class="row">
    	<div class="col-md-12">
    		<form-step class="control-label">3.3 Primary modes of transportation and transit stops (Transportation tab)</form-step>
    	</div>
 	</div>
 	<hr>
 	<div class="row">
    	<br>
    	<div class="col-md-2">
    		<form-step class="control-label">3.4 How did the PV cross the border? (Check all that apply):</form-step>
    	</div>
    	<div class="col-md-10">
           	<form-step type="checkbox" class="col-md-3" label="At night" response-value="$ctrl.questions[453].response.value"></form-step>
           	<form-step type="checkbox" class="col-md-3" label="Off road/path" response-value="$ctrl.questions[454].response.value"></form-step>
           	<form-step type="checkbox" class="col-md-3" label="By foot" response-value="$ctrl.questions[455].response.value"></form-step>
           	<form-step type="checkbox" class="col-md-3" label="By vehicle" response-value="$ctrl.questions[456].response.value"></form-step>
		</div>
 	</div>
 	<div class="row">
    	<br>
    	<div class="col-md-2">
    		<form-step class="control-label">3.5 Was any Identity Document (ID) made for the PV?</form-step>
    	</div>
    	<div class="col-md-10">
           	<form-step type="checkbox" class="col-md-4" label="No" response-value="$ctrl.questions[340].response.value"></form-step>
           	<form-step type="checkbox" class="col-md-4" label="Real ID" response-value="$ctrl.questions[341].response.value"></form-step>
           	<form-step type="checkbox" class="col-md-4" blue-flag="12" label="Fake ID/passport" response-value="$ctrl.questions[342].response.value"></form-step>
           	<form-step type="checkbox" class="col-md-4" label="ID with false name" response-value="$ctrl.questions[343].response.value"></form-step>
           	<form-step type="checkbox" class="col-md-4" label="ID with other false info" response-value="$ctrl.questions[344].response.value"></form-step>
           	<div class="col-md-4">
           		<Label>*LB - Source of ID *PB#</Label>
           		<input type="text" placeholder="PB#" ng-model="$ctrl.questions[345].response.value">
           	</div>
		</div>
 	</div>
 	<div class="row">
    	<br>
    	<div class="col-md-2">
    		<form-step class="control-label">3.6 ID or work permit kept by a broker?</form-step>
    	</div>
    	<div class="col-md-4">
           	<form-step type="radio" class="col-md-6" radio-name="brokerKept"  label="Yes" response-value="$ctrl.questions[346].response.value" ></form-step>
           	<form-step type="radio" class="col-md-6" radio-name="brokerKept"  label="No" response-value="$ctrl.questions[346].response.value" ></form-step>
		</div>
    	<div class="col-md-3">
    		<form-step class="control-label">3.7 May we contact the PV in a few weeks to see how they are doing?</form-step>
    	</div>
    	<div class="col-md-3">
           	<form-step type="radio" class="col-md-6" radio-name="brokerKept"  label="Yes" response-value="$ctrl.questions[347].response.value" ></form-step>
           	<form-step type="radio" class="col-md-6" radio-name="brokerKept"  label="No" response-value="$ctrl.questions[347].response.value" ></form-step>
		</div>
 	</div>
 	<div class="row">
    	<br>
    	<div class="col-md-2">
    		<form-step class="control-label">3.8 What is the best way to contact them?</form-step>
    	</div>
    	<div class="col-md-10">
        	<form-step type="otherCheckbox" class="col-md-3" label="What's App" response-value="$ctrl.questions[348].response.value"></form-step>
        	<form-step type="otherCheckbox" class="col-md-3" label="Facebook" response-value="$ctrl.questions[349].response.value"></form-step>
        	<form-step type="otherCheckbox" class="col-md-3" label="Phone" response-value="$ctrl.questions[350].response.value"></form-step>
		</div>
 	</div>
 </fieldset>