<div class="navbar navbar-default navbar-fixed-top" ng-if="!navbarCtrl.state.current.data.hideNavbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse"
            ng-click="mobileNavClosed = !mobileNavClosed" ng-init="mobileNavClosed = true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="margin-top: -10px" href="#" ui-sref="dashboard">
            <img ng-src="assets/images/searchlight_full.png" alt="Searchlight" />
        </a>
    </div>

    <div ng-class="{'collapse': mobileNavClosed, 'navbar-collapse': mobileNavClosed, 'navbar-header-collapse': mobileNavClosed}"
        ng-if="authenticated">
        <ul class="nav navbar-nav" ng-mouseleave="stationsOpen = false; formsOpen = false">

			<!-- START: BASE -->
			<li class="dropdown" ng-class="{open:baseOpen}" ng-if="navbarCtrl.session.checkPermission('STAFF','VIEW',null, null)"
                ng-mouseleave="baseOpen = false">
                <a class="dropdown-toggle" data-toggle="dropdown" ng-click="baseOpen=!baseOpen">Base
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                       <li>
                               <a ng-show="navbarCtrl.session.checkPermission('STAFF','VIEW',null, null)"
                           ui-sref="staffList">Staff</a>
                       </li>
                       <li>
                               <a ng-show="navbarCtrl.session.checkPermission('PROJECTS','VIEW',null, null)"
                           ui-sref="projectList">Projects</a>
                       </li>
                       
                       <li>
                        <a ui-sref="countries">Countries</a>
                    </li>
                </ul>
            </li>
			
			<!-- END:: BASE -->
            <!-- START: BORDERSTATIONS -->
            <li class="dropdown" ng-class="{open:stationsOpen}"
                ng-show="navbarCtrl.session.checkPermission('PROJECTS','VIEW',null, null);"
                ng-mouseleave="stationsOpen = false">
                <a class="dropdown-toggle" data-toggle="dropdown" id="border_station_dropdown"
                    ng-click="stationsOpen=!stationsOpen">Projects
                    <b class="caret"></b>
                </a>
                <ul id="border-station-dropdown" class="dropdown-menu">
                    <li>
                        <a ui-sref="border-station({id: null})"
                            ng-show="navbarCtrl.session.checkPermission('PROJECTS','ADD',null, null);">
                            Create Project
                        </a>
                    </li>
                    <hr style="margin: 4px" />
                    <li class="country-menu" ng-repeat="country in navbarCtrl.countryNames">
                        <div class="country-label" ng-click="isCollapsed = !isCollapsed">
                            <h4>{{country}}</h4>
                            <i ng-class="{'glyphicon-menu-right': isCollapsed, 'glyphicon-menu-down': !isCollapsed }"
                                class="glyphicon icon"></i>
                        </div>
                        <div ng-repeat="category in navbarCtrl.categoryNames">
	                        <div class="project-category" ng-if="navbarCtrl.countryCategoryMap[country + ':' + category]"
	                        		ng-click="navbarCtrl.collapse[country + ':' + category] = !navbarCtrl.collapse[country + ':' + category]">
	                        	<p uib-collapse="isCollapsed">
	                                <i>{{ category }}</i>
	                                <i ng-class="{'glyphicon-menu-right': navbarCtrl.collapse[country + ':' + category], 'glyphicon-menu-down': !navbarCtrl.collapse[country + ':' + category] }"
                                		class="glyphicon icon"></i>
	                        	</p>
	                        </div>
	                        <div class="border-station">
	                            <p ng-repeat="station in navbarCtrl.countryCategoryMap[country + ':' + category]" ng-if="station.open"
	                                uib-collapse="isCollapsed || navbarCtrl.collapse[country + ':' + category]">
	                                <a ui-sref="border-station({id: station.id, countryId: station.operating_country, new_staff:false})">
	                                    {{ station.station_name }}
	                                </a>
	                            </p>
	                        </div>
	                	</div>
                    </li>
                </ul>
            </li>
            <!-- END: BORDERSTATIONS -->

            <!-- START: FORMS -->
            <li class="dropdown" ng-class="{open:formsOpen}"
                ng-hide="!navbarCtrl.showForms()"
                ng-mouseleave="formsOpen = false">
                <a class="dropdown-toggle" data-toggle="dropdown" ng-click="formsOpen=!formsOpen">Forms
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('IRF','VIEW',null, null)"
                            ui-sref="irfNewList">IRFs</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('CIF','VIEW',null, null)"
                            ui-sref="cifList">CIFs</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('VDF','VIEW',null, null)"
                            ui-sref="vdfList">VDFs</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('PVF','VIEW',null, null)"
                            ui-sref="pvfList">PVFs</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('SF','VIEW',null, null)"
                            ui-sref="sfList">SFs</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('LF','VIEW',null, null)"
                            ui-sref="lfList">LFs</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('MONTHLY_REPORT','VIEW',null, null)"
                            ui-sref="monthlyReportList">SMRs</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('BUDGETS','VIEW',null, null);"
                            ui-sref="budgetList">MDFs</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('MDF','VIEW',null, null);"
                            ui-sref="mdfList">MDFs-PR</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('EMP','VIEW',null, null);"
                            ui-sref="empList">Emps</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('GSP','VIEW',null, null);"
                            ui-sref="gspList">Gsps</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('PROJECT_REQUEST','VIEW',null, null);"
                            ui-sref="projectRequestList({mdf_id:null})">Project Requests</a>
                    </li>
                </ul>
            </li>
            <!-- END: FORMS -->
            <!-- START: REPORTS -->
            <li class="dropdown" ng-class="{open:reportsOpen}"
            	ng-hide="!(navbarCtrl.session.checkPermission('CIF','VIEW',null, null)||navbarCtrl.session.checkPermission('IRF','VIEW',null, null)||navbarCtrl.session.checkPermission('VDF','VIEW',null, null)||navbarCtrl.session.checkPermission('MONTHLY_REPORT','VIEW',null, null))"
                ng-mouseleave="reportsOpen = false">
                <a class="dropdown-toggle" data-toggle="dropdown" ng-click="reportsOpen=!reportsOpen">Data Summaries
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                	<li>
                        <a ng-show="navbarCtrl.session.checkPermission('CIF','VIEW',null, null)||navbarCtrl.session.checkPermission('IRF','VIEW',null, null)||navbarCtrl.session.checkPermission('VDF','VIEW',null, null)"
                        	ui-sref="collectionIndicators">Data Collection Indicators</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('CIF','VIEW',null, null)||navbarCtrl.session.checkPermission('IRF','VIEW',null, null)||navbarCtrl.session.checkPermission('VDF','VIEW',null, null)"
                        	ui-sref="indicators">Data Entry Indicators</a>
                    </li>
                    <li>
                    	<a ng-show="navbarCtrl.session.checkPermission('MONTHLY_REPORT','VIEW',null, null)"
                    		ui-sref="monthlyReportSummary">SMR Summary</a>
                    </li>
                </ul>
            </li>
             <!-- END: REPORTS -->
             
	         <li class="dropdown" ng-class="{open:stationStatsOpen}"
            	ng-show="navbarCtrl.session.checkPermission('PROJECT_STATISTICS','VIEW',null, null)"
                ng-mouseleave="stationStatsOpen = false">
                <a class="dropdown-toggle" data-toggle="dropdown" ng-click="stationStatsOpen=!stationStatsOpen">Project Stats
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                	<li>
                        <a ng-show="navbarCtrl.session.checkPermission('PROJECT_STATISTICS','VIEW',null, null)"
                        	ui-sref="operationsDashboard">Dashboard</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('PROJECT_STATISTICS','VIEW',null, null)"
                        	ui-sref="stationData">Project Data</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('PROJECT_STATISTICS','VIEW',null, null)"
                        	ui-sref="locationData">Location Data</a>
                    </li>
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('PROJECT_STATISTICS','VIEW',null, null)"
                        	ui-sref="locationStaff">Location Staffing</a>
                    </li>
                </ul>
            </li>
            <li>
                <a ng-show="navbarCtrl.session.checkPermission('LEGAL_CASE','VIEW',null, null);"
                    ui-sref="legalCaseList">Legal Cases</a>
            </li>
            <li>
            	<a ng-show="navbarCtrl.session.checkPermission('AUDIT','VIEW',null, null)"
                        	ui-sref="auditList">Audits</a>
            </li>
            <li class="dropdown" ng-class="{open:followUpsOpen}"
                ng-hide="!navbarCtrl.session.checkPermission('GOSPEL_VERIFICATION','VIEW',null, null)"
                ng-mouseleave="followUpsOpen = false">
                <a class="dropdown-toggle" data-toggle="dropdown" ng-click="followUpsOpen=!followUpsOpen">Follow-ups
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-show="navbarCtrl.session.checkPermission('GOSPEL_VERIFICATION','VIEW',null, null)"
                            ui-sref="gospelVerificationList">Gospel Verification</a>
                    </li>
                </ul>
            </li>
        </ul>
        

        <ul class="nav navbar-nav navbar-right">
            <!-- START: USER SETTINGS -->
            <li class="dropdown" ng-class="{open:menuOpen}" ng-mouseleave="menuOpen = false">
                <a class="dropdown-toggle" data-toggle="dropdown" ng-click="menuOpen=!menuOpen">
                <img ng-src="assets/images/menu-alt.png" hspace="20">
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" ng-show="navbarCtrl.session.user.permission_accounts_manage"
                            ui-sref="accounts.list">
                            Accounts and Permissions</a>
                    </li>
                    <li>
                        <a ui-sref="countries">Countries</a>
                    </li>
                    <li>
                        <a ui-sref="personManagementList"
                            ng-show="navbarCtrl.session.checkPermission('PERSON_MANAGEMENT','EDIT',null, null)">
                            Person Management</a>
                    </li>
                    <li>
                        <a ui-sref="traffickermatch" ng-show="navbarCtrl.session.user.permission_person_match">
                            Person Match</a>
                    </li>
                    <li>
                        <a ui-sref="helpvideo">Help Videos</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-click="navbarCtrl.logout()">
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </li>
            <!-- END: USER SETTINGS -->
        </ul>
    </div>
</div>