<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" style="margin-top: -10px" href="#" ui-sref="dashboard"><img ng-src="assets/images/tiny-hands-logo.png" alt="Tiny Hands" /></a>
  </div>

  <div class="collapse navbar-collapse navbar-header-collapse"
       ng-if="authenticated">
    <ul class="nav navbar-nav"
        ng-mouseleave="stationsOpen = false; formsOpen = false">
        <li><a href="#" ui-sref="dashboard">Dashboard</a></li>

        <!-- START: BORDERSTATIONS -->
        <li class="dropdown"
            ng-class="{open:stationsOpen}"
            ng-show="navbarCtrl.session.user.permission_border_stations_view">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="border_station_dropdown"
               ng-click="stationsOpen=!stationsOpen">Stations<b class="caret"></b></a>
            <ul id="border-station-dropdown" class="dropdown-menu">
                <li><a ui-sref="border-station({id: null})"
                       ng-show="navbarCtrl.session.user.permission_border_stations_add">Create Station</a></li>
                <hr style="margin: 4px"/>
                <li ng-repeat="station in navbarCtrl.borderStations"
                    ng-if="station.open"><a ui-sref="border-station({id: station.id})">{{ station.station_name }}</a></li>
            </ul>
        </li>
        <!-- END: BORDERSTATIONS -->

        <!-- START: FORMS -->
        <li class="dropdown"
            ng-class="{open:formsOpen}"
            ng-hide="!navbarCtrl.session.user.permission_irf_view && !navbarCtrl.session.user.permission_vif_view">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               ng-click="formsOpen=!formsOpen">Forms<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a ng-show="navbarCtrl.session.user.permission_irf_view" href="#">IRFs</a></li>
                <li><a ng-show="navbarCtrl.session.user.permission_vif_view" href="#">VIFs</a></li>
            </ul>
        </li>
        <!-- END: FORMS -->

        <li><a ng-show="navbarCtrl.session.user.permission_budget_manage" href="#">Budget Sheets</a></li>

        <li><a href="#">Event Calendar</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right" 
        ng-mouseleave="menuOpen = false">
        <li>
          <p class="navbar-text">Nepal Time:  {{ navbarCtrl.nepalTime }}</p>
        </li>
        
        <!-- START: USER SETTINGS -->
        <li class="dropdown" 
            ng-class="{open:menuOpen}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
             ng-click="menuOpen=!menuOpen">Hello {{ navbarCtrl.session.user.first_name + " " + navbarCtrl.session.user.last_name }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"
                   ng-show="navbarCtrl.session.user.permission_accounts_manage">Accounts and Permissions</a></li>
            <li><a ui-sref="address1" 
                   ng-show="navbarCtrl.session.user.permission_vdc_manage">Edit Address 1</a></li>
            <li><a ui-sref="address2"
                   ng-show="navbarCtrl.session.user.permission_vdc_manage">Edit Address 2</a></li>
            <li class="divider"></li>
            <li ng-click="navbarCtrl.logout()"><a href="#">Logout</a></li>
          </ul>
        </li>
        <!-- END: USER SETTINGS -->
    </ul>
  </div>
</div>