#dataEntryIndicator {
	.cell-right-border {
		border-right: 2px solid black;
	}
	.title1 {
		border-bottom: none;
		padding-bottom: 0;
	}
	.title2 {
		border-top: none;
		padding-top: 0;
	}
	.no-color-highlight {
	}
	.no-color-non-highlight {
		background-color: #e0e0eb;
	}
	.exceeds-goal-highlight {
		background-color: #4caf50;
	}
	.exceeds-goal-non-highlight {
		background-color: #85adad;
	}
	.meets-goal-highlight {
		background-color: #a5d6a7;
	}
	.meets-goal-non-highlight {
		background-color: #c2d6d6;
	}
	.needs-improvement-highlight {
		background-color: #ffcdd2;
	}
	.needs-improvement-non-highlight {
		background-color: #df9fbf;
	}
	.does-not-meet-goal-highlight {
		background-color: #f44336;
	}
	.does-not-meet-goal-non-highlight {
		background-color: #cc6699;
	}
}