<h1 class="text-center">Data Entry Indicators</h1>
<div class="row center-vertical">
	<div class="col-md-1">
		&nbsp;
	</div>
	<div class="col-md-3 text-center">
		<div class="col-md-3 text-center">
			<p>Country</p>
		</div>
		<div class="col-md-9" ng-dropdown-multiselect="" options="indicators.countryDropDown.options"
				selected-model="indicators.countryDropDown.selectedOptions"
				extra-settings="indicators.countryDropDown.settings"
				translation-texts="indicators.countryDropDown.customText"
				events="indicators.countryDropDown.eventListener">
		</div>
	</div>
	<div class="col-md-4">
		&nbsp;
	</div>
	<div class="col-md-1">
		<img ng-src="assets/images/Actions-go-previous-icon.png" ng-show="indicators.scrollLeft" ng-click="indicators.scroll(-1)">
	</div>
	<div class="col-md-1">
		<img ng-src="assets/images/Actions-go-next-icon.png" ng-show="indicators.scrollRight" ng-click="indicators.scroll(1)">
	</div>
	<hr>
	<div class="col-md-12" ng-if="indicators.indicatorsData">
		<table class="table table-striped" ng-model="indicators.indicatorsData">
	        <thead>
	            <tr>
	                <th width="17%">Data Indicators</th>
	                <th width="5%">Goal</th>
	                <th width="5%">Last 30 days</th>
	                <th width="5%" ng-repeat="indicator in indicators.history">{{ indicator.title }}</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td><b>IRF Lag Time</b></td>
	                <td>{{ indicators.indicatorsData.goals.irfLag }}</td>
	                <td>{{ indicators.indicatorsData.latest.irfLag }}</td>
	                <td  ng-repeat="indicator in indicators.history">{{ indicator.irfLag }}</td>
	            </tr>
	            <tr>
	                <td><b>IRF Forms Entered</b></td>
	                <td></td>
	                <td>{{ indicators.indicatorsData.latest.irfCount }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.irfCount }}</td>
	            </tr>
	            <tr>
	                <td><b>Photo Upload Lag Time</b></td>
	                <td>{{ indicators.indicatorsData.goals.photosLag }}</td>
	                <td>{{ indicators.indicatorsData.latest.photosLag }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.photosLag }}</td>
	            </tr>
	            <tr>
	                <td><b>Photos Uploaded</b></td>
	                <td></td>
	                <td>{{ indicators.indicatorsData.latest.photosCount }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.photosCount }}</td>
	            </tr>
	            <tr>
	                <td><b>VDF Lag Time</b></td>
	                <td>{{ indicators.indicatorsData.goals.vdfLag }}</td>
	                <td>{{ indicators.indicatorsData.latest.vdfLag }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.vdfLag }}</td>
	            </tr>
	            <tr>
	                <td><b>VDFs Entered</b></td>
	                <td></td>
	                <td>{{ indicators.indicatorsData.latest.vdfCount }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.vdfCount }}</td>
	            </tr>
	            <tr>
	                <td><b>CIF Lag Time</b></td>
	                <td>{{ indicators.indicatorsData.goals.cifLag }}</td>
	                <td>{{ indicators.indicatorsData.latest.cifLag }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.cifLag }}</td>
	            </tr>
	            <tr>
	                <td><b>CIFs Entered</b></td>
	                <td></td>
	                <td>{{ indicators.indicatorsData.latest.cifCount }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.cifCount }}</td>
	            </tr>
	            <tr>
	                <td><b>Step 1: Verification Lag time</b></td>
	                <td> {{indicators.indicatorsData.goals.v1Lag }}</td>
	                <td>{{ indicators.indicatorsData.latest.v1Lag }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.v1Lag }}</td>
	            </tr>
	            <tr>
	                <td><b>Step 1: Verifications Completed</b></td>
	                <td></td>
	                <td>{{ indicators.indicatorsData.latest.v1Count }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.v1Count }}</td>
	            </tr>
	            <tr>
	                <td><b>Step 1: Verification Backlog</b></td>
	                <td>{{ indicators.indicatorsData.goals.v1Backlog }}</td>
	                <td>{{ indicators.indicatorsData.latest.v1Backlog }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.v1Backlog }}</td>
	            </tr>
	            <tr>
	                <td><b>Step 2: Verification Lag time</b></td>
	                <td>{{ indicators.indicatorsData.goals.v2Lag }}</td>
	                <td>{{ indicators.indicatorsData.latest.v2Lag }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.v2Lag }}</td>
	            </tr>
	            <tr>
	                <td><b>Step 2: Verifications Completed</b></td>
	                <td></td>
	                <td>{{ indicators.indicatorsData.latest.v2Count }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.v2Count }}</td>
	            </tr>
	            <tr>
	                <td><b>Step 2: Verification Backlog</b></td>
	                <td>{{ indicators.indicatorsData.goals.v2Backlog }}</td>
	                <td>{{ indicators.indicatorsData.latest.v2Backlog }}</td>
	                <td ng-repeat="indicator in indicators.history">{{ indicator.v2Backlog }}</td>
	            </tr>
	   		</tbody>
	    </table>
    </div>
</div>