#dataEntryIndicator {
	.cell-right-border {
		border-right: 2px solid black;
	}
	.exceeds-goal {
		background-color: #4caf50;
	}
	.meets-goal {
		background-color: #a5d6a7;
	}
	.needs-improvement {
		background-color: #ffcdd2;
	}
	.does-not-meet-goal {
		background-color: #f44336;
	}
}