<h1 class="text-center">Data Entry Indicators</h1>
<div class="row center-vertical" id="dataEntryIndicator">
	<div class="col-md-1">
		&nbsp;
	</div>
	<div class="col-md-3 text-center">
		<div class="col-md-3 text-center">
			<p>Country</p>
		</div>
		<div class="col-md-9" ng-dropdown-multiselect="" options="indicators.countryDropDown.options"
				selected-model="indicators.countryDropDown.selectedOptions"
				extra-settings="indicators.countryDropDown.settings"
				translation-texts="indicators.countryDropDown.customText"
				events="indicators.countryDropDown.eventListener">
		</div>
	</div>
	<div class="col-md-4">
		&nbsp;
	</div>
	<div class="col-md-1">
		<img ng-src="assets/images/Actions-go-previous-icon.png" ng-show="indicators.scrollLeft" ng-click="indicators.scroll(-1)">
	</div>
	<div class="col-md-1">
		<img ng-src="assets/images/Actions-go-next-icon.png" ng-show="indicators.scrollRight" ng-click="indicators.scroll(1)">
	</div>
	<hr>
	<div ng-style="{'width':indicators.tableDivSize, 'margin': 'auto'}" ng-if="indicators.indicatorsData">
		<table float-thead="indicators.stickyOptions" border="1" ng-model="indicators.indicatorsData">
	        <thead class="sticky-table-header">
	        	<tr>
	                <th ng-style="{'width':indicators.labelWidth + 'px'}" class="title1 col1-heading"></th>
	                <th ng-style="{'width':indicators.goalWidth + 'px'}" class="title1 col2-heading text-center"></th>
	                <th ng-style="{'width':indicators.last30Width + 'px'}" class="title1 col3-heading text-center">Last 30</th>
	                <th ng-style="{'width':indicators.dataWidth + 'px'}" class="title1 cell-light-border text-center" ng-click="indicators.selectColumn($index)" ng-repeat="indicator in indicators.history">{{ indicator.title1 }}</th>
	            </tr>
	            <tr>
	                <th class="title2 col1-heading">Data Indicators</th>
	                <th class="title2 col2-heading text-center">Goal</th>
	                <th class="title2 col3-heading text-center">Days</th>
	                <th class="title2 cell-light-border text-center" ng-click="indicators.selectColumn($index)" ng-repeat="indicator in indicators.history">{{ indicator.title2 }}</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr ng-repeat="entry in indicators.indicatorTypes">
	        		<td><b>{{ entry.name }}</b></td>
	                <td class="col2-data">{{ indicators.indicatorsData.goals[entry.key] }}</td>
	                <td ng-class="indicators.getCellClass(entry, indicators.indicatorsData.latest[entry.key], -1001)"><b>{{ indicators.indicatorsData.latest[entry.key] }}</b></td>
	                <td ng-class="indicators.getCellClass(entry, indicator[entry.key], $index)" ng-repeat="indicator in indicators.history">{{ indicator[entry.key] }}</td>
	            </tr>
	            <tr>
	            	<td><b>Date of Newest Form Entered</b></td>
	            	<td class="col2-data" colspan="2">{{ indicators.indicatorsData.latest.latestDate }}</td>
	            </tr>
	            <tr>
	            	<td><b>{{ indicators.indicatorsData.audit.IRF.label }}</b></td>
	            	<td class="col2-data" colspan="2">{{ indicators.indicatorsData.audit.IRF.value }}</td>
	            </tr>
	            <tr>
	            	<td><b>{{ indicators.indicatorsData.audit.CIF.label }}</b></td>
	            	<td class="col2-data" colspan="2">{{ indicators.indicatorsData.audit.CIF.value }}</td>
	            </tr>
	            <tr>
	            	<td><b>{{ indicators.indicatorsData.audit.VDF.label }}</b></td>
	            	<td class="col2-data" colspan="2">{{ indicators.indicatorsData.audit.VDF.value }}</td>
	            </tr>
	   		</tbody>
	    </table>
    </div>
</div>