<div id="irf-metadata">
    <div class="container-fluid text-center">
        <img class="" src="http://edwards.cse.taylor.edu/static/images/logo.png">
        <h2>Interception Record Form (IRF)</h2>
        <h4>Version 3.0 Tiny Hands Nepal</h4>
    </div>

    <div class="form-group text-left">
        <label>IRF Number</label>
        <input type="text" ng-model="irfCtrl.form.irf_number" class="form-control" placeholder="IRF Number">
        
        <label>Date/Time</label>
        <input ng-model="irfCtrl.form.date_form_received" class="form-control">
        
        <label>Location</label>
        <input type="text" ng-model="irfCtrl.form.location" class="form-control" placeholder="Location">
        
        <label>Staff Name</label>
        <input type="text" ng-model="irfCtrl.form.staff_name" class="form-control" placeholder="Staff Name">
        
        <label># of Victims</label>
        <input type="text" ng-model="irfCtrl.form.number_of_victims" class="form-control" placeholder="# of Victims">
        
        <label># of Traffickers</label>
        <input type="text" ng-model="irfCtrl.form.number_of_traffickers" class="form-control" placeholder="# of Traffickers">
    </div>
</div>