<div class="col-lg-6">
  <h2 class="background"><span>Administration</span></h2>

  <div class="row">
      <div class="col-lg-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="admin_number_of_interceptions_last_month" ng-model="main.form.administration_number_of_intercepts_last_month"/>
          <small># of intercepts last month</small>
      </div>
      <div class="col-lg-1">
          <h4 class="text-center">*</h4>
      </div>
      <div class="col-lg-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="admin_number_of_interceptions_last_month_multiplier" ng-model="main.form.administration_number_of_intercepts_last_month_multiplier"/>
      </div>
      <div class="col-lg-1">
          <h4 class="text-center">+</h4>
      </div>
      <div class="col-lg-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="admin_number_of_interceptions_last_month_adder" ng-model="main.form.administration_number_of_intercepts_last_month_adder"/>
      </div>
      <div class="col-lg-1">
          <h4 class="text-center">=</h4>
      </div>
      <div class="col-lg-3 input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control text-center" ng-value="main.adminStationaryTotal()" disabled="disabled"/>
      </div>
  </div>
  <div class="row row-padding">
      <div class="col-lg-offset-2 col-lg-1">
          <span></span>
      </div>
      <div class="col-lg-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="admin_number_of_meetings_per_month" ng-model="main.form.administration_number_of_meetings_per_month"/>
          <small># of meetings per month</small>
      </div>
      <div class="col-lg-1">
          <h4 class="text-center">*</h4>
      </div>
      <div class="col-lg-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="admin_number_of_meetings_per_month_multiplier" ng-model="main.form.administration_number_of_meetings_per_month_multiplier"/>
      </div>
      <div class="col-lg-1">
          <h4 class="text-center">=</h4>
      </div>
      <div class="col-lg-2 col-lg-offset-2 input-group" style="width: 150px; padding: 0">
          <div class="input-group-addon">$</div>
          <input class="form-control text-center" ng-value="main.adminMeetingsTotal()" disabled="disabled"/>
      </div>
  </div>
  <div class="row row-padding">
      <div class="col-lg-1 col-lg-offset-2">
          <input style="margin-bottom: 0; margin-top: 10px" type="checkbox" id="admin_booth_bool" ng-model="main.form.administration_booth"/>
      </div>
      <div class="col-lg-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="admin_booth_amount" ng-model="main.form.administration_booth_amount"/>
          <small>Booth</small>
      </div>
      <div class="col-lg-1">
          <input style="margin-bottom: 0; margin-top: 10px" type="checkbox" id="admin_registration_bool" ng-model="main.form.administration_registration"/>
      </div>
      <div class="col-lg-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="admin_registration_amount" ng-model="main.form.administration_registration_amount"/>
          <small>Registration</small>
      </div>
      <div class="col-lg-1">
          <h4 class="text-center">=</h4>
      </div>
      <div class="col-lg-3 input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control text-center" ng-value="main.adminBoothRentalTotal()" disabled="disabled"/>
      </div>
  </div>
  <div class="row center text-center" style="margin-top: 20px">
      <div class="col-lg-4 col-lg-offset-4">
          <label>Total Admininstration</label>
          <input class="form-control text-center" ng-value="main.adminTotal()" disabled="disabled"/>
      </div>
      <div class="col-lg-4"></div>
  </div>
</div>