<div class='map' map-lazy-load="http://maps.google.com/maps/api/js" map-lazy-load-params="{{ctrl.apiUrl}}" ng-if="ctrl.mapKey !== null">
	<ng-map class='map' center="{{ctrl.center}}" zoom="{{ctrl.zoom}}" map-type-control=false>
		<fusion-tables-layer ng-if="ctrl.showAddress2Layer" query={{ctrl.fusionLayerOptions.query}} styles={{ctrl.fusionLayerOptions.styles}}
			style-id="{{ctrl.fusionLayerOptions.styleId}}" template-id="{{ctrl.fusionLayerOptions.templateId}}">
		</fusion-tables-layer>

		<info-window id="marker-station-info-window" >
			<div class="col-xs-12" ng-non-bindable="">
				<div class="row">
					<h3 class="text-center">{{ ctrl.station.stationName + '-' + ctrl.station.stationCode }}</h3>
				</div>

				<div class="row text-center">
					<button class="btn btn-default" ui-sref="border-station({id: ctrl.station.id})">Details</button>
					<button class="btn btn-default" ui-sref="irfNewList({search: ctrl.station.stationCode})">IRFs</button>
					<button class="btn btn-default" ui-sref="cifList({search: ctrl.station.stationCode})">CIFs</button>
				</div>

				<br/>

				<div class="row panel panel-default panel-body">
					<p>Est. {{ ctrl.station.dateEstablished ? ctrl.station.dateEstablished : 'N/A' }}</p>
					<p># of Shelters: {{ ctrl.station.shelterCount }}</p>
					<p>Interceptions: {{ ctrl.station.interceptions }}</p>
					<p>YTD Interceptions: {{ ctrl.station.ytdInterceptions}}</p>
					<p># of Staff: {{ ctrl.station.numberOfStaff }}</p>
				</div>
			</div>
		</info-window>

		<info-window id="marker-location-info-window" >
			<div class="col-xs-12" ng-non-bindable="">
				<div class="row">
					<h3 class="text-center">{{ ctrl.location.station.station_name + '-' + ctrl.location.station.station_code }}</h3>
				</div>

				<div class="row text-center">
					<button class="btn btn-default" ui-sref="border-station({id: ctrl.location.station.id})">Details</button>
					<button class="btn btn-default" ui-sref="irfNewList({search: ctrl.location.station.station_code})">IRFs</button>
					<button class="btn btn-default" ui-sref="vifList({search: ctrl.location.station.station_code})">VIFs</button>
				</div>

				<br/>

				<div class="row panel panel-default panel-body">
					<p>Location Name: {{ctrl.location.name}}</p>
				</div>
			</div>
		</info-window>

		<marker ng-repeat="station in ctrl.inCountryStations"
				id='{{station.markerId}}'
				position="{{station.position}}"
				on-click="ctrl.showStationInfoWindow(station)"/>
				
		<marker ng-repeat="station in ctrl.outOfCountryStations"
				id='{{station.markerId}}'
				position="{{station.position}}"
				icon="assets/images/Map-Marker-Marker-Outside-Chartreuse-icon.png"
				on-click="ctrl.showStationInfoWindow(station)"/>

		<marker ng-repeat="location in ctrl.inCountryLocations"
				visible="{{ctrl.showBorderStationLocations}}"
				id='{{location.markerId}}'
				position="{{location.position}}"
				icon="assets/images/location-map-marker.svg"
				on-click="ctrl.showLocationInfoWindow(location)"/>

	</ng-map>
</div>