<div id="vdf-attachments" class="row stretch-vertical">
    <div class="col-md-3 stretch-vertical" ng-repeat="card in $ctrl.getCardInstances('Victims')">
        <div class="panel panel-default clickable col-md-12 padding-0" ng-click="$ctrl.openVictimModal(card, false, $index)">
            <h3 class="panel-heading margin-top-0">{{ $ctrl.getPvf($ctrl.getResponseOfQuestionByTag(card.responses, 'lcVictimPvf').value).victim.full_name +
            		$ctrl.displayCaseNumbers($ctrl.getResponseOfQuestionByTag(card.responses, 'lcVictimCourtCases').value) }}</h3>
            <div class="panel-body text-center">
                <form-step>{{ $ctrl.getPvf($ctrl.getResponseOfQuestionByTag(card.responses, 'lcVictimPvf').value).victim.phone_contact }}</form-step>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center center-vertical" ng-if="!$ctrl.isViewing">
        <div class="col-md-12">
            <button class="btn btn-success" ng-click="$ctrl.openVictimModal(null, true)">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>