<div id="location-boxes" class="row stretch-vertical">
    <div class="col-md-3 stretch-vertical" ng-repeat="card in $ctrl.getCardInstances('Location')"
    		ng-if="!$ctrl.getResponseOfQuestionById(card.responses, 970).value">
        <div class="panel panel-default clickable col-md-12 padding-0" ng-click="$ctrl.openLocationModal(card, false, $index)">
            <h3 class="panel-heading margin-top-0">{{$ctrl.getResponseOfQuestionById(card.responses, 963).value}}</h3>
            <div class="panel-body col-md-12">
           		<form-step class="col-md-6">{{$ctrl.getResponseOfQuestionById(card.responses, 953).value}}</form-step>
           		<form-step class="col-md-6">{{$ctrl.getResponseOfQuestionById(card.responses, 954).value}}</form-step>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center center-vertical" ng-if="!$ctrl.isViewing">
        <div class="col-md-12">
            <button class="btn btn-success" ng-click="$ctrl.openLocationModal(null, true)">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>