<div id="location-box-modal" class="modal-content">
	<div class="modal-body">
		<div class="row">
	        <div class="col-sm-12 form-group">
	          <label for="locationName">Name</label>
	          <input type="text" class="form-control" placeholder="Location Name"
	                 ng-model="LocationModalController.questions[963].response.value">
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-sm-6 form-group">
	          <label for="latitude">Latitude</label>
	          <input type="text" class="form-control" placeholder="Latitude"
	                 ng-model="LocationModalController.questions[953].response.value">
	        </div>
	        <div class="col-sm-6 form-group">
	          <label for="longitude">Longitude</label>
	          <input type="text" class="form-control" placeholder="Longitude"
	                 ng-model="LocationModalController.questions[954].response.value">
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-sm-6 form-group">
	          <label for="location_type">Location Type</label>
	          <select name='timezone' class="form-control" id="location_type" ng-model="LocationModalController.questions[971].response.value">
	                <option value="">Select a location type</option>
	                <option value="monitoring">monitoring</option>
	                <option value="office">office</option>
	                <option value="shelter">shelter</option>
	        	</select>
	        </div>
	        <div class="col-sm-6 form-group">
	          <label for="first_date">Date Established</label>
	          <input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="LocationModalController.dateData.questions[969].value">
	        </div>
	    </div>
	    <div class="row" ng-if="LocationModalController.isRemove">
	    	<div class="col-sm-6 form-group">
	          <h3>Enter last date of operation</h3>
	          <input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="LocationModalController.dateData.questions[970].value">
	        </div>
	    </div>
	  </div>
	  <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-success float-left" ng-click="LocationModalController.save()" ng-if="!LocationModalController.isViewing"
                    		ng-show="!LocationModalController.isRemove"
                    		ng-disabled="LocationModalController.questions[963].response.value===''|| LocationModalController.questions[971].response.value==='' || LocationModalController.dateData.questions[969].value===''">Save</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-danger" ng-click="LocationModalController.remove()"
                    		ng-if="!LocationModalController.isAdd && !LocationModalController.isViewing && !LocationModalController.isRemove">Remove Location</button>
                    <button class="btn btn-danger" ng-click="LocationModalController.save()"
                    		ng-if="!LocationModalController.isAdd && !LocationModalController.isViewing && LocationModalController.isRemove"
                    		ng-disabled="LocationModalController.dateData.questions[970].value===''">Proceed to Remove Location</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default" ng-click="LocationModalController.dismiss()">Close</button>
                </div>
            </div>
        </div>