<fieldset ng-disabled="$ctrl.isViewing === true">
	<div class="row col-md-12">
		<b>POTENTIAL VICTIM –</b> The following questions are asked directly to the potential victim.
	</div>
    <div class="row">
        <form-step class="col-md-5 control-label">2.1 Did your guardian know you were traveling to intended destination?</form-step>
	    <div class="col-md-1">
	        <form-step type="radio" radio-name="guardianKnow" label="Yes" response-value="$ctrl.questions[654].response.value"></form-step>    
	    </div>
	    <div class="col-md-1">
	        <form-step type="radio" radio-name="guardianKnow" label="No" response-value="$ctrl.questions[654].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step type="radio" radio-name="guardianKnow" label="N/A" response-value="$ctrl.questions[654].response.value"></form-step>    
	    </div>  
    </div>
    <div class="row">
        <form-step class="col-md-5 control-label">2.2 Did your family/guardian pressure you in any way to accept the broker's offer?</form-step>
        <div class="col-md-1">
	        <form-step type="radio" radio-name="guardianPressure" label="N/A" response-value="$ctrl.questions[655].response.value"></form-step>    
	    </div>
	    <div class="col-md-1">
	        <form-step type="radio" radio-name="guardianPressure" label="No" response-value="$ctrl.questions[655].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step red-flag="1" type="radio" radio-name="guardianPressure" label="Yes" response-value="$ctrl.questions[655].response.value"></form-step>    
	    </div>
    </div>
    <div class="row">
        <form-step class="col-md-5 control-label">2.3 If they pressured, do you think they will try to send you away again?</form-step>
        	<div class="col-md-1">
	        <form-step type="radio" radio-name="overseas" label="N/A" response-value="$ctrl.questions[656].response.value"></form-step>    
	    </div>
	    <div class="col-md-1">
	        <form-step type="radio" radio-name="overseas" label="No" response-value="$ctrl.questions[656].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step red-flag="1" type="radio" radio-name="overseas" label="Yes" response-value="$ctrl.questions[656].response.value"></form-step>    
	    </div>
    </div>
    <div class="row">
        <form-step class="col-md-5 control-label">2.4 Do you feel safe at home with your guardian?</form-step>
        	<div class="col-md-1">
	        <form-step type="radio" radio-name="safeHome" label="N/A" response-value="$ctrl.questions[657].response.value"></form-step>    
	    </div>
	    <div class="col-md-1">
	        <form-step type="radio" radio-name="safeHome" label="Yes" response-value="$ctrl.questions[657].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step red-flag="4" type="radio" radio-name="safeHome" label="No" response-value="$ctrl.questions[657].response.value"></form-step>    
	    </div>
    </div>
    <div class="row">
        <form-step class="col-md-5 control-label">2.5 Do you want to go home?</form-step>
        	<div class="col-md-1">
	        <form-step type="radio" radio-name="wantHome" label="N/A" response-value="$ctrl.questions[658].response.value"></form-step>    
	    </div>
	    <div class="col-md-1">
	        <form-step type="radio" radio-name="wantHome" label="Yes" response-value="$ctrl.questions[658].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step red-flag="4" type="radio" radio-name="wantHome" label="No" response-value="$ctrl.questions[658].response.value"></form-step>    
	    </div>
    </div>
    <div class="row">
    	<form-step class="col-md-12 control-label">2.6 Is the victim subject to any of the following by someone in their home?</form-step>
    	<form-step class="col-md-12 control-label">Ask questions like "tell me about your home life," but don't ask directly about abuse unless the victim brings it up.</form-step>
    </div>
    <div class="row">
        <form-step class="col-md-2 col-md-offset-1 control-label">Sexual Abuse</form-step>
        	<div class="col-md-2">
	        <form-step type="radio" radio-name="sexualAbuse" label="Wasn't mentioned" response-value="$ctrl.questions[659].response.value"></form-step>    
	    </div>
	    <div class="col-md-1">
	        <form-step type="radio" radio-name="sexualAbuse" label="Never" response-value="$ctrl.questions[659].response.value"></form-step>    
	    </div>
	    <div class="col-md-2">
	        <form-step red-flag="4" type="radio" radio-name="sexualAbuse" label="Rarely/Minor" response-value="$ctrl.questions[659].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step red-flag="10" type="radio" radio-name="sexualAbuse" label="Frequent/Severe" response-value="$ctrl.questions[659].response.value"></form-step>    
	    </div>
    </div>
    <div class="row">
        <form-step class="col-md-2 col-md-offset-1 control-label">Physical Abuse</form-step>
        	<div class="col-md-2">
	        <form-step type="radio" radio-name="physicalAbuse" label="Wasn't mentioned" response-value="$ctrl.questions[660].response.value"></form-step>    
	    </div>
	    <div class="col-md-1">
	        <form-step type="radio" radio-name="physicalAbuse" label="Never" response-value="$ctrl.questions[660].response.value"></form-step>    
	    </div>
	    <div class="col-md-2">
	        <form-step type="radio" radio-name="physicalAbuse" label="Rarely/Minor" response-value="$ctrl.questions[660].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step red-flag="10" type="radio" radio-name="physicalAbuse" label="Frequent/Severe" response-value="$ctrl.questions[660].response.value"></form-step>    
	    </div>
    </div>
    <div class="row">
        <form-step class="col-md-2 col-md-offset-1 control-label">Emotional Abuse</form-step>
        	<div class="col-md-2">
	        <form-step type="radio" radio-name="emotionalAbuse" label="Wasn't mentioned" response-value="$ctrl.questions[661].response.value"></form-step>    
	    </div>
	    <div class="col-md-1">
	        <form-step type="radio" radio-name="emotionalAbuse" label="Never" response-value="$ctrl.questions[661].response.value"></form-step>    
	    </div>
	    <div class="col-md-2">
	        <form-step type="radio" radio-name="emotionalAbuse" label="Rarely/Minor" response-value="$ctrl.questions[661].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step red-flag="2" type="radio" radio-name="emotionalAbuse" label="Frequent/Severe" response-value="$ctrl.questions[661].response.value"></form-step>    
	    </div>
    </div>
    <div class="row">
        <form-step class="col-md-3 control-label">2.7 Does the guardian drink alcohol?</form-step>
	    <div class="col-md-1 col-md-offset-2">
	        <form-step type="radio" radio-name="guardianDrink" label="Never" response-value="$ctrl.questions[662].response.value"></form-step>    
	    </div>
	    <div class="col-md-2">
	        <form-step type="radio" radio-name="guardianDrink" label="Rarely/Minor" response-value="$ctrl.questions[662].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step red-flag="1" type="radio" radio-name="guardianDrink" label="Frequent/Severe" response-value="$ctrl.questions[662].response.value"></form-step>    
	    </div>
    </div>
    <div class="row">
        <form-step class="col-md-3 control-label">2.8 Does guardian use drugs?</form-step>
        <div class="col-md-1 col-md-offset-2">
            <form-step type="radio" radio-name="guardianDrugs" label="Never" response-value="$ctrl.questions[663].response.value"></form-step>    
	    </div>
	    <div class="col-md-2">
	        <form-step red-flag="2" type="radio" radio-name="guardianDrugs" label="Rarely/Minor" response-value="$ctrl.questions[663].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step red-flag="6" type="radio" radio-name="guardianDrugs" label="Frequent/Severe" response-value="$ctrl.questions[663].response.value"></form-step>    
	    </div>
    </div>
    <br>
    <div class="row center-vertical">
        <form-step class="col-md-5 control-label">2.9 Economic Situation of Family</form-step>
        <div class="col-md-7">
            <form-step red-flag="7"  type="radio" radio-name="economic" label="Unable to meet basic needs" response-value="$ctrl.questions[664].response.value"></form-step>
            <form-step type="radio" radio-name="economic" label="Able to meet only basic needs, but it is very difficult" response-value="$ctrl.questions[664].response.value"></form-step>
            <form-step type="radio" radio-name="economic" label="Comfortably meet basic needs, and can afford to buy some non-essential goods/services" response-value="$ctrl.questions[664].response.value"></form-step>
            <form-step type="radio" radio-name="economic" label="Wealthy" response-value="$ctrl.questions[664].response.value"></form-step>
        </div>
    </div>
    <br>
    <div class="row">
        <form-step class="col-md-5 control-label">2.10 Did the victim express any suicidal thoughts at any point?</form-step>
        	<div class="col-md-1">
	        <form-step type="radio" radio-name="suicidal" label="No" response-value="$ctrl.questions[665].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step red-flag="7" type="radio" radio-name="suicidal" label="Yes" response-value="$ctrl.questions[665].response.value"></form-step>    
	    </div>
    </div>
    <hr>
    <div class="row center-vertical">
    	<div class="col-md-12">
    		<b>STAFF –</b> The following questions are asked of the transit staff (not potential victim).
    	</div>
    </div>
    <br>
    <div class="row center-vertical">
    	 <form-step class="col-md-5 control-label">2.11 Is there any evidence that the potential victim's guardians were involved in selling them?</form-step>
    	 <div class="col-md-1">
	        <form-step type="radio" radio-name="guardianPressure" label="N/A" response-value="$ctrl.questions[989].response.value"></form-step>    
	    </div>
	    <div class="col-md-1">
	        <form-step type="radio" radio-name="guardianPressure" label="No" response-value="$ctrl.questions[989].response.value"></form-step>    
	    </div>
	    <div class="col-md-3">
	        <form-step red-flag="10" type="radio" radio-name="guardianPressure" label="Yes" response-value="$ctrl.questions[989].response.value"></form-step>    
	    </div>
    </div>
    <div class="row center-vertical">
    	<form-step class="col-md-3 control-label">If yes, what is the evidence?</form-step>
    	<div class="col-md-8">
        	<input type="text" class="form-control" ng-model="$ctrl.questions[990].response.value">
        </div>
    </div>
    <br>
    <div class="row">
    	<form-step class="col-md-12 control-label">
    		If a potential victim has 10 or more Home Situation Alarms, please immediately contact the national office for input
			into the best option for the situation. If the potential victim is a minor, we do not have the legal authority to forcefully
			separate them from their guardians. Our goal however is to place the potential victim in a safe place.
		</form-step>
    </div>
    <div class="row center-vertical">
        <form-step class="col-md-5 control-label">2.12 What is the transit station recommendation about where the victim should go?</form-step>
       	<div class="col-md-7">
            <form-step type="radio" radio-name="recommendation" label="Send victim home to stay with guardians" response-value="$ctrl.questions[683].response.value"></form-step>
            <form-step type="radio" radio-name="recommendation" label="Send the victim to stay with other relatives" response-value="$ctrl.questions[683].response.value"></form-step>
            <form-step type="radio" radio-name="recommendation" label="TH/LJ needs to help them find another place to go" response-value="$ctrl.questions[683].response.value"></form-step>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		If the potential victim has 10 or more total Home Situation Alarms and you recommend sending the potential victim home to stay with guardians, why?
    		<input type="text" class="form-control" ng-model="$ctrl.questions[991].response.value">
    	</div>
    </div>
    <br>
</fieldset>
