<div id="accountControl" class="container verticalOffset" ng-cloak>
    <table class="table table-condensed" float-thead="accessControlCtrl.stickyOptions">
        <thead class="sticky-table-header">
        <tr>
            <th>&nbsp;</th>
            <th colspan="4">Interception Record Forms</th>
            <th colspan="4">Victim Interview Forms</th>
            <th colspan="4">Border Stations</th>
            <th>Accounts</th>
            <th>Alerts</th>
            <th>VDC</th>
            <th>Budget</th>
        </tr>
        <tr>
            <th width="200px">User</th>
            <th>View</th>
            <!--IRF-->
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
            <!--VIF-->
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
            <!--Border Stations-->
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Manage</th>
            <!--Accounts-->
            <th>Can Receive</th>
            <!--Alerts-->
            <th>Manage</th>
            <!--VDC-->
            <th>Manage</th>
            <!--Budget-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in accessControlCtrl.accounts.items">
            <td>
                <span>{{account.first_name+" "+account.last_name}}</span>
                <br/>
                <select ng-change="accessControlCtrl.changeUserRole(account)" ng-model="account.user_designation"
                        ng-options="p.id as p.name for p in accessControlCtrl.permissions">
                </select>
            </td>
            <td>
              <label ng-click="account.permission_irf_view = !account.permission_irf_view"
                     ng-class="accessControlCtrl.getStyling(account.permission_irf_view);">
                <span class="glyphicon {{ account.permission_irf_view ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_irf_add = !account.permission_irf_add"
                     ng-class="accessControlCtrl.getStyling(account.permission_irf_add);">
                <span class="glyphicon {{ account.permission_irf_add ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_irf_edit = !account.permission_irf_edit"
                     ng-class="accessControlCtrl.getStyling(account.permission_irf_edit);">
                <span class="glyphicon {{ account.permission_irf_edit ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_irf_delete = !account.permission_irf_delete"
                     ng-class="accessControlCtrl.getStyling(account.permission_irf_delete);">
                <span class="glyphicon {{ account.permission_irf_delete ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_vif_view = !account.permission_vif_view"
                     ng-class="accessControlCtrl.getStyling(account.permission_vif_view);">
                <span class="glyphicon {{ account.permission_vif_view ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_vif_add = !account.permission_vif_add"
                     ng-class="accessControlCtrl.getStyling(account.permission_vif_add);">
                <span class="glyphicon {{ account.permission_vif_add ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_vif_edit = !account.permission_vif_edit"
                     ng-class="accessControlCtrl.getStyling(account.permission_vif_edit);">
                <span class="glyphicon {{ account.permission_vif_edit ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_vif_delete = !account.permission_vif_delete"
                     ng-class="accessControlCtrl.getStyling(account.permission_vif_delete);">
                <span class="glyphicon {{ account.permission_vif_delete ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_border_stations_view = !account.permission_border_stations_view"
                     ng-class="accessControlCtrl.getStyling(account.permission_border_stations_view);">
                <span class="glyphicon {{ account.permission_border_stations_view ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_border_stations_add = !account.permission_border_stations_add"
                     ng-class="accessControlCtrl.getStyling(account.permission_border_stations_add);">
                <span class="glyphicon {{ account.permission_border_stations_add ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_border_stations_edit = !account.permission_border_stations_edit"
                     ng-class="accessControlCtrl.getStyling(account.permission_border_stations_edit);">
                <span class="glyphicon {{ account.permission_border_stations_edit ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_border_stations_delete = !account.permission_border_stations_delete"
                     ng-class="accessControlCtrl.getStyling(account.permission_border_stations_delete);">
                <span class="glyphicon {{ account.permission_border_stations_delete ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_accounts_manage = !account.permission_accounts_manage"
                     ng-class="accessControlCtrl.getStyling(account.permission_accounts_manage);">
                <span class="glyphicon {{ account.permission_accounts_manage ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_receive_email = !account.permission_receive_email"
                     ng-class="accessControlCtrl.getStyling(account.permission_receive_email);">
                <span class="glyphicon {{ account.permission_receive_email ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_address2_manage = !account.permission_address2_manage"
                     ng-class="accessControlCtrl.getStyling(account.permission_address2_manage);">
                <span class="glyphicon {{ account.permission_address2_manage ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
            <td>
              <label ng-click="account.permission_budget_manage = !account.permission_budget_manage"
                     ng-class="accessControlCtrl.getStyling(account.permission_budget_manage);">
                <span class="glyphicon {{ account.permission_budget_manage ? 'glyphicon-ok' : 'glyphicon-remove' }}"></span>
              </label>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn-toolbar">
        <button ng-disabled="!accessControlCtrl.accounts.hasChanges"
            ng-click="accessControlCtrl.discardChanges()"
            class="col-xs-2 col-md-2 col-lg-2 clear btn btn-primary pull-right">Discard Changes
        </button>
        <button ng-disabled="!accessControlCtrl.accounts.hasChanges"
                ng-click="accessControlCtrl.saveAll()"
                class="col-xs-2 col-md-2 col-lg-2 clear btn pull-right {{accessControlCtrl.saveButtonStyle}}">
                {{accessControlCtrl.saveButtonText}}
        </button>
    </div>
</div>
