<div id="accountControl" class="container verticalOffset" ng-cloak>
    <div class="text-center">
		<div ng-dropdown-multiselect="" options="accessControlCtrl.countryOptions"
			selected-model="accessControlCtrl.countrySelectedOptions"
            extra-settings="accessControlCtrl.countrySettings"
            translation-texts="accessControlCtrl.countryCustomText"
            events="accessControlCtrl.countryEventListener">
        </div>
		<div ng-dropdown-multiselect="" options="accessControlCtrl.stationOptions"
			selected-model="accessControlCtrl.stationSelectedOptions"
            extra-settings="accessControlCtrl.stationSettings"
            translation-texts="accessControlCtrl.stationCustomText"
            events="accessControlCtrl.stationEventListener" ng-show="accessControlCtrl.stationOptions.length > 0">
        </div>
    </div>
    <div class="row">
   		 &nbsp;
    </div>
    <div class="row">
   		 &nbsp;
    </div>
    <div class="row">
   		 &nbsp;
    </div>
    <div class="row">
   		 &nbsp;
    </div>
	<div class="row" ng-show="!accessControlCtrl.loading">
    <table class="table table-striped table-condensed" float-thead="accessControlCtrl.stickyOptions"  ng-model="accessControlCtrl.accounts">
        <thead class="sticky-table-header">
        <tr>
            <th>&nbsp;</th>
            <th ng-repeat="grp in accessControlCtrl.acState.permissionGroups" colspan={{grp.span}}>{{ grp.name }}</th>
        </tr>
        <tr>
            <th width="200px">User</th>
            <th ng-repeat="permHdr in accessControlCtrl.acState.permissions">{{ permHdr.action }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in accessControlCtrl.accounts">
            <td>
                <a ui-sref="account({id: account.id})">{{account.name}}</a>
            </td>
            <td ng-repeat="(key,value) in account.permissions" ng-class="value!='X' ? 'btn-success' : 'text-danger'">{{value}}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div ng-show="accessControlCtrl.loading" class="loader-container">
		<div class="loader">Loading...</div>
	</div>
</div>
