#accountControl {
    input[type="checkbox"] {
        display: none;
    }
    label {
        width: 100% !important;
    }
    table, th, td {
        border: 2px solid #ddd;
    }
    th, td {
        text-align: center;
    }
}