<div id="accountControl" class="container verticalOffset" ng-cloak>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th colspan="4">Interception Record Forms</th>
            <th colspan="4">Victim Interview Forms</th>
            <th colspan="4">Border Stations</th>
            <th>Accounts</th>
            <th>Alerts</th>
            <th>VDC</th>
            <th>Budget</th>
        </tr>
        <tr>
            <th>User</th>
            <th>View</th>
            <!--IRF-->
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
            <!--VIF-->
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
            <!--Border Stations-->
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Manage</th>
            <!--Accounts-->
            <th>Can Receive</th>
            <!--Alerts-->
            <th>Manage</th>
            <!--VDC-->
            <th>Manage</th>
            <!--Budget-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in accountCtrl.accounts.local">
            <td>
                <span>{{account.first_name+" "+account.last_name}}</span>
                <br/>
                <select ng-change="accountCtrl.changeUserRole($index)" ng-model="account.user_designation"
                        ng-options="p.id as p.name for p in accountCtrl.permissions.local">
                </select>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_irf_view', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_irf_view);">
                  {{ account.permission_irf_view ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_irf_add', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_irf_add);">
                  {{ account.permission_irf_add ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_irf_edit', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_irf_edit);">
                  {{ account.permission_irf_edit ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_irf_delete', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_irf_delete);">
                  {{ account.permission_irf_delete ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_vif_view', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_vif_view);">
                  {{ account.permission_vif_view ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_vif_add', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_vif_add);">
                  {{ account.permission_vif_add ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_vif_edit', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_vif_edit);">
                  {{ account.permission_vif_edit ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_vif_delete', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_vif_delete);">
                  {{ account.permission_vif_delete ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_border_stations_view', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_border_stations_view);">
                  {{ account.permission_border_stations_view ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_border_stations_add', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_border_stations_add);">
                  {{ account.permission_border_stations_add ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_border_stations_edit', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_border_stations_edit);">
                  {{ account.permission_border_stations_edit ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_border_stations_delete', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_border_stations_delete);">
                  {{ account.permission_border_stations_delete ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_accounts_manage', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_accounts_manage);">
                  {{ account.permission_accounts_manage ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_receive_email', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_receive_email);">
                  {{ account.permission_receive_email ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_address2_manage', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_address2_manage);">
                  {{ account.permission_address2_manage ? "Yes" : "No" }}
              </label>
            </td>
            <td>
              <label ng-click="accountCtrl.togglePermission(account, 'permission_budget_manage', $index)"
                     ng-class="accountCtrl.getStyling(account.permission_budget_manage);">
                  {{ account.permission_budget_manage ? "Yes" : "No" }}
              </label>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn-toolbar">
        <button ng-disabled="!accountCtrl.saveButtonInfo.unsavedChanges"
            ng-click="accountCtrl.discardChanges(accountCtrl.accounts)"
            class="col-xs-2 col-md-2 col-lg-2 clear btn btn-primary pull-right">Discard Changes
        </button>
        <button ng-disabled="!accountCtrl.saveButtonInfo.unsavedChanges"
                ng-click="accountCtrl.saveAll(accountCtrl.accounts, accountCtrl.AccountService)"
                class="col-xs-2 col-md-2 col-lg-2 clear btn pull-right {{accountCtrl.saveButtonInfo.saveButtonColor}}">
                {{accountCtrl.saveButtonInfo.saveButtonText}}
        </button>
    </div>
</div>
