<div class="col-md-offset-3 col-md-6">
  <h2 class="text-center">Administration</h2>
  <hr>
  <div class="row">
      <div class="col-md-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.administration_number_of_intercepts_last_month" ng-change="budgetCtrl.setTotals()"/>
          <small># of intercepts last month</small>
      </div>
      <operator>*</operator>
      <div class="col-md-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.administration_number_of_intercepts_last_month_multiplier" ng-change="budgetCtrl.setTotals()"/>
      </div>
      <operator>+</operator>
      <div class="col-md-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.administration_number_of_intercepts_last_month_adder" ng-change="budgetCtrl.setTotals()"/>
      </div>
      <operator>=</operator>
      <div class="col-md-3 input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control text-center" ng-value="budgetCtrl.adminStationaryTotal() | number" disabled="disabled"/>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-offset-2 col-md-1"></div>
      <div class="col-md-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.administration_number_of_meetings_per_month" ng-change="budgetCtrl.setTotals()"/>
          <small># of meetings per month</small>
      </div>
      <operator>*</operator>
      <div class="col-md-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.administration_number_of_meetings_per_month_multiplier" ng-change="budgetCtrl.setTotals()"/>
      </div>
      <operator>=</operator>
      <div class="col-md-3 input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control text-center" ng-value="budgetCtrl.adminMeetingsTotal() | number" disabled="disabled"/>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-1 col-md-offset-1">
          <input type="checkbox" ng-model="budgetCtrl.form.administration_booth" ng-change="budgetCtrl.setTotals()"/>
      </div>
      <div class="col-md-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.administration_booth_amount" ng-disabled="!budgetCtrl.form.administration_booth" ng-change="budgetCtrl.setTotals()"/>
          <small>Booth</small>
      </div>
      <operator>+</operator>
      <div class="col-md-1">
          <input type="checkbox" ng-model="budgetCtrl.form.administration_registration" ng-change="budgetCtrl.setTotals()"/>
      </div>
      <div class="col-md-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.administration_registration_amount" ng-disabled="!budgetCtrl.form.administration_registration" ng-change="budgetCtrl.setTotals()"/>
          <small>Registration</small>
      </div>
      <operator>=</operator>
      <div class="col-md-3 input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control text-center" ng-value="budgetCtrl.adminBoothRentalTotal() | number" disabled="disabled"/>
      </div>
  </div>
  <hr>
  <div class="row center text-center">
      <div class="col-md-6 col-md-offset-3">
          <label>Total Admininstration</label>
          <input class="form-control text-center" ng-value="budgetCtrl.adminTotal() | currency" disabled="disabled"/>
      </div>
  </div>
</div>