<div class="container" id="irfNewList"><br/>

    <div class="row">
        <div class="col-xs-7">
            <h1>Interception Record Forms (IRFs)</h1>
        </div>

        <div class="pull-right"><br>
            <photoexport ng-if="irfNewListCtrl.session.checkPermission('IRF','VIEW',null, null)"></photoexport>
            <a ng-if="irfNewListCtrl.hasAddPermission" class="btn btn-success" ng-click="irfNewListCtrl.createIrf()">
                Input A New IRF
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" >
        	<p>Countries</p>
            <div ng-dropdown-multiselect="" options="irfNewListCtrl.countryDropDown.options"
							selected-model="irfNewListCtrl.countryDropDown.selectedOptions"
                             extra-settings="irfNewListCtrl.countryDropDown.settings"
                             translation-texts="irfNewListCtrl.countryDropDown.customText"
                             events="irfNewListCtrl.countryDropDown.eventListener">
			</div>
        </div>
        <!-- End dropdown -->
        <div class="col-md-6">
			<div class="row">
        	<div class="col-md-4">Filter by Verification Date</div>
        	<div class="col-md-4">
        		<select ng-model="irfNewListCtrl.queryParameters.verification_filter" class="form-control" ng-change="irfNewListCtrl.searchIrfs()">
        			<option value="None">None</option>
        			<option value="First Verification">First Verification</option>
        			<option value="Second Verification">Second Verification</option>
        		</select>
        	</div>
        	</div>
        	<div class="row center-vertical" ng-show="irfNewListCtrl.queryParameters.verification_filter!='None'">
	        	<div class="col-md-1 center-vertical">
	        		<p>From:</p>
	        	</div>
	        	<div class="col-md-4">
	        	<input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="irfNewListCtrl.verification_start" ng-change="irfNewListCtrl.searchIrfs()">
	        	</div>
	        	<div class="col-md-1 center-vertical">
	        		<p>To:</p>
	        	</div>
	        	<div class="col-md-4">
	        		<input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="irfNewListCtrl.verification_end" ng-change="irfNewListCtrl.searchIrfs()">
	        	</div>
        	</div>
        </div>
        
        <!-- Search -->
        <div class="col-md-3 search-bar pull-right">
            <form>
                  <label class="pull-right">
                      <input ng-change="irfNewListCtrl.searchIrfs()" ng-model="irfNewListCtrl.queryParameters.search" placeholder="Search" class="form-control" autofocus>
                  </label>
            </form>
            
            <div style="width:180px" ng-dropdown-multiselect="" options="irfNewListCtrl.status.options"
            				ng-show="irfNewListCtrl.filterType!='Filter by Second-Verification Evidence'" options="irfNewListCtrl.status.options" ng-show="irfNewListCtrl.filterType=='Filter by IRF status'"
							selected-model="irfNewListCtrl.status.selectedOptions"
                             extra-settings="irfNewListCtrl.status.settings"
                             translation-texts="irfNewListCtrl.status.customText"
                             events="irfNewListCtrl.status.eventListener" class="pull-right">
			</div>
        </div>
        <!-- End search -->
    </div>
    <br/>
    <table class="table table-striped" float-thead="irfNewListCtrl.stickyOptions" ng-model="irfNewListCtrl.irfs">
        <thead class="sticky-table-header">
            <tr>
                <th ng-click="irfNewListCtrl.updateSort('irf_number')" width="8%">IRF #
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfNewListCtrl.getSortIcon('irf_number', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfNewListCtrl.getSortIcon('irf_number', 'reverse') }"></i>
                </th>
                <th></th>
                <th width="8%">Status</th>
                <th ng-click="irfNewListCtrl.updateSort('staff_name')" width="15%">Staff Name
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfNewListCtrl.getSortIcon('staff_name', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfNewListCtrl.getSortIcon('staff_name', 'reverse')}"></i>
                </th>
                <th ng-click="irfNewListCtrl.updateSort('number_of_victims')" width="10%"># of Potential Victims
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfNewListCtrl.getSortIcon('number_of_victims', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfNewListCtrl.getSortIcon('number_of_victims', 'reverse')}"></i>
                </th>
                <th ng-click="irfNewListCtrl.updateSort('number_of_traffickers')" width="10%"># of Suspects
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfNewListCtrl.getSortIcon('number_of_traffickers', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfNewListCtrl.getSortIcon('number_of_traffickers', 'reverse')}"></i>
                </th>
                <th ng-click="irfNewListCtrl.updateSort('date_time_of_interception')" width="16%">Time of Interception
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfNewListCtrl.getSortIcon('date_time_of_interception', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfNewListCtrl.getSortIcon('date_time_of_interception', 'reverse')}"></i>
                </th>
                <th ng-click="irfNewListCtrl.updateSort('logbook_second_verification_date')" width="16%" class="hidden-xs">Date of Second Validation
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfNewListCtrl.getSortIcon('logbook_second_verification_date', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfNewListCtrl.getSortIcon('logbook_second_verification_date', 'reverse')}"></i>
                </th>
                <th ng-click="irfNewListCtrl.updateSort('date_time_last_updated')" width="16%" class="hidden-xs">Time Last Edited
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfNewListCtrl.getSortIcon('date_time_last_updated', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfNewListCtrl.getSortIcon('date_time_last_updated', 'reverse')}"></i>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="irf in irfNewListCtrl.irfs | orderBy:this.queryParameters.ordering:this.queryParameters.reverse">
                <td>{{ irf.irf_number }}</td>
                <td><a ng-href="{{irf.relatedUrl}}" title="Related Forms"><img ng-src="assets/images/pages.png"></a></td>
                <td>{{ irf.status }}</td> 
                <td>{{ irf.staff_name }}</td>
                <td>{{ irf.number_of_victims | number }}</td>
                <td>{{ irf.number_of_traffickers | number }}</td>
                <td>{{ irf.date_time_of_interception | date:"medium" : irfNewListCtrl.timeZoneDifference }}</td>
                <td class="hidden-xs">{{ irf.logbook_second_verification_date }}</td>
                <td class="hidden-xs">{{ irf.date_time_last_updated | date:"medium" : irfNewListCtrl.timeZoneDifference }}</td>
                <td ng-if="irfNewListCtrl.session.checkPermission('IRF','VIEW',irf.station.operating_country.id, irf.station.id)"><a class="btn btn-sm btn-primary" ng-href="{{irf.viewUrl}}">View</a></td>
                <td ng-if="irfNewListCtrl.session.checkPermission('IRF','EDIT',irf.station.operating_country.id, irf.station.id)"><a class="btn btn-sm btn-primary" ng-href="{{irf.editUrl}}">Edit</a></td>
                <td ng-if="irfNewListCtrl.session.checkPermission('IRF','DELETE',irf.station.operating_country.id, irf.station.id)"><a class="btn btn-sm btn-danger" ng-click="irfNewListCtrl.deleteIrf(irf, $index)">
                    {{ irf.confirmedDelete ? "Confirm?" : "Delete" }}</a></td>
            </tr>
            <tr ng-show="irfNewListCtrl.irfs.length == 0">
                <td colspan="12" style="text-align:center;"><h2>No IRFs Matched your search for: "{{ irfNewListCtrl.queryParameters.search }}"</h2></td>
            </tr>
        </tbody>
    </table>

    <div class="row text-center">
        <paginate page-control="irfNewListCtrl.paginate" controller="irfNewListCtrl">
    </div>
    <br>
</div>
