#irfNewList {
  .sticky {
    z-index: 1;
    background-color: white;
  }
  .sticky.stick {
    z-index: 1;
    position: fixed;
    width: inherit;
  }
  .flag-container {
        position: relative;
        span {
            color: white;
            font-size: 11px;
            left: 0px;
            position: absolute;
            top: 2px;
        }
    }
}
li.dropdown-header {
	color: #4169E1;
	font-size: 17px;
}
