<fieldset id="staffContract" class="container-fluid">
	<div class="col-md-2">
		<div class="row text-center">
			<label>Benefit Project</label>
		</div>
		<div class="row text-center">
			<select ng-model="vm.projectId" ng-change="vm.setContractProject()">
				<option ng-repeat="proj in vm.contract.projects" value="{{ proj.id }}">{{ proj.station_name }}</option>
			</select>
		</div>
		<div class="row text-center">
			<label>currency</label>
		</div>
		<div class="row text-center">
			<select ng-model="vm.contractProject.currencyType">
				<option>local</option>
				<option>USD</option>
			</select>
		</div>
	</div>
	<div class="col-md-10" ng-if="vm.projectId !== null">
		<table class="table table-striped" ng-model="vm.contractProject">
	        <thead>
	            <tr>
	            	<th class="contract-category">Category</th>
	                <th class="contract-twelve">Last 12</th>
	                <th ng-repeat="monthIndex in [0,1,2,3,4,5,6]" class="contract-month">{{ vm.getContractMonthHeader(monthIndex) }}</th>
	                <th class="contract-arrow">
	                	<button ng-if="vm.contractProject.currentIndex > 0"class="btn btn-xs" ng-click="vm.contractScrollLeft()">
					        <i class="fa fa-arrow-left"></i>
					    </button>
	                <th class="contract-arrow">
	                	<button class="btn btn-xs" ng-click="vm.contractScrollRight()">
					        <i class="fa fa-arrow-right"></i>
					    </button>
	                </th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="category in vm.contractProject.labels">
	            	<td>{{ category }}</td>
	            	<td class="contract-twelve"><div ng-if="vm.contractProject.twelveMonth[category]">{{ vm.formatAmount(vm.contractProject.twelveMonth[category]) }}</div></td>
	                <td ng-repeat="monthIndex in [0,1,2,3,4,5,6]" class="contract-month">{{ vm.getContractMonthData(category, monthIndex) }}</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	<div class="col-md-10 text-center" ng-if="vm.projectId === null">
		<h2>There are no associated projects</h2>
	</div>
	
	<div class="row col-md-12 padding-bottom-20" ng-if="vm.contractView">
		<div class="col-md-3"></div>
		<div class="center-vertical col-md-4">
			<div class="row col-md-12">
            	<label>Signed Contract</label>
            </div>
            <div class="row col-md-12">
            	<input type="file" ngf-select value="Choose File" ng-model="vm.contract.contract" ng-disabled="!vm.contractEdit">
            </div>
            <div class="row col-md-12">
	            <div ng-if="!vm.isString( vm.contract.contract)">
	        		<p>{{ vm.contract.contract.name }}</p>
	        	</div>
	        	<div ng-if="vm.isString( vm.contract.contract)">
	        		<a href="{{ vm.getScannedFormUrl(vm.contract.contract) }}">{{ vm.contract.contract.split("/")[6] }}</a>
	        	</div>
        	</div>
       	</div>
       	<div class="center-vertical col-md-4">
			<div class="row col-md-12">
				<label>Signed Corruption & Misconduct Agreement</label>
            </div>
            <div class="row col-md-12">
            	<input type="file" ngf-select value="Choose File" ng-model="vm.contract.agreement" ng-disabled="!vm.contractEdit">
            </div>
			<div class="row col-md-12">
	            <div ng-if="!vm.isString(vm.contract.agreement)">
	        		<p>{{ vm.contract.agreement.name }}</p>
	        	</div>
	        	<div ng-if="vm.isString(vm.contract.agreement)">
	        		<a href="{{ vm.getScannedFormUrl(vm.contract.agreement) }}">{{ vm.contract.agreement.split("/")[6] }}</a>
	        	</div>
        	</div>
       	</div>
	</div>
	<div class="row" ng-if="vm.contractView">
		<div class="col-md-3"></div>
		<div class="col-md-4">
			<div class="row col-md-12">
				<label>Contract Expiration Date</label>
			</div>
			<div class="row col-md-12">
				<input type="date" ng-model-options="{timezone: 'utc'}" ng-model="vm.contractExpirationDate" ng-readonly="!vm.contractEdit">
			</div>
		</div>
	</div>
	<div class="container-fluid padding-bottom-20" ng-if="vm.contractEdit">
        <div class="col-xs-6 text-right">
            <button class="btn btn-success margin-left-20" ng-if="vm.contractModified()" ng-click="vm.contractSave()">Save</button>
        </div>
    </div>
</fieldset>