<fieldset id="staffForm" class="container-fluid" ng-disabled="vm.isViewing">
	<div class="row">
          <div class="col-sm-4 form-group">
            <label class="col-md-3">First Name</label>
            <input class="col-md-9" type="text" class="form-control" placeholder="First Name" ng-model="vm.staff.first_name">
          </div>
          <div class="col-sm-4 form-group">
            <label class="col-md-3" for="lastName">Last Name</label>
            <input class="col-md-9" type="text" class="form-control" placeholder="Last Name"
                   ng-model="vm.staff.last_name">
          </div>
          <div class="col-sm-4 form-group">
            <label class="col-md-3" for="lastName">Country</label>
            <div class="col-md-9">
            	<select ng-model="vm.staff.country">
            		<option value="{{ country.id }}" ng-repeat="country in vm.countries">{{ country.name }}</option>
            	</select>
            </div>
          </div>
	</div>
	<div class="row">
          <div class="col-sm-4 form-group">
            <label class="col-md-3" for="email">Email</label>
            <input class="col-md-9" type="text" class="form-control" placeholder="Email Address"
                   ng-model="vm.staff.email">
          </div>
          <div class="col-sm-4 form-group">
            <label class="col-md-4" for="phone">Phone Number</label>
            <input class="col-md-8" type="text" class="form-control" placeholder="Phone Number"
                   ng-model="vm.staff.phone">
          </div>
          <div class="col-sm-4 form-group">
            <label class="col-md-3" for="position">Birthday</label>
            <input class="col-md-9" type="date" class="form-control" ng-model-options="{timezone: 'utc'}" 
                   ng-model="vm.birthDate">
          </div>
	</div>
	<div class="row">
		<div class="col-sm-4 form-group">
           <label class="col-md-3" for="position">Position</label>
           <input class="col-md-9" type="text" class="form-control" placeholder="Position"
                  ng-model="vm.staff.position">
         </div>
         <div class="col-sm-4 form-group">
          	<label class="col-md-3" for="joined">Start Date</label>
          	<input class="col-md-9" type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="vm.startDate">
         </div>
         <div class="col-sm-4 form-group">
          	<label class="col-md-3" for="education">Education</label>
          	<input class="col-md-9" type="text" class="form-control" placeholder="Education" ng-model="vm.staff.education">
         </div>
	</div>
	<div class="row">
		<div class="col-sm-4 form-group">
           <label class="col-md-3" for="id_card">ID Card Made</label>
           <input type="checkbox" id="id_card" ng-model="vm.staff.id_card"/>
         </div>
	</div>
	<hr>
	<div class="row col-md-12">
      	<table class="table table-striped" float-thead="staffListCtrl.stickyOptions" ng-model="staffListCtrl.staffList">
        	<thead class="sticky-table-header">
        		<tr>
        			<th colspan="5" class="text-center">
        				Projects &nbsp;
        				<button class="btn btn-success" ng-click="vm.addProject()"><i class="fa fa-plus"></i></button>
        			</th>
        		</tr>
        		<tr>
        			<th>Name</th>
        			<th>Code</th>
        			<th>Category</th>
        			<th>Coordinator</th>
        			<th>Receives MDF</th>
        			<th></th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr ng-repeat="project in vm.staff.staffproject_set">
        			<td><a ng-href="{{vm.getProjectRef(project.border_station)}}">{{ vm.projectsById[project.border_station].station_name }}</a></td>
        			<td>{{ vm.projectsById[project.border_station].station_code }}</td>
        			<td>{{ vm.projectsById[project.border_station].project_category_name }}</td>
        			<td ng-dropdown-multiselect="project" options="vm.coordinator[project.border_station].options"
							selected-model="vm.coordinator[project.border_station].selectedOptions"
                             extra-settings="vm.coordinator[project.border_station].settings"></td>
        			<td ng-if="vm.projectsById[project.border_station].features.indexOf('hasMDF') >= 0"><input type="checkbox" ng-model="project.receives_money_distribution_form" ></td>
        			<td ng-if="vm.projectsById[project.border_station].features.indexOf('hasMDF') < 0"></td>
        			<td>
        				<button class="btn btn-danger" ng-click="vm.removeProject(project)"><i class="fa fa-minus"></i></button>
        			</td>
        		</tr>
        	</tbody>
        </table>
	</div>
      
      <div class="row" ng-if="StaffModalController.isRemove">
    	<div class="col-sm-6 form-group">
          <h3>Enter last date as member of staff</h3>
          <input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="StaffModalController.dateData.questions[970].value">
        </div>
    </div>
</fieldset>