<div id="irf-south-africa-interceptee-modal" class="modal-content">
    <form name="intercepteeForm">
        <div class="modal-header">
            <button type="button" class="close" ng-click="IntercepteeModalController.dismiss()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h3 class="modal-title">{{IntercepteeModalController.questions[9].response.name.value || 'Interceptee'}}</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="text-center padding-bottom-20">
                <div class="upload-image clickable" ngf-select ng-change="IntercepteeModalController.fileUpload($file)" ng-model="IntercepteeModalController.file"
                    name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-min-height="100" ngf-resize="{width: 200, height: 200}"
                    ng-if="!IntercepteeModalController.file && !IntercepteeModalController.questions[7].response.value">Upload Image
                </div>
                <img class="img-rounded clickable" ngf-thumbnail="IntercepteeModalController.file" ngf-select ng-model="IntercepteeModalController.file"
                    ng-change="IntercepteeModalController.fileUpload($file)" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-min-height="100"
                    ngf-resize="{width: 200, height: 200}" ng-if="IntercepteeModalController.file">
                <img class="img-rounded clickable" ngf-select ng-model="IntercepteeModalController.file" ng-change="IntercepteeModalController.fileUpload($file)"
                    ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-min-height="100" ngf-resize="{width: 200, height: 200}"
                    ng-if="IntercepteeModalController.questions[7].response.value" ng-src="{{IntercepteeModalController.getIntercepteeImage(IntercepteeModalController.questions[7].response.value)}}"
                    alt="Interceptee Image">
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="col-md-3 control-label">Type</label>
                    <div class="col-md-9">
                        <select class="form-control" ng-model="IntercepteeModalController.questions[8].response.value" required>
                            <option value="Trafficker">Trafficker</option>
                            <option value="PVOT">PVOT</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="col-md-3 control-label">Gender</label>
                    <div class="col-md-9">
                        <select class="form-control" ng-model="IntercepteeModalController.questions[9].response.gender.value">
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group margin-top-15">
                    <label class="col-md-3 control-label">Full Name</label>
                    <div class="col-md-9">
                        <input class="form-control" ng-model="IntercepteeModalController.questions[9].response.name.value" required>
                    </div>
                </div>
                <div class="col-md-6 form-group margin-top-15">
                    <label class="col-md-3 control-label">Date of Birth</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control" ng-model="IntercepteeModalController.questions[9].response.age.value">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="col-md-3 margin-top-25">Address 1</label>
                    <autocomplete-address1 class="col-md-9 padding-horizontal-30" ng-model="IntercepteeModalController.questions[9].response.address1.name"></autocomplete-address1>
                </div>
                <div class="col-md-6 form-group">
                    <label class="col-md-3 margin-top-25">Address 2</label>
                    <autocomplete-address2 class="col-md-9 padding-horizontal-30" ng-model="IntercepteeModalController.questions[9].response.address2.name"></autocomplete-address2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="col-md-3 control-label">Nationality</label>
                    <div class="col-md-9">
                        <input class="form-control" ng-model="IntercepteeModalController.questions[9].response.nationality.value">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="col-md-3 control-label">Passport #</label>
                    <div class="col-md-9">
                        <input class="form-control" ng-model="IntercepteeModalController.questions[9].response.passport.value">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group margin-top-15">
                    <label class="col-md-3 control-label ">Phone #</label>
                    <div class="col-md-9">
                        <input class="form-control" ng-model="IntercepteeModalController.questions[9].response.phone.value">
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 padding-left-45 margin-top-15">
                    <input type="checkbox" id="custody" ng-model="IntercepteeModalController.questions[11].response.value">
                    <label for="custody">Taken into police custody</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-success float-left" ng-click="IntercepteeModalController.save()" ng-disabled="intercepteeForm.$invalid">Save</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-danger" ng-click="IntercepteeModalController.delete()" ng-if="!IntercepteeModalController.isAdd">Delete</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default" ng-click="IntercepteeModalController.dismiss()">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>