#irf-india {
    .sticky {
        background-color: white;
        z-index: 1;
        position: fixed;
        top: 50px;
    }
    #irf-india-content {
        padding-top: 200px;
    }
    #irf-india-interceptees {
        display: table;
        width: 100%;
        img {
            max-height: 250px;
            max-width: 250px;
        }
        .col-md-4 {
            display: table-cell;
            float: none;
            vertical-align: middle;
        }
    }
}