<div class="form-horizontal">
    <div class="container-fluid">
        <div class="row center-vertical">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <p>How sure are you that is was a trafficking case?</p>
                        </div>
                    </div>
                    <label for="how-sure">Rate from 1-5 (1 = not at all sure, 5 = absolutely sure)</label>
                    <select id="how-sure" class="margin-left-10 col-xs-md-6 form-control" ng-model="$ctrl.questions[147].response.value">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <hr/>
            </div>
        </div>
        <div class="row center-vertical">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <p>Interception mode?</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <form-step>
                            <input id="pay-yes" name="did-you-pay" value="yes" ng-model="$ctrl.questions[263].response.value" type="radio">
                            <label for="pay-yes">Yes</label>
                        </form-step>
                    </div>
                    <div class="col-md-3">
                        <form-step>
                            <input id="pay-no" name="did-you-pay" value="no" ng-model="$ctrl.questions[263].response.value" type="radio">
                            <label for="pay-no">No</label>
                        </form-step>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <div class="row center-vertical">
            <div class="col-md-6 col-md-offset-4">
                <div class="row">
                    <div class="col-md-6">
                        <form-step>
                            <label for="case-notes">Case Notes</label>
                            <textarea class="form-control" id="case-notes" rows="4" ng-model="$ctrl.questions[146].response.value"></textarea>
                        </form-step>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row center-vertical">
            <div class="col-md-6 col-md-offset-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-6 form-group">
                            <form-step class="col-md-9 control-label">Handed over to: </form-step>
                            <div class="col-md-8"></div>
                            <input type="text" class="form-control" ng-model="$ctrl.questions[264].response.value"> (Immigration Official)
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row center-vertical">
                <div class="col-md-6 col-md-offset-3 panel panel-default text-center padding-10">
                    <div class="row">
                        I certify that I have followed procedures and filled out this form correctly, completely, and accurately.
                    </div>
                    <form-step>
                        <input id="scanned" type="checkbox" ng-change="$ctrl.getWarningMessages()" ng-model="$ctrl.questions[151].response.value">
                        <label for="scanned">Scanned form has signature monitor and immigration official signature</label>
                    </form-step>
                </div>
            </div>
            <div class="row center-vertical">
                <div class="col-md-6 col-md-offset-4">
                    <div class="col-md-6 form-group">
                        <form-step>
                            <label>Attached scanned copy of form (pdf or image)</label>
                        </form-step>
                    </div>
                    <input type="file" value="Choose File" ng-model="$ctrl.questions[152].response.value">
                </div>
            </div>
        </div>
    </div>
</div>
</div>