<fieldset class="container-fluid" ng-disabled="$ctrl.isViewing">
	<div class="row text-center">
		<h4>FOR OFFICE USE ONLY</h4>
	</div>
	<div class="row">
		<div class="col-md-2">
			<form-step type="checkbox" label="Entry Allowed" response-value="$ctrl.questions[630].response.value"></form-step>
			<form-step type="checkbox" label="Entry Refused" response-value="$ctrl.questions[631].response.value"></form-step>
			<form-step type="checkbox" label="Transit Allowed" response-value="$ctrl.questions[632].response.value"></form-step>
			<form-step type="checkbox" label="Transit Refused" response-value="$ctrl.questions[633].response.value"></form-step>
		</div>
		<div class="col-md-5">
			<div>
				<div class="col-md-5">
					Do they believe they are PVOT?
				</div>
				<div class="col-md-2">
					<form-step type="radio" label="Yes" response-value="$ctrl.questions[634].response.value" radio-name="believePVOT"></form-step>
				</div>
				<div class="col-md-5">
					<form-step type="radio" label="No" response-value="$ctrl.questions[634].response.value" radio-name="believePVOT"></form-step>
				</div>
			</div>
			<div>
				<div class="col-md-5">
					Do they require assistance?
				</div>
				<div class="col-md-2">
					<form-step type="radio" label="Yes" response-value="$ctrl.questions[635].response.value" radio-name="requireAssist"></form-step>
				</div>
				<div class="col-md-5">
					<form-step type="radio" label="No" response-value="$ctrl.questions[635].response.value" radio-name="requireAssist"></form-step>
				</div>
			</div>
			<div>
				<div class="col-md-3 margin-top-20">
					IMS Case #:
				</div>
				<div class="col-md-6">
					<form-step type="text" response-value="$ctrl.questions[636].response.value" input-class="form-control"></form-step>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<form-step type="checkbox" label="Case Report" response-value="$ctrl.questions[637].response.value"></form-step>
			<form-step type="checkbox" label="CIF" response-value="$ctrl.questions[638].response.value"></form-step>
		</div>
	</div>
	<hr/>
	<div class="row">
    	<div class="col-md-7">
    		<div>
	    		<form-step>What were Love Justice's findings from the interview?</form-step>
	    		<div class="col-md-6">
	      			<form-step type="radio" label="Clear Evidence of Trafficking" response-value="$ctrl.questions[607].response.value" radio-name="interviewFindings"></form-step>
	      		</div>
	      		<div class="col-md-6">
	      			<form-step type="radio" label="Some Evidence of Trafficking" response-value="$ctrl.questions[607].response.value" radio-name="interviewFindings"></form-step>
	      		</div>
			</div>
    		<div>
      			<div class="col-md-6">
      				<form-step type="radio" label="High Risk of Trafficking" response-value="$ctrl.questions[607].response.value" radio-name="interviewFindings"></form-step>
      			</div>
      			<div class="col-md-6">
      				<form-step type="radio" label="No trafficking suspected" response-value="$ctrl.questions[607].response.value" radio-name="interviewFindings"></form-step>
      			</div>
    		</div>
    		<div>
				<p>&nbsp;</p>
    			<form-step>How sure are you that an interception should be made given the "When to Intercept Posters"?</form-step>
	    		<form-step>
	             <label for="how-sure">Rate from 1-5 (1 = not at all sure, 5 = absolutely sure)</label>
	             <select id="how-sure" ng-model="$ctrl.questions[147].response.value">
	                 <option value="1 - Not at all sure">1 - Not at all sure</option>
	                 <option value="2 - Unsure but suspects it">2 - Unsure but suspects it</option>
	                 <option value="3 - Somewhat sure">3 - Somewhat sure</option>
	                 <option value="4 - Very sure">4 - Very sure</option>
	                 <option value="5 - Absolutely sure">5 - Absolutely sure</option>
	             </select>
    		</div>
    	</div>
    	<div class="col-md-4">
    		<form-step type="textarea" label="What is the primary reason you believe this person is being trafficked or is at high risk of being trafficked?"
    			response-value="$ctrl.questions[142].response.value"></form-step>
    	</div>
    </div>
    <div>
                <form-step type="textarea" label="Case Notes" response-value="$ctrl.questions[146].response.value"></form-step>
    </div>
    <hr/>
    <div class="row center-vertical">
        <div class="col-md-6 col-md-offset-1">
            <div class="row">
                <div class="form-group">
                    <form-step class="col-md-4 control-label">Handed over to: </form-step>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="$ctrl.questions[264].response.value">
                    </div>
                    <form-step class="center-vertical control-label">(IMS Official)</form-step>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row center-vertical">
            <div class="col-md-12 panel panel-default text-center padding-10">
                <div class="row">
                    I certify that I have followed procedures and filled out this form correctly, completely, and accurately.
                </div>
                <form-step>
                    <input id="scanned" type="checkbox" ng-change="$ctrl.getWarningMessages()" ng-model="$ctrl.questions[151].response.value">
                    <label for="scanned">Scanned form has monitor and IMS official signature</label>
                </form-step>
            </div>
        </div>
    </div>
</fieldset>