<div class="container-fluid">
    <div class="row center-vertical">
        <div class="col-md-1 col-md-offset-2">
            Story
        </div>
        <div class="col-md-9">
            <div class="row center-vertical">
                <div class="col-md-6 col-md-offset-1">
                    <form-step red-flag="30" response-value="$ctrl.questions[30].response.value">
                        <input id="caught-lie" type="checkbox" ng-model="$ctrl.questions[30].response.value">
                        <label for="caught-lie">Caught in a lie/contradiction</label>
                    </form-step>
                    <form-step red-flag="40" response-value="$ctrl.questions[225].response.value">
                        <input id="claims-not-know" type="checkbox" ng-model="$ctrl.questions[225].response.value">
                        <label for="claims-not-know">Claims not to know them</label>
                    </form-step>
                    <form-step red-flag="20" response-value="$ctrl.questions[226].response.value">
                        <input id="behalf-someone-else" type="checkbox" ng-model="$ctrl.questions[226].response.value">
                        <label for="behalf-someone-else">Inviting them on behalf of someone else</label>
                    </form-step>
                    <form-step red-flag="20" response-value="$ctrl.questions[227].response.value">
                        <input id="illogical-story" type="checkbox" ng-model="$ctrl.questions[227].response.value">
                        <label for="illogical-story">Illogical story</label>
                    </form-step>
                    <form-step red-flag="50" response-value="$ctrl.questions[228].response.value">
                        <input id="offered-bribe" type="checkbox" ng-model="$ctrl.questions[228].response.value">
                        <label for="offered-bribe">Offered a bribe</label>
                    </form-step>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div class="row center-vertical">
        <div class="col-md-1 col-md-offset-2">
            Payment
        </div>
        <div class="col-md-9">
            <div class="row center-vertical">
                <div class="col-md-6 col-md-offset-1">
                    <form-step red-flag="20" response-value="$ctrl.questions[229].response.value">
                        <input id="paid-flight" type="checkbox" ng-model="$ctrl.questions[229].response.value">
                        <label for="paid-flight">Has paid for flight</label>
                    </form-step>
                    <form-step red-flag="15" response-value="$ctrl.questions[230].response.value">
                        <input id="paid-cash" type="checkbox" ng-model="$ctrl.questions[230].response.value">
                        <label for="paid-cash">Flight was paid for in cash</label>
                    </form-step>
                    <form-step red-flag="10" response-value="$ctrl.questions[231].response.value">
                        <input id="all-expenses" type="checkbox" ng-model="$ctrl.questions[231].response.value">
                        <label for="all-expenses">Offering to pay all expenses without explanation</label>
                    </form-step>
                    <form-step red-flag="30" response-value="$ctrl.questions[232].response.value">
                        <input id="payback-terms" type="checkbox" ng-model="$ctrl.questions[232].response.value">
                        <label for="payback-terms">Not determined payback terms</label>
                    </form-step>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div class="row center-vertical">
        <div class="col-md-1 col-md-offset-2">
            Status
        </div>
        <div class="col-md-9">
            <div class="row center-vertical">
                <div class="col-md-6 col-md-offset-1">
                    <form-step red-flag="40" response-value="$ctrl.questions[233].response.value">
                        <input id="not-legal" type="checkbox" ng-model="$ctrl.questions[233].response.value">
                        <label for="not-legal">Not in the country legally</label>
                    </form-step>
                    <form-step red-flag="70" response-value="$ctrl.questions[234].response.value">
                        <input id="known-trafficker" type="checkbox" ng-model="$ctrl.questions[234].response.value">
                        <label for="known-trafficker">Is a known trafficker</label>
                    </form-step>
                    <form-step red-flag="50" response-value="$ctrl.questions[235].response.value">
                        <input id="associated-trafficker" type="checkbox" ng-model="$ctrl.questions[235].response.value">
                        <label for="associated-trafficker">Associated to known trafficker</label>
                    </form-step>
                    <form-step red-flag="50" response-value="$ctrl.questions[236].response.value">
                        <input id="illegal-activity" type="checkbox" ng-model="$ctrl.questions[236].response.value">
                        <label for="illegal-activity">Involed in illegal activity</label>
                    </form-step>
                    <form-step red-flag="40" response-value="$ctrl.questions[237].response.value">
                        <input id="false-details" type="checkbox" ng-model="$ctrl.questions[237].response.value">
                        <label for="false-details">Provided false details</label>
                    </form-step>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div class="row center-vertical">
        <div class="col-md-1 col-md-offset-2">
            Other
        </div>
        <div class="col-md-9">
            <div class="row center-vertical">
                <div class="col-md-6 col-md-offset-1">
                    <form-step red-flag="' '">
                        <input id="other-red-flag" type="checkbox" ng-model="$ctrl.otherRedFlag">
                        <label for="other-red-flag">Other red flag</label>
                        <input type="text" ng-model="$ctrl.questions[31].response.value">
                    </form-step>
                </div>
            </div>
        </div>
    </div>
</div>