<div class="form-horizontal">
    <div class="container-fluid">
        <div class="row center-vertical">
            <div class="col-md-6 col-md-offset-4 ">
                <form-step red-flag="40" response-value="$ctrl.questions[193].response.value">
                    <input id="no-english" type="checkbox" ng-model="$ctrl.questions[193].response.value">
                    <label for="no-english">Does not speak English/local language</label>
                </form-step>
                <form-step red-flag="40" response-value="$ctrl.questions[194].response.value">
                    <input id="cannot-support" type="checkbox" ng-model="$ctrl.questions[194].response.value">
                    <label for="cannot-support">Cannot support themselves financially</label>
                </form-step>
                <form-step red-flag="40" response-value="$ctrl.questions[195].response.value">
                    <input id="details-travel" type="checkbox" ng-model="$ctrl.questions[195].response.value">
                    <label for="detail-travel">Does not know details of travel</label>
                </form-step>
                <form-step red-flag="25" response-value="$ctrl.questions[196].response.value">
                    <input id="debt" type="checkbox" ng-model="$ctrl.questions[196].response.value">
                    <label for="debt">Is in debt to host/employer/recruiter</label>
                </form-step>
                <form-step red-flag="30" response-value="$ctrl.questions[197].response.value">
                    <input id="afraid-host" type="checkbox" ng-model="$ctrl.questions[197].response.value">
                    <label for="afraid-host">Afraid of host/employer/recruiter</label>
                </form-step>
                <form-step red-flag="30" response-value="$ctrl.questions[198].response.value">
                    <input id="forced" type="checkbox" ng-model="$ctrl.questions[198].response.value">
                    <label for="forced">Being forced</label>
                </form-step>
                <form-step red-flag="30" response-value="$ctrl.questions[41].response.value">
                    <input id="no-english" type="checkbox" ng-model="$ctrl.questions[41].response.value">
                    <label for="no-english">Running away from home</label>
                </form-step>
            </div>
        </div>
        <hr/>
        <div class="row center-vertical">
            <div class="col-md-4">
                <div class="margin-top-90">Reason for Travel</div>
            </div>
            <div class="col-md-8">
                <div class="row center-vertical">
                    <div class="col-md-3">
                        <form-step>
                            <input id="employment" type="checkbox" ng-model="$ctrl.questions[36].response.value">
                            <label for="employment">Employment</label>
                        </form-step>
                    </div>
                    <div class="col-md-9">
                        <form-step red-flag="50" response-value="$ctrl.questions[56].response.value">
                            <input id="too-good" type="checkbox" ng-model="$ctrl.questions[56].response.value">
                            <label for="too-good">Too good to be true</label>
                        </form-step>
                        <form-step red-flag="30" response-value="$ctrl.questions[201].response.value">
                            <input id="massage" type="checkbox" ng-model="$ctrl.questions[201].response.value">
                            <label for="massage">Massage parlor</label>
                        </form-step>
                        <form-step red-flag="15" response-value="$ctrl.questions[202].response.value">
                            <input id="dance" type="checkbox" ng-model="$ctrl.questions[202].response.value">
                            <label for="dance">Dance/modeling, domestic work, casino, bush lodge, conference, soccer</label>
                        </form-step>
                        <form-step red-flag="50" response-value="$ctrl.questions[203].response.value">
                            <input id="place-no-exist" type="checkbox" ng-model="$ctrl.questions[203].response.value">
                            <label for="place-no-exist">Place does not exist</label>
                        </form-step>
                        <form-step red-flag="40" response-value="$ctrl.questions[204].response.value">
                            <input id="no-job" type="checkbox" ng-model="$ctrl.questions[204].response.value">
                            <label for="no-job">No job offer</label>
                        </form-step>
                        <form-step red-flag="20" response-value="$ctrl.questions[205].response.value">
                            <input id="unable-verify" type="checkbox" ng-model="$ctrl.questions[205].response.value">
                            <label for="unable-verify">Unable to verify</label>
                        </form-step>
                        <form-step red-flag="40" response-value="$ctrl.questions[206].response.value">
                            <input id="employer-reluctant" type="checkbox" ng-model="$ctrl.questions[206].response.value">
                            <label for="employer-reluctant">Employer reluctant to give information to victim</label>
                        </form-step>
                    </div>
                </div>
                <hr/>
                <div class="row center-vertical">
                    <div class="col-md-3">
                        <form-step>
                            <input id="visit" type="checkbox" ng-model="$ctrl.questions[37].response.value">
                            <label for="visit">Visit/ Vacation</label>
                        </form-step>
                    </div>
                    <div class="col-md-9">
                        <form-step red-flag="40" response-value="$ctrl.questions[206].response.value">
                            <input id="employer-reluctant" type="checkbox" ng-model="$ctrl.questions[206].response.value">
                            <label for="employer-reluctant">Employer reluctant to give information to victim</label>
                        </form-step>
                        <form-step red-flag="15" response-value="$ctrl.questions[207].response.value">
                            <input id="visit-boyfriend" type="checkbox" ng-model="$ctrl.questions[207].response.value">
                            <label for="visit-boyfriend">Visiting a boyfriend</label>
                        </form-step>
                        <form-step red-flag="10" response-value="$ctrl.questions[208].response.value">
                            <input id="attend-event" type="checkbox" ng-model="$ctrl.questions[208].response.value">
                            <label for="attend-event">Attending an event</label>
                        </form-step>
                        <form-step red-flag="30" response-value="$ctrl.questions[209].response.value">
                            <input id="evidence-intention" type="checkbox" ng-model="$ctrl.questions[209].response.value">
                            <label for="eevidence-intention">Evidence of intention to work</label>
                        </form-step>
                        <form-step red-flag="25" response-value="$ctrl.questions[210].response.value">
                            <input id="host-well" type="checkbox" ng-model="$ctrl.questions[210].response.value">
                            <label for="host-well">Does not know host well/ No clear connection to host</label>
                        </form-step>
                        <form-step red-flag="20" response-value="$ctrl.questions[211].response.value">
                            <input id="no-travel" type="checkbox" ng-model="$ctrl.questions[211].response.value">
                            <label for="no-travel">No travel itinerary</label>
                        </form-step>
                        <form-step red-flag="30" response-value="$ctrl.questions[212].response.value">
                            <input id="abnormally-short" type="checkbox" ng-model="$ctrl.questions[212].response.value">
                            <label for="abnormally-short">Abnormally short stay</label>
                        </form-step>
                    </div>
                </div>
                <hr/>
                <div class="row center-vertical">
                    <div class="col-md-3">
                        <form-step>
                            <input id="relationship" type="checkbox" ng-model="$ctrl.questions[38].response.value">
                            <label for="relationship">Relationship</label>
                        </form-step>
                    </div>
                    <div class="col-md-9">
                        <form-step red-flag="15" response-value="$ctrl.questions[213].response.value">
                            <input id="social-media" type="checkbox" ng-model="$ctrl.questions[213].response.value">
                            <label for="social-media">Met on social media</label>
                        </form-step>
                        <form-step red-flag="10" response-value="$ctrl.questions[214].response.value">
                            <input id="married-two-months" type="checkbox" ng-model="$ctrl.questions[214].response.value">
                            <label for="married-two-months">Married in the last 2 months</label>
                        </form-step>
                        <form-step red-flag="30" response-value="$ctrl.questions[215].response.value">
                            <input id="never-met" type="checkbox" ng-model="$ctrl.questions[215].response.value">
                            <label for="never-met">Never met in person</label>
                        </form-step>
                        <form-step red-flag="25" response-value="$ctrl.questions[216].response.value">
                            <input id="coming-to-marry" type="checkbox" ng-model="$ctrl.questions[216].response.value">
                            <label for="coming-to-marry">Coming to get married</label>
                        </form-step>
                        <form-step red-flag="20" response-value="$ctrl.questions[217].response.value">
                            <input id="same-language" type="checkbox" ng-model="$ctrl.questions[217].response.value">
                            <label for="same-language">Do not speak the same language</label>
                        </form-step>
                        <form-step red-flag="30" response-value="$ctrl.questions[218].response.value">
                            <input id="arranged-someone" type="checkbox" ng-model="$ctrl.questions[218].response.value">
                            <label for="arranged-someone">Arranged by someone else</label>
                        </form-step>
                    </div>
                </div>
                <hr/>
                <div class="row center-vertical">
                    <div class="col-md-3">
                        <form-step>
                            <input id="study" type="checkbox" ng-model="$ctrl.questions[39].response.value">
                            <label for="study">Study</label>
                        </form-step>
                    </div>
                    <div class="col-md-9">
                        <form-step red-flag="45" response-value="$ctrl.questions[219].response.value">
                            <input id="school-doesnt-exist" type="checkbox" ng-model="$ctrl.questions[219].response.value">
                            <label for="school-doesnt-exist">School does not exist</label>
                        </form-step>
                        <form-step red-flag="40" response-value="$ctrl.questions[64].response.value">
                            <input id="not-enrolled" type="checkbox" ng-model="$ctrl.questions[64].response.value">
                            <label for="not-enrolled">Not enrolled</label>
                        </form-step>
                        <form-step red-flag="42" response-value="$ctrl.questions[221].response.value">
                            <input id="no-details" type="checkbox" ng-model="$ctrl.questions[221].response.value">
                            <label for="no-details">Does not know details of course</label>
                        </form-step>
                        <form-step red-flag="10" response-value="$ctrl.questions[45].response.value">
                            <input id="no-school-details" type="checkbox" ng-model="$ctrl.questions[45].response.value">
                            <label for="no-school-detail">Does not know details of school</label>
                        </form-step>
                        <form-step red-flag="10" response-value="$ctrl.questions[223].response.value">
                            <input id="doesnt-know-start" type="checkbox" ng-model="$ctrl.questions[223].response.value">
                            <label for="doesnt-know-start">Does not know when course starts</label>
                        </form-step>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>