<div class="col-md-offset-3 col-md-6">
  <h2 class="text-center">Communication</h2>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="checkbox col-md-3 col-md-offset-1">
        <label>
          <input type="checkbox" ng-model="budgetCtrl.form.communication_chair" ng-change="budgetCtrl.setTotals()"
          ng-disabled="budgetCtrl.isViewing" />
        </label>
      </div>
      <div class="col-md-6 calc-form-input-no-width">
        <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.communication_chair_amount" ng-disabled="!budgetCtrl.form.communication_chair"
        ng-change="budgetCtrl.setTotals()" />
        <small>for chair</small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="checkbox col-md-3 col-md-offset-1">
        <label>
          <input type="checkbox" ng-model="budgetCtrl.form.communication_manager" ng-change="budgetCtrl.setTotals()"
          ng-disabled="budgetCtrl.isViewing" />
        </label>
      </div>
      <div class="col-md-6 calc-form-input-no-width">
        <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.communication_manager_amount" ng-disabled="!budgetCtrl.form.communication_manager"
        ng-change="budgetCtrl.setTotals()" />
        <small>for manager</small>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4 calc-form-input-no-width">
      <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.communication_number_of_staff_with_walkie_talkies"
      ng-change="budgetCtrl.setTotals()" ng-disabled="budgetCtrl.isViewing" />
      <small># of staff with walkie-talkies</small>
    </div>
    <operator>*</operator>
    <div class="col-md-3 calc-form-input-no-width">
      <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.communication_number_of_staff_with_walkie_talkies_multiplier"
      ng-change="budgetCtrl.setTotals()" ng-disabled="budgetCtrl.isViewing" />
    </div>
    <operator>=</operator>
    <div class="col-md-3 input-group">
      <div class="input-group-addon">Rs.</div>
      <input class="form-control text-center" ng-value="budgetCtrl.communicationNumberOfStaffTotal() | number" disabled="disabled"
      />
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4 calc-form-input-no-width">
      <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.communication_each_staff" ng-change="budgetCtrl.setTotals()"
      ng-disabled="budgetCtrl.isViewing" />
      <small>Each Staff</small>
    </div>
    <operator>*</operator>
    <div class="col-md-3 calc-form-input-no-width">
      <input class="text-right form-control" type="number" ng-model="budgetCtrl.form.communication_each_staff_multiplier" ng-change="budgetCtrl.setTotals()"
      ng-disabled="budgetCtrl.isViewing" />
    </div>
    <operator>=</operator>
    <div class="col-md-3 input-group">
      <div class="input-group-addon">Rs.</div>
      <input class="form-control text-center" ng-value="budgetCtrl.communicationEachStaffTotal() | number" disabled="disabled"
      />
    </div>
  </div>
  <hr>
  <div class="row">
    <div ng-repeat="otherCommunicationItem in budgetCtrl.form.other.Communication">
      <div class="col-md-4 col-md-offset-2">
        <input class="form-control" type="text" ng-model="otherCommunicationItem.name" ng-disabled="budgetCtrl.isViewing" required/>
      </div>
      <div class="col-md-4">
        <input class="text-right form-control" type="number" ng-model="otherCommunicationItem.cost" required ng-change="budgetCtrl.setTotals()"
        ng-disabled="budgetCtrl.isViewing" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" ng-click="budgetCtrl.removeItem(budgetCtrl.form.other.Communication, $index)" ng-hide="budgetCtrl.isViewing">Remove</button>
      </div>
      <br/>
      <br/>
    </div>
    <div class="row">
      <button class="btn btn-success col-xs-4 col-xs-offset-4" ng-click="budgetCtrl.form.other.Communication.push({})" ng-hide="budgetCtrl.isViewing">Add item</button>
    </div>
  </div>
  <hr>
  <div class="row center text-center">
    <div class="col-md-4 col-md-offset-4">
      <label>Total Communication</label>
      <input class="form-control text-center" ng-value="budgetCtrl.communicationTotal() | currency:'Rs. '" disabled="disabled" />
    </div>
  </div>
</div>