<div>
    <div ui-view></div>

    <div class="row bottom-nav">
        <nav class="text-center">
            <ul class="pagination">
                <li ng-class="{disabled: vifCtrl.sectionIndex == 0}">
                    <a ng-click="vifCtrl.prevSection()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="section in vifCtrl.sections" ng-class="{active: vifCtrl.sectionIndex == $index}">
                    <a ng-click="vifCtrl.goToSection($index)">{{section.name}}</a>
                </li>
                <li ng-class="{disabled: vifCtrl.sectionIndex == vifCtrl.sections.length-1}">
                    <a ng-click="vifCtrl.nextSection()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>	
    </div>
</div>