<h1>All Accounts</h1>

  <div ng-controller="AccountListController as accountListCtrl" ng-cloak>
    <table class="table table-striped table-condensed listTable">
      <thead>
        <tr class="listTable">
          <th class="listTable">Email</th>
          <th class="listTable">First Name</th>
          <th class="listTable">Last Name</th>
          <th class="listTable">User Designation</th>
          <th class="listTable">Date Created</th>
          <th class="listTable">Last Login</th>
          <th class="listTable">&nbsp;</th>
          <th class="listTable">&nbsp;</th>
          <th class="listTable">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <tr class="listTable" ng-repeat="account in accountListCtrl.accounts" id="{{account.id}}" ng-mouseenter="account.hover = true" ng-mouseleave="account.hover = false; account.accountdelete = false">

          <td class="listTable">{{account.email}}</td>
          <td class="listTable">{{account.first_name}}</td>
          <td class="listTable">{{account.last_name}}</td>
          <td class="listTable">{{account.user_designation}}</td>
          <td class="listTable">{{account.date_joined | date:"yyyy/MM/dd h:mm:ssa"}}</td>
          <td class="listTable">{{account.last_login | date:"yyyy/MM/dd h:mm:ssa"}}</td>
          <td class="listTable">
            <a class="btn btn-sm btn-primary pull-left" id="edit" ui-sref="account/:id({id: account.id})">Edit</a>
          </td>
          <td class="listTable">
            <button type="submit" class="btn btn-sm btn-primary" ng-click="accountListCtrl.resendActivationEmail(account.id)" ng-show="!account.has_been_activated">Resend Activation Email</button>
          </td>
          <td class="listTable"><button type="button" class="btn btn-sm btn-danger animated"
                      ng-click="accountListCtrl.deleteAccount(account)"
                      ng-show="accountListCtrl.currentuser.id != account.id"
                      ng-class="{fadeIn: account.hover && account.accountdelete, fadeOut: !account.hover, pulse: account.accountdelete}">
                {{account.accountdelete ? "Are you sure" : "Delete Account"}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>
<p class="pull-right"><a class="btn btn-success" id="create"  ui-sref="account/:id()">Create A New Account</a></p>
