<div id="accountList" class="container" ng-cloak>
    <table class="table table-striped table-condensed" float-thead="accountListCtrl.stickyOptions">
      <thead class="sticky-table-header">
        <tr>
          <th ng-click="vm.sortColumn = 'first_name'; vm.reverse = ! vm.reverse;">First Name</th>
          <th ng-click="vm.sortColumn = 'last_name'; vm.reverse = ! vm.reverse;">Last Name</th>
          <th ng-click="vm.sortColumn = 'user_designation'; vm.reverse = ! vm.reverse;">User Designation</th>
          <th ng-click="vm.sortColumn = 'date_joined'; vm.reverse = ! vm.reverse;" class="text-center">Created</th>
          <th ng-click="vm.sortColumn = 'last_login'; vm.reverse = ! vm.reverse;" class="text-center">Last Login</th>
          <th width="60px"></th>
          <th width="100px"></th>
          <th id="create"><a class="btn btn-sm btn-success pull-right"  ui-sref="account({id: 'create'})">Create Account</a></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="account in accountListCtrl.accounts | orderBy:vm.sortColumn:vm.reverse" id="{{account.id}}" ng-mouseenter="account.hover = true" ng-mouseleave="account.hover = false; account.accountdelete = false">
          <td class="name">{{account.first_name}}</td>
          <td class="name">{{account.last_name}}</td>
          <td>{{account.user_designation_name}}</td>
          <td class="text-center">{{account.date_joined | date:"yyyy/MM/dd"}}</td>
          <td class="text-center">{{account.last_login | date:"yyyy/MM/dd"}}</td>
          <td>
            <a class="btn btn-sm btn-primary" id="edit" ui-sref="account({id: account.id})">Edit</a>
          </td>
          <td>
            <button type="submit" class="btn btn-sm btn-primary" ng-click="accountListCtrl.resendActivationEmail(account.id)" ng-show="!account.has_been_activated">Resend Activation Email</button>
          </td>
          <td>
              <confirm-button 
                        ng-disabled="accountListCtrl.currentUser.id == account.id"
                        ng-show="accountListCtrl.currentUser.id !== account.id"
                        btn-class="btn btn-sm btn-danger pull-right animated"
                        invisible="!account.hover"
                        text="Delete Account"
                        confirm-text="Are you sure?"
                        on-confirm="accountListCtrl.deleteAccount(account)"/>
            </td>
        </tr>
      </tbody>
    </table>
</div>
