<fieldset class="form-horizontal" ng-disabled="$ctrl.isViewing">
    <div class="container-fluid">
        <div class="row center-vertical">
            <div class="col-md-12">
                <h3>Case Narrative</h3>
                <form-step>
                    <em>Please give any additional information about the interception, how it occurred, etc.</em>
                    <textarea class="form-control" rows="5" ng-model="$ctrl.questions[146].response.value"></textarea>
                </form-step>
                <form-step class="padding-20" type="number" min="0" response-value="$ctrl.questions[143].response.value"
                    label="Reported Total Red Flag Points"></form-step>
                <hr/>
            </div>
        </div>
        <div class="row center-vertical">
            <div class="col-md-6">
	            <div>
			    	<form-step>8.1 What were Love Justice's findings from the interview?</form-step>
			    	<div class="col-md-6">
			      		<form-step type="radio" label="Clear Evidence of Trafficking" response-value="$ctrl.questions[607].response.value" radio-name="interviewFindings"></form-step>
		      		</div>
		      		<div class="col-md-6">
		      			<form-step type="radio" label="Some Evidence of Trafficking" response-value="$ctrl.questions[607].response.value" radio-name="interviewFindings"></form-step>
		      		</div>
		      		
				</div>
				<div>
					<div class="col-md-12">
	      				<form-step type="radio" label="High Risk of Trafficking" response-value="$ctrl.questions[607].response.value" radio-name="interviewFindings"></form-step>
	      			</div>
				</div>
				<div>
					<form-step>
                        <em>8.2 What is the primary reason you believe this person is being trafficked or is at high risk of being trafficked?</em>
                        <textarea class="form-control" rows="5" ng-model="$ctrl.questions[142].response.value"></textarea>
                    </form-step>
                </div>
	        </div>
            <div class="col-md-6">
                <div>
                    <form-step>
                        <label for="how-sure" class="padding-top-10">8.4 How sure are you that you were right to intercept given the "When to Intercept Posters"?</label>
                    </form-step>
                    <form-step>
                        Rate from 1-5 (1 = not at all sure, 5 = absolutely sure)
                        <select id="how-sure" ng-model="$ctrl.questions[147].response.value">
                            <option value="1 - Not at all sure">1 - Not at all sure</option>
                            <option value="2 - Unsure but suspects it">2 - Unsure but suspects it</option>
                            <option value="3 - Somewhat sure">3 - Somewhat sure</option>
                            <option value="4 - Very sure">4 - Very sure</option>
                            <option value="5 - Absolutely sure">5 - Absolutely sure</option>
                        </select>
                    </form-step>
                    <hr/>
                </div>
                <div>
	                <label class="padding-top-10">8.5 Why did the potential victims stop?</label>
	                <form-step type="checkbox" label="Staff convinced (not forced) to stop" response-value="$ctrl.questions[149].response.value"></form-step>
	                <form-step type="checkbox" label="Family convinced or forced (if under 18 years) to stop" response-value="$ctrl.questions[148].response.value"></form-step>
	                <form-step type="checkbox" label="Police convinced or forced to stop" response-value="$ctrl.questions[150].response.value"></form-step> 
	            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="col-md-6 panel panel-default text-center margin-vertical-20">
            <div class="row">
                I certify that I have followed procedures and filled out this form correctly, completely, and accurately.
            </div>
            <div class="row">
             <form-step>
                 <input id="scanned" type="checkbox" ng-change="$ctrl.getWarningMessages()" ng-model="$ctrl.questions[151].response.value">
                 <label for="scanned">Scanned form has signature</label>
             </form-step>
            </div>
        </div>
    </div>
</fieldset>
