<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Where are you from?</h2>
        <t>Ask her to describe in detail</t>
    </div>
    <div class="panel-body">
        <table align="center">
            <tr>
                <td align="left"><strong>3.35</strong><span class="red-flag"></span><input ng-model="irfCtrl.form.doesnt_know_villiage_details" type="checkbox">Doesn't know details about village</td>
            </tr>
            <tr>
                <td align="left"><strong>3.36</strong><span class="red-flag"></span><input ng-model="irfCtrl.form.reluctant_villiage_info" type="checkbox">Reluctant to give info about village</td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Who is your family?</h2>
        <t>Ask for family contact info</t>
    </div>
    <div class="panel-body">
        <table align="center">
            <tr>
                <td align="left"><strong>3.37</strong><span class="red-flag"></span><input ng-model="irfCtrl.form.reluctant_family_info" type="checkbox">Reluctant to give family info</td>
            </tr>
            <tr>
                <td align="left"><strong>3.38</strong><span class="red-flag"></span><input ng-model="irfCtrl.form.refuses_family_info" type="checkbox">Will not give family info</td>
            </tr>
        </table>
        <br>
        <div class="panel panel-default" ng-click="isCollapsed1 = !isCollapsed1">
            <div class="panel-heading">
                <h2>Under 18 years old</h2>
            </div>
            <div class="panel-body" uib-collapse="isCollapsed1" ng-init="isCollapsed1 = true">
                <table align="center">
                    <tr>
                        <td align="left"><strong>3.39</strong><span class="red-flag"></span><input ng-model="irfCtrl.form.under_18_cant_contact_family" type="checkbox">No family contact established</td>
                    </tr>
                    <tr>
                        <td align="left"><strong>3.40</strong><span class="red-flag"></span><input ng-model="irfCtrl.form.under_18_family_doesnt_know" type="checkbox">Family doesn't know she is going to India</td>
                    </tr>
                    <tr>
                        <td align="left"><strong>3.41</strong><span class="red-flag"></span><input ng-model="irfCtrl.form.under_18_family_unwilling" type="checkbox">Family unwilling to let her go</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default" ng-click="isCollapsed2 = !isCollapsed2">
            <div class="panel-heading">
                <h2>18 years or older</h2>
            </div>
            <div class="panel-body" uib-collapse="isCollapsed2" ng-init="isCollapsed2 = true">
                <table align="center">
                    <tr>
                        <td align="left"><strong>3.42</strong><span class="red-flag"></span><input ng-model="irfCtrl.form.over_18_family_doesnt_know" type="checkbox">Family members do not know she is going to India</td>
                    </tr>
                    <tr>
                        <td align="left"><strong>3.43</strong><span class="red-flag"></span><input ng-model="irfCtrl.form.over_18_family_unwilling" type="checkbox">Family members unwilling to let her go</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>