<div id="legal-timeline-modal" class="modal-content">
    <form name="LegalTimelineModal" ng-disabled="TimelineModalController.isViewing === 'true'">
    	<div class="modal-header">
            <button type="button" class="close" ng-click="TimelineModalController.dismiss()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <div class="col-md-5">
            	<h3 class="modal-title">Timeline Entry</h3>
            </div>
        </div>
        <div class="modal-body">
        	<div class="row">
	            <div class="col-md-2 form-group">
		    		<label>Entered By</label>
		    	</div>
				<div class="col-md-4 form-group">
			        <input type="text" min="0" class="form-control" ng-model="TimelineModalController.questions.lcTimelineAddedBy.response.value" disabled>
		        </div>
		        <div class="col-md-2 form-group">
		    		<label>Date Entered</label>
		    	</div>
		    	<div class="col-md-4 form-group">
		    		<input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="TimelineModalController.dateData.questions.lcTimelineDateAdded.value" disabled>
		    	</div>
            </div>
            <div class="row">
	            <div class="col-md-2 form-group">
		    		<label>Date of Incident</label>
		    	</div>
		    	<div class="col-md-4 form-group">
		    		<input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="TimelineModalController.dateData.questions.lcTimelineCommentDate.value"
		    				ng-disabled="TimelineModalController.isAdd !== true">
		    	</div>
            </div>
            <div class="row col-md-12">
            	<label>Next Step / Case Comments</label>
            </div>
            <div class="row col-md-12">
            	<textarea class="form-control" rows="5" ng-model="TimelineModalController.questions.lcTimelineComment.response.value" ng-disabled="TimelineModalController.isAdd !== true"></textarea>
            </div> 
        </div>
        <hr>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-success float-left" ng-click="TimelineModalController.save()" ng-disabled="!TimelineModalController.questions.lcTimelineComment.response.value" 
                    		ng-if="TimelineModalController.isAdd">Save</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-danger" ng-click="TimelineModalController.markAsDeleted()" ng-if="!TimelineModalController.isAdd && !TimelineModalController.isViewing">Delete</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default" ng-click="TimelineModalController.dismiss()">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>