<h1>Access Defaults</h1>

<div class="container" ng-controller="AccountDefaultsController as accountDefaultsCtrl" ng-cloak>
        <p>Use this form to designate default access for each type of user.<br/>For instance: what default permissions ought to be given to a new user designated as &quot;Field Staff?&quot;</p>
        <p ng-show="accountDefaultsCtrl.nameError" class="text-danger">All access defaults must have a designation.</p>
        <table class="table table-condensed defaultsTable">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th colspan="4">Interception Record Forms</th>
                    <th colspan="4">Victim Interview Forms</th>
                    <th colspan="4">Border Stations</th>
                    <th>Accounts</th>
                    <th>Alerts</th>
                    <th>VDC</th>
                    <th>Budget</th>
                </tr>
                <tr class="secondRow">
                    <th>Designation</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Manage</th>
                    <th>Can Receive</th>
                    <th>Manage</th>
                    <th>Manage</th>
                </tr>
            </thead>

            <tbody id="permissions-rows-container">
                <tr ng-repeat="permissionsSet in accountDefaultsCtrl.permissions.local" ng-show="!permissionsSet.delete" ng-mouseenter="permissionsSet.hover = true" ng-mouseleave="permissionsSet.hover = false; permissionsSet.accountRemoved = false">

                    <td>
                        <div ng-class="{'has-error': permissionsSet.nameError}">
                            <input style="width:100%" type="text" class="form-control" ng-model="permissionsSet.name"/>
                        </div>
                    </td>
                    <td><label ng-click="permissionsSet.permission_irf_view = !permissionsSet.permission_irf_view; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_irf_view ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_irf_view ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_irf_add = !permissionsSet.permission_irf_add; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_irf_add ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_irf_add ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_irf_edit = !permissionsSet.permission_irf_edit; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_irf_edit ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_irf_edit ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_irf_delete = !permissionsSet.permission_irf_delete; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_irf_delete ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_irf_delete ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_vif_view = !permissionsSet.permission_vif_view; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions,accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_vif_view ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_vif_view ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_vif_add = !permissionsSet.permission_vif_add; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_vif_add ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_vif_add ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_vif_edit = !permissionsSet.permission_vif_edit; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions,  accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_vif_edit ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_vif_edit ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_vif_delete = !permissionsSet.permission_vif_delete; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions,  accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_vif_delete ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_vif_delete ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_border_stations_view = !permissionsSet.permission_border_stations_view; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_border_stations_view ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_border_stations_view ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_border_stations_add = !permissionsSet.permission_border_stations_add; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_border_stations_add ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_border_stations_add ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_border_stations_edit = !permissionsSet.permission_border_stations_edit; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_border_stations_edit ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_border_stations_edit ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_border_stations_delete = !permissionsSet.permission_border_stations_delete; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_border_stations_delete ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_border_stations_delete ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_accounts_manage = !permissionsSet.permission_accounts_manage; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_accounts_manage ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_accounts_manage ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_receive_email = !permissionsSet.permission_receive_email; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_receive_email ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_receive_email ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_vdc_manage = !permissionsSet.permission_vdc_manage; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_vdc_manage ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_vdc_manage ? "Yes" : "No" }}</label></td>
                    <td><label ng-click="permissionsSet.permission_budget_manage = !permissionsSet.permission_budget_manage; accountCtrl.checkIfModified($index, accountDefaultsCtrl.permissions, accountDefaultsCtrl.saveButtonInfo)" ng-class="permissionsSet.permission_budget_manage ? 'btn btn-success' : 'btn btn-danger'">{{ permissionsSet.permission_budget_manage ? "Yes" : "No" }}</label></td>
                    <td id="removeButton">
                            <button type="button"
                                class="btn btn-sm btn-danger animated"
                                ng-show="!permissionsSet.is_used_by_accounts"
                                ng-click="accountDefaultsCtrl.delete($index)"
                                ng-class="{fadeIn: permissionsSet.hover && permissionsSet.accountRemoved, fadeOut: !permissionsSet.hover, pulse: permissionsSet.accountRemoved}">
                                {{ permissionsSet.accountRemoved ? "Are you sure?" : "Remove Role" }}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-toolbar">
            <button
             ng-click="accountDefaultsCtrl.addAnother()" class="col-xs-2  col-md-2  col-lg-2 clear btn btn-primary btn-lg pull-left">Add Another</button>

            <button ng-disabled="!accountCtrl.saveButtonInfo.unsavedChanges" ng-click="accountCtrl.discardChanges(accountDefaultsCtrl.permissions)" class="col-xs-2  col-md-2  col-lg-2 clear btn btn-primary btn-lg pull-right">Discard Changes</button>
            <button ng-disabled="!accountCtrl.saveButtonInfo.unsavedChanges" ng-click="accountCtrl.saveAll(accountDefaultsCtrl.permissions, accountDefaultsCtrl.PermissionsSetsService)" class="col-xs-2  col-md-2  col-lg-2 clear btn {{accountCtrl.saveButtonInfo.saveButtonColor}} btn-lg pull-right">{{accountCtrl.saveButtonInfo.saveButtonText}}</button>
        </div>
    </div>
</div>
