.buttonOffset{
    padding-left: 20px
}
input[type="checkbox"] {
    display: none;
}
.form-group {
    margin-bottom: 0 !important;
}
label {
    width: 100%;
}
table, th, td {
    border: 2px solid #ddd;
}
th, td {
    text-align: center;
}
table{
    border-left: inherit;
    border:none;
}
