<div class="container-fluid">
    <div class="row center-vertical">
        <div class="col-md-4">
            <div class="margin-top-20 margin-bottom-10">Where are you going, and for what?</div>
            <form-step red-flag="45">
                <input id="crossing" type="checkbox" ng-model="$ctrl.questions[32].response.value">
                <label for="crossing">Was crossing the border but didn't know she was going to India </label>
        </div>
        <div class="col-md-8 container">
            <div class="row center-vertical">
                <div class="col-md-4">
                    <form-step>
                        <input id="job" type="checkbox" ng-model="$ctrl.questions[36].response.value">
                        <label for="job">Job</label>
                    </form-step>
                    <form-step red-flag="80">
                        <input id="going-gulf-work" type="checkbox" ng-model="$ctrl.questions[42].response.value">
                        <label for="going-gulf-work">Going to Gulf for work through India</label>
                    </form-step>
                </div>
                <div class="row col-md-8">
                    <div class="row center-vertical">
                        <div class="col-md-4">
                            Check Documents
                        </div>
                        <div class="col-md-8">
                            <form-step red-flag="15">
                                <input id="no-address" type="checkbox" ng-model="$ctrl.questions[51].response.value">
                                <label for="no-address">No address at destination</label>
                            </form-step>
                            <form-step red-flag="20">
                                <input id="no-phone" type="checkbox" ng-model="$ctrl.questions[52].response.value">
                                <label for="no-phone">No company phone number</label>
                            </form-step>
                            <form-step red-flag="10">
                                <input id="no-letter" type="checkbox" ng-model="$ctrl.questions[53].response.value">
                                <label for="no-letter">No appointment letter</label>
                            </form-step>
                            <form-step red-flag="35">
                                <input id="valid-gulf" type="checkbox" ng-model="$ctrl.questions[54].response.value">
                                <label for="valid-gulf">Has a valid gulf country visa in passport</label>
                            </form-step>
                            <form-step red-flag="80">
                                <input id="passport-broker" type="checkbox" ng-model="$ctrl.questions[55].response.value">
                                <label for="passport-broker">Passport is with a broker</label>
                            </form-step>
                            <form-step red-flag="40">
                                <input id="job-too-good" type="checkbox" ng-model="$ctrl.questions[56].response.value">
                                <label for="job-too-good">Job is too good to be true</label>
                            </form-step>
                        </div>
                    </div>
                    <hr/>
                    <div class="row center-vertical">
                        <div class="col-md-4">
                            Call job place
                        </div>
                        <div class="col-md-8">
                            <form-step red-flag="55">
                                <input id="not-real-job" type="checkbox" ng-model="$ctrl.questions[57].response.value">
                                <label for="not-real-job">Not a real job</label>
                            </form-step>
                            <form-step red-flag="10">
                                <input id="not-confirm-job" type="checkbox" ng-model="$ctrl.questions[58].response.value">
                                <label for="not-confirm-job">Could not confirm job</label>
                            </form-step>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-4">
                    <form-step>
                        <input id="visit-family" type="checkbox" ng-model="$ctrl.questions[37].response.value">
                        <label for="visit-family">
                            Visit/Family/Returning Home
                        </label>
                    </form-step>
                </div>
                <div class="row col-md-8">
                    <div class="row center-vertical">
                        <div class="col-md-4">
                            Check bags
                        </div>
                        <div class="col-md-8">
                            <form-step red-flag="20">
                                <input id="no-bags" type="checkbox" ng-model="$ctrl.questions[59].response.value">
                                <label for="no-bags">No bags though claim to be going for a long time</label>
                            </form-step>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-4">
                    <form-step>
                        <input id="shopping" type="checkbox" ng-model="$ctrl.questions[38].response.value">
                        <label for="shopping">
                            Shopping
                        </label>
                    </form-step>
                </div>
                <div class="row col-md-8">
                    <div class="row center-vertical">
                        <div class="col-md-4">
                            Check to see if bags are empty
                        </div>
                        <div class="col-md-8">
                            <form-step red-flag="35">
                                <input id="shopping-stuff-in-bags" type="checkbox" ng-model="$ctrl.questions[60].response.value">
                                <label for="shopping-stuff-in-bags">Shopping - Stuff for overnight stay in bags</label>
                            </form-step>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-4">
                    <form-step>
                        <input id="study" type="checkbox" ng-model="$ctrl.questions[39].response.value">
                        <label for="study">
                            Study
                        </label>
                    </form-step>
                </div>
                <div class="row col-md-8">
                    <div class="row center-vertical">
                        <div class="col-md-4">
                            Check documents
                        </div>
                        <div class="col-md-8">
                            <form-step red-flag="15">
                                <input id="no-documentation" type="checkbox" ng-model="$ctrl.questions[61].response.value">
                                <label for="no-documentaiton">No documentation of enrollment</label>
                            </form-step>
                            <form-step red-flag="40">
                                <input id="not-know-school-name" type="checkbox" ng-model="$ctrl.questions[62].response.value">
                                <label for="not-know-school-name">Does not know school's name and location</label>
                            </form-step>
                            <form-step red-flag="30">
                                <input id="no-school-phone" type="checkbox" ng-model="$ctrl.questions[63].response.value">
                                <label for="no-school-phone">No phone number for school</label>
                            </form-step>
                        </div>
                    </div>
                    <hr/>
                    <div class="row center-vertical">
                        <div class="col-md-4">
                            Call school
                        </div>
                        <div class="col-md-8">
                            <form-step red-flag="50">
                                <input id="not-enrolled" type="checkbox" ng-model="$ctrl.questions[64].response.value">
                                <label for="not-enrolled">Not enrolled in school</label>
                            </form-step>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-4">
                    <form-step>
                        <input id="treatment" type="checkbox" ng-model="$ctrl.questions[40].response.value">
                        <label for="Treatment">
                            Treatment
                        </label>
                    </form-step>
                </div>
                <div class="row col-md-8">
                    <div class="row center-vertical">
                        <div class="col-md-4">
                            Ask which hospital, doctor
                        </div>
                        <div class="col-md-8">
                            <form-step red-flag="10">
                                <input id="reluctant-treatment" type="checkbox" ng-model="$ctrl.questions[65].response.value">
                                <label for="reluctant-treatment">Does not have to give info about treatment</label>
                            </form-step>
                        </div>
                    </div>
                    <hr/>
                    <div class="row center-vertical">
                        <div class="col-md-4">Check Documents</div>
                        <div class="col-md-6">
                            <form-step red-flag="20">
                                <input id="no-documents" type="checkbox" ng-model="$ctrl.questions[66].response.value">
                                <label for="no-documents">Does not have medical documents</label>
                            </form-step>
                            <form-step red-flag="50">
                                <input id="fake-documents" type="checkbox" ng-model="$ctrl.questions[67].response.value">
                                <label for="fake-documents">Fake medical documents</label>
                            </form-step>
                        </div>
                    </div>
                    <hr/>
                    <div class="row center-vertical">
                        <div class="col-md-4">
                            Call Doctor
                        </div>
                        <div class="col-md-8">
                            <form-step red-flag="25">
                                <input id="no-appointment" type="checkbox" ng-model="$ctrl.questions[68].response.value">
                                <label for="no-appointment">No medical appointment</label>
                            </form-step>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-4">
                    <form-step>
                        <input id="runaway" type="checkbox" ng-model="$ctrl.questions[41].response.value">
                        <label for="runaway">
                            Runaway
                        </label>
                    </form-step>
                </div>
                <div class="row col-md-8">
                    <div class="row center-vertical">
                        <div class="col-md-4">
                            Check where they are from and how old
                        </div>
                        <div class="col-md-8">
                            <form-step red-flag="20">
                                <input id="over" type="checkbox" ng-model="$ctrl.questions[69].response.value">
                                <label for="over">Running away from home (18 years or older)</label>
                            </form-step>
                            <form-step red-flag="50">
                                <input id="under" type="checkbox" ng-model="$ctrl.questions[70].response.value">
                                <label for="under">Running away from home (under 18 years old)</label>
                            </form-step>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>