<div class="container-fluid">
    <div class="row center-vertical">
        <div class="col-md-4">
            <div class="padding-bottom-20">Where are you from?
                <br>(Ask her to describe in detail)</div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <form-step red-flag="35">
                        <input id="details" type="checkbox" ng-model="$ctrl.questions[71].response.value">
                        <label for="details">Doesn't know details about village</label>
                    </form-step>
                </div>
                <div class="col-md-6">
                    <form-step red-flag="15">
                        <input id="village-info" type="checkbox" ng-model="$ctrl.questions[72].response.value">
                        <label for="village-info">Reluctant to give info about village</label>
                    </form-step>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row center-vertical">
        <div class="col-md-4">
            <div class="padding-bottom-20">Who is your family?</div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <form-step red-flag="10">
                        <input id="reluctant" type="checkbox" ng-model="$ctrl.questions[73].response.value">
                        <label for="reluctant">Reluctant to give family info</label>
                    </form-step>
                </div>
                <div class="col-md-6">
                    <form-step red-flag="35">
                        <input id="family-info" type="checkbox" ng-model="$ctrl.questions[74].response.value">
                        <label for="family-info">Will not give family info</label>
                    </form-step>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-6">
                    <div class="padding-bottom-20">Under 18 years old</div>
                </div>
                <div class="col-md-6">
                    <form-step red-flag="50">
                        <input id="family-contact" type="checkbox" ng-model="$ctrl.questions[77].response.value">
                        <label for="family-contact">No family contact established</label>
                    </form-step>
                    <form-step red-flag="45">
                        <input id="family-going" type="checkbox" ng-model="$ctrl.questions[78].response.value">
                        <label for="family-going">Family doesn't know she is going to India</label>
                    </form-step>
                    <form-step red-flag="60">
                        <input id="family-unwilling" type="checkbox" ng-model="$ctrl.questions[79].response.value">
                        <label for="family-unwilling">Family unwilling to let her go</label>
                    </form-step>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-6">
                    <div class="padding-bottom-20">18 years or older</div>
                </div>
                <div class="col-md-6">
                    <form-step red-flag="15">
                        <input id="family-member" type="checkbox" ng-model="$ctrl.questions[80].response.value">
                        <label for="family-member">Family members do not know she is going to India</label>
                    </form-step>
                    <form-step red-flag="20">
                        <input id="family-let" type="checkbox" ng-model="$ctrl.questions[81].response.value">
                        <label for="family-let">Family members are unwilling to let her go</label>
                    </form-step>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row center-vertical">
        <div class="col-md-4">
            <div class="margin-top-40 margin-bottom-10">
                <form-step>Which family member did you talk to?</form-step>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6" ng-repeat="families in $ctrl.family">
                    <form-step ng-repeat="family in families">
                        <input id="{{family}}" type="radio" name="optionRadio" value="{{family}}" ng-model="$ctrl.questions[82].response.value">
                        <label for="{{family}}">{{family}}</label>
                    </form-step>
                    <form-step ng-if="$first">
                        <input id="other-fam" type="radio" name="optionRadio" value="Other" ng-model="$ctrl.questions[82].response.value">
                        <label for="other-fam">Other</label>
                        <input ng-model="$ctrl.otherFamilyString">
                    </form-step>
                </div>
            </div>
        </div>
    </div>
</div>