<fieldset class="container-fluid" ng-disabled="$ctrl.isViewing">
    <div class="row center-vertical">
        <div class="col-md-4">
            <div class="padding-bottom-20">Where are you from?
                <br>(Ask her to describe in detail)</div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <form-step red-flag="35" type="checkbox" label="Doesn't know details about village" response-value="$ctrl.questions[71].response.value"></form-step>
                </div>
                <div class="col-md-6">
                    <form-step red-flag="15" type="checkbox" label="Reluctant to give info about village" response-value="$ctrl.questions[72].response.value"></form-step>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row center-vertical">
        <div class="col-md-4">
            <div class="padding-bottom-20">Who is your family?</div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <form-step red-flag="10" type="checkbox" label="Reluctant to give family info" response-value="$ctrl.questions[73].response.value"></form-step>
                </div>
                <div class="col-md-6">
                    <form-step red-flag="35" type="checkbox" label="Will not give family info" response-value="$ctrl.questions[74].response.value"></form-step>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-6">
                    <div class="padding-bottom-20">Under 18 years old</div>
                </div>
                <div class="col-md-6">
                    <form-step red-flag="50" type="checkbox" label="No family contact established" response-value="$ctrl.questions[77].response.value"></form-step>
                    <form-step red-flag="45" type="checkbox" label="Family doesn't know she is going to India" response-value="$ctrl.questions[78].response.value"></form-step>
                    <form-step red-flag="60" type="checkbox" label="Family unwilling to let her go" response-value="$ctrl.questions[79].response.value"></form-step>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-6">
                    <div class="padding-bottom-20">18 years or older</div>
                </div>
                <div class="col-md-6">
                    <form-step red-flag="15" type="checkbox" label="Family members do not know she is going to India" response-value="$ctrl.questions[80].response.value"></form-step>
                    <form-step red-flag="20" type="checkbox" label="Family members unwilling to let her go" response-value="$ctrl.questions[81].response.value"></form-step>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row center-vertical">
        <div class="col-md-4">
            <div class="margin-top-40 margin-bottom-10">
                <form-step>Which family member did you talk to?</form-step>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6" ng-repeat="families in $ctrl.config.RadioItems[82]">
                    <form-step type="radio" radio-name="familyRadio" ng-repeat="family in families" label="{{family}}" other-value="$ctrl.otherData.questions[82].otherValue" response-value="$ctrl.otherData.questions[82].value"></form-step>
                    <form-step ng-if="$first" type="otherRadio" radio-name="familyRadio" other-value="$ctrl.otherData.questions[82].otherValue" response-value="$ctrl.otherData.questions[82].value"></form-step>
                </div>
            </div>
        </div>
    </div>
</fieldset>