<div class="form-horizontal">
    <div class="container-fluid">
        <div class="row center-vertical">
            <div class="col-md-6 col-md-offset-3">
                <h3>Procedures</h3>
                <form-step response-value="$ctrl.questions[142].response.value" type="'textarea'" label="'You should intercept in cases where you have a good reason to believe a person is being trafficked or is at a high risk of
                being trafficked. What was the primary reason you believed this case qualified?'">
                </form-step>
                <form-step type="'number'" label="'Reported Total Red Flag Points'" response-value="$ctrl.questions[143].response.value">
                </form-step>
                <hr/>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row center-vertical">
            <div class="col-md-9 col-md-offset-3">
                <h3>Type of Intercept</h3>
                <div class="col-md-4">
                    <form-step type="'radio'" label="'Sex trafficking'" radio-name="'trafficking-type'" response-value="$ctrl.questions[141].response.value">
                    </form-step>
                    <form-step type="'radio'" label="'India Labor Trafficking'" radio-name="'trafficking-type'" response-value="$ctrl.questions[141].response.value">
                    </form-step>
                    <form-step type="'radio'" label="'Nepal internal trafficking'" radio-name="'trafficking-type'" response-value="$ctrl.questions[141].response.value">
                    </form-step>
                </div>
                <div class="col-md-6">
                    <form-step type="'radio'" label="'Gulf (or country other than India)'" radio-name="'trafficking-type'" response-value="$ctrl.questions[141].response.value">
                    </form-step>
                    <form-step type="'radio'" label="'Runaway (no direct evidence of trafficking)'" radio-name="'trafficking-type'" response-value="$ctrl.questions[141].response.value">
                    </form-step>
                </div>
                <div class="col-md-12 form-group">
                    <form-step>
                        <label for="how-sure" class="padding-top-10">How sure are you that it was a trafficking case? </label>
                    </form-step>
                    <form-step>
                        Rate from 1-5 (1 = not at all sure, 5 = absolutely sure)
                        <select id="how-sure" ng-model="$ctrl.questions[147].response.value">
                            <option value="1 - Not at all sure">1 - Not at all sure</option>
                            <option value="2 - Unsure but suspects it">2 - Unsure but suspects it</option>
                            <option value="3 - Somewhat sure">3 - Somewhat sure</option>
                            <option value="4 - Very sure">4 - Very sure</option>
                            <option value="5 - Absolutely sure">5 - Absolutely sure</option>
                        </select>
                    </form-step>
                </div>
            </div>
        </div>
        <div class="row center-vertical">
            <div class="col-md-6 col-md-offset-3">
                <h3>How did you prevent the victim from going?</h3>
                <form-step label="'Her parents used their authority and prevented victim from going'" type="'checkbox'" response-value="$ctrl.questions[148].response.value">
                </form-step>
                <form-step ng-disabled="!$ctrl.staffConvinced">
                    <input id="call" type="checkbox" ng-model="$ctrl.staffConvinced">
                    <label for="call">THN staff convinced victim not to go</label>
                    <p>If so, what convinced the victim?</p>
                    <textarea class="form-control" rows="2" ng-disabled="!$ctrl.staffConvinced" ng-model="$ctrl.questions[149].response.value"></textarea>
                </form-step>
                <form-step label="'The police forced the victim to stop'" type="'checkbox'" response-value="$ctrl.questions[150].response.value">
                </form-step>
                <hr/>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row center-vertical">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Final</h3>
                </div>
            </div>
            <div class="row center-vertical">
                <div class="col-md-6 col-md-offset-3 panel panel-default text-center padding-10">
                    <div class="row">
                        I certify that I have followed procedures and filled out this form correctly, completely, and accurately.
                    </div>
                    <form-step>
                        <input id="scanned" type="checkbox" ng-change="$ctrl.getWarningMessages()" ng-model="$ctrl.questions[151].response.value">
                        <label for="scanned">Scanned form has signature</label>
                    </form-step>
                </div>
            </div>
            <div class="row center-vertical">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-6 form-group">
                        <form-step>
                            <label>Attached scanned copy of form (pdf or image)</label>
                        </form-step>
                    </div>
                    <input type="file" value="Choose File" ng-model="$ctrl.questions[152].response.value">
                </div>
            </div>
        </div>
    </div>
</div>