<div class="form-horizontal">
    <div class="container-fluid">
        <div class="row">
            <div class="text-center">Either fill out the first or second section (not both), depending on whether the victim was first noticed by
                staff, or came from a contact. </div>
            <div class="padding-top-20">How did you make the interception?</div>
            <hr/>
        </div>
        <div class="row center-vertical">
            <div class="col-md-2">
                <form-step type="'radio'" label="'Contact'" response-value="$ctrl.questions[91].response.value" radio-name="'contactOrStaff'">
                </form-step>
            </div>
            <div class="row col-md-10">
                <div class="row center-vertical">
                    <div class="col-md-3" ng-repeat="contacts in $ctrl.contacts">
                        <form-step type="'radio'" radio-name="'contactType'" ng-repeat="contact in contacts" label="contact" response-value="$ctrl.questions[92].response.value">
                        </form-step>
                        <form-step ng-if="$last" type="'otherRadio'" radio-name="'contactType'" other-value="$ctrl.otherContactString" response-value="$ctrl.questions[92].response.value">
                        </form-step>
                    </div>
                </div>
                <hr/>
                <div class="padding-bottom-20">Did you pay the contact for this information?</div>
                <div class="row center-vertical">
                    <div class="col-md-2">
                        <form-step type="'radio'" label="'No'" response-value="$ctrl.questions[102].response.value" radio-name="'didYouPay'">
                        </form-step>
                    </div>
                    <div class="col-md-2">
                        <form-step type="'radio'" label="'Yes'" response-value="$ctrl.questions[102].response.value" radio-name="'didYouPay'">
                        </form-step>
                    </div>
                    <div class="col-md-4 margin-left-10">
                        <form-step label="'How much?'" type="'text'" response-value="$ctrl.questions[104].response.value">
                        </form-step>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row center-vertical">
            <div class="col-md-2">
                <form-step type="'radio'" label="'Staff'" response-value="$ctrl.questions[91].response.value" radio-name="'contactOrStaff'">
                </form-step>
            </div>
            <div class="row col-md-10">
                <div class="row center-vertical">
                    <div class="col-md-6 form-group">
                        <form-step class="col-xs-4 control-label">Staff who noticed</form-step>
                        <div class="col-xs-6">
                            <staff-select selected-staff="$ctrl.questions[106].response.value"></staff-select>
                        </div>
                    </div>
                    <div class="text">What was the sign that made you stop them for questioning? (check all that apply below) </div>
                </div>
                <hr/>
                <div class="row center-vertical">
                    <div class="col-md-2">
                        <div class="text-center">Manner </div>
                        <hr/>
                        <form-step type="'checkbox'" label="'Hesitant'" response-value="$ctrl.questions[111].response.value">
                        </form-step>
                        <form-step type="'checkbox'" label="'Nervous or afraid'" response-value="$ctrl.questions[112].response.value">
                        </form-step>
                        <form-step type="'checkbox'" label="'Hurrying'" response-value="$ctrl.questions[113].response.value">
                        </form-step>
                        <form-step type="'checkbox'" label="'Drugged or drowsy'" response-value="$ctrl.questions[114].response.value">
                        </form-step>
                        <br>
                    </div>
                    <div class="col-md-2">
                        <div class="text-center">Attire </div>
                        <hr/>
                        <form-step type="'checkbox'" label="'New clothes'" response-value="$ctrl.questions[115].response.value">
                        </form-step>
                        <form-step type="'checkbox'" label="'Dirty clothes'" response-value="$ctrl.questions[116].response.value">
                        </form-step>
                        <form-step type="'checkbox'" label="'Carry full bags'" response-value="$ctrl.questions[117].response.value">
                        </form-step>
                        <form-step type="'checkbox'" label="'Village dress'" response-value="$ctrl.questions[118].response.value">
                        </form-step>
                        <br>
                    </div>
                    <div class="col-md-2">
                        <div class="text-center">Appearance </div>
                        <hr/>
                        <form-step type="'checkbox'" label="'Indian looking'" response-value="$ctrl.questions[119].response.value">
                        </form-step>
                        <form-step type="'checkbox'" label="'Typical village look'" response-value="$ctrl.questions[120].response.value">
                        </form-step>
                        <form-step type="'checkbox'" label="'Looked like agent'" response-value="$ctrl.questions[121].response.value">
                        </form-step>
                        <form-step type="'checkbox'" label="'Caste difference'" response-value="$ctrl.questions[122].response.value">
                        </form-step>
                        <form-step type="'checkbox'" label="'Young looking'" response-value="$ctrl.questions[123].response.value">
                        </form-step>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">Action </div>
                        <hr/>
                        <div class="col-md-6">
                            <form-step type="'checkbox'" label="'Waiting / sitting'" response-value="$ctrl.questions[124].response.value">
                            </form-step>
                            <form-step type="'checkbox'" label="'On a train'" response-value="$ctrl.questions[125].response.value">
                            </form-step>
                            <form-step type="'checkbox'" label="'Roaming around'" response-value="$ctrl.questions[126].response.value">
                            </form-step>
                            <form-step type="'checkbox'" label="'Exiting vehicle'" response-value="$ctrl.questions[127].response.value">
                            </form-step>
                            <form-step type="'checkbox'" label="'Heading to vehicle'" response-value="$ctrl.questions[128].response.value">
                            </form-step>
                        </div>
                        <div class="col-md-6">
                            <form-step type="'checkbox'" label="'In a vehicle'" response-value="$ctrl.questions[129].response.value">
                            </form-step>
                            <form-step type="'checkbox'" label="'In a rickshaw'" response-value="$ctrl.questions[130].response.value">
                            </form-step>
                            <form-step type="'checkbox'" label="'In a cart'" response-value="$ctrl.questions[131].response.value">
                            </form-step>
                            <form-step type="'checkbox'" label="'Carrying a baby'" response-value="$ctrl.questions[132].response.value">
                            </form-step>
                            <form-step type="'checkbox'" label="'On the phone'" response-value="$ctrl.questions[133].response.value">
                            </form-step>
                        </div>
                    </div>
                </div>
                <div class="row center-vertical">
                    <div class="col-md-6">
                        <div class="padding-top-30"></div>
                        <form-step type="'otherCheckbox'" label="'Other Sign'" response-value="$ctrl.questions[134].response.value">
                        </form-step>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>