<div id="legal-case-suspect-modal" class="modal-content">
    <form name="LegalCaseSuspectModal" ng-disabled="SuspectModalController.isViewing === 'true'">
        <div class="modal-body">
        	<div class="row">
        		<div class="col-md-2 form-group">
        		</div>
	            <div class="col-md-8 form-group text-center">
					<select class="modalTitle" ng-model="SuspectModalController.questions.lcSuspectSuspect.response.value"
							ng-if="SuspectModalController.questions.lcSuspectSuspect.response.value===null"
							ng-change="SuspectModalController.setSuspect()">
						<option value="{{ sf.id }}" ng-repeat="sf in SuspectModalController.filteredSfs">{{ sf.merged_person.full_name }}</option>
					</select>
					<p class="modalTitle" ng-if="SuspectModalController.questions.lcSuspectSuspect.response.value!==null">
						{{ SuspectModalController.getSf(SuspectModalController.questions.lcSuspectSuspect.response.value).merged_person.full_name }}
					</p>
		        </div>
		        <div class="col-md-2 form-group">
		    		<strong>SF&nbsp;</strong><a ng-href="{{ SuspectModalController.sfUrl() }}">{{ SuspectModalController.getSf(SuspectModalController.questions.lcSuspectSuspect.response.value).sf_number }}</a>
		    	</div>
            </div>
            <hr>
            <div ng-if="SuspectModalController.questions.lcSuspectSuspect.response.value">
	            <div class="row center-vertical">
	            	<div class="col-md-1 form-group">
	            		<label>Arrested</label>
		            </div>
		            <div class="col-md-1 form-group">
				        <select ng-model="SuspectModalController.questions.lcSuspectArrested.response.value" ng-disabled="SuspectModalController.dateData.questions.lcSuspectArrestSubmittedDate.value">
				        	<option value=""></option>
		                	<option value="Yes">Yes</option>
		                	<option value="No">No</option>
		                </select>
			        </div>
		            <div class="col-md-5">
			            <div class="col-md-5 form-group">
		            		<label>Arrest Status</label>
			            </div>
			            <div class="col-md-7 form-group">
					        <select ng-model="SuspectModalController.questions.lcSuspectArrestStatus.response.value" ng-disabled="SuspectModalController.dateData.questions.lcSuspectArrestSubmittedDate.value">
					        	<option value=""></option>
			                	<option value="Has Been Released">Has Been Released</option>
			                	<option value="Released on Bail">Released on Bail</option>
			                	<option value="In Prison">In Prison</option>
			                	<option value="In Police Custody">In Police Custody</option>
			                </select>
				        </div>
			        </div>
			        <div class="col-md-3 form-group">
	            		<label>Named in charge sheet?</label>
		            </div>
		            <div class="col-md-2 form-group">
				        <select ng-model="SuspectModalController.questions.lcSuspectNamedOnChargeSheet.response.value" ng-disabled="SuspectModalController.dateData.questions.lcSuspectArrestSubmittedDate.value">
					        <option value="No">No</option>
		                	<option value="Yes">Yes</option>
		                </select>
			        </div>
	        	</div>
	        	<div class="row center-vertical" ng-if="SuspectModalController.questions.lcSuspectArrested.response.value==='Yes'">
	            	<div class="col-md-2 form-group">
	            		<label>Arrest Date</label>
		            </div>
		            <div class="col-md-4 form-group">
				        <input type="date" min="0" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="SuspectModalController.dateData.questions.lcSuspectArrestDate.value"
				        		ng-disabled="SuspectModalController.dateData.questions.lcSuspectArrestSubmittedDate.value">
			        </div>
			        <div class="col-md-2 form-group" ng-show="SuspectModalController.dateData.questions.lcSuspectArrestSubmittedDate.value">
	            		<label>Submitted</label>
		            </div>
		            <div class="col-md-4 form-group" ng-show="SuspectModalController.dateData.questions.lcSuspectArrestSubmittedDate.value">
				        <input type="date" min="0" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="SuspectModalController.dateData.questions.lcSuspectArrestSubmittedDate.value" disabled>
			        </div>
	        	</div>
	        	 <div class="row" ng-if="SuspectModalController.courtCaseCount > 1">
			    	<div class="col-md-3 form-group">
	            		<label>Court Cases</label>
		            </div>
	            	<span class="checkbox-text col-md-2" ng-if="!$last" ng-repeat="courtCase in SuspectModalController.checkboxGroup.questions.lcSuspectCourtCases">
			            <input type="checkbox"
			            	ng-model="SuspectModalController.checkboxGroup.questions.lcSuspectCourtCases[$index+1]"
			            	id="{{'court' + $index}}"
			            	ng-change="SuspectModalController.caseChange($index)">
		            	<label for="{{'court' + $index}}">{{$index+1}}</label>
		            </span>
			    </div>
			    <div class="row" ng-repeat="courtCase in SuspectModalController.courtCases" ng-if="courtCase.charges.length > 0">
			    	<hr class="hr-main">
			    	<span>
			    		<form-step class="sequenceNumber">{{ SuspectModalController.displayNumber(courtCase) }}</form-step>
			    		<label>Charged:</label>
			    		<span ng-repeat="suspectCharge in courtCase.charges">
			    			&nbsp;
			    			<input type="checkbox"
				            	ng-model="suspectCharge.questions.lcSuspectChargeWasCharged.response.value"
				            	id="{{suspectCharge.questions.lcSuspectChargeWasCharged.response.value + $index}}"
				            	ng-change="SuspectModalController.caseChargeChange(suspectCharge)">
			            	<label for="{{suspectCharge.questions.lcSuspectChargeWasCharged.response.value + $index}}">{{suspectCharge.questions.lcSuspectChargeCharge.response.value}}</label>
			    		</span>
			    	</span>
			    	<span>
	    				<div class=col-md-11>
				    		<div class="row col-md-12" form-group" style="display:inline-block" ng-repeat="suspectCharge in courtCase.charges"
				    			ng-if="suspectCharge.questions.lcSuspectChargeWasCharged.response.value">
					    		<h4>Charge: {{ suspectCharge.questions.lcSuspectChargeCharge.response.value }}</h4>
					    		<div class="row col-md-12">
					    			<div class="col-md-2">
					    				<label>Verdict</label>
					    			</div>
					    			<div class="col-md-4">
					    				<select ng-model="suspectCharge.questions.lcSuspectChargeVerdict.response.value" ng-disabled="suspectCharge.dateData.questions.lcSuspectChargeVerdictSubmittedDate.value">
								        	<option value=""></option>
									        <option value="Conviction">Conviction</option>
						                	<option value="Acquittal">Acquittal</option>
						                </select>
					    			</div>
					    			<div class="col-md-4" ng-if="suspectCharge.questions.lcSuspectChargeVerdict.response.value==='Conviction'||suspectCharge.questions.lcSuspectChargeVerdict.response.value==='Acquittal'">
					    				<label>Sentence mentioned in attached verdict</label>
					    			</div>
					    			<div class="col-md-2" ng-if="suspectCharge.questions.lcSuspectChargeVerdict.response.value==='Conviction'||suspectCharge.questions.lcSuspectChargeVerdict.response.value==='Acquittal'">
					    				<select ng-model="suspectCharge.questions.lcSuspectChargeSentenceAttached.response.value">
								        	<option value=""></option>
									        <option value="Yes">Yes</option>
						                	<option value="No">No</option>
						                </select>
					    			</div>
					    		</div>
					    		<div class="row col-md-12" ng-if="suspectCharge.questions.lcSuspectChargeVerdict.response.value==='Conviction'||suspectCharge.questions.lcSuspectChargeVerdict.response.value==='Acquittal'">
					    			<div class="col-md-2">
					    				<label>Verdict Date</label>
					    			</div>
					    			<div class="col-md-4">
					    				<input type="date" min="0" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="suspectCharge.dateData.questions.lcSuspectChargeVerdictDate.value"
				        					ng-disabled="suspectCharge.dateData.questions.lcSuspectChargeVerdictSubmittedDate.value">
					    			</div>
					    			<div class="col-md-3" ng-if="suspectCharge.dateData.questions.lcSuspectChargeVerdictSubmittedDate.value">
					    				<label>Submitted</label>
					    			</div>
					    			<div class="col-md-3" ng-if="suspectCharge.dateData.questions.lcSuspectChargeVerdictSubmittedDate.value">
					    				<input type="date" min="0" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="suspectCharge.dateData.questions.lcSuspectChargeVerdictSubmittedDate.value"
				        					disabled>
					    			</div>
					    		</div>
					    		<div class="row col-md-12" ng-if="suspectCharge.questions.lcSuspectChargeVerdict.response.value==='Conviction'">
					    			<hr class="hr-imprison">
					    			<div class="col-md-4">
					    				<label>Imprisonment Length</label>
					    			</div>
					    			<div class="col-md-8">
					    				<span>
					    					<input type="number" min="0" class="col-md-2" ng-model="suspectCharge.questions.lcSuspectChargeImprisonmentYears.response.value"
					    							ng-disabled="suspectCharge.dateData.questions.lcSuspectChargeVerdictSubmittedDate.value">
					    					<label class="col-md-2">Years</label>
					    					<input type="number" min="0" class="col-md-2" ng-model="suspectCharge.questions.lcSuspectChargeImprisonmentDays.response.value"
					    							ng-disabled="suspectCharge.dateData.questions.lcSuspectChargeVerdictSubmittedDate.value">
					    					<label class="col-md-1">Days</label> 
				        				</span>
					    			</div>
					    		</div>
					    		<div class="row col-md-12" ng-if="suspectCharge.questions.lcSuspectChargeVerdict.response.value==='Conviction'">
					    			<div class="col-md-4">
					    				<label>Fine Amount</label>
					    			</div>
					    			<div class="col-md-2">
					    				<input type="text" class="form-control" ng-model="suspectCharge.questions.lcSuspectChargeFineAmount.response.value"
					    						ng-disabled="suspectCharge.dateData.questions.lcSuspectChargeVerdictSubmittedDate.value">
					    			</div>
					    			<div class="col-md-4">
					    				<label>Fine Currency</label>
					    			</div>
					    			<div class="col-md-2">
					    				<input type="text" ng-model="suspectCharge.questions.lcSuspectChargeFineCurrency.response.value"
					    						ng-disabled="suspectCharge.dateData.questions.lcSuspectChargeVerdictSubmittedDate.value">
					    			</div>
					    		</div>
								<hr class="hr-charge" ng-if="!$last">
					    	</div>
				    	</div>
			    	</span>
	
			    </div>
	        	
	        	<open-master-person person-id="SuspectModalController.getSf(SuspectModalController.questions.lcSuspectSuspect.response.value).merged_person.id">
        	</div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-success float-left" ng-click="SuspectModalController.save()" ng-disabled="!SuspectModalController.questions.lcSuspectSuspect.response.value" ng-if="!SuspectModalController.isViewing">Save</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-danger" ng-click="SuspectModalController.delete()" 
                    		ng-if="!SuspectModalController.isAdd && !SuspectModalController.isViewing && (!SuspectModalController.questions.lcSuspectArrestStatus.response.value || SuspectModalController.questions.lcSuspectArrestStatus.response.value.substring(0,3)!=='Yes')">Delete</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default" ng-click="SuspectModalController.dismiss()">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>