<div>
  <div class="row well well-sm"
       ng-repeat="persons in personCtrl.people">
    <h1>{{persons.name}}</h1>
    <hr/>
    <div ng-repeat="person in persons.data"
         ng-mouseenter="person.hover = true"
         ng-mouseleave="person.hover = false; person.removeConfirmed = false">
      <div class="row">
          <div class="col-sm-6 form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" placeholder="First Name"
                   ng-attr-id="{{persons.name[0] + '-firstName-' + $index}}"
                   ng-model="person.first_name">
          </div>
          <div class="col-sm-6 form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name"
                   ng-attr-id="{{persons.name[0] + '-lastName-' + $index}}"
                   ng-model="person.last_name">
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6 form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" placeholder="Email Address"
                   ng-attr-id="{{persons.name[0] + '-email-' + $index}}"
                   ng-model="person.email">
          </div>
          <div class="col-sm-6 form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" placeholder="Phone Number"
                   ng-attr-id="{{persons.name[0] + '-phone-' + $index}}"
                   ng-model="person.phone">
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6 form-group">
            <label for="position">Position</label>
            <input type="text" class="form-control" placeholder="Position"
                   ng-attr-id="{{persons.name[0] + '-position-' + $index}}"
                   ng-model="person.position">
          </div>
          <div class="col-sm-6 checkbox">
            <label>
              <input type="checkbox"
                     ng-attr-id="{{persons.name[0] + '-receivesMoneyDistributionForm-' + $index}}"
                     ng-model="person.receives_money_distribution_form"> Recieves Money Distribution Form
            </label>
          </div>
      </div>
      <button class="btn btn-xs btn-danger pull-left hidden-xs animated"
              ng-click="personCtrl.removePerson(persons, person)"
              ng-class="{fadeIn: person.hover && !person.removeConfirmed, fadeOut: !person.hover, pulse: person.removeConfirmed}">
        {{ person.removeConfirmed ? "Are you sure?" : "Remove " + person.first_name }}
      </button>
      <button class="btn btn-xs btn-danger col-xs-12 visible-xs animated"
              ng-click="personCtrl.removePerson(persons, person)"
              ng-class="{fadeIn: person.hover && !person.removeConfirmed, fadeOut: !person.hover, pulse: person.removeConfirmed}">
        {{ person.removeConfirmed ? "Are you sure?" : "Remove " + person.first_name }}
      </button>
      <br/>
      <br ng-if="$last"/>
      <hr ng-if="!$last && persons.data.length > 1"/>
    </div>
    <h4 class="col-xs-12 text-center"
        ng-if="persons.data.length == 0">No {{persons.name}}</h4>
    <button class="btn btn-sm btn-success col-xs-12 col-sm-offset-4 col-sm-4"
            ng-click="personCtrl.addPerson(persons)">Add {{persons.name}}</button>
  </div>
</div>