<h1 class="text-center">All Address 2 Entries</h1>
<br/>

<div class="container" ng-cloak>
    <div class="row">
        <div class="col-md-2">
            <select ng-model="vm.paginateBy" ng-options="o for o in [25,50,75,500]" ng-change="vm.getAddresses()" class="form-control">
            </select>
        </div>
        <div class="col-md-3">
            <p style="margin-top: 5px;">Results per page</p>
        </div>
        <div class="search-bar pull-right">
            <form ng-submit="vm.searchAddresses()">
                  <label>
                      <input type="search" placeholder="by Address 2 name..." ng-model="vm.searchValue" class="form-control">
                  </label>
                  <a class="btn btn-primary" ng-click="vm.searchAddresses()">Search</a>
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-click="vm.sortColumn = 'name'; vm.reverse = ! vm.reverse; vm.getAddresses()" class="text-center" id="addressNameHeader">
                    Name <i class="glyphicon" ng-class="vm.sortIcon('name')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'latitude'; vm.reverse = ! vm.reverse; vm.getAddresses()" class="text-center">
                    Latitude <i class="glyphicon" ng-class="vm.sortIcon('latitude')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'longitude'; vm.reverse = ! vm.reverse; vm.getAddresses()" class="text-center">
                    Longitude <i class="glyphicon" ng-class="vm.sortIcon('longitude')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'district.name'; vm.reverse = ! vm.reverse; vm.getAddresses()" class="text-center">
                    Address 1 <i class="glyphicon" ng-class="vm.sortIcon('district.name')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'cannonical_name.name'; vm.reverse = ! vm.reverse; vm.getAddresses()" class="text-center">
                    Canonical Name <i class="glyphicon" ng-class="vm.sortIcon('cannonical_name.name')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'verified'; vm.reverse = ! vm.reverse; vm.getAddresses()" class="text-center">
                    Verified <i class="glyphicon" ng-class="vm.sortIcon('verified')"></i>
                </th>
                <th class="text-center">&nbsp;</th>
            </tr>
        </thead>
        <tbody ng-init="vm.sortColumn = 'name'">
            <tr ng-repeat="address in vm.addresses | orderBy:vm.sortColumn:vm.reverse">

                <td class="text-center address-name">{{ address.name }}</td>
                <td class="text-center">{{ address.latitude }}</td>
                <td class="text-center">{{ address.longitude }}</td>
                <td class="text-center">{{ address.district.name }}</td>
                <td class="text-center">{{ address.cannonical_name.name }}</td>
                <td class="text-center">{{ address.verified ? "Yes" : "No" }}
                </td>
                <td>
                    <a href="#" ng-click="vm.editAddress2(address)" class="btn btn-warning edit">Edit</a>
                </td>
            </tr>
            <tr ng-show="vm.addresses.length == 0">
                <td colspan="12" style="text-align:center;"><h2>Nothing Matched your search for: "{{ vm.searchValue }}"</h2></td>
            </tr>
        </tbody>
    </table>
    <div class="row text-center">
        <button ng-disabled="!vm.nextPageUrl" ng-click="vm.loadMoreAddresses()" class="btn btn-primary" style="margin-bottom:25px; width:90%;">Load more results</button>
    </div>

    <!-- Loading animation container -->
    <div ng-show="vm.loading" class="loader-container">
        <div class="loader">Loading...</div>
    </div>
</div>