<div class="modal-header">
    <h3 class="modal-title">Delete Address 1</h3>
</div>
<div class="modal-body">
  <div class="col-lg-12" ng-repeat="item in delCtrl.related_items" ng-if="!delCtrl.canDelete && item.ids.length > 0">
      <p>{{ item.type }}</p>
      <div ng-repeat="id in item.ids">
          <a ng-click="delCtrl.getUisrefForIdAndType(id, item.type)">{{ id }}</a>
      </div>
  </div>


</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="delCtrl.delete()">Delete</button>
    <button class="btn btn-primary" type="button" ng-click="delCtrl.cancel()">Cancel</button>
</div>
