<div>
    <div ng-switch="$ctrl.type">
        
        <span ng-switch-when="radio">
            <input id="{{$ctrl.radioName + '-' + $ctrl.label}}" type="radio" ng-value="$ctrl.label" name="{{$ctrl.radioName}}" ng-model="$ctrl.responseValue"
                ng-class="$ctrl.inputClass" ng-click="$ctrl.clickRadio($ctrl.label)">
            <span class="margin-left-10 flag-container" ng-if="$ctrl.redFlag">
                <img ng-src="assets/images/cropped_flag.png" alt="flag-container" ng-if="!$ctrl.blueFlag">
                <img ng-src="assets/images/cropped_flag_blue.png" alt="flag-container" ng-if="$ctrl.blueFlag">
                <span ng-bind="$ctrl.redFlag"></span>
            </span>
            <label for="{{$ctrl.radioName + '-' + $ctrl.label}}" ng-click="$ctrl.clickRadioLabel($event)">
                {{$ctrl.label}}
            </label>
        </span>
        <span ng-switch-when="otherRadio">
            <input id="{{$ctrl.radioName + '-' + $ctrl.label}}" type="radio" value="Other" name="{{$ctrl.radioName}}" ng-model="$ctrl.responseValue"
                ng-class="$ctrl.inputClass">
            <span class="margin-left-10 flag-container" ng-if="$ctrl.redFlag">
                <img ng-src="assets/images/cropped_flag.png" alt="flag-container" ng-if="!$ctrl.blueFlag">
                <img ng-src="assets/images/cropped_flag_blue.png" alt="flag-container" ng-if="$ctrl.blueFlag">
                <span ng-bind="$ctrl.redFlag"></span>
            </span>
            <label for="{{$ctrl.radioName + '-' + $ctrl.label}}">{{$ctrl.label}}</label>
            <input ng-model="$ctrl.otherValue" ng-class="$ctrl.inputClass" ng-change="$ctrl.changeRadioOther()">
        </span>
        <span ng-switch-when="checkbox">
        	<span class="checkbox-text">
	            <input type="checkbox" ng-model="$ctrl.responseValue" ng-class="$ctrl.inputClass" id="{{$ctrl.uniqueId}}">
	            <span class="margin-left-10 flag-container" ng-if="$ctrl.redFlag">
	                <img ng-src="assets/images/cropped_flag.png" alt="flag-container" ng-if="!$ctrl.blueFlag">
	                <img ng-src="assets/images/cropped_flag_blue.png" alt="flag-container" ng-if="$ctrl.blueFlag">
	                <span ng-bind="$ctrl.redFlag"></span>
	            </span>
	            <label for="{{$ctrl.uniqueId}}">{{$ctrl.label}}</label>
	            </span>
        </span>
        <span ng-switch-when="text">
            <label>{{$ctrl.label}}</label>
            <input type="text" ng-model="$ctrl.responseValue" ng-class="$ctrl.inputClass">
        </span>
        <span ng-switch-when="textarea">
            <label>{{$ctrl.label}}</label>
            <textarea class="form-control" rows="3" ng-model="$ctrl.responseValue" ng-class="$ctrl.inputClass"></textarea>
        </span>
        <span ng-switch-when="number">
            <label>{{$ctrl.label}}</label>
            <input type="number" min="0" ng-model="$ctrl.responseValue" ng-class="$ctrl.inputClass">
        </span>
        <span ng-switch-when="otherCheckbox">
            <input type="checkbox" ng-model="$ctrl.otherValue" ng-class="$ctrl.inputClass" ng-checked="$ctrl.responseValue != '' && $ctrl.responseValue != null" ng-click="$ctrl.updateCheckboxOther($event)" id="{{$ctrl.uniqueId}}">
            <span class="margin-left-10 flag-container" ng-if="$ctrl.redFlag">
                <img ng-src="assets/images/cropped_flag.png" alt="flag-container" ng-if="!$ctrl.blueFlag">
                <img ng-src="assets/images/cropped_flag_blue.png" alt="flag-container" ng-if="$ctrl.blueFlag">
                <span ng-bind="$ctrl.redFlag"></span>
            </span>
            <label for="{{$ctrl.uniqueId}}">{{$ctrl.label}}</label>
            <input type="text" ng-model="$ctrl.responseValue" ng-class="$ctrl.inputClass">
        </span>
        <span class="margin-right-10" style="color: #00aa00" ng-bind="$ctrl.stepLabel" ng-if="$ctrl.stepLabel"></span>
        <span ng-transclude></span>
        
    </div>
</div>
