<div id="legal-case-common" class="container-fluid padding-top-20">
    <div class="sticky">
        <div class="padding-bottom-40">
            <h1 class="form-number-header float-left padding-left-40">
                {{$ctrl.station_name}} - {{$ctrl.questions.lcNumber.response.value}}
            </h1>
            <h1 class="form-number-header float-right padding-right-40">
            	{{$ctrl.questions.lcStatus.response.value}}
            </h1>
        </div>
        <div class="btn-group btn-group-justified padding-bottom-10 padding-horizontal-40" role="group">
        	<a ng-repeat="stepTemplate in $ctrl.stepTemplates"
        		class="btn btn-default"
        		ng-class="{active: $ctrl.selectedStep == $index}" 
        		ng-click="$ctrl.selectedStep = $index;">{{stepTemplate.name}}</a>
        </div>
        <related-forms related-forms="$ctrl.relatedForms" current-form-type="LEGAL_CASE" exclude-form-number="$ctrl.questions[998].response.value"></related-forms>
        <hr class="margin-bottom-0 margin-top-0" />
    </div>
    <div id="legal-case-common-content">
        <div ng-repeat="template in $ctrl.stepTemplates" ng-include="template.template" ng-hide="$ctrl.selectedStep != $index"></div>
    </div>
    <div class="alert alert-warning" ng-repeat="warnings in $ctrl.getWarningMessages()">
        <strong>Warning! {{warnings}}</strong>
    </div>
    <div class="alert alert-danger" ng-repeat="errors in $ctrl.getErrorMessages()">
        <strong>Error! {{errors}}</strong>
    </div>
    <div class="container-fluid padding-bottom-20">
        <div class="col-xs-6 text-right">
            <input id="ignore" type="checkbox" ng-if="$ctrl.showIgnoreWarningsCheckbox() && $ctrl.stateParams.isViewing !== 'true'" ng-model="$ctrl.ignoreWarnings">
            <label for="ignore" ng-if="$ctrl.showIgnoreWarningsCheckbox() && $ctrl.stateParams.isViewing !== 'true'">Ignore warnings</label>
            <button class="btn btn-success margin-left-20" ng-click="$ctrl.submit()" ng-disabled="$ctrl.stateParams.isViewing === 'true'">Submit</button>
        </div>
    </div>
</div>
