#legal-case-common,#legal-case-suspect-modal,#legal-case-victim-modal,#legal-case-verification-modal {
    .sticky {
        background-color: white;
        z-index: 1;
        position: fixed;
        top: 50px;
    }
    #legal-case-common-content {
        padding-top: 160px;
    }
    .sequenceNumber {
    	float:left;
    	margin-left:20px;
    	font-size:200%;
    }
    .chargesHolder {
    	text-indent: -50px;
    }
    .nopadding {
	   padding: 0;
	   margin: 0;
	}
	
	.hr-main {
		border:1px solid black;
	};
	.hr-charge {
		width:100%;
	};
	.hr-imprison {
		width:100%;
		margin-left:20px;
	};
	.modalTitle {
		font-size:200%;
	};
}
#relatedFormsScroll {
	overflow-x: scroll; 
    overflow-y:hidden;
    white-space:nowrap;
    width:500px;
}