<div class="container">
  <h1 class="text-center">All Budget Calculations</h1>
  <br/>

  <table ng-if="budgetListCtrl.listOfBudgets.length > 0" class="table table-striped table-condensed crud-datatable">
    <thead>
      <tr>
        <th class="text-center">Station</th>
        <th class="text-center">Station Code</th>
        <th class="text-center">Budget For</th>
        <th class="text-center">Date Entered</th>
        <th class="text-center">Last Updated</th>
        <th class="text-center">&nbsp;</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr ng-repeat="form in budgetListCtrl.listOfBudgets"
          ng-mouseenter="form.hover = true"
          ng-mouseleave="form.hover = false; form.budgetRemoved = false">
        <td>{{ form.border_station.station_name }}</td>
        <td>{{ form.border_station.station_code }}</td>
        <td>{{ form.month_year | date:'MMMM, yyyy'}}</td>
        <td>{{ form.date_time_entered | date:"MMM, dd yyyy 'at' h:mm a" }}</td>
        <td>{{ form.date_time_last_updated | date:"MMM, dd yyyy 'at' h:mm a"}}</td>
        <td>
          <a ui-sref="budget({id:form.id})" class="btn btn-sm btn-primary">View</a>
          <a ui-sref="budget({id:form.id})" class="btn btn-sm btn-primary">Edit</a>
          <a ui-sref=""></a>
          <a href="{% url 'money_distribution_view' form.id %}" class="btn btn-sm btn-primary">Resend MDF</a>
          <!--{#                        {% if request.user.is_superuser %}#}
{#                        {% include "delete_modal_forms.html" with form=form url_string="budget_delete"%}#}-->
          <button class="btn btn-sm btn-danger animated"
                  ng-click="budgetListCtrl.removeBudget(budgetListCtrl.listOfBudgets, form)"
                  ng-class="{fadeIn: form.hover && !form.budgetRemoved, fadeOut: !form.hover, pulse: form.budgetRemoved}">
            {{ form.budgetRemoved ? "Are you sure?" : "Remove Budget" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>


  <div ng-if="budgetListCtrl.listOfBudgets.length == 0" class="row text-center">
    <h3>There are no saved Budget Sheets in the system</h3>
    <h4>To add one, go to the detail page of a border station, and click the New Budget Calculation Form</h4>
  </div>

</div>