
    <h1 class="text-center">All Budget Calculations</h1>
    {% if borderstationbudgetcalculation_list %}
    <br/>

    <table class="table table-striped table-condensed crud-datatable">
        <thead>
            <tr>
                <th class="text-center">Station</th>
                <th class="text-center">Station Code</th>
                <th class="text-center">Budget For</th>
                <th class="text-center">Date Entered</th>
                <th class="text-center">Last Updated</th>
                <th class="text-center">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for form in borderstationbudgetcalculation_list %}
            <!--<div ng-repeat="form in "></div>-->
                <tr>
                    <td>{{ form.border_station.station_name }}</td>
                    <td>{{ form.border_station.station_code }}</td>
                    <td>{{ form.month_year|date:"F Y" }}</td>
                    <td>{{ form.date_time_entered }}</td>
                    <td>{{ form.date_time_last_updated }}</td>
                    <td>
                        <a href="{% url "budget_view_api" form.id %}" class="btn btn-sm btn-primary">View</a>
                        <a href="{% url "budget_update_api" form.id %}" class="btn btn-sm btn-primary">Edit</a>
                        <a href="{% url 'money_distribution_view' form.id %}" class="btn btn-sm btn-primary">Resend MDF</a>
                    {% if request.user.is_superuser %}
                        {% include "delete_modal_forms.html" with form=form url_string="budget_delete"%}
                        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-{{ form.pk }}">Delete</button>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if none_in_system %}
        <br><br><br><br><br><br><br><br>
        <div class="row text-center">
            <h3>There are no saved Budget Sheets in the system</h3>
            <h4>To add one, go to the detail page of a border station, and click the New Budget Calculation Form</h4>
        </div>
    {% endif %}

    {% endblock %}
{% endblock %}
