<div class="container">
  <h1 class="text-center">All Budget Calculations</h1>
  <br/>
  <form>
    <div class="row">
			<div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Search Forms" ng-model="budgetListCtrl.searchTerm" ng-model-options="{ debounce: 500 }" ng-change="budgetListCtrl.getBudgetList(budgetListCtrl.searchTerm, '')">
			</div>
			<div class="col-sm-6">
        <div class="row">
          <div class="col-sm-9">
            <createbudget></createbudget>
          </div>
          <div class="col-sm-3">
            <mdfexport></mdfexport>
          </div>
        </div>
			</div>
		</div>

  </form>
  <table ng-if="budgetListCtrl.listOfBudgets.length > 0" class="table table-striped table-condensed crud-datatable"
         infinite-scroll="budgetListCtrl.getNextBudgetPage()" infinite-scroll-distance="3"
         float-thead="budgetListCtrl.stickyOptions">
    <thead class="sticky-table-header">
      <tr>
        <th class="text-center" ng-click="budgetListCtrl.getBudgetList('','border_station__station_name');">Station
          <i class="glyphicon" ng-show="budgetListCtrl.sortValue === 'border_station__station_name' || budgetListCtrl.sortValue === '-border_station__station_name'" ng-class="{'glyphicon-sort-by-attributes-alt': budgetListCtrl.sortValue === '-border_station__station_name', 'glyphicon-sort-by-attributes': budgetListCtrl.sortValue === 'border_station__station_name'}">
        </i>
        </th>
        <th class="text-center" ng-click="budgetListCtrl.getBudgetList('','border_station__station_code');">Station Code
          <i class="glyphicon" ng-show="budgetListCtrl.sortValue === 'border_station__station_code' || budgetListCtrl.sortValue === '-border_station__station_code'" ng-class="{'glyphicon-sort-by-attributes-alt': budgetListCtrl.sortValue === '-border_station__station_code', 'glyphicon-sort-by-attributes': budgetListCtrl.sortValue === 'border_station__station_code'}">
        </i>
        </th>
        <th class="text-center" ng-click="budgetListCtrl.getBudgetList('','month_year');">Budget For
          <i class="glyphicon" ng-show="budgetListCtrl.sortValue === 'month_year' || budgetListCtrl.sortValue === '-month_year'" ng-class="{'glyphicon-sort-by-attributes-alt': budgetListCtrl.sortValue === '-month_year', 'glyphicon-sort-by-attributes': budgetListCtrl.sortValue === 'month_year'}">
        </i>
        </th>
        <th class="text-center" ng-click="budgetListCtrl.getBudgetList('','date_time_entered');">Date Entered
          <i class="glyphicon" ng-show="budgetListCtrl.sortValue === 'date_time_entered' || budgetListCtrl.sortValue === '-date_time_entered'" ng-class="{'glyphicon-sort-by-attributes-alt': budgetListCtrl.sortValue === '-date_time_entered', 'glyphicon-sort-by-attributes': budgetListCtrl.sortValue === 'date_time_entered'}">
        </i>
        </th>
        <th class="text-center" ng-click="budgetListCtrl.getBudgetList('','date_time_last_updated');">Last Updated
          <i class="glyphicon" ng-show="budgetListCtrl.sortValue === 'date_time_last_updated' || budgetListCtrl.sortValue === '-date_time_last_updated'" ng-class="{'glyphicon-sort-by-attributes-alt': budgetListCtrl.sortValue === '-date_time_last_updated', 'glyphicon-sort-by-attributes': budgetListCtrl.sortValue === 'date_time_last_updated'}">
        </i>
        </th>
        <th class="text-center" width="25%">&nbsp;</th>
      </tr>
    </thead>
    <tbody class="text-center" ng-init="sortType = 'month_year'">
      <tr ng-repeat="form in budgetListCtrl.listOfBudgets" ng-mouseenter="form.hover = true" ng-mouseleave="form.hover = false; form.budgetRemoved = false">
        <td>{{ form.border_station.station_name }}</td>
        <td>{{ form.border_station.station_code }}</td>
        <td>{{ form.month_year | date:'MMMM, y' }}</td>
        <td>{{ form.date_time_entered | date:'MMM d, y hh:mm:ss a' }}</td>
        <td>{{ form.date_time_last_updated | date:'MMM d, y hh:mm:ss a' }}</td>
        <td>
          <a ui-sref="budget({id:form.id, isViewing:true})" class="btn btn-sm btn-primary">View</a>
          <a ui-sref="budget({id:form.id})" class="btn btn-sm btn-primary" ng-if="budgetListCtrl.session.checkPermission('BUDGETS','EDIT',form.border_station.operating_country.id, form.border_station.id)">Edit</a>
          <a ui-sref="mdf({id: form.id})" class="btn btn-sm btn-primary">Send MDF</a>

          <button ng-if="budgetListCtrl.session.checkPermission('BUDGETS','DELETE',form.border_station.operating_country.id, form.border_station.id)" class="btn btn-sm btn-danger animated" ng-click="budgetListCtrl.removeBudget(budgetListCtrl.listOfBudgets, form)"
          ng-class="{fadeIn: form.hover && !form.budgetRemoved, fadeOut: !form.hover, pulse: form.budgetRemoved}">
            {{ form.budgetRemoved ? "Are you sure?" : "Remove Budget" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>


  <div ng-if="budgetListCtrl.listOfBudgets.length == 0" class="row col-xs-12 text-center">
    <h3>No Budget Forms</h3>
    <h4>Go to a Border Station Form to create one.</h4>
  </div>
</div>
