<div id="operationsDashboard" class="container-fluid padding-top-20">
    <div class="row col-md-12 center-vertical padding-bottom-20">
		<div class="col-md-1">
			<label>Country</label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="vm.dashboardCountry" ng-change="vm.dashboardCountrySelect()">
				<option ng-repeat="country in vm.viewCountries" value="{{country.id}}">{{ country.name}} </option>
			</select>
		</div>
		<div class="col-md-2 text-right">
	        <label>Include Closed Projects</label>
	    </div>
	    <div class="col-md-1">
	        <input type="checkbox" ng-model="vm.includeClosed">
    	</div>
	</div>
	<div id="dashboardTable" ng-show="vm.dashboardData">
	 <table class="table table-striped" float-thead="vm.stickyOptions" cellspacing="0" cellpadding="0" cellborder="0" style="border-collapse:collapse;" ng-model="vm.dashboardData">
        <thead class="sticky-table-header">
        	<tr>
        		<th class="boldRightBorder" colspan=4></th>
        		<th class="boldRightBorder" colspan=6>Last 6 Months</th>
        		<th class="boldRightBorder" colspan=11>All Time</th>
        		<th class="rightBorder" colspan=7>Last Month {{ vm.dashboardData.month }}</th>
        	</tr>
            <tr>
            	<th class="rightBorder">
            		<div>Project</div>
            		<div>Name</div>
            	</th>
            	<th class="rightBorder">
            		<div>Project</div>
            		<div>Code</div>
            	</th>
            	<th class="rightBorder">
            		<div>Avg</div>
            		<div>SMR</div>
            	</th>
            	<th class="boldRightBorder" title="Project Compliance">
            		<div>Project</div>
            		<div>Compl</div>
            	</th>
            	
            	<th class="rightBorder" title="Intercepts">Int</th>
            	<th class="rightBorder" title="Arrests">Ast</th>
            	<th class="rightBorder">CIFs</th>
            	<th class="rightBorder" title="Gospel">Gsp</th>
            	<th class="rightBorder" title="$1 per day, $1.90 per day, and $3.20 per day. Our definition of empowerment is if a person crosses two 'lines'. Calculation: monthly salary X 12 / 365">Emp</th>
            	<th class="boldRightBorder">Budget</th>
            	
            	
            	<th class="rightBorder"  title="Intercepts">Int</th>
            	<th class="rightBorder">IRFs</th>
            	<th class="rightBorder"  title="Arrests">Ast</th>
            	<th class="rightBorder" title="Percent of intercepts leading to arrest">
            		<div>%</div>
            		<div>Ast</div>
            	</th>
            	<th class="rightBorder" title="Convictions">Conv</th>
            	<th class="rightBorder" title="Percent of arrests resulting in conviction">
            		<div>%</div>
            		<div>Conv</div>
            	</th>
            	<th class="rightBorder">CIFs</th>
            	<th class="rightBorder" title="Gospel">Gsp</th>
            	<th class="rightBorder">VDFs</th>
            	<th class="rightBorder">EMP</th>
            	<th class="boldRightBorder">Budget</th>

				<th class="rightBorder">Staff</th>
				<th class="rightBorder" title="number of subcommittee members">SC</th>
            	<th class="rightBorder" title="Intercepts">Int</th>
            	<th class="rightBorder" title="Arrests">Ast</th>
            	<th class="rightBorder" title="Gospel">Gsp</th>
            	<th class="rightBorder" title="$1 per day, $1.90 per day, and $3.20 per day. Our definition of empowerment is if a person crosses two 'lines'. Calculation: monthly salary X 12 / 365">Emp</th>
            	<th class="rightBorder">Budget</th>
            </tr>
        </thead>
        <tbody ng-repeat="category in vm.dashboardData.categories">
        	<tr ng-if="category.hideDetail" ng-click="category.hideDetail=false;">
        		<td class="categoryClosed"><i class="fa fa-chevron-right"></i> {{ category.name }}</td>
        		<td class="rightBorder"></td>
        		<td ng-class="vm.getClass('','rightBorder')">{{ category.subtotals.monthly_report.toLocaleString('en-US', vm.digits1Format) }}</td>
        		<td ng-class="vm.getClass('','rightBorder')">{{ category.subtotals.compliance.toLocaleString('en-US', vm.digits1Format) }}</td>

        		<td class="rightBorder">{{ category.subtotals['6month_intercepts'] }}</td>
        		<td class="rightBorder">{{ category.subtotals['6month_arrests'] }}</td>
        		<td class="rightBorder">{{ category.subtotals['6month_cifs'] }}</td>
        		<td class="rightBorder">{{ category.subtotals['6month_gospel'] }}</td>
        		<td class="rightBorder">{{ category.subtotals['6month_empowerment'] }}</td>
        		<td class="boldRightBorder">{{ category.subtotals['6month_budget'].toLocaleString('en-US', vm.moneyFormat) }}</td>
        		
        		
        		<td class="rightBorder">{{ category.subtotals.to_date_intercepts }}</td>
        		<td class="rightBorder">{{ category.subtotals.to_date_irfs }}</td>
        		<td class="rightBorder">{{ category.subtotals.to_date_arrests }}</td>
        		<td class="rightBorder">
        			<div ng-if="category.subtotals.to_date_intercepts > 0">
        				{{ (category.subtotals.to_date_arrests * 100 /category.subtotals.to_date_intercepts).toLocaleString('en-US', vm.digits1Format) }}%
        			</div>
        		</td>
        		<td class="rightBorder">{{ category.subtotals.to_date_conv }}</td>
        		<td class="rightBorder">
        			<div ng-if="category.subtotals.to_date_arrests > 0">
        				{{ (category.subtotals.to_date_conv * 100 /category.subtotals.to_date_arrests).toLocaleString('en-US', vm.digits1Format) }}%
        			</div>
        		</td>
        		<td class="rightBorder">{{ category.subtotals.to_date_cifs }}</td>
        		<td class="rightBorder">{{ category.subtotals.to_date_gospel }}</td>
        		<td class="rightBorder">{{ category.subtotals.to_date_vdfs }}</td>
        		<td class="rightBorder">{{ category.subtotals.to_date_emp }}</td>
        		<td class="boldRightBorder">{{ category.subtotals.to_date_budget.toLocaleString('en-US', vm.moneyFormat) }}</td>
        		
        		<td class="rightBorder">{{ category.subtotals.last_staff_count.toLocaleString('en-US', vm.digits2Format) }}</td>
        		<td class="rightBorder">{{ category.subtotals.last_subcommittee_count}}</td>
        		<td class="rightBorder">{{ category.subtotals.last_intercepts }}</td>
        		<td class="rightBorder">{{ category.subtotals.last_arrests}}</td>
        		<td class="rightBorder">{{ category.subtotals.last_gospel }}</td>
        		<td class="rightBorder">{{ category.subtotals.last_empowerment }}</td>
        		<td class="rightBorder">{{ category.subtotals.last_budget.toLocaleString('en-US', vm.moneyFormat) }}</td>
        	</tr>
        	<tr ng-if="!category.hideDetail" ng-click="category.hideDetail=true;">
        		<td class="categoryOpen" colspan="29"><i class="fa fa-chevron-down"></i> {{ category.name }}</td>
        	</tr>
        	<tr ng-if="!category.hideDetail" ng-repeat="entry in category.entries" ng-show="entry.station_open || vm.includeClosed">
        		<td class="rightBorder">{{ entry.station_name }}</td>
        		<td class="rightBorder">{{ entry.station_code }}</td>
        		<td ng-class="vm.getClass(entry.monthlyReportColor,'rightBorder')">{{ entry.monthly_report }}</td>
        		<td ng-class="vm.getClass(entry.complianceColor,'rightBorder')">{{ entry.compliance }}</td>
        		<td ng-class="vm.getClass(entry.impactColor,'boldRightBorder')">{{ entry.impact.toLocaleString('en-US', vm.digits2Format) }}</td>

        		<td class="rightBorder">{{ entry['6month_intercepts'] }}</td>
        		<td class="rightBorder">{{ entry['6month_arrests'] }}</td>
        		<td class="rightBorder">{{ entry['6month_cifs'] }}</td>
        		<td class="rightBorder">{{ entry['6month_gospel'] }}</td>
        		<td class="rightBorder">{{ entry['6month_empowerment'] }}</td>
        		<td class="boldRightBorder">{{ entry['6month_budget'].toLocaleString('en-US', vm.moneyFormat) }}</td>
        		
        		
        		<td class="rightBorder">{{ entry.to_date_intercepts }}</td>
        		<td class="rightBorder">{{ entry.to_date_irfs }}</td>
        		<td class="rightBorder">{{ entry.to_date_arrests }}</td>
        		<td class="rightBorder">
        			<div ng-if="entry.to_date_intercepts > 0">
        				{{ (entry.to_date_arrests * 100 /entry.to_date_intercepts).toLocaleString('en-US', vm.digits1Format) }}%
        			</div>
        		</td>
        		<td class="rightBorder">{{ entry.to_date_conv }}</td>
        		<td class="rightBorder">
        			<div ng-if="entry.to_date_arrests > 0">
        				{{ (entry.to_date_conv * 100 /entry.to_date_arrests).toLocaleString('en-US', vm.digits1Format) }}%
        			</div>
        		</td>
        		<td class="rightBorder">{{ entry.to_date_cifs }}</td>
        		<td class="rightBorder">{{ entry.to_date_gospel }}</td>
        		<td class="rightBorder">{{ entry.to_date_vdfs }}</td>
        		<td class="rightBorder">{{ entry.to_date_emp }}</td>
        		<td class="boldRightBorder">{{ entry.to_date_budget.toLocaleString('en-US', vm.moneyFormat) }}</td>
        		
        		<td class="rightBorder">{{ entry.last_staff_count.toLocaleString('en-US', vm.digits2Format) }}</td>
        		<td class="rightBorder">{{ entry.last_subcommittee_count}}</td>
        		<td class="rightBorder">{{ entry.last_intercepts }}</td>
        		<td class="rightBorder">{{ entry.last_arrests}}</td>
        		<td class="rightBorder">{{ entry.last_gospel }}</td>
        		<td class="rightBorder">{{ entry.last_empowerment }}</td>
        		<td class="rightBorder">{{ entry.last_budget.toLocaleString('en-US', vm.moneyFormat) }}</td>
        	</tr>
        </tbody>
        <tbody>
        	<tr>
        		<td class="total rightBorder"><b>SL TOTAL</b></td>
        		<td class="total rightBorder">{{ vm.entryCount() }}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals.monthly_report.toLocaleString('en-US', vm.digits1Format)}}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals.compliance.toLocaleString('en-US', vm.digits1Format)}}</td>
        		
        		<td class="total rightBorder">{{vm.dashboardData.totals['6month_intercepts']}}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals['6month_arrests']}}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals['6month_cifs']}}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals['6month_gospel']}}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals['6month_empowerment']}}</td>
        		<td class="total boldRightBorder">{{vm.dashboardData.totals['6month_budget'].toLocaleString('en-US', vm.moneyFormat) }}</td>
        		
        		<td class="total rightBorder">{{vm.dashboardData.totals.to_date_intercepts}}</td>
        		<td class="total rightBorder">{{ vm.dashboardData.totals.to_date_irfs }}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals.to_date_arrests}}</td>
        		<td class="total rightBorder">
        			<div ng-if="vm.dashboardData.totals.to_date_intercepts > 0">
        				{{ (vm.dashboardData.totals.to_date_arrests * 100 /vm.dashboardData.totals.to_date_intercepts).toLocaleString('en-US', vm.digits1Format) }}%
        			</div>
        			<div ng-if="vm.dashboardData.totals.to_date_intercepts <= 0"></div>
        		</td>
        		<td class="total rightBorder">{{ vm.dashboardData.totals.to_date_conv }}</td>
        		<td class="total rightBorder">
        			<div ng-if="vm.dashboardData.totals.to_date_arrests > 0">
        				{{ (vm.dashboardData.totals.to_date_conv * 100 /vm.dashboardData.totals.to_date_arrests).toLocaleString('en-US', vm.digits1Format) }}%
        			</div>
        		</td>
        		<td class="total rightBorder">{{ vm.dashboardData.totals.to_date_cifs }}</td>
        		<td class="total rightBorder">{{ vm.dashboardData.totals.to_date_gospel }}</td>
        		<td class="total rightBorder">{{ vm.dashboardData.totals.to_date_vdfs }}</td>
        		<td class="total rightBorder">{{ vm.dashboardData.totals.to_date_emp }}</td>
        		<td class="total boldRightBorder">{{vm.dashboardData.totals.to_date_budget.toLocaleString('en-US', vm.moneyFormat)}}</td>
        		
        		<td class="total rightBorder">{{vm.dashboardData.totals.last_staff_count.toLocaleString('en-US', vm.digits2Format) }}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals.last_subcommittee_count}}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals.last_intercepts}}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals.last_arrests}}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals.last_gospel}}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals.last_empowerment}}</td>
        		<td class="total rightBorder">{{vm.dashboardData.totals.last_budget.toLocaleString('en-US', vm.moneyFormat)}}</td>
        		
        	</tr>
        	<tr>
        		<td class="total"><b>To Date TOTAL</b></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total boldRightBorder"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total boldRightBorder"></td>
        		<td class="total rightBorder">{{vm.dashboardData.to_date.intercepts}}</td>
        		<td class="total rightBorder"></td>
        		<td class="total rightBorder">{{vm.dashboardData.to_date.arrests}}</td>
        		<td class="total rightBorder">
        			<div ng-if="vm.dashboardData.to_date.intercepts > 0">
        				{{ (vm.dashboardData.to_date.arrests * 100 /vm.dashboardData.to_date.intercepts).toLocaleString('en-US', vm.digits1Format) }}%
        			</div>
        			<div ng-if="vm.dashboardData.to_date.intercepts <= 0"></div>
        		</td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total boldRightBorder"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total"></td>
        		<td class="total rightBorder"></td>
        		
        	</tr>
        </tbody>
     </table>
     </div>
    <div class="alert alert-warning" ng-repeat="warnings in vm.getWarningMessages()">
        <strong>Warning! {{warnings}}</strong>
    </div>
    <div class="alert alert-danger" ng-repeat="errors in vm.getErrorMessages()">
        <strong>Error! {{errors}}</strong>
    </div>
</div>