#operationsDashboard {
	padding-top: 50px;
	.boldRightBorder {
	    border-right: 2px solid black;
	    text-align: center;
	}
	.rightBorder {
		border-right: 1px solid #878787;
		text-align: center;
	}
	.categoryOpen {
		border-right: 1px solid #878787;
		background-color: lightyellow;
	}
	.categoryClosed {
		border-right: 1px solid #878787;
		background-color: lightyellow;
	}
	.topHeader {
		background-color: black;
		color: white;
	}
	.total {
		border-top: 2px solid black;
	}
	
	table {
        border-collapse: separate;
        border: 1px solid black;
        .header {
            font-size: 26px;
            font-weight: 500;
            line-height: 1.1;
        }
        td {
            vertical-align: middle;
            height: 10px;
            padding:1px;
		}
		border-bottom: 1px solid black
    }
    .color1 {
		background-color: green;
	}
	.color2 {
		background-color: #c6ecc6;
	}
	.color3 {
	}
	.color4 {
		background-color: #ffcccc;
	}
	.color5 {
		background-color: red;
	}
	#dashboardTable {
		width: 1600px;
	}
}