#locationData{
	.tableBorder {
		border: 1px solid black;
	}
	.darkBorder {
		border-right: 1px solid black;
	}
	.lightBorder {
		border-right: 1px solid grey;
	}
	.locationName {
		min-width: 200px;
		width: 100px;
		max-width:100px;
	}
	.dataElement {
		min-width:60px;
		width:60px;
		max-width:60px;
		text-align: center;
	}
	.dataGroup {
		text-align: center;
	}
	
	input[type="number"] {
	     width: 100%; 
	     box-sizing: border-box;
	     -webkit-box-sizing:border-box;
	     -moz-box-sizing: border-box;
	}
}