<div id="lf-nepal-association-modal" class="modal-content">
    <form name="associationForm" ng-disabled="AssociationModalController.isViewing === 'true'">
    	<div class="modal-header">
            <button type="button" class="close" ng-click="AssociationModalController.dismiss()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <div class="col-md-2 margin-top-10">
	    		<label>Association#</label>
	    	</div>
			<div class="col-md-3 form-group">
		        <input type="number" min="0" class="form-control" ng-model="AssociationModalController.questions.sfassociationNumber.response.value">
	        </div>
        </div>
        <div class="modal-body">
       		<div class="col-md-1">
    			<label>Source of Intelligence</label>
    		</div>
    		<div class="col-md-8">
	    		<form-step class="col-md-3" type="radio" radio-name="source" label="Intercept"
	    				response-value="AssociationModalController.otherData.questions.lfAssociationSourceType.value"
	    				other-value="AssociationModalController.otherData.questions.lfAssociationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-3" type="radio" radio-name="source" label="Operation"
	    				response-value="AssociationModalController.otherData.questions.lfAssociationSourceType.value"
	    				other-value="AssociationModalController.otherData.questions.lfAssociationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-3" type="radio" radio-name="source" label="Victim"
	    				response-value="AssociationModalController.otherData.questions.lfAssociationSourceType.value"
	    				other-value="AssociationModalController.otherData.questions.lfAssociationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-3" type="radio" radio-name="source" label="Police"
	    				response-value="AssociationModalController.otherData.questions.lfAssociationSourceType.value"
	    				other-value="AssociationModalController.otherData.questions.lfAssociationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-3" type="radio" radio-name="source" label="Trafficker"
	    				response-value="AssociationModalController.otherData.questions.lfAssociationSourceType.value"
	    				other-value="AssociationModalController.otherData.questions.lfAssociationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-3" type="radio" radio-name="source" label="OSI"
	    				response-value="AssociationModalController.otherData.questions.lfAssociationSourceType.value"
	    				other-value="AssociationModalController.otherData.questions.lfAssociationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-6" type="otherRadio" radio-name="source" label="Other"
			            other-value="AssociationModalController.otherData.questions.lfAssociationSourceType.otherValue"
			            response-value="AssociationModalController.otherData.questions.lfAssociationSourceType.value"></form-step>
	    	</div>
	    	<div class="col-md-1 form-group">
	    		<label>Title</label>
	    	</div>
    		<input class="col-md-2" type="text" ng-model="AssociationModalController.questions.lfAssociationSourceTitle.response.value">
    		<div class="row">&nbsp</div>
	    	<div class="row">
	    		<div class="col-md-7 form-group">
	    			<div class="col-md-4">
	    				<label>Interviewer Name</label>
	    			</div>
	    			<div class="col-md-8">
		                <staff-select selected-staff="AssociationModalController.questions.lfAssociationInterviewerName.response.value" station-id="AssociationModalController.parentController.stationId"></staff-select>
		            </div>
	    		</div>
	    		<div class="col-md-5 form-group">
	    			<label>Interview Date</label>
	    			<input type="date"  ng-model-options="{timezone: 'utc'}" ng-model="AssociationModalController.dateData.questions.lfAssociationInterviewDate.value">
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-5 form-group">
	    			<div class="col-md-3">
	    				<label>Location</label>
	    			</div>
	    			<div class="col-md-9">
		                <location-select selected-location="AssociationModalController.questions.lfAssociationLocation.response.value" station-id="AssociationModalController.parentController.stationId"></location-select>
		            </div>
		            
	    		</div>
		    </div>
        	<div class="row">
	            <div class="col-md-3 form-group">
		    		<label>2.1 Person(s) in Charge</label>
		    	</div>
				<div class="col-md-9 form-group">
			        <name-select selected-names="AssociationModalController.questions.lfAssociationPersonsInCharge.response.value"
			        			name-structure="AssociationModalController.parentController.incidentNames"
			        			value-type="suspect"
			        			view-only="AssociationModalController.isViewing"></name-select>
		        </div>
            </div>
            <div class="row">
            	<div class="col-md-5 form-group">
		    		<label>2.2 Names of PVs who have visited this place</label>
		    	</div>
		    	<div class="col-md-7 form-group">
		    		<name-select selected-names="AssociationModalController.questions.lfAssociationPvsVisited.response.value"
			        			name-structure="AssociationModalController.parentController.incidentNames"
			        			value-type="pv"
			        			view-only="AssociationModalController.isViewing"></name-select>
			    </div>
	        </div>
	        <div class="row">
            	<div class="col-md-5 form-group">
		    		<label>2.3 For how long did PV(s) stay at this place?</label>
		    	</div>
		    	<div class="col-md-7">
		    		<form-step type="radio" radio-name="howLong" label="N/A (Not Applicable)"
		    				response-value="AssociationModalController.otherData.questions.lfAssociationPvsStayHowLong.value"
		    				other-value="AssociationModalController.otherData.questions.lfAssociationPvsStayHowLong.otherValue"></form-step>
		    	</div>
		    	<span>
		    		<form-step class="col-md-3" type="otherRadio" radio-name="howLong" label=""
		    				response-value="AssociationModalController.otherData.questions.lfAssociationPvsStayHowLong.value"
		    				other-value="AssociationModalController.otherData.questions.lfAssociationPvsStayHowLong.otherValue"></form-step>
		    		days, starting
		    		<input type="date"  ng-model-options="{timezone: 'utc'}" ng-model="AssociationModalController.dateData.questions.lfAssociationPvsStayStartDate.value">
	    		</span>
	        </div>
	        <div class="col-md-12 row">
            	<div class="col-md-12">
		    		<label>Was there any attempt made to hide the PV's presence at this place?</label>
		    	</div>
		    	<div class="col-md-12">
		    		<form-step class="col-md-2" type="radio" radio-name="attemptHide" label="Yes"
		    				response-value="AssociationModalController.questions.lfAssociationPvHide.response.value"></form-step>
		    		<label class="col-md-2">explain</label>
		    		<textarea class="col-md-7" rows="2" ng-model="AssociationModalController.questions.lfAssociationPvHideExplain.response.value"></textarea>
		    	</div>
		    	<div class="col-md-12">
		    		<form-step class="col-md-2" type="radio" radio-name="attemptHide" label="No"
		    				response-value="AssociationModalController.questions.lfAssociationPvHide.response.value"></form-step>
		    	</div>
	        </div>
	         <div class="col-md-12 row">
            	<div class="col-md-12">
		    		<label>Was the PV free to go out from the place?</label>
		    	</div>
		    	<div class="col-md-12">
		    		<form-step class="col-md-2" type="radio" radio-name="freeToGo" label="No"
		    				response-value="AssociationModalController.questions.lfAssociationPvFreeToGo.response.value"></form-step>
		    		<label class="col-md-2">explain</label>
		    		<textarea class="col-md-7" rows="2" ng-model="AssociationModalController.questions.lfAssociationPvFreeToGoExplain.response.value"></textarea>
		    	</div>
		    	<div class="col-md-12">
		    		<form-step class="col-md-2" type="radio" radio-name="freeToGo" label="Yes"
		    				response-value="AssociationModalController.questions.lfAssociationPvFreeToGo.response.value"></form-step>
		    	</div>
	        </div>
	        <div class="row">
            	<div class="col-md-5 form-group">
		    		<label>2.4 Suspects who are associated with this place?</label>
		    	</div>
		    	<div class="col-md-7 form-group">
		    		<name-select selected-names="AssociationModalController.questions.lfAssociationSuspects.response.value"
			        			name-structure="AssociationModalController.parentController.incidentNames"
			        			value-type="suspect"
			        			view-only="AssociationModalController.isViewing"></name-select>
			    </div>
	        </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-success float-left" ng-click="AssociationModalController.save()" ng-if="!AssociationModalController.isViewing">Save</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-danger" ng-click="AssociationModalController.delete()" ng-if="!AssociationModalController.isAdd && !AssociationModalController.isViewing">Delete</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default" ng-click="AssociationModalController.dismiss()">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
