<html ng-app="DataEntry" ng-cloak>

<title>All VIFs</title>

    <script type="text/javascript">
        window.station_code = "{{ station_code }}";
        window.search = {{ search }};
    </script>

<div>

    <div class="row" style="margin: 20px 0 20px 0;">
        <div class="col-xs-5">
            <h1 style="margin:0;" ng-bind="vm.header"></h1>
        </div>
        <div class="pull-right" style="margin-top:8px;">
            <a class="btn btn-primary" id="export" href="/data-entry/vifs/export/" download>
                Export as CSV
            </a>
            <a style="margin-left:5px;" ng-show="vm.user.permission_vif_add" id="id_input_new_vif" class="btn btn-success pull-right" href="/data-entry/vifs/create/">
                Input A New VIF
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-xs-3">
            <select ng-model="vm.paginateBy" ng-change="vm.listVifs()" class="form-control">
                <option>25</option>
                <option>50</option>
                <option>100</option>
                <option>500</option>
            </select>
        </div>
        <div class="col-sm-3 col-xs-1">
            <p style="margin-top: 8px;">Results <span class="hidden-xs">per page</span></p>
        </div>

        <div class="col-md-3 search-bar pull-right">
            <form ng-submit="vm.searchVifs()">
                  <label>
                      <input placeholder="by VIF number..." ng-model="vm.searchValue" class="form-control">
                  </label>
                  <button class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <table class="table table-striped table-condensed" id="id_vif_list_table">
        <thead>
            <tr>
                <th ng-click="vm.sortColumn = 'vif_number'; vm.reverse = ! vm.reverse; vm.listVifs()" id='vif_number'>
                    VIF # <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('letter', 'vif_number')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'interviewer'; vm.reverse = ! vm.reverse; vm.listVifs()" id='interviewer'>
                    Interviewer <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('letter', 'interviewer')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'number_of_victims'; vm.reverse = ! vm.reverse; vm.listVifs()" id='number_of_victims'>
                    # of victims <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('number', 'number_of_victims')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'number_of_traffickers'; vm.reverse = ! vm.reverse; vm.listVifs()" id='number_of_traffickers'>
                    # of traffickers <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('number', 'number_of_traffickers')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'date'; vm.reverse = ! vm.reverse; vm.listVifs()" id='date'>
                    Date of Interview <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('number', 'date')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'date_time_entered_into_system'; vm.reverse = ! vm.reverse; vm.listVifs()"  class="hidden-xs" id='date_time_entered_into_system'>
                    Time Entered Into System <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('number', 'date_time_entered_into_system')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'date_time_last_updated'; vm.reverse = ! vm.reverse; vm.listVifs()"  class="hidden-xs" id='date_time_last_updated'>
                    Time Last Edited <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('number', 'date_time_last_updated')"></i>
                </th>
                <th ng-show="vm.user.permission_vif_view">&nbsp;</th>
                <th ng-show="vm.user.permission_vif_edit">&nbsp;</th>
                <th ng-show="vm.user.permission_vif_delete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vif in vm.vifs">
                <td class="vif-number">{{ vif.vif_number }}</td>
                <td>{{ vif.interviewer }}</td>
                <td>{{ vif.number_of_victims }}</td>
                <td>{{ vif.number_of_traffickers }}</td>
                <td>{{ vif.date | date:"medium" }}</td>
                <td class="hidden-xs">{{ vif.date_time_entered_into_system | date:"medium" }}</td>
                <td class="hidden-xs">{{ vif.date_time_last_updated | date:"medium" }}</td>
                <td ng-show="vm.user.permission_vif_view"><a class="btn btn-sm btn-primary" href="{{ vif.view_url }}">View</a></td>
                <td ng-show="vm.user.permission_vif_edit"><a class="btn btn-sm btn-primary" id="id_edit_vif_button" href="{{ vif.edit_url }}">Edit</a></td>
                <td ng-show="vm.user.permission_vif_delete"><a class="btn btn-sm btn-danger" ng-click="vm.deleteVif(vif)">{{ vif.confirmedDelete ? "Confirm?" : "Delete"}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="row text-center">
        <button ng-disabled="!vm.nextPageUrl" ng-click="vm.loadMoreVifs()" class="btn btn-primary" style="margin-bottom:25px; width:90%;">Load more results</button>
    </div>

    <!-- Loading animation container -->
    <div ng-show="vm.loading" class="loader-container">
        <div class="loader">Loading...</div>
    </div>

{% endverbatim %}
    {% load static from staticfiles %}
    <script src="{% static "dataentry/js/dataEntry.module.js" %}"></script>
    <script src="{% static "dataentry/js/services/vifService.js" %}"></script>
    <script src="{% static "dataentry/js/controllers/vifListCtrl.js" %}"></script>
</div>

{% endblock %}
