<div class="container" id="container">
    <hr>
    <div class="row">
        <div class="col-xs-5">
            <h1>All VIFs</h1>
        </div>
        <div class="pull-right" >
            <button ng-if="vifListCtrl.showingVifs.length > 0" class="btn btn-primary" id="export" csv-header="vifListCtrl.getCsvHeader()" field-separator="," decimal-separator="." ng-csv="vifListCtrl.getCsvArray()" >
                Export as CSV
            </button>
            <a id="id_input_new_vif" class="btn btn-success pull-right" ui-sref="vif">
                Input A New VIF
            </a>
        </div>
    </div>
    <div class="row">
        <!-- Results per page dropdown -->
        <div class="col-sm-2 col-xs-3">
            <select ng-init="vifListCtrl.paginateBy='25'" ng-model="vifListCtrl.paginateBy" ng-change="vifListCtrl.getVifList()" class="form-control">
                <option>25</option>
                <option>50</option>
                <option>100</option>
                <option>500</option>
            </select>
        </div>
        <div class="col-sm-3 col-xs-1">
            <p id="results_text">Results <span class="hidden-xs">per page</span></p>
        </div>
        <!-- End dropdown -->

        <!-- Search -->
        <div class="col-md-3 search-bar pull-right">
            <form>
                  <label class="pull-right">
                      <input ng-model="vifListCtrl.searchValue" placeholder="Search" class="form-control">
                  </label>
            </form>
        </div>
        <!-- End search -->
    </div>
    <br/>

    <table ng-if="vifListCtrl.listOfVifs.length > 0" class="table table-striped table-condensed crud-datatable">
        <thead>
            <tr>
                <th ng-click="vifListCtrl.sortCol('vif_number')">VIF #
                    <i ng-hide="vifListCtrl.isSorted('vif_number')" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'vif_number'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-vif_number'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sortCol('interviewer')">Interviewer
                    <i ng-hide="vifListCtrl.isSorted('interviewer')" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'interviewer'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-interviewer'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sortCol('number_of_victims')"># of Victims
                    <i ng-hide="vifListCtrl.isSorted('number_of_victims')" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'number_of_victims'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-number_of_victims'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sortCol('number_of_traffickers')"># of Traffickers
                    <i ng-hide="vifListCtrl.isSorted('number_of_traffickers')" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'number_of_traffickers'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-number_of_traffickers'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sortCol('date_of_interview')">Date of Interview
                    <i ng-hide="vifListCtrl.isSorted('date_of_interview')" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'date_of_interview'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-date_of_interview'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sortCol('date_time_entered_into_system')">Time Entered Into System
                    <i ng-hide="vifListCtrl.isSorted('date_time_entered_into_system')" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'date_time_entered_into_system'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-date_time_entered_into_system'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sortCol('date_time_last_updated')">Time Last Edited
                    <i ng-hide="vifListCtrl.isSorted('date_time_last_updated')" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'date_time_last_updated'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-date_time_last_updated'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="form in vifListCtrl.showingVifs | filter: vifListCtrl.searchValue | orderBy: vifListCtrl.getSort()">
                <td>{{ form.vif_number }}</td>
                <td>{{ form.interviewer }}</td>
                <td>{{ form.number_of_victims }}</td>
                <td>{{ form.number_of_traffickers }}</td>
                <td>{{ form.date_time_of_interception | date:"medium" : vifListCtrl.timeZoneDifference }}</td>
                <td class="hidden-xs">{{ form.date_time_entered_into_system | date:"medium" : vifListCtrl.timeZoneDifference }}</td>
                <td class="hidden-xs">{{ form.date_time_last_updated | date:"medium" : vifListCtrl.timeZoneDifference }}</td>
                <td ng-if="vifListCtrl.session.user.permission_vif_view == true"><a class="btn btn-sm btn-primary" ng-href="{{form.view_url}}">View</a></td>
                <td ng-if="vifListCtrl.session.user.permission_vif_edit == true"><a class="btn btn-sm btn-primary" id="id_edit_vif_button" ng-href="{{form.edit_url}}">Edit</a></td>
                <td ng-if="vifListCtrl.session.user.permission_vif_delete == true"><button class="btn btn-sm btn-danger" ng-click="vifListCtrl.deleteVif({{form.id}})">
                    {{ vif.confirmedDelete ? "Confirm?" : "Delete" }}</button></td>
            </tr>
        </tbody>
    </table>
    <div class="row text-center">
        <button id="show_more_button" ng-show="vifListCtrl.showingVifs.length < vifListCtrl.listOfVifs.length" ng-click="vifListCtrl.showMoreVifs()" class="btn btn-primary">
            Load more results
        </button>
    </div>
</div>