<div class="container">
    <hr>
    <div class="row">
        <div class="col-xs-5">
            <h1>All VIFs</h1>
        </div>
        <div class="pull-right" style="margin-top:20px;">
            <a class="btn btn-primary" id="export" href="#" download>
                Export as CSV
            </a>
            <a style="margin-left:5px;" id="id_input_new_vif" class="btn btn-success pull-right" href="/vif/create">
                Input A New VIF
            </a>
        </div>
    </div>
    <div class="row">
        <!-- Results per page dropdown -->
        <div class="col-sm-2 col-xs-3">
            <select class="form-control">
                <option>25</option>
                <option>50</option>
                <option>100</option>
                <option>500</option>
            </select>
        </div>
        <div class="col-sm-3 col-xs-1">
            <p style="margin-top: 8px;">Results <span class="hidden-xs">per page</span></p>
        </div>
        <!-- End dropdown -->

        <!-- Search -->
        <div class="col-md-3 search-bar pull-right">
            <form>
                  <label class="pull-right">
                      <input ng-model="vifListCtrl.searchValue" placeholder="Search" class="form-control" style="font-weight: normal;">
                  </label>
            </form>
        </div>
        <!-- End search -->
    </div>
    <br/>
    
    <table ng-if="vifListCtrl.listOfVifs.length > 0" class="table table-striped table-condensed crud-datatable">
        <thead>
            <tr>
                <th ng-click="vifListCtrl.sort='vif_number'; vifListCtrl.reverseList()">VIF #
                    <i ng-hide="vifListCtrl.getSort() == 'vif_number' || vifListCtrl.getSort() == '-vif_number'" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'vif_number'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-vif_number'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sort='interviewer'; vifListCtrl.reverseList()">Interviewer
                    <i ng-hide="vifListCtrl.getSort() == 'interviewer' || vifListCtrl.getSort() == '-interviewer'" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'interviewer'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-interviewer'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sort='number_of_victims'; vifListCtrl.reverseList()"># of Victims
                    <i ng-hide="vifListCtrl.getSort() == 'number_of_victims' || vifListCtrl.getSort() == '-number_of_victims'" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'number_of_victims'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-number_of_victims'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sort='number_of_traffickers'; vifListCtrl.reverseList()"># of Traffickers
                    <i ng-hide="vifListCtrl.getSort() == 'number_of_traffickers' || vifListCtrl.getSort() == '-number_of_traffickers'" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'number_of_traffickers'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-number_of_traffickers'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sort='date_of_interview'; vifListCtrl.reverseList()">Date of Interview
                    <i ng-hide="vifListCtrl.getSort() == 'date_of_interview' || vifListCtrl.getSort() == '-date_of_interview'" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'date_of_interview'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-date_of_interview'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sort='date_time_entered_into_system'; vifListCtrl.reverseList()">Time Entered Into System
                    <i ng-hide="vifListCtrl.getSort() == 'date_time_entered_into_system' || vifListCtrl.getSort() == '-date_time_entered_into_system'" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'date_time_entered_into_system'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-date_time_entered_into_system'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th ng-click="vifListCtrl.sort='date_time_last_updated'; vifListCtrl.reverseList()">Time Last Edited
                    <i ng-hide="vifListCtrl.getSort() == 'date_time_last_updated' || vifListCtrl.getSort() == '-date_time_last_updated'" class="glyphicon glyphicon-sort"></i>
                    <i ng-show="vifListCtrl.getSort() == 'date_time_last_updated'" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-show="vifListCtrl.getSort() == '-date_time_last_updated'" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="form in vifListCtrl.listOfVifs | filter: vifListCtrl.searchValue | orderBy: vifListCtrl.getSort()">
                <td>{{ form.vif_number }}</td>
                <td>{{ form.interviewer }}</td>
                <td>{{ form.number_of_victims }}</td>
                <td>{{ form.number_of_traffickers }}</td>
                <td>{{ form.date_time_of_interception | date:"medium" : vifListCtrl.timeZoneDifference }}</td>
                <td class="hidden-xs">{{ form.date_time_entered_into_system | date:"medium" : vifListCtrl.timeZoneDifference }}</td>
                <td class="hidden-xs">{{ form.date_time_last_updated | date:"medium" : vifListCtrl.timeZoneDifference }}</td>
                <td ng-if="vifListCtrl.session.user.permission_vif_view == true"><a class="btn btn-sm btn-primary" href="#">View</a></td>
                <td ng-if="vifListCtrl.session.user.permission_vif_edit == true"><a class="btn btn-sm btn-primary" id="id_edit_vif_button" href="#">Edit</a></td>
                <td ng-if="vifListCtrl.session.user.permission_vif_delete == true"><a class="btn btn-sm btn-danger" ng-click="vifListCtrl.deleteVif(vif)">
                    {{ vif.confirmedDelete ? "Confirm?" : "Delete" }}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="row text-center">
        <button ng-disabled="!vifListCtrl.nextPageUrl" ng-click="vifListCtrl.loadMoreVifs()" class="btn btn-primary" style="...">
            Load more results
        </button>
    </div>

    <!--<div ng-show="vifListCtrl.loading" class="loader-container">
        <div class="loader">Loading...</div>
    </div> -->
</div>