<div id="cif-vehicle-boxes" class="row stretch-vertical">
    <div class="col-md-3 stretch-vertical" ng-repeat="card in $ctrl.getCardInstances('VehicleBoxes')" ng-if="!$ctrl.printMode">
        <div class="panel panel-default clickable col-md-12 padding-0" ng-click="$ctrl.openVehicleBoxModal(card, false, $index)">
            <h3 class="panel-heading margin-top-0">({{$ctrl.getResponseOfQuestionById(card.responses, 482).value}}) {{$ctrl.getResponseOfQuestionById(card.responses, 447).value}}</h3>
            <div class="panel-body text-center">
                <form-step>{{$ctrl.getResponseOfQuestionById(card.responses, 446).value}}</form-step>
                <form-step>{{$ctrl.getResponseOfQuestionById(card.responses, 448).value}}</form-step>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center center-vertical" ng-if="!$ctrl.isViewing && !$ctrl.printMode">
        <div class="col-md-12">
            <button class="btn btn-success" ng-click="$ctrl.openVehicleBoxModal(null, true)">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div ng-repeat="cardName in ['VehicleBoxes']" ng-if="$ctrl.printMode">
    	<div ng-repeat="cardHeading in ['Vehicle Box']">
    		<div ng-include="$ctrl.printCardTemplate"></div>
    	</div>
    </div>
</div>