<div class="form-group">
<form name="addr2form">
  <label for="addressName">{{ acAddress2Ctrl.label }}</label>

  <i ng-show="loadingAddress2" class="glyphicon glyphicon-refresh"></i>

  <div class="row">
  	<div ng-show="!acAddress2Ctrl.$scope.address1Object || acAddress2Ctrl.$scope.address1Object.name" class="col-md-10">
      <input name="address2Entry" class="form-control" type="text" ng-model="ngModel" placeholder="Address 2" uib-typeahead="address2 as address2.name for address2 in acAddress2Ctrl.getFuzzyAddress2s($viewValue)"
        typeahead-loading="loadingAddress2" uib-typeahead-no-results="noResults" typeahead-wait-ms="300" typeahead-min-length="3" autocomplete="False"
      />
    </div>
    <div ng-if="!acAddress2Ctrl.$scope.address1Object || acAddress2Ctrl.$scope.address1Object.name" class="col-md-2">
      <button ng-click="acAddress2Ctrl.addAddress2()" type="button">
         <i class="fa fa-plus"></i>
      </button>
    </div>
  
    <div ng-if="acAddress2Ctrl.$scope.address1Object && !acAddress2Ctrl.$scope.address1Object.name"><label class="text-info">Select address1 first</label></div>
  </div>
  <div ng-show="noResults">
    <i class="glyphicon glyphicon-remove"></i> No Results Found
  </div>
</form>
</div>