<div class="col-xs-12">
	<br>
	<form id="borderstation-form">

		<h2 class="text-center" ng-if="bsCtrl.loading"><img src="http://bonappetitcard.com/images/spinner.gif" width="25" height="25"> Loading Border Station Data...</h2>


		<button class="btn btn-success pull-right" ui-sref="budget({borderStationId: bsCtrl.service.borderStationId})">New Budget Form</button>
		<br>
		<br>
		<br>

		<div class="col-xs-12" ng-show="!bsCtrl.loading">

			<border-station-detail></border-station-detail>
			<border-station-person></border-station-person>
			<border-station-location></border-station-location>

			<!-- REGION: Block for error messages -->
			<div class="text-danger well" ng-if="bsCtrl.errors.length > 0">
				<h1>Errors</h1>
				<div class="well well-sm" ng-repeat="error in bsCtrl.errors">
					<h4>Field: {{error.field}}</h4>
					<h5 ng-repeat="message in error.messages">Message: {{message}}</h5>
				</div>
			</div>
			<!-- ENDREGION: Block for error messages -->

			<button class="btn btn-primary pull-right col-xs-12" ng-click="bsCtrl.updateStation()">{{bsCtrl.updateStatusText}}</button>
			<br/>
			<br/>
			<br/>

		</div>
	</form>
</div>