<!--<script type="text/javascript">
    window.budget_calc_id = {{ pk }};
    window.submit_type = {{ submit_type }};
    window.border_station = {{ border_station.id }};
    window.station_name = "{{ border_station.station_name }}";
</script>-->


<form id="budget-calc-form" method="post">
    <!-- First Table Thing -->

    <div class="form-page" ng-controller="MainCtrl as main">

        <h1 class="text-center" style="font-size: 25px">
            {{ main.form.station_name }} Budget Calculation Form For
            <input type="month" class="form-control" id="month_year" name="input" ng-model="main.form.month_year" onchange='change()' min="2005-01-01" required />
        </h1>

        <div class="row" ng-controller="topTableCtrl as table">
            <div class="col-lg-4 col-lg-offset-4">
                <table class="table table-striped table-bordered table-hover text-center">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">INT</th>
                        <th class="text-center">$/INT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Last Month</td>
                        <td>{{ table.form.last_month }}</td>
                        <td>{{ table.form.last_months_cost }}</td>
                    </tr>
                    <tr>
                        <td>Last 3 Months</td>
                        <td>{{ table.form.last_3_months }}</td>
                        <td>{{ table.form.last_3_months_cost }}</td>
                    </tr>
                    <tr>
                        <td>All Time</td>
                        <td>{{ table.form.all }}</td>
                        <td>{{ table.form.all_cost }}</td>
                    </tr>
                    <tr>
                        <td># of Staff</td>
                        <td colspan="2">{{ table.form.staff_count }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End First Table Thingy -->

        <div class="row">
          <!-- Total Table -->
          <div class="col-lg-6">
              <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                      <th colspan="3" class="text-center">Border Monitoring Station</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>Salaries</td>
                      <td width="25%"><p class="text-right" ng-bind="main.staffTotal()"></p></td>
                      <td class="active" width="25%"></td>
                  </tr>
                  <tr>
                      <td>Comm.</td>
                      <td><p class="text-right" ng-bind="main.communicationTotalValue"></p></td>
                      <td class="active"></td>
                  </tr>
                  <tr>
                      <td>Travel</td>
                      <td><p class="text-right" ng-bind="main.travelTotalValue"></p></td>
                      <td class="active"></td>
                  </tr>
                  <tr>
                      <td>Admin.</td>
                      <td><p class="text-right" ng-bind="main.adminTotal()"></p></td>
                      <td class="active"></td>
                  </tr>
                  <tr>
                      <td>Medical</td>
                      <td><p class="text-right" ng-bind="main.medicalTotal()"></p></td>
                      <td class="active"></td>
                  </tr>
                  <tr>
                      <td>Misc.</td>
                      <td><p class="text-right" ng-bind="main.miscTotalValue"></p></td>
                      <td class="active"></td>
                  </tr>
                  <tr>
                      <td class="text-right"><b>TOTAL</b></td>
                      <td colspan="2"><p class="text-right" ng-bind="main.bunchTotal()"></p></td>
                  </tr>
                  </tbody>
                  <thead>
                  <tr class="warning">
                      <th colspan="3" class="text-center">Safe Houses</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td class="warning">Shelter</td>
                      <td class="warning"><p class="text-right" ng-bind="main.shelterTotal()"></p></td>
                      <td class="active"></td>
                  </tr>
                  <tr>
                      <td class="warning">Food</td>
                      <td class="warning"><p class="text-right" ng-bind="main.foodGasTotal()"></p></td>
                      <td class="active"></td>
                  </tr>
                  <tr class="warning">
                      <td class="text-right"><b>TOTAL</b></td>
                      <td colspan="2"><p class="text-right" ng-bind="main.foodAndShelterTotal()"></p></td>
                  </tr>
                  </tbody>
                  <tbody>
                  <tr>
                      <td class="text-center"><b>Awareness</b></td>
                      <td colspan="2"><p class="text-right" ng-bind="main.awarenessTotalValue"></p></td>
                  </tr>
                  <tr>
                      <td class="text-center"><b>Supplies</b></td>
                      <td colspan="2"><p class="text-right" ng-bind="main.suppliesTotalValue"></p></td>
                  </tr>
                  <tr>
                      <td class="text-center"><b>STATION TOTAL</b></td>
                      <td colspan="2"><p class="text-right" ng-bind="main.stationTotal()"></p></td>
                  </tr>
                  <tr>
                      <td class="text-center">Last month's TOTAL</td>
                      <td class="text-right" colspan="2">{{ main.last_months_total_cost }}</td>
                  </tr>
                  </tbody>

              </table>
            </div>

            <input type="button" ng-show="main.update" id="budget_update" class="pull-right btn btn-success navbar-btn btn-lg" value="Submit" ng-click="main.updateForm()">
            <input type="button" ng-show="main.create" id="budget_create" class="pull-right btn btn-success navbar-btn btn-lg" value="Submit" ng-click="main.createForm()">
        </div>

    </div>
</form>