#irfForm {
  .pagination {
    li {
      cursor: pointer;
      * {
        user-select: none;
      }
    }
  }
  table {
    @border-radius: 15px;
    border-collapse: separate;
    border-radius: @border-radius;
    tr:first-child td:first-child {
      border-top-left-radius: @border-radius;
    }
    tr:first-child td:last-child {
      border-top-right-radius: @border-radius;
    }
    tr:last-child td:first-child {
      border-bottom-left-radius: @border-radius;
    }
    tr:last-child td:last-child {
      border-bottom-right-radius: @border-radius;
    }
    .header {
      font-size: 26px;
      font-weight: 500;
      line-height: 1.1;
    }
    td {
      vertical-align: middle;
    }
  }
  .headinghover:hover {
    background-color: #cccccc;
  }
}
