#irfForm {
  .pagination {
    li {
      cursor: pointer;
      * {
        user-select: none;
      }
    }
  }
}

#irf-page7 {
  .box-label {
    text-align: right;
  }
  .header {
    margin-bottom: 25px;
  }
  .input-field {
    padding-left: 0;
  }
  .radio-bottom {
    height: 25px;
    margin-bottom: 20px;
  }
  .radio-top {
    height: 25px;
  }
  .test {
    border: 1px solid black;
  }
  .text-box {
  	width: 100%;
  }
}
