<div class="container" id="irfList">
    <br/>

    <div class="row">
        <div class="col-xs-5">
            <h1>All IRFs</h1>
        </div>

        <div class="text-right col-xs-7 margin-bottom-20">
            <div class="padding-bottom-5">
                <photoexport ng-if="irfListCtrl.hasViewPermission"></photoexport>
                <csvexport buttontext="Export All IRFs to CSV" export-service-func="irfListCtrl.exportCsv()" get-file-name="irfListCtrl.getExportFileName()"
                    on-export-complete="irfListCtrl.onExportComplete()" on-export-error="irfListCtrl.onExportError()" ng-if="irfListCtrl.hasViewPermission">
                </csvexport>
            </div>
            <div>
                <!--call modal here-->
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Results per page dropdown -->
        <div class="col-sm-2 col-xs-3">
            <select ng-options="value for value in [25, 50, 75, 100, 500]" ng-model="irfListCtrl.queryParameters.page_size" ng-change="irfListCtrl.getIrfList()"
                class="form-control">
            </select>
        </div>
        <div class="col-sm-3 col-xs-1">
            <p>Results
                <span class="hidden-xs">per page</span>
            </p>
        </div>
        <!-- End dropdown -->

        <!-- Search -->
        <div class="col-md-3 search-bar pull-right">
            <form>
                <label class="pull-right">
                    <input ng-change="irfListCtrl.searchIrfs()" ng-model="irfListCtrl.queryParameters.search" placeholder="Search" class="form-control"
                        autofocus>
                </label>
            </form>
        </div>
        <!-- End search -->
    </div>
    <br/>
    <table class="table table-striped" float-thead="irfListCtrl.stickyOptions">
        <thead class="sticky-table-header">
            <tr>
                <th ng-click="irfListCtrl.updateSort('irf_number')" width="8%">IRF #
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfListCtrl.getSortIcon('irf_number', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfListCtrl.getSortIcon('irf_number', 'reverse') }"></i>
                </th>
                <th ng-click="irfListCtrl.updateSort('staff_name')" width="15%">Staff Name
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfListCtrl.getSortIcon('staff_name', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfListCtrl.getSortIcon('staff_name', 'reverse')}"></i>
                </th>
                <th ng-click="irfListCtrl.updateSort('number_of_victims')" width="10%">Number of Victims
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfListCtrl.getSortIcon('number_of_victims', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfListCtrl.getSortIcon('number_of_victims', 'reverse')}"></i>
                </th>
                <th ng-click="irfListCtrl.updateSort('number_of_traffickers')" width="10%">Number of Traffickers
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfListCtrl.getSortIcon('number_of_traffickers', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfListCtrl.getSortIcon('number_of_traffickers', 'reverse')}"></i>
                </th>
                <th ng-click="irfListCtrl.updateSort('date_time_of_interception')" width="16%">Time of Interception
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfListCtrl.getSortIcon('date_time_of_interception', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfListCtrl.getSortIcon('date_time_of_interception', 'reverse')}"></i>
                </th>
                <th ng-click="irfListCtrl.updateSort('date_time_entered_into_system')" width="16%" class="hidden-xs">Time Entered Into System
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfListCtrl.getSortIcon('date_time_entered_into_system', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfListCtrl.getSortIcon('date_time_entered_into_system', 'reverse')}"></i>
                </th>
                <th ng-click="irfListCtrl.updateSort('date_time_last_updated')" width="16%" class="hidden-xs">Time Last Edited
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': irfListCtrl.getSortIcon('date_time_last_updated', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': irfListCtrl.getSortIcon('date_time_last_updated', 'reverse')}"></i>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="irf in irfListCtrl.irfs | orderBy:this.queryParameters.ordering:this.queryParameters.reverse">
                <td>{{ irf.irf_number }}</td>
                <td>{{ irf.staff_name }}</td>
                <td>{{ irf.number_of_victims | number }}</td>
                <td>{{ irf.number_of_traffickers | number }}</td>
                <td>{{ irf.date_time_of_interception | date:"medium" : irfListCtrl.timeZoneDifference }}</td>
                <td class="hidden-xs">{{ irf.date_time_entered_into_system | date:"medium" : irfListCtrl.timeZoneDifference }}</td>
                <td class="hidden-xs">{{ irf.date_time_last_updated | date:"medium" : irfListCtrl.timeZoneDifference }}</td>
                <td ng-if="irfListCtrl.hasViewPermission">
                    <a class="btn btn-sm btn-primary" ng-href="{{irf.view_url}}">View</a>
                </td>
                <td ng-if="irfListCtrl.hasEditPermission">
                    <a class="btn btn-sm btn-primary" id="id_edit_irf_button" ng-href="{{irf.edit_url}}">Edit</a>
                </td>
                <td ng-if="irfListCtrl.hasDeletePermission">
                    <a class="btn btn-sm btn-danger" ng-click="irfListCtrl.deleteIrf(irf, $index)">
                        {{ irf.confirmedDelete ? "Confirm?" : "Delete" }}</a>
                </td>
            </tr>
            <tr ng-show="irfListCtrl.irfs.length == 0">
                <td colspan="12" style="text-align:center;">
                    <h2>No IRFs Matched your search for: "{{ irfListCtrl.queryParameters.search }}"</h2>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row text-center">
        <button ng-disabled="!irfListCtrl.nextPage" ng-click="irfListCtrl.showMoreIrfs()" class="btn btn-primary" style="width: 90%; margin-bottom:50px;">
            Load more results
        </button>
    </div>
</div>