<fieldset class="container-fluid"  ng-disabled="$ctrl.isViewing">
    <div class="row center-vertical padding-vertical-20">
        <div class="col-md-3">
            <h3>Where are you from?</h3>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <form-step red-flag="10" type="checkbox" response-value="$ctrl.questions[71].response.value"    
                        label="Doesn't know details about village"></form-step>   
                </div>
                <div class="col-md-6">
                    <form-step red-flag="10" type="checkbox" response-value="$ctrl.questions[72].response.value"
                        label="Reluctant to give info about village"></form-step>
                </div>               
            </div>
        </div>
    </div>
    <hr class="thick"/>
    <div class="row center-vertical padding-vertical-20">
        <div class="col-md-3">
            <h3>Who is your family?</h3>
        </div>
        <div class="col-md-9">
            <div class="row">   
                <div class="col-md-6">
                    <form-step red-flag="10" type="checkbox" response-value="$ctrl.questions[73].response.value"
                        label="Reluctant to give family info"></form-step>
                </div>
                <div class="col-md-6">
                    <form-step red-flag="35" type="checkbox" response-value="$ctrl.questions[74].response.value"
                        label="Will not give family info"></form-step>
                </div>
            </div> 
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-6 text-right">
                    Under 18 years old
                </div>
                <div class="col-md-6">
                    <form-step red-flag="50" type="checkbox" response-value="$ctrl.questions[77].response.value"
                        label="No family contact established"></form-step>
                    <form-step red-flag="45" type="checkbox" response-value="$ctrl.questions[78].response.value"
                        label="Family doesn't know she's going to India"></form-step>
                    <form-step red-flag="60" type="checkbox" response-value="$ctrl.questions[79].response.value"
                        label="Family unwilling to let them go"></form-step>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-6 text-right">
                    18 years or older
                </div>
                <div class="col-md-6">
                    <form-step red-flag="15" type="checkbox" response-value="$ctrl.questions[80].response.value"
                        label="Family members do not know she is going to India"></form-step>
                    <form-step red-flag="20" type="checkbox" response-value="$ctrl.questions[81].response.value"
                        label="Family members are unwilling to let them go"></form-step>
                </div>
            </div>
        </div>
    </div>
    <hr class="thick"/>
    <div class="row center-vertical padding-vertical-20">
        <div class="col-md-4 padding-vertical-20">
            <h4>Which family member did you talk to?</h4>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4" ng-repeat="families in $ctrl.family">
                    <form-step type="radio" radio-name="familyRadio" ng-repeat="family in families" label="{{family}}" other-value="$ctrl.otherData.questions[82].otherValue" response-value="$ctrl.otherData.questions[82].value"></form-step>
                    <form-step ng-if="$first" type="otherRadio" radio-name="familyRadio" other-value="$ctrl.otherData.questions[82].otherValue" response-value="$ctrl.otherData.questions[82].value"></form-step>
                </div>
            </div>
        </div>
    </div>
</div>