#nameSelection {
	.formsColoring {
    	background-color: lightgreen;
    	border: 2px solid white;
    }
    .irfsColoring {
    	background-color: lightblue;
    	border: 2px solid white;
    }
    .localsColoring {
    	background-color: lightyellow;
    	border: 2px solid white;
    }
}
#nameSelectError{
	color: red;
}