<div id="cif-nepal-transportation-modal" class="modal-content">
    <form name="transportationBoxForm" ng-disabled="TransportationBoxModalController.isViewing === 'true'">
        <div class="modal-header">
            <button type="button" class="close" ng-click="TransportationBoxModalController.dismiss()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h3 class="modal-title">{{TransportationBoxModalController.questions[351].response.name.value || 'Transportation Box'}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="col-md-5 control-label">Transportation/Transit Stop Kind</label>
                    <div class="col-md-7">
                        <select class="form-control" ng-model="TransportationBoxModalController.questions[351].response.value">
                            <option value="Airport">Airport</option>
                            <option value="Border Crossing">Border Crossing</option>
                            <option value="Bus">Bus</option>
                            <option value="Bus Station">Bus Station</option>
                            <option value="Hotel">Hotel</option>
                            <option value="Privae Car">Private Car</option>
                            <option value="Private House">Private House</option>
                            <option value="Train">Train</option>
                            <option value="Train Station">Train Station</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="TransportationBoxModalController.questions[351].response.value == 'Border Crossing'">
                <div class="col-md-6 form-group margin-top-15">
                    <label class="col-md-3 control-label">Crossing Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="TransportationBoxModalController.questions[487].response.value">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group margin-top-15">
                    <label class="col-md-3 control-label">Order #</label>
                    <div class="col-md-9">
                        <input type="number" ]class="form-control" ng-model="TransportationBoxModalController.questions[352].response.value" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group margin-top-15">
                    <label class="col-md-3 control-label">Date</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="TransportationBoxModalController.dateData.questions[353].value">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-success float-left" ng-click="TransportationBoxModalController.save()" ng-disabled="intercepteeForm.$invalid" ng-if="!PotentialVictimModalController.isViewing">Save</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-danger" ng-click="TransportationBoxModalController.delete()" ng-if="!PotentialVictimModalController.isAdd && !PotentialVictimModalController.isViewing">Delete</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default" ng-click="TransportationBoxModalController.dismiss()">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>