<div id="accountEdit" class="container" ng-cloak>
    <div class="row">
        <h1>{{accountCtrl.title}}</h1>

        <div id="leftDiv" class="col-xs-4 col-md-4 col-lg-4">
            <div class="row ">
                <div ng-class="{'has-error': accountCtrl.emailError}" class="col-md-12 form-group">
                    <label ng-class="{'text-danger': accountCtrl.emailError}">Email</label>
                    <input type="text" class="form-control" placeholder="Email" ng-model="accountCtrl.account.email"/>
                    <span ng-class="{'text-danger': accountCtrl.emailError}">{{accountCtrl.emailError}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name"
                           ng-model="accountCtrl.account.first_name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name"
                           ng-model="accountCtrl.account.last_name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group" ng-class="{'has-error': accountCtrl.userDesignationError}">
                    <label ng-class="{'text-danger': accountCtrl.userDesignationError}">User Designation</label>
                    <select ng-model="accountCtrl.account.user_designation"
                            ng-options="set.id as set.name for set in accountCtrl.permissions.local"
                            ng-change="accountCtrl.onUserDesignationChanged(accountCtrl.account.user_designation)"
                            class="form-control">
                        <option value="" selected>-- Please select --</option>
                    </select>
                    <span ng-class="{'text-danger': accountCtrl.userDesignationError}">{{accountCtrl.userDesignationError}}</span>
                </div>
            </div>
        </div>

        <div id="centerDiv" class="col-xs-4 col-md-4 col-lg-4">
            <div class="clearfix">
                <table class="table table-condensed editTable">
                    <thead>
                    <tr>
                        <th colspan="4">Interception Record Forms</th>
                    </tr>
                    <tr>
                        <th>View</th>
                        <th>Add</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <label class="btn"
                                   ng-class="accountCtrl.account.permission_irf_view ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountCtrl.account.permission_irf_view = !accountCtrl.account.permission_irf_view">{{
                                accountCtrl.getButtonText(accountCtrl.account.permission_irf_view) }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountCtrl.account.permission_irf_add ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountCtrl.account.permission_irf_add= !accountCtrl.account.permission_irf_add">{{
                                accountCtrl.getButtonText(accountCtrl.account.permission_irf_add) }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountCtrl.account.permission_irf_edit? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountCtrl.account.permission_irf_edit= !accountCtrl.account.permission_irf_edit">{{
                                accountCtrl.getButtonText(accountCtrl.account.permission_irf_edit) }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountCtrl.account.permission_irf_delete ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountCtrl.account.permission_irf_delete= !accountCtrl.account.permission_irf_delete">{{
                                accountCtrl.getButtonText(accountCtrl.account.permission_irf_delete) }}</label>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-condensed editTable">
                    <thead>
                    <tr>
                        <th colspan="4">Victim Interview Forms</th>
                    </tr>
                    <tr>
                        <th>View</th>
                        <th>Add</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <label class="btn"
                                   ng-class="accountCtrl.account.permission_vif_view ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountCtrl.account.permission_vif_view = !accountCtrl.account.permission_vif_view">{{
                                accountCtrl.getButtonText(accountCtrl.account.permission_vif_view) }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountCtrl.account.permission_vif_add ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountCtrl.account.permission_vif_add= !accountCtrl.account.permission_vif_add">{{
                                accountCtrl.getButtonText(accountCtrl.account.permission_vif_add) }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountCtrl.account.permission_vif_edit ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountCtrl.account.permission_vif_edit= !accountCtrl.account.permission_vif_edit">{{
                                accountCtrl.getButtonText(accountCtrl.account.permission_vif_edit) }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountCtrl.account.permission_vif_delete ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountCtrl.account.permission_vif_delete= !accountCtrl.account.permission_vif_delete">{{
                                accountCtrl.getButtonText(accountCtrl.account.permission_vif_delete) }}</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="rightDiv" class="col-xs-4 col-md-4 col-lg-4">
            <table class="table table-condensed editTable">
                <thead>
                <tr>
                    <th colspan="4">Border Stations</th>
                </tr>
                <tr>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label class="btn"
                               ng-class="accountCtrl.account.permission_border_stations_view ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountCtrl.account.permission_border_stations_view = !accountCtrl.account.permission_border_stations_view">{{
                            accountCtrl.getButtonText(accountCtrl.account.permission_border_stations_view) }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountCtrl.account.permission_border_stations_add ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountCtrl.account.permission_border_stations_add= !accountCtrl.account.permission_border_stations_add">{{
                            accountCtrl.getButtonText(accountCtrl.account.permission_border_stations_add) }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountCtrl.account.permission_border_stations_edit ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountCtrl.account.permission_border_stations_edit= !accountCtrl.account.permission_border_stations_edit">{{
                            accountCtrl.getButtonText(accountCtrl.account.permission_border_stations_edit) }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountCtrl.account.permission_border_stations_delete ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountCtrl.account.permission_border_stations_delete= !accountCtrl.account.permission_border_stations_delete">{{
                            accountCtrl.getButtonText(accountCtrl.account.permission_border_stations_delete) }}</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-condensed editTable">
                <thead>
                <tr>
                    <th>Accounts</th>
                    <th>Alerts</th>
                    <th>VDC</th>
                    <th>Budget</th>
                </tr>
                <tr>
                    <th>Manage</th>
                    <th>Recieve</th>
                    <th>Manage</th>
                    <th>Manage</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label class="btn"
                               ng-class="accountCtrl.account.permission_accounts_manage ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountCtrl.account.permission_accounts_manage= !accountCtrl.account.permission_accounts_manage">{{
                            accountCtrl.getButtonText(accountCtrl.account.permission_accounts_manage) }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountCtrl.account.permission_receive_email ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountCtrl.account.permission_receive_email = !accountCtrl.account.permission_receive_email">{{
                            accountCtrl.getButtonText(accountCtrl.account.permission_receive_email) }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountCtrl.account.permission_address2_manage ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountCtrl.account.permission_address2_manage = !accountCtrl.account.permission_address2_manage">{{
                            accountCtrl.getButtonText(accountCtrl.account.permission_address2_manage) }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountCtrl.account.permission_budget_manage ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountCtrl.account.permission_budget_manage = !accountCtrl.account.permission_budget_manage">{{
                            accountCtrl.getButtonText(accountCtrl.account.permission_budget_manage) }}</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <button class="clear btn {{accountCtrl.accountButtonInfo.accountButtonColor}} pull-right btn-lg col-sm-4 col-md-4 col-lg-4" ng-click="accountCtrl.updateOrCreate()">
                        {{accountCtrl.accountButtonInfo.accountButtonText}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
