<div id="accountEdit" class="container" ng-cloak>
    <div class="row">
        <h1 id="title">{{accountEditCtrl.title}}</h1>

        <div id="leftDiv" class="col-xs-4 col-md-4 col-lg-4">
            <div class="row ">
                <div ng-class="{'has-error': accountEditCtrl.emailError}" class="col-md-12 form-group">
                    <label ng-class="{'text-danger': accountEditCtrl.emailError}">Email</label>
                    <input type="text" class="form-control" placeholder="Email" ng-model="accountEditCtrl.account.email"/>
                    <span ng-class="{'text-danger': accountEditCtrl.emailError}">{{accountEditCtrl.emailError}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name"
                           ng-model="accountEditCtrl.account.first_name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name"
                           ng-model="accountEditCtrl.account.last_name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group" ng-class="{'has-error': accountEditCtrl.userDesignationError}">
                    <label ng-class="{'text-danger': accountEditCtrl.userDesignationError}">User Designation</label>
                    <select ng-model="accountEditCtrl.account.user_designation"
                            ng-options="set.id as set.name for set in accountEditCtrl.permissions"
                            ng-change="accountEditCtrl.onUserDesignationChanged(accountEditCtrl.account.user_designation)"
                            class="form-control">
                        <option value="" selected>-- Please select --</option>
                    </select>
                    <span ng-class="{'text-danger': accountEditCtrl.userDesignationError}">{{accountEditCtrl.userDesignationError}}</span>
                </div>
            </div>
        </div>

        <div id="centerDiv" class="col-xs-4 col-md-4 col-lg-4">
            <div class="clearfix">
                <table class="table table-condensed editTable">
                    <thead>
                    <tr>
                        <th colspan="4">Interception Record Forms</th>
                    </tr>
                    <tr>
                        <th>View</th>
                        <th>Add</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <label class="btn"
                                   ng-class="accountEditCtrl.account.permission_irf_view ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountEditCtrl.account.permission_irf_view = !accountEditCtrl.account.permission_irf_view">
                                   {{ accountEditCtrl.account.permission_irf_view ? "Yes" : "No" }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountEditCtrl.account.permission_irf_add ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountEditCtrl.account.permission_irf_add= !accountEditCtrl.account.permission_irf_add">{{
                                accountEditCtrl.account.permission_irf_add ? "Yes" : "No" }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountEditCtrl.account.permission_irf_edit? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountEditCtrl.account.permission_irf_edit= !accountEditCtrl.account.permission_irf_edit">{{
                                accountEditCtrl.account.permission_irf_edit ? "Yes" : "No" }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountEditCtrl.account.permission_irf_delete ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountEditCtrl.account.permission_irf_delete= !accountEditCtrl.account.permission_irf_delete">{{
                                accountEditCtrl.account.permission_irf_delete ? "Yes" : "No" }}</label>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-condensed editTable">
                    <thead>
                    <tr>
                        <th colspan="4">Victim Interview Forms</th>
                    </tr>
                    <tr>
                        <th>View</th>
                        <th>Add</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <label class="btn"
                                   ng-class="accountEditCtrl.account.permission_vif_view ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountEditCtrl.account.permission_vif_view = !accountEditCtrl.account.permission_vif_view">{{
                                accountEditCtrl.account.permission_vif_view ? "Yes" : "No" }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountEditCtrl.account.permission_vif_add ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountEditCtrl.account.permission_vif_add= !accountEditCtrl.account.permission_vif_add">{{
                                accountEditCtrl.account.permission_vif_add ? "Yes" : "No" }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountEditCtrl.account.permission_vif_edit ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountEditCtrl.account.permission_vif_edit= !accountEditCtrl.account.permission_vif_edit">{{
                                accountEditCtrl.account.permission_vif_edit ? "Yes" : "No" }}</label>
                        </td>
                        <td>
                            <label class="btn"
                                   ng-class="accountEditCtrl.account.permission_vif_delete ? 'btn btn-success' : 'btn btn-danger'"
                                   ng-click="accountEditCtrl.account.permission_vif_delete= !accountEditCtrl.account.permission_vif_delete">{{
                                accountEditCtrl.account.permission_vif_delete ? "Yes" : "No" }}</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="rightDiv" class="col-xs-4 col-md-4 col-lg-4">
            <table class="table table-condensed editTable">
                <thead>
                <tr>
                    <th colspan="4">Border Stations</th>
                    <th colspan="3">Notifications</th>
                </tr>
                <tr>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Investigation</th>
                    <th>Legal</th>
                    <th>MDFs</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_border_stations_view ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_border_stations_view = !accountEditCtrl.account.permission_border_stations_view">{{
                            accountEditCtrl.account.permission_border_stations_view ? "Yes" : "No" }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_border_stations_add ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_border_stations_add= !accountEditCtrl.account.permission_border_stations_add">{{
                            accountEditCtrl.account.permission_border_stations_add ? "Yes" : "No" }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_border_stations_edit ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_border_stations_edit= !accountEditCtrl.account.permission_border_stations_edit">{{
                            accountEditCtrl.account.permission_border_stations_edit ? "Yes" : "No" }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_border_stations_delete ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_border_stations_delete= !accountEditCtrl.account.permission_border_stations_delete">{{
                            accountEditCtrl.account.permission_border_stations_delete ? "Yes" : "No" }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_receive_legal_alert ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_receive_legal_alert = !accountEditCtrl.account.permission_receive_legal_alert">{{
                            accountEditCtrl.account.permission_receive_legal_alert ? "Yes" : "No" }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_receive_investigation_alert ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_receive_investigation_alert = !accountEditCtrl.account.permission_receive_investigation_alert">{{
                            accountEditCtrl.account.permission_receive_investigation_alert ? "Yes" : "No" }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_can_receive_mdf ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_can_receive_mdf= !accountEditCtrl.account.permission_can_receive_mdf">{{
                            accountEditCtrl.account.permission_can_receive_mdf ? "Yes" : "No" }}</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-condensed editTable">
                <thead>
                <tr>
                    <th>Accounts</th>
                    <th>VDC</th>
                    <th colspan="4">Budget</th>
                </tr>
                <tr>
                    <th>Manage</th>
                    <th>Manage</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_accounts_manage ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_accounts_manage= !accountEditCtrl.account.permission_accounts_manage">{{
                            accountEditCtrl.account.permission_accounts_manage ? "Yes" : "No" }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_address2_manage ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_address2_manage = !accountEditCtrl.account.permission_address2_manage">{{
                            accountEditCtrl.account.permission_address2_manage ? "Yes" : "No" }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_budget_view ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_budget_view = !accountEditCtrl.account.permission_budget_view">{{
                            accountEditCtrl.account.permission_budget_view ? "Yes" : "No" }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_budget_add ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_budget_add = !accountEditCtrl.account.permission_budget_add">{{
                            accountEditCtrl.account.permission_budget_add ? "Yes" : "No" }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_budget_edit ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_budget_edit = !accountEditCtrl.account.permission_budget_edit">{{
                            accountEditCtrl.account.permission_budget_edit ? "Yes" : "No" }}</label>
                    </td>
                    <td>
                        <label class="btn"
                               ng-class="accountEditCtrl.account.permission_budget_delete ? 'btn btn-success' : 'btn btn-danger'"
                               ng-click="accountEditCtrl.account.permission_budget_delete = !accountEditCtrl.account.permission_budget_delete">{{
                            accountEditCtrl.account.permission_budget_delete ? "Yes" : "No" }}</label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        <button class="clear btn {{accountEditCtrl.saveButtonStyle}} btn-lg pull-right" ng-click="accountEditCtrl.updateOrCreate()">
          {{accountEditCtrl.saveButtonText}}
        </button>
    </div>
</div>
