<div id="accountEdit" class="container" ng-cloak>
    <div class="row">
        <h1 id="title">{{accountEditCtrl.title}}</h1>

        <div id="leftDiv" class="col-lg-2">
			<div class="row " ng-repeat="grp in accountEditCtrl.permissionGroups">
				<button type="button" class="btn btn-default" style="width:90%" ng-class="{active: accountEditCtrl.active == $index}" ng-click="accountEditCtrl.captureGropPermssions();accountEditCtrl.active = $index; accountEditCtrl.sectionTemplateUrl = accountEditCtrl.genUrl(grp);accountEditCtrl.checkAndGeneratePermissions();"> {{grp}}</button>
			</div>
		</div>
		<div id="rightDiv" class="col-xs-10">
			<div ng-include="accountEditCtrl.sectionTemplateUrl"></div>
		</div>

	</div>
    <div class="row">
        <button class="clear btn {{accountEditCtrl.saveButtonStyle}} btn-lg pull-right" ng-click="accountEditCtrl.updateOrCreate()">
          {{accountEditCtrl.saveButtonText}}
        </button>
    </div>
</div>
