<div class="col-md-offset-3 col-md-6">
  <h2 class="text-center">Shelter</h2>
  <hr>
  <div class="row">
    <div class="col-md-2 calc-form-input-no-width">
      <input class="text-right form-control" type="number" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.shelter_rent" ng-disabled="budgetCtrl.isViewing"/>
      <small>Rent</small>
    </div>
    <operator>+</operator>
    <div class="col-md-2 calc-form-input-no-width">
      <input class="text-right form-control" type="number" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.shelter_water" ng-disabled="budgetCtrl.isViewing"/>
      <small>Water</small>
    </div>
    <operator>+</operator>
    <div class="col-md-2 calc-form-input-no-width">
      <input class="text-right form-control" type="number" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.shelter_electricity" ng-disabled="budgetCtrl.isViewing"/>
      <small>Electricity</small>
    </div>
    <operator>=</operator>
    <div class="col-md-3 input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control text-center" ng-value="budgetCtrl.shelterUtilTotal() | number" disabled="disabled" />
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <input type="checkbox" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.shelter_shelter_startup" ng-disabled="budgetCtrl.isViewing"/>
    </div>
    <div class="col-md-2 input-with-text calc-form-input-no-width">
      <input class="text-right form-control" type="number" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.shelter_shelter_startup_amount" ng-disabled="!budgetCtrl.form.shelter_shelter_startup || budgetCtrl.isViewing"/>
      <small>Shelter Startup</small>
    </div>
    <operator>+</operator>
    <div class="col-md-1">
      <input type="checkbox" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.shelter_shelter_two" ng-disabled="budgetCtrl.isViewing"/>
    </div>
    <div class="col-md-2 input-with-text calc-form-input-no-width">
      <input class="text-right form-control" type="number" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.shelter_shelter_two_amount" ng-disabled="!budgetCtrl.form.shelter_shelter_two || budgetCtrl.isViewing"/>
      <small>Shelter 2</small>
    </div>
    <operator>=</operator>
    <div class="col-md-3 input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control text-center" ng-value="budgetCtrl.shelterCheckboxTotal() | number" disabled="disabled" />
    </div>
  </div>
  <hr>
  <div class="row">
    <div ng-repeat="otherShelterItem in budgetCtrl.form.other.Shelter">
      <div class="col-md-4 col-md-offset-2">
        <input class="form-control" type="text" ng-change="budgetCtrl.setTotals()" ng-model="otherShelterItem.name" ng-disabled="budgetCtrl.isViewing" />
      </div>
      <div class="col-md-4">
        <input class="text-right form-control" type="number" ng-change="budgetCtrl.setTotals()" ng-model="otherShelterItem.cost" ng-disabled="budgetCtrl.isViewing" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" ng-click="budgetCtrl.removeItem(budgetCtrl.form.other.Shelter, $index)" ng-hide="budgetCtrl.isViewing">Remove</button>
      </div>
      <br/>
      <br/>
    </div>
    <div class="row">
      <button class="btn btn-success col-xs-4 col-xs-offset-4" ng-click="budgetCtrl.form.other.Shelter.push({})" ng-hide="budgetCtrl.isViewing">Add item</button>
    </div>
  </div>
  <hr>
  <div class="row center text-center">
    <div class="col-md-4 col-md-offset-4">
      <label>Shelter Total</label>
      <input class="form-control text-center" ng-value="budgetCtrl.shelterTotal() | currency" disabled="disabled" />
    </div>
  </div>
</div>