#monthlyReportSummary {
	.cell-right-border {
		border-right: 2px solid black;
	}
	.cell-left-border {
		border-left: 2px solid black;
	}
	.cell-top-border {
		border-top: 2px solid black;
	}
	.meets-goal {
		background-color: #4caf50;
	}
	.near-goal {
		background-color: #a5d6a7;
	}
	.below-goal {
		background-color: #ffcdd2;
	}
	.far-below-goal {
		background-color: #f44336;
	}
	.header-div{
    	padding-top: 0px
  	}
  	.inline {
  		display:inline-block;
  	}
}