<div class="container">
  
  <div class="row">
    <div class="col-xs-7">
      <h1>Monthly Distribution Forms (MDFs)</h1>
    </div>

    <div class="pull-right"><br>
      <mdfexport></mdfexport>
      <a ng-if="mdfListCtrl.hasAddPermission" class="btn btn-success" ng-click="mdfListCtrl.createMdf()">
        Input A New MDF
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3" >
      <p>Countries</p>
        <div ng-dropdown-multiselect="" options="mdfListCtrl.countryDropDown.options"
          selected-model="mdfListCtrl.countryDropDown.selectedOptions"
                          extra-settings="mdfListCtrl.countryDropDown.settings"
                          translation-texts="mdfListCtrl.countryDropDown.customText"
                          events="mdfListCtrl.countryDropDown.eventListener">
        </div>
    </div>
    <div class="col-md-2">
      &nbsp;
    </div>
    <div class="col-md-3 search-bar pull-right">
      <input type="text" class="form-control" placeholder="Search" ng-model="mdfListCtrl.searchTerm" ng-model-options="{ debounce: 500 }" ng-change="mdfListCtrl.getMdfList(mdfListCtrl.searchTerm, null)">
    </div>
  </div>

  
  
  <div class="row" ng-if="mdfListCtrl.listOfMdfs.length > 0">
  <table class="fixed table-striped" ng-model-"mdfListCtrl.listOfMdfs"
  		cellspacing="0" cellpadding="0" cellborder="0" style="border-collapse:collapse;"
         float-thead="mdfListCtrl.stickyOptions">
    <thead class="sticky-table-header">
      <tr>
        <th class="name-col text-center" ng-click="mdfListCtrl.getMdfList(null,'border_station__station_name');">Station
          <i class="glyphicon" ng-show="mdfListCtrl.sortValue === 'border_station__station_name' || mdfListCtrl.sortValue === '-border_station__station_name'" ng-class="{'glyphicon-sort-by-attributes-alt': mdfListCtrl.sortValue === '-border_station__station_name', 'glyphicon-sort-by-attributes': mdfListCtrl.sortValue === 'border_station__station_name'}">
        </i>
        </th>
        <th class="code-col text-center" ng-click="mdfListCtrl.getMdfList(null,'border_station__station_code');">Station Code
          <i class="glyphicon" ng-show="mdfListCtrl.sortValue === 'border_station__station_code' || mdfListCtrl.sortValue === '-border_station__station_code'" ng-class="{'glyphicon-sort-by-attributes-alt': mdfListCtrl.sortValue === '-border_station__station_code', 'glyphicon-sort-by-attributes': mdfListCtrl.sortValue === 'border_station__station_code'}">
        </i>
        </th>
        <th class="text-center" ng-click="mdfListCtrl.getMdfList(null,'month_year');">Mdf For
          <i class="glyphicon" ng-show="mdfListCtrl.sortValue === 'month_year' || mdfListCtrl.sortValue === '-month_year'" ng-class="{'glyphicon-sort-by-attributes-alt': mdfListCtrl.sortValue === '-month_year', 'glyphicon-sort-by-attributes': mdfListCtrl.sortValue === 'month_year'}">
        </i>
        </th>
        <th class="text-center" ng-click="mdfListCtrl.getMdfList(null,'status');">Status
          <i class="glyphicon" ng-show="mdfListCtrl.sortValue === 'status' || mdfListCtrl.sortValue === '-status'" ng-class="{'glyphicon-sort-by-attributes-alt': mdfListCtrl.sortValue === '-status', 'glyphicon-sort-by-attributes': mdfListCtrl.sortValue === 'status'}">
        </i>
        <th class="text-center" ng-click="mdfListCtrl.getMdfList(null,'date_time_entered');">Date Entered
          <i class="glyphicon" ng-show="mdfListCtrl.sortValue === 'date_time_entered' || mdfListCtrl.sortValue === '-date_time_entered'" ng-class="{'glyphicon-sort-by-attributes-alt': mdfListCtrl.sortValue === '-date_time_entered', 'glyphicon-sort-by-attributes': mdfListCtrl.sortValue === 'date_time_entered'}">
        </i>
        </th>
        <th class="text-center" ng-click="mdfListCtrl.getMdfList(null,'date_time_last_updated');">Last Updated
          <i class="glyphicon" ng-show="mdfListCtrl.sortValue === 'date_time_last_updated' || mdfListCtrl.sortValue === '-date_time_last_updated'" ng-class="{'glyphicon-sort-by-attributes-alt': mdfListCtrl.sortValue === '-date_time_last_updated', 'glyphicon-sort-by-attributes': mdfListCtrl.sortValue === 'date_time_last_updated'}">
        </i>
        </th>
        <th class="text-center" width="25%">&nbsp;</th>
      </tr>
    </thead>
    <tbody class="text-center" ng-init="sortType = 'month_year'">
      <tr ng-repeat="form in mdfListCtrl.listOfMdfs" ng-mouseenter="form.hover = true" ng-mouseleave="form.hover = false; form.mdfRemoved = false">
        <td>{{ form.border_station.station_name }}</td>
        <td>{{ form.border_station.station_code }}</td>
        <td>{{ form.month_year | date:'MMMM y' }}</td>
        <td>{{ form.status }}</td>
        <td>{{ form.date_time_entered | date:'MMM d, y' }}</td>
        <td>{{ form.date_time_last_updated | date:'MMM d, y hh:mm:ss a' }}</td>
        <td class="text-left" >
          <a ui-sref="{{ form.mdf_type }}({id:form.id, isViewing:true})" class="btn btn-sm btn-primary">View</a>
          <a ui-sref="{{ form.mdf_type }}({id:form.id})" class="btn btn-sm btn-primary" 
          		ng-if="mdfListCtrl.session.checkPermission('MDF','EDIT',form.border_station.operating_country.id, form.border_station.id) && form.status!=='Approved'&&form.status!=='Final'">Edit</a>
          <a ui-sref="mdf({id: form.id, mdf_type:form.mdf_type})" class="btn btn-sm btn-primary">Send MDF</a>

          <button ng-if="mdfListCtrl.session.checkPermission('MDF','DELETE',form.border_station.operating_country.id, form.border_station.id) && form.mdf_type==='mdf-pr' && form.status!=='Approved'"
          		class="btn btn-sm btn-danger animated" ng-click="mdfListCtrl.removeMdf(mdfListCtrl.listOfMdfs, form)"
          		ng-class="{fadeIn: form.hover && !form.mdfRemoved, fadeOut: !form.hover, pulse: form.mdfRemoved}">
            {{ form.mdfRemoved ? "Are you sure?" : "Remove Mdf" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>


  <div ng-if="mdfListCtrl.listOfMdfs.length == 0" class="row col-xs-12 text-center">
    <h3>No Mdf Forms</h3>
    <h4>Go to a Border Station Form to create one.</h4>
  </div>
  <div class="row text-center">
        <paginate page-control="mdfListCtrl.paginate" controller="mdfListCtrl">
   </div>
   <br>
</div>
