<div class="form-group">
  <label for="addressName">{{ acAddress1Ctrl.label }}</label>

  <i ng-show="acAddress1Ctrl.loadingAddress1" class="glyphicon glyphicon-refresh"></i>

  <input class="form-control" type="text" ng-model="ngModel" placeholder="Address 1" uib-typeahead="address1 as address1.name for address1 in acAddress1Ctrl.getFuzzyAddress1s($viewValue)"
    uib-typeahead-loading="acAddress1Ctrl.loadingAddress1" uib-typeahead-no-results="noResults" typeahead-wait-ms="300" typeahead-min-length="3"
  />


  <div ng-show="noResults">
    <i class="glyphicon glyphicon-remove"></i> No Results Found
  </div>
</div>