<div class="container-fluid">
    <div class="row center-vertical">
        <div class="col-md-4">
            <div class="padding-bottom-20">Who is your family?</div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <form-step step-label="73" red-flag="40">
                        <input id="reluctant" type="checkbox" ng-model="$ctrl.questions[73].response.value">
                        <label for="reluctant">Reluctant to give family info</label>
                    </form-step>
                </div>
                <div class="col-md-6">
                    <form-step step-label="'&nbsp;&nbsp;74'" red-flag="35">
                        <input id="family-info" type="checkbox" ng-model="$ctrl.questions[74].response.value">
                        <label for="family-info">Will not give family info</label>
                    </form-step>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-6">
                    <div class="padding-bottom-20">Under 18 years old</div>
                </div>
                <div class="col-md-6">
                    <form-step step-label="'&nbsp;&nbsp;77'" red-flag="50">
                        <input id="family-contact" type="checkbox" ng-model="$ctrl.questions[77].response.value">
                        <label for="family-contact">No family contact established</label>
                    </form-step>
                    <form-step step-label="'&nbsp;&nbsp;78'" red-flag="45">
                        <input id="family-going" type="checkbox" ng-model="$ctrl.questions[78].response.value">
                        <label for="family-going">Family doesn't know where they are going</label>
                    </form-step>
                    <form-step step-label="'&nbsp;&nbsp;79'" red-flag="60">
                        <input id="family-unwilling" type="checkbox" ng-model="$ctrl.questions[79].response.value">
                        <label for="family-unwilling">Family unwilling to let them go</label>
                    </form-step>
                </div>
            </div>
            <hr/>
            <div class="row center-vertical">
                <div class="col-md-6">
                    <div class="padding-bottom-20">18 years or older</div>
                </div>
                <div class="col-md-6">
                    <form-step step-label="'&nbsp;&nbsp;80'" red-flag="15">
                        <input id="family-member" type="checkbox" ng-model="$ctrl.questions[80].response.value">
                        <label for="family-member">Family members do not know where they are going</label>
                    </form-step>
                    <form-step step-label="'&nbsp;&nbsp;81'" red-flag="20">
                        <input id="family-let" type="checkbox" ng-model="$ctrl.questions[81].response.value">
                        <label for="family-let">Family members are unwilling to let them go</label>
                    </form-step>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
</div>
<div class="row center-vertical">
    <div class="col-md-4">
        <div class="margin-top-40 margin-bottom-10">
            <form-step step-label="82">Which family member did you talk to?</form-step>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <form-step>
                    <input id="brother" type="radio" name="optionRadio" value="Own brother" ng-model="$ctrl.familyValue">
                    <label for="brother">Own brother</label>
                </form-step>
                <form-step>
                    <input id="father" type="radio" value="Own father" name="optionRadio" ng-model="$ctrl.familyValue">
                    <label for="father">Own father</label>
                </form-step>
                <form-step>
                    <input id="grandparent" type="radio" value="Own grandparent" name="optionRadio" ng-model="$ctrl.familyValue">
                    <label for="grandparent">Own grandparent</label>
                </form-step>
                <form-step>
                    <input id="otherfam" type="radio" name="optionRadio" value="Other" ng-model="$ctrl.familyValue">
                    <label for="other-fam">Other</label>
                    <input type="text" id="otherId" value="" ng-model="$ctrl.otherFamilyString">
                </form-step>
            </div>
            <div class="col-md-6 ">
                <form-step>
                    <input id="sister" type="radio" value="Own sister" name="optionRadio" ng-model="$ctrl.familyValue">
                    <label for="sister">Own sister</label>
                </form-step>
                <form-step>
                    <input id="mother" type="radio" value="Own mother" name="optionRadio" ng-model="$ctrl.familyValue">
                    <label for="mother">Own mother</label>
                </form-step>
                <form-step>
                    <input id="aunt-uncle" type="radio" value="Own aunt/uncle" name="optionRadio" ng-model="$ctrl.familyValue">
                    <label for="aunt-uncle">Own aunt/uncle</label>
                </form-step>
            </div>
        </div>
    </div>
</div>
</div>