<div class="row">
    <div class="col-md-4">
        <div class="form-inline">
            <form-step step-label="'1'">Irf Number: </form-step>
            <input type="text" class="form-control" id="example78Name2" placeholder="Irf Number" ng-model="$ctrl.questions[1].response.value">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-inline">
            <form-step step-label="'2'"># of Victims: </form-step>
            <input type="number" class="form-control" min="0" ng-model="$ctrl.questions[2].response.value">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-inline">
            <form-step step-label="'3'">Location: </form-step>
            <select class="form-control" ng-model="$ctrl.questions[3].response.value">
                <option ng-repeat="location in $ctrl.location" ng-value="location">{{location.name}}</option>
                <option ng-if="!$ctrl.questions[3].response.value.id" ng-value="$ctrl.questions[3].response.value">{{$ctrl.questions[3].response.value}}
                </option>
            </select>
        </div>
    </div>
</div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="form-inline">
            <form-step step-label="'4'">Date/Time: </form-step>
            <input type="date" class="form-control" ng-model="$ctrl.questions[4].response.value">
        </div>
    </div>
    <div class="col-md-4">
        <form class="form-inline">
            <div class="form-group">
                <form-step step-label="'5'"># Traffickers: </form-step>
                <input type="number" class="form-control" min="0" ng-model="$ctrl.questions[5].response.value">
            </div>
    </div>
    <div class="col-md-4">
        <div class="form-inline">
            <form-step step-label="'6'">Staff Name: </form-step>
            <select class="form-control" ng-model="$ctrl.questions[6].response.value">
                <option ng-repeat="staff in $ctrl.staff" ng-value="staff">{{staff.first_name + ' ' + staff.last_name}}</option>
                <option ng-if="!$ctrl.questions[6].response.value.id" ng-value="$ctrl.questions[6].response.value">{{$ctrl.questions[6].response.value}}</option>
            </select>
        </div>
    </div>
</div>