<div ng-app="irf.controller.js as irfCtrl" id="irf-page4">
    <div class="row header">
        <h1>Family Member Talked To</h1>
    </div>
    <div class="row">
        <div class="radio">
            <label><input type="checkbox">Own Brother</label><br>
            <label><input type="checkbox">Own Sister</label><br>
            <label><input type="checkbox">Own Father</label><br>
            <label><input type="checkbox">Own Mother</label><br>
            <label><input type="checkbox">Own Grandparent</label><br>
            <label><input type="checkbox">Own Aunt/Uncle</label><br>
            <input type="text" name="fullname" placeholder="Other" class="text-box"><br>
        </div>
    </div>
    <div class="row pull-right">
        <button type="button" class="btn btn-primary btn-lg">Save</button>
    </div>
</div>
