<div class="col-md-offset-3 col-md-6">
  <h2 class="text-center">Staff Salaries</h2>
  <hr>
  <div class="row" ng-controller="staffCtrl as staff">
    <div class="row" ng-repeat="form in staff.staffSalaryForms" ng-init="staff.totalSalaries();">
      <div class="col-md-2 col-md-offset-3">
        <label>{{ form.name }}</label>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="number" ng-model="form.salary" ng-change="staff.totalSalaries()" ng-disabled="main.view"/>
      </div>
    </div>
    <hr>
    <div class="row" ng-controller="otherBudgetItemsCtrl as staffItemsCtrl" ng-init="form_section = 8;">
      <div ng-repeat="form in staffItemsCtrl.staffForms">
        <div class="col-md-4 col-md-offset-1">
          <input class="form-control" type="text" ng-model="form.name" ng-disabled="main.view" />
        </div>
        <div class="col-md-4">
          <input class="text-right form-control" type="number" ng-model="form.cost" ng-change="staffItemsCtrl.otherItemsTotal()" ng-disabled="main.view"/>
        </div>
        <div class="col-md-2">
          <button class="btn btn-danger" ng-click="staffItemsCtrl.removeItem(form.id, $index)" ng-hide="main.view">Remove</button>
        </div>
        <br/>
        <br/>
      </div>
      <div class="row">
        <button class="btn btn-success col-md-4 col-md-offset-4" ng-click="staffItemsCtrl.addNewItem()" ng-hide="main.view">Add staff</button>
      </div>
    </div>
    <hr>
    <div class="row text-center">
      <div class="col-md-4 col-md-offset-4">
        <label>Staff Total</label>
        <input class="form-control text-center" ng-value="main.staffTotal()" disabled="disabled" />
      </div>
    </div>
  </div>
</div>