	<table class="table table-striped" float-thead="staffListCtrl.stickyOptions" ng-model="staffListCtrl.staffList">
        <thead class="sticky-table-header">
            <tr>
            	<th width="8%">Projects</th>
                <th ng-click="staffListCtrl.updateSort('first_name,last_name')" width="18%">Name
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': staffListCtrl.getSortIcon('first_name,last_name', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': staffListCtrl.getSortIcon('first_name,last_name', 'reverse') }"></i>
                </th>
                <th width="11%">Phone</th>
                <th width="20%">Email</th>
                <th width="6%">Birthday</th>
                <th width="6%">Education</th>
                <th width="6%">Total Years</th>
                <th width="15%">Role</th>
                <th width="15%">Coordinator Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="staff in staffListCtrl.staffList | orderBy:this.queryParameters.ordering:this.queryParameters.reverse">
            	<td class="ellipsis" title="{{ staff.projectText }}">{{ staff.projectText }}</td>
                <td>{{ staff.first_name }} {{ staff.last_name }}</td>
                <td>{{ staff.phone}}</td>
                <td>{{ staff.email }}</td>
                <td>{{ staff.birth_date }}</td>
                <td>{{ staff.education }}</td>
                <td>{{ staff.total_years.toLocaleString('en-US', staffListCtrl.digits1Format) }}</td>
                <td class="ellipsis" title="{{ staff.position }}">{{ staff.position}}</td>
                <td class="ellipsis" title="{{ staff.coordinatorRoles }}">{{ staff.coordinatorRoles}}</td>
                <td><a class="btn btn-sm btn-primary" ng-href="{{ staffListCtrl.getDetailUrl(staff, 'Basic')}}"><i class="fa fa-user"></i></a></td>
            </tr>
            <tr ng-show="staffListCtrl.staffList.length == 0">
                <td colspan="12" style="text-align:center;"><h2>No Staff Matched your search for: "{{ staffListCtrl.queryParameters.search }}"</h2></td>
            </tr>
        </tbody>
    </table>