	<table class="table table-striped" float-thead="staffListCtrl.stickyOptions" ng-model="staffListCtrl.staffList">
        <thead class="sticky-table-header">
            <tr>
            	<th width="8%">Projects</th>
                <th ng-click="staffListCtrl.updateSort('first_name,last_name')" width="20%">Name
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': staffListCtrl.getSortIcon('first_name,last_name', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': staffListCtrl.getSortIcon('first_name,last_name', 'reverse') }"></i>
                </th>
                <th width="6%">Contract?</th>
                <th width="10%">Mgmt/Misconduct?</th>
                <th width="12%">Last Month Total</th>
                <th width="12%">12 Month Total</th>
                <th width="25%">Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="staff in staffListCtrl.staffList | orderBy:this.queryParameters.ordering:this.queryParameters.reverse">
            	<td class="ellipsis" title="{{ staff.projectText }}">{{ staff.projectText }}</td>
                <td>{{ staff.first_name }} {{ staff.last_name }}</td>
                <td><i class="fa {{ staff.contract_data?staff.contract_data.contract?'fa-check-square-o':'fa-square-o':'' }}"></i></td>
                <td><i class="fa {{ staff.contract_data?staff.contract_data.agreement?'fa-check-square-o':'fa-square-o':'' }}"></i></td>
                <td class="moneyField">{{staff.contract_data?staffListCtrl.displayCurrency(staff)+staff.contract_data.last_month[staffListCtrl.currency].toLocaleString('en-US', staffListCtrl.displayCurrencyFormat(staff)):'' }}</td>
                <td  class="moneyField">{{staff.contract_data?staffListCtrl.displayCurrency(staff)+staff.contract_data.twelve_month[staffListCtrl.currency].toLocaleString('en-US', staffListCtrl.displayCurrencyFormat(staff)):'' }}</td>
                <td class="ellipsis" title="{{ staff.position }}">{{ staff.position}}</td>
                <td ng-if="!staffListCtrl.session.checkPermission('STAFF','EDIT_BASIC', staff.country, null)"><a class="btn btn-sm btn-primary" ng-href="{{staff.viewUrl}}"><i class="fa fa-user"></i></a></td>
                <td ng-if="staffListCtrl.session.checkPermission('STAFF','EDIT_BASIC', staff.country, null)"><a class="btn btn-sm btn-primary" ng-href="{{staff.editUrl}}"><i class="fa fa-user"></i></a></td>
            </tr>
            <tr ng-show="staffListCtrl.staffList.length == 0">
                <td colspan="12" style="text-align:center;"><h2>No Staff Matched your search for: "{{ staffListCtrl.queryParameters.search }}"</h2></td>
            </tr>
        </tbody>
    </table>