<div class="container" id="staffList"><br/>

    <div class="row">
        <div class="col-xs-7 text-center">
            <h1>Staff</h1>
        </div>

        <div class="pull-right"><br>
        	<a ng-if="staffListCtrl.exportCountries.length > 0" class="btn btn-success" ng-click="staffListCtrl.staffExport()">
                Export Staff
            </a>
            <a ng-if="staffListCtrl.hasAddPermission" class="btn btn-success" ui-sref="staff({id: null, isViewing: false})">
                Input New Staff
            </a>
        </div>
    </div>

    <div class="row padding-bottom-10">
        <div class="col-md-3" >
        	<div class="col-md-6">
	        	<p>Country</p>
	            <div ng-dropdown-multiselect="" options="staffListCtrl.countryDropDown.options"
								selected-model="staffListCtrl.countryDropDown.selectedOptions"
	                             extra-settings="staffListCtrl.countryDropDown.settings"
	                             translation-texts="staffListCtrl.countryDropDown.customText"
	                             events="staffListCtrl.countryDropDown.eventListener">
				</div>
			</div>
			<div class="col-md-6" ng-if="staffListCtrl.countryDropDown.selectedOptions.length!==0 && staffListCtrl.projects.length!==0">
				<p>Project</p>
	        	<select ng-model="staffListCtrl.queryParameters.project_id" ng-change="staffListCtrl.searchStaff()">
	        		<option value=''>All</option>
	        		<option value="{{ project.id }}" ng-repeat="project in staffListCtrl.projects"
	        				ng-if="staffListCtrl.countryDropDown.selectedOptions[0].id===project.operating_country">{{ project.station_name }}</option>
	        	</select>
        	</div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
        	<div class="row">&nbsp;</div>
        	<a ng-repeat="stepTemplate in staffListCtrl.stepTemplates"
        		class="btn btn-default"
        		ng-class="{active: staffListCtrl.selectedStep == $index}" 
        		ng-click="staffListCtrl.selectedStep = $index">{{stepTemplate.name}}</a>
        </div>

        <!-- Search -->
        <div class="col-md-2 pull-right">
        	<div>
        		<input ng-change="staffListCtrl.searchStaff()" ng-model="staffListCtrl.queryParameters.search" placeholder="Search" autofocus>
        	</div>
        	<div>
	        	<select ng-model="staffListCtrl.currency" ng-if="staffListCtrl.stepTemplates[staffListCtrl.selectedStep].name === 'Contract'">
	        		<option value="local">local currency</option>
	        		<option value="USD">US currency</option>
	        	</select>
	        </div>
        </div>
        <!-- End search -->
    </div>
    <div id="staff-content">
        <div ng-repeat="template in staffListCtrl.stepTemplates" ng-include="template.template" ng-if="staffListCtrl.selectedStep === $index"></div>
    </div>

    <div class="row text-center">
        <paginate page-control="staffListCtrl.paginate" controller="staffListCtrl">
    </div>
    <br>
</div>
