<div class="container" id="subcommitteeList"><br/>

    <div class="row">
        <div class="col-xs-7 text-center">
            <h1>Staff</h1>
        </div>

        <div class="pull-right"><br>
            <a ng-if="staffListCtrl.hasAddPermission" class="btn btn-success" ui-sref="staff({id: null, isViewing: false})">
                Input New Staff
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2" >
        	<p>Country</p>
            <div ng-dropdown-multiselect="" options="staffListCtrl.countryDropDown.options"
							selected-model="staffListCtrl.countryDropDown.selectedOptions"
                             extra-settings="staffListCtrl.countryDropDown.settings"
                             translation-texts="staffListCtrl.countryDropDown.customText"
                             events="staffListCtrl.countryDropDown.eventListener">
			</div>
        </div>
        <div class="col-md-2" ng-if="staffListCtrl.countryDropDown.selectedOptions.length!==0 && staffListCtrl.projects.length!==0">
        	<p>Project</p>
        	<select ng-model="staffListCtrl.queryParameters.project_id" ng-change="staffListCtrl.searchStaff()">
        		<option value=''>All</option>
        		<option value="{{ project.id }}" ng-repeat="project in staffListCtrl.projects"
        				ng-if="staffListCtrl.countryDropDown.selectedOptions[0].id===project.operating_country">{{ project.station_name }}</option>
        	</select>
        </div>

        <!-- Search -->
        <div class="col-md-3 pull-right">
        	<input ng-change="staffListCtrl.searchStaff()" ng-model="staffListCtrl.queryParameters.search" placeholder="Search" autofocus>
        </div>
        <!-- End search -->
    </div>
    <br/>
    <table class="table table-striped" float-thead="staffListCtrl.stickyOptions" ng-model="staffListCtrl.staffList">
        <thead class="sticky-table-header">
            <tr>
            	<th width="8%">Projects</th>
                <th ng-click="staffListCtrl.updateSort('first_name,last_name')" width="18%">Name
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': staffListCtrl.getSortIcon('first_name,last_name', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': staffListCtrl.getSortIcon('first_name,last_name', 'reverse') }"></i>
                </th>
                <th ng-click="staffListCtrl.updateSort('phone')" width="11%">Phone
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': staffListCtrl.getSortIcon('phone', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': staffListCtrl.getSortIcon('phone', 'reverse')}"></i>
                </th>
                <th ng-click="staffListCtrl.updateSort('email')" width="20%">Email
                    <i ng-class="{ 'glyphicon glyphicon-sort-by-alphabet': staffListCtrl.getSortIcon('email', '!reverse'),
                    'glyphicon glyphicon-sort-by-alphabet-alt': staffListCtrl.getSortIcon('email', 'reverse')}"></i>
                </th>
                <th width="6%">Birthday</th>
                <th width="6%">Education</th>
                <th width="6%">Total Years</th>
                <th width="15%">Role</th>
                <th width="15%">Coordinator Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="staff in staffListCtrl.staffList | orderBy:this.queryParameters.ordering:this.queryParameters.reverse">
            	<td class="ellipsis" title="{{ staff.projectText }}">{{ staff.projectText }}</td>
                <td>{{ staff.first_name }} {{ staff.last_name }}</td>
                <td>{{ staff.phone}}</td>
                <td>{{ staff.email }}</td>
                <td>{{ staff.birth_date }}</td>
                <td>{{ staff.education }}</td>
                <td>{{ staff.total_years.toLocaleString('en-US', staffListCtrl.digits1Format) }}</td>
                <td class="ellipsis" title="{{ staff.position }}">{{ staff.position}}</td>
                <td class="ellipsis" title="{{ staff.coordinatorRoles }}">{{ staff.coordinatorRoles}}</td>
                <td ng-if="!staffListCtrl.session.checkPermission('STAFF','EDIT', staff.country, null)"><a class="btn btn-sm btn-primary" ng-href="{{staff.viewUrl}}"><i class="fa fa-id-card"></i></a></td>
                <td ng-if="staffListCtrl.session.checkPermission('STAFF','EDIT', staff.country, null)"><a class="btn btn-sm btn-primary" ng-href="{{staff.editUrl}}"><i class="fa fa-id-card"></i></a></td>
            </tr>
            <tr ng-show="staffListCtrl.staffList.length == 0">
                <td colspan="12" style="text-align:center;"><h2>No Staff Matched your search for: "{{ staffListCtrl.queryParameters.search }}"</h2></td>
            </tr>
        </tbody>
    </table>

    <div class="row text-center">
        <paginate page-control="staffListCtrl.paginate" controller="staffListCtrl">
    </div>
    <br>
</div>
