
{% extends 'events/event_base.html' %}

{% block includeCSS %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}full-calendar/fullcalendar.css">
    <link type="text/css" href="{{ STATIC_URL }}full-calendar/fullcalendar.print.css" media='print' >
{% endblock includeCSS %}

{% block displayCSS %}

	body {
		margin: 40px 10px;
		padding: 0;
		<!--font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;-->
		font-size: 14px;
	}

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}

    .optional {
        display: none;
    }

    .fc-content {
        cursor: pointer
    }

{% endblock displayCSS %}


{% block content %}
{% verbatim %}
<div  ng-controller="CalendarCtrl as calendarCtrl" ng-cloak>
    <div class="row" style="margin-top:30px; margin-bottom:15px">
        <div class="pull-right" style="margin-right:135px">
            <a ng-href="/events/list/" class="btn btn-primary" >Edit Event</a>
            <a ng-href="/events/create/" class="btn btn-primary" >Create Event</a>
        </div>
    </div>
    <div id="calendar" ui-calendar="calendarCtrl.calendarConfig" ng-model="calendarCtrl.eventSources"></div>
</div>

<script type="text/ng-template" id="modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="modalCtrl.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="UploadFileLabel">Event Detail</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">Title</div>
                <div class="col-md-1">:</div>
                <div class="col-md-8 title-value">{{modalCtrl.event.title}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Location</div>
                <div class="col-md-1">:</div>
                <div class="col-md-8 location-value">{{ modalCtrl.event.location }}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Start</div>
                <div class="col-md-1">:</div>
                <div class="col-md-8 start-value">{{ modalCtrl.event.start_date + '  ' + modalCtrl.event.start_time }}</div>
            </div>
            <div class="row">
                <div class="col-md-3">End</div>
                <div class="col-md-1">:</div>
                <div class="col-md-8 end-value">{{ modalCtrl.event.end_date + '  ' + modalCtrl.event.end_time }}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Description</div>
                <div class="col-md-1">:</div>
                <div class="col-md-8 description-value">{{ modalCtrl.event.description }}</div>
            </div>
            <div class="row" ng-if="modalCtrl.event.is_repeat">
                <div class="col-md-3">Repetition</div>
                <div class="col-md-1">:</div>
                <div class="col-md-8 repetition-value">{{ modalCtrl.event.repetition }}</div>
            </div>
            <div class="row" ng-if="modalCtrl.event.is_repeat">
                <div class="col-md-3">Ends At</div>
                <div class="col-md-1">:</div>
                <div class="col-md-8 ends-at-value">{{ modalCtrl.event.ends ? modalCtrl.event.ends : 'Never' }}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="modalCtrl.close()" >Close</button>
        </div>
    </div>
</script>
{% endverbatim %}
{% endblock content %}
