<form id="budget-calc-form" name="budgetForm" class="container-fluid col-xs-12">
    
  <h2 class="text-center form-inline">
    {{ budgetCtrl.form.station_name }} Budget Calculation Form 

    <span ng-if="budgetCtrl.isCreating">
      <select ng-change="budgetCtrl.newBudgetForm()" 
              ng-model="budgetCtrl.month"
              ng-options="p.value as p.name for p in budgetCtrl.months"
              class="form-control" style="width: 125px;">
      </select>
      <input ng-model="budgetCtrl.year" ng-change="budgetCtrl.newBudgetForm()" type="number" class="form-control" style="width: 125px;">
    </span>

    <span ng-if="!budgetCtrl.isCreating">
      <span>({{ budgetCtrl.getMonthName() }} {{ budgetCtrl.year }})</span>
    </span>
    
    <button class="btn btn-lg btn-success"
        ng-if="!budgetCtrl.form.date_finalized && !budgetCtrl.isViewing"
        ng-disabled="(budgetForm.$invalid)"
    	ng-click="budgetCtrl.finalizeForm()">{{ budgetCtrl.confirmedFinalize ? "Confirm?" : "Finalize" }}</button>
  </h2>

  <!-- Section Tabs -->
  <div class="hidden-xs hidden-sm col-md-offset-1 col-md-10">
    <div class="btn-group btn-group-justified">
      <div class="btn-group" ng-repeat="section in budgetCtrl.sections.allSections">
        <button type="button" class="btn btn-default" ng-class="{active: budgetCtrl.active == $index}" ng-click="budgetCtrl.active = $index; budgetCtrl.sectionTemplateUrl = section.templateUrl">{{section.name}}</button>
      </div>
    </div>
  </div>
  <!-- End Section Tabs -->

  <!-- Section Dropdown -->
  <div class="hidden-md hidden-lg col-xs-12 text-center">
    <div class="btn-group" uib-dropdown is-open="sectionOpen">
      <button class="btn btn-default" uib-dropdown-toggle>Sections <span class="caret"></span></button>
      <ul uib-dropdown-menu>
        <li ng-repeat="section in budgetCtrl.sections.allSections" ng-click="budgetCtrl.active = $index; budgetCtrl.sectionTemplateUrl = section.templateUrl"><a class="btn">{{section.name}}</a></li>
      </ul>
    </div>
  </div>
  <!-- End Section Dropdown -->

  <!-- Section Area -->
  <div id="sectionArea" class="panel panel-default panel-body col-md-offset-1 col-md-10 container-fluid" ng-if="budgetCtrl.active != null" ng-cloak>
    <i class="glyphicon glyphicon-remove btn pull-right" ng-click="budgetCtrl.active = null"></i>
    <div ng-include="budgetCtrl.sectionTemplateUrl"></div>
  </div>
  <!-- End Section Area -->


  <div class="col-xs-12 text-center" ng-if="!budgetCtrl.isViewing">
    <br>
    <button class="btn btn-lg" ng-class="{'btn-primary': !budgetCtrl.isCreating, 'btn-success': budgetCtrl.isCreating}" 
      ng-disabled="(budgetForm.$invalid || budgetForm.$pristine)  && !budgetCtrl.modified"
    ng-click="budgetCtrl.updateOrCreateForm()">{{budgetCtrl.isCreating ? "Create" : "Update"}}</button>
  </div>

  <div class="row col-md-12">
    <label class="col-md-2 control-label">Monthly Distribution Form Notes</label>
  </div>
  <div class="row col-md-12">
    <div class="row col-md-12">
      <textarea class="form-control" rows="3" ng-model="budgetCtrl.form.notes"></textarea>
    </div>
  </div>

  <!-- Total Table -->
  <div id="totalTable" class="col-xs-12 col-md-offset-3 col-md-6">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th colspan="2" class="text-center">{{ budgetCtrl.mainProject.project_category_name}}: {{ budgetCtrl.mainProject.station_name }}</th>
        </tr>
      </thead>
      <tbody>
      	<tr ng-repeat="(section, total) in budgetCtrl.form.totals.borderMonitoringStation"
        		ng-if="section === 'salaries_And_Benefits'">
          <td>{{ budgetCtrl.formatSection(section) }}</td>
          <td width="25%">
            <p class="text-right">{{total[budgetCtrl.borderStationId] | currency:budgetCtrl.currency}}</p>
          </td>
        </tr>
        <tr ng-repeat="(section, total) in budgetCtrl.form.totals.borderMonitoringStation"
        		ng-if="section !== 'impactMultiplying'  && section !== 'salaries_And_Benefits'">
          <td>{{ budgetCtrl.formatSection(section) }}</td>
          <td width="25%">
            <p class="text-right">{{total | currency:budgetCtrl.currency}}</p>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td class="text-left text-large"><b>Monthly Distribution Subtotal</b></td>
          <td>
            <p class="text-right text-large"><b>{{ budgetCtrl.displayProjectTotal() | currency:budgetCtrl.currency }}</b></p>
          </td>
        </tr>
        <tr>
          <td class="text-left active text-small">Last Month's Distribution Subtotal</td>
          <td class="text-right active text-small">{{ budgetCtrl.form.previousData.last_months_cost | currency:budgetCtrl.currency}}</td>
        </tr>
        <tr ng-if="budgetCtrl.pastMonthMoneySentTotal() > 0">
        	<td>&nbsp;</td>
        </tr>
        <tr ng-if="budgetCtrl.pastMonthMoneySentTotal() > 0">
          <td class="text-left active text-small">
          	<div>Past Month Sent Money Subtotal</div>
          	<div>This total has already been sent and is not included in the monthly distribution.</div>
          </td>
          <td class="text-right active text-small">{{ budgetCtrl.pastMonthMoneySentTotal() | currency:budgetCtrl.currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-md-offset-3 col-md-6" ng-repeat="project in budgetCtrl.impactMultiplying"
  		ng-if="budgetCtrl.displayProjectTotal(project.id) !== '0.00'">
   	<table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th colspan="2" class="text-center">{{ project.project_category_name }}: {{ project.station_name }}</th>
        </tr>
      </thead>
      <tbody>
      	<tr ng-if="budgetCtrl.form.totals.borderMonitoringStation.salaries_And_Benefits[project.id]">
      	  <td>Salaries And Benefits</td>
      	  <td width="25%">
               <p class="text-right">{{budgetCtrl.form.totals.borderMonitoringStation.salaries_And_Benefits[project.id] | currency:budgetCtrl.currency}}</p>
             </td>
      	</tr>
      	<tr>
      	  <td>Operational Expenses</td>
      	  <td width="25%">
               <p class="text-right">{{budgetCtrl.impactMultiplyingTotalDisplay(project.id) | currency:budgetCtrl.currency}}</p>
             </td>
      	</tr>
      	<tr>
         <td class="text-left text-large"><b>{{ project.station_name }} Subtotal</b></td>
         <td>
           <p class="text-right text-large"><b>{{ budgetCtrl.displayProjectTotal(project.id) | currency:budgetCtrl.currency }}</b></p>
         </td>
       </tr>
      </tbody>
    </table>
  </div>
</form>
