<div id="notesModal" class="container">
	
    	<b>Notes</b>
    	<textarea class="form-control" rows="5" ng-model="vm.modalActions.notes"></textarea>
		</div>
		<div class="modal-footer">
            <div class="row">
                <div class="col-xs-2">
                    <button class="btn btn-sm btn-primary" ng-click="vm.proceed()">Proceed</button>
                </div>
                <div class="col-xs-6">
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default" ng-click="vm.close()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>