<div class="container">
	<div>
	    <table class="table table-striped" cellspacing="0" cellpadding="0" cellborder="0" style="border-collapse:collapse;" >
	        <thead>
	            <tr>
	                <th class="text-center" width="20%">Name</th>
	                <th class="text-center" width="10%">Gender</th>
	                <th class="text-center" width="10%">Age</th>
	                <th class="text-center" width="30%">Address</th>
	                <th class="text-center" width="15%">Phone </th>
	                <th class="text-center" width="15%">Match %</th>
	                <th></th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="match in vm.suggestedMatches">
	                <td><a ng-href="{{vm.masterPersonRef(match.master_person)}}">{{ match.master_person.full_name }}</a></td>
	                <td class="text-center">{{ match.master_person.gender }}</td>
	                <td class="text-center">{{ vm.getMatchAge(match) }}</td>
	                <td class="text-center">{{ vm.getMatchAddress(match) }}</td>
	                <td class="text-center">{{ vm.getMatchPhone(match) }}</td>
	                <td class="text-center">{{ match.match_results.Match_Prob }}</td>
	                <td><button class="btn btn-sm btn-primary" ng-click="vm.compare(match, 'suggested')">Compare</button></td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</div>