<div class="col-md-offset-3 col-md-6">
  <h2 class="text-center">Medical</h2>
  <div class="row form-group">
    <div class="col-md-5 calc-form-input-no-width">
        <input class="text-right form-control" type="number" id="medical_expense" ng-model="main.form.medical_last_months_expense"/>
        <small>Last month's medical expense</small>
    </div>
    <operator width="2">=</operator>
    <div class="col-md-5 calc-form-input-no-width">
        <input class="form-control text-center" ng-value="main.medicalTotal()" disabled="disabled"/>
    </div>
  </div>
</div>