<div class="col-xs-6">
  <h2 class="background"><span>Medical</span></h2>

  <div class="row">
    <div class="col-lg-4 calc-form-input-no-width col-lg-offset-1">
        <input class="text-right form-control" type="number" id="medical_expense" ng-model="main.form.medical_last_months_expense"/>
        <small>Last month's medical expense</small>
    </div>
    <div class="col-lg-1">
        <h4 class="text-center">=</h4>
    </div>
    <div class="col-lg-5 calc-form-input-no-width">
        <input class="form-control text-center" ng-value="main.medicalTotal()" disabled="disabled"/>
    </div>
  </div>
</div>