<div class="col-md-offset-3 col-md-6">
  <h2 class="text-center">Medical</h2>
  <div class="row form-group">
    <div class="col-md-5 calc-form-input-no-width">
        <input class="text-right form-control" type="number" id="medical_expense" ng-model="budgetCtrl.form.medical_last_months_expense" ng-change="budgetCtrl.setTotals()" ng-disabled="budgetCtrl.isViewing"/>
        <small>Last month's medical expense</small>
    </div>
    <operator width="2">=</operator>
    <div class="col-md-5 calc-form-input-no-width">
        <input class="form-control text-center" ng-value="budgetCtrl.form.medical_last_months_expense | currency" disabled="disabled"/>
    </div>
  </div>

    <hr>
    <div class="row">
        <div ng-repeat="otherMedItem in budgetCtrl.form.other.Medical">
            <div class="col-md-4 col-md-offset-2">
                <input class="form-control" type="text" ng-model="otherMedItem.name" ng-disabled="budgetCtrl.isViewing" />
            </div>
            <div class="col-md-4">
                <input class="text-right form-control" type="number" ng-model="otherMedItem.cost" ng-change="budgetCtrl.setTotals()"
                       ng-disabled="budgetCtrl.isViewing" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger" ng-click="budgetCtrl.removeItem(budgetCtrl.form.other.Medical, $index)" ng-hide="budgetCtrl.isViewing">Remove</button>
            </div>
            <br/>
            <br/>
        </div>
        <div class="row">
            <button class="btn btn-success col-xs-4 col-xs-offset-4" ng-click="budgetCtrl.form.other.Medical.push({})" ng-hide="budgetCtrl.isViewing">Add item</button>
        </div>
    </div>
</div>
