<fieldset class="col-md-12 padding-top-20" ng-disabled="$ctrl.isViewing === true">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12">
				<h3>Gospel Verification <b>{{ $ctrl.formQuestions[$ctrl.questionIdDict.formNumber[$ctrl.formType]].response.value }}</b></h3>
			</div>
		</div>
	</div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3 ng-if="$ctrl.formType===0">VDF Context</h3>
            <h3 ng-if="$ctrl.formType===1">PVF Context</h3>
        </div>
    </div>
    <div class="row">
        <div class=col-md-3>
            <div class="col-md-5">
                <label>Call Interviewer: </label>
            </div>
            <div class="col-md-7">
                {{ $ctrl.formQuestions[$ctrl.questionIdDict.interviewer[$ctrl.formType]].response.value }}
            </div>
        </div>
    </div>
    <div class="row">
    	<div class=col-md-3>
	    	<div class="col-md-5">
	    		<label>Date</label>
	    	</div>
	    	<div class="col-md-7">
	    		{{ $ctrl.formQuestions[$ctrl.questionIdDict.interviewDate[$ctrl.formType]].response.value }}
	    	</div>
	    </div>
	</div>
	<div class="row">
		<div class=col-md-3>
	    	<div class="col-md-5">
	    		<label>Name</label>
	    	</div>
	    	<div class="col-md-7">
	    		{{ $ctrl.formQuestions[$ctrl.questionIdDict.pv[$ctrl.formType]].response.name.value }}
	    	</div>
	    </div>
	    <div class=col-md-3>
	    	<div class="col-md-5">
	    		<label>Phone #</label>
	    	</div>
	    	<div class="col-md-7">
	    		{{ $ctrl.formQuestions[$ctrl.questionIdDict.pv[$ctrl.formType]].response.phone.value }}
	    	</div>
	    </div>
	    <div class=col-md-6>
	    	<div class="col-md-5">
	    		<label>Social Media ID</label>
	    	</div>
	    	<div class="col-md-7">
	    		{{ $ctrl.formQuestions[$ctrl.questionIdDict.pv[$ctrl.formType]].response.social_media.value }}
	    	</div>
	    </div>
    </div>
    <div class="row">
		<div class=col-md-3>
	    	<div class="col-md-5">
	    		<label>Guardian Name</label>
	    	</div>
	    	<div class="col-md-7">
	    		{{ $ctrl.formQuestions[$ctrl.questionIdDict.pv[$ctrl.formType]].response.guardian_name.value }}
	    	</div>
	    </div>
	    <div class=col-md-3>
	    	<div class="col-md-5">
	    		<label>Guardian Phone#</label>
	    	</div>
	    	<div class="col-md-7">
	    		{{ $ctrl.formQuestions[$ctrl.questionIdDict.pv[$ctrl.formType]].response.guardian_phone.value }}
	    	</div>
	    </div>
	    <div class=col-md-6>
	    	<div class="col-md-5">
	    		<label>Relationship to Guardian</label>
	    	</div>
	    	<div class="col-md-7">
	    		{{ $ctrl.formQuestions[$ctrl.questionIdDict.pv[$ctrl.formType]].response.guardian_relationship.value }}
	    	</div>
	    </div>
    </div>
    <div class="row">
		<div class=col-md-3>
	    	<div class="col-md-12">
	    		<label>3.2 Had you ever heard the message before?</label>
	    	</div>
	    </div>
	    <div class=col-md-3>
	    	<div class="col-md-7">
	    		{{ $ctrl.formQuestions[$ctrl.questionIdDict.heardGospel[$ctrl.formType]].response.value }}
	    	</div>
	    </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3>Verification Survey</h3>
        </div>
    </div>
    <div class="row center-vertical">
    	<div class="col-md-3">
    		<label>Is a change required to the original answer from the VDF below?</label>
    	</div>
    	<div class="col-md-3">
	    	<input id="changeYes" type="radio" name="changesRequired" value="Yes" ng-model="$ctrl.questions[1060].response.value"\
	    		ng-change="$ctrl.updateChangeRequired()"></input>
	    	<label for="changeYes">Yes</label><br>
	    	<input id="changeNo" type="radio" name="changesRequired" value="No" ng-model="$ctrl.questions[1060].response.value"
	    		ng-change="$ctrl.updateChangeRequired()"></input>
	    	<label for="changeNo">No</label>
    	</div>
    </div>
    <br>
    <div class="row center-vertical" ng-disabled="$ctrl.questions[1060].response.value!=='Yes'">
    	<div class="col-md-3">
    		<label>3.3 What do you now believe?</label>
    	</div>
    	<div class="col-md-3">
    		<input id="believeA" type="radio" ng-disabled="$ctrl.questions[1060].response.value!=='Yes'" 
    			name="believe" value="Does not believe Jesus is the one true God" 
    			ng-model="$ctrl.formQuestions[$ctrl.questionIdDict.believeNow[$ctrl.formType]].response.value"></input>
    		<label for="believeA">Does not believe Jesus is the one true God</label><br>
            <input id="believeB" type="radio" ng-disabled="$ctrl.questions[1060].response.value!=='Yes'" 
            	name="believe" value="Already believes Jesus is the one true God"
            	ng-model="$ctrl.formQuestions[$ctrl.questionIdDict.believeNow[$ctrl.formType]].response.value"></input>
            <label for="believeB">Already believes Jesus is the one true God</label><br>
            <input id="believeC" type="radio" ng-disabled="$ctrl.questions[1060].response.value!=='Yes'"
            	name="believe" value="Came to believe that Jesus is the one true God"
            	ng-model="$ctrl.formQuestions[$ctrl.questionIdDict.believeNow[$ctrl.formType]].response.value"></input>
            <label for="believeC">Came to believe that Jesus is the one true God</label><br>
    	</div>
    </div>
    <br>
    <div class="row col-md-12" ng-if="$ctrl.questions[1060].response.value==='Yes'">
    	<div>
    		<label>This is a change from what was marked on the original VDF. Please explain why there is a change.</label>
    		<textarea class="form-control" rows="3" ng-model="$ctrl.questions[1061].response.value"></textarea>
    	</div>
    </div>
    <div ng-if="$ctrl.questions[1060].response.value==='No'">
    	<div class="row">
	    	<div class="col-md-3">
	    		<label>LJ Station Staff that shared the gospel:</label>
	    	</div>
	    	<div class="col-md-3">
	    		<input  type="text" class="form-control" ng-model="$ctrl.questions[1062].response.value">
	    	</div>
    	</div>
    	<br>
    	<div class="row">
	    	<div class="col-md-4">
	    		<label>Describe how the potential victim professed to accept the gospel.</label>
	    	</div>
	    	<div class="col-md-8">
	    		<input  type="text" class="form-control" ng-model="$ctrl.questions[1063].response.value">
	    	</div>
    	</div>
    	<br>
    	<div class="row">
	    	<div class="col-md-4">
	    		<label>How were the resources shared helpful to the PV?</label>
	    	</div>
	    	<div class="col-md-8">
	    		<input  type="text" class="form-control" ng-model="$ctrl.questions[1064].response.value">
	    	</div>
    	</div>
    	<br>
    	<div class="row">
	    	<div class="col-md-4">
	    		<label>Please note any efforts to connect with a local church body nearby potential victim's home.</label>
	    	</div>
	    	<div class="col-md-8">
	    		<input  type="text" class="form-control" ng-model="$ctrl.questions[1065].response.value">
	    	</div>
    	</div>
    </div>
    <br>

    <div class="alert alert-warning" ng-repeat="warnings in $ctrl.getWarningMessages()">
        <strong>Warning! {{warnings}}</strong>
    </div>
    <div class="alert alert-danger" ng-repeat="errors in $ctrl.getErrorMessages()">
        <strong>Error! {{errors}}</strong>
    </div>
    <div class="container-fluid padding-bottom-20">
        <div class="col-xs-6 text-right">
            <input id="ignore" type="checkbox" ng-if="$ctrl.showIgnoreWarningsCheckbox() && $ctrl.stateParams.isViewing !== 'true'" ng-model="$ctrl.ignoreWarnings">
            <label for="ignore" ng-if="$ctrl.showIgnoreWarningsCheckbox() && $ctrl.stateParams.isViewing !== 'true'">Ignore warnings</label>
            <button class="btn btn-success margin-left-20" ng-click="$ctrl.submit()" ng-disabled="$ctrl.stateParams.isViewing === 'true' || $ctrl.questions[1060].response.value===null">Submit</button>
        </div>
    </div>
</fieldset>
