<div ng-cloak class="container">
    <form name="editCtrl.form" novalidate>
        <div class="row">
            <h1>{{editCtrl.title}}</h1>
            <div class="col-md-12 form-group" ng-class="{'has-error': editCtrl.form.title.$invalid && editCtrl.form.$submitted}"> 
                <label class="control-label">Title</label>
                <input type="text" class="form-control" ng-model="editCtrl.event.title" name="title" required/>
                <p class="help-block" ng-show="editCtrl.form.title.$error.required && editCtrl.form.$submitted">A title is required</p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12 form-group"> 
                <label>Location</label>
                <input type="text" class="form-control" ng-model="editCtrl.event.location"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group"> 
                <label>Description</label>
                <textarea type="text" class="form-control" rows="7"
                        ng-model="editCtrl.event.description">
                </textarea>
            </div>
        </div>

        <div class="row">
            <label for="startDate" class="vcenter text-center label-on"> Occurs on </label>
            <div class="form-group vcenter text-center" ng-class="{'has-error': editCtrl.form.$submitted && editCtrl.form.startDate.$invalid}">
                <input id="startDate" type="text" class="form-control" uib-datepicker-popup
                    ng-model="editCtrl.startDate" name="startDate" required 
                    ng-click="editCtrl.openStartDatePopup()" is-open="editCtrl.startDatePopupOpened"  
                    close-text="Close" ui-validate="{ afterEnd: 'editCtrl.isStartDateBeforeOrSameAsEndDate'}" 
                    ng-model-options="{allowInvalid:true}" ui-validate-watch="'editCtrl.endDate'"/>
            </div>
            <label for="startTime" class="vcenter text-center"> at </label>
            <div class="form-group vcenter text-center" ng-class="{'has-error': editCtrl.form.$submitted && editCtrl.form.startTime.$invalid}">
                <div id="startTime" uib-timepicker class="center-block" ng-model="editCtrl.startTime"
                name="startTime" required show-meridian="false"
                ui-validate="{afterEnd: 'editCtrl.isStartTimeBeforeEndTime'}" 
                ng-model-options="{allowInvalid:true}" ui-validate-watch="'editCtrl.endTime'"></div >
            </div>
            <label for="endDate" class="vcenter text-center"> to </label>
            <div class="form-group vcenter text-center" ng-class="{'has-error': editCtrl.form.$submitted && editCtrl.form.endDate.$invalid}">
                <input id="endDate" type="text" class="form-control" uib-datepicker-popup ng-model="editCtrl.endDate" name="endDate" ng-click="editCtrl.openEndDatePopup()" is-open="editCtrl.endDatePopupOpened" required close-text="Close"/>
            </div>
            <label for="endTime" class="vcenter text-center"> at </label>
            <div class="form-group vcenter text-center" ng-class="{'has-error': editCtrl.form.$submitted && editCtrl.form.endTime.$invalid}">
                <div id="endTime" uib-timepicker class="center-block" ng-model="editCtrl.endTime" name="endTime" required show-meridian="false"></div>
            </div>
        </div>

        <div class="row has-error" ng-show="editCtrl.form.$submitted && editCtrl.form.$invalid">
            <div class="col-sm-12">
                <p class="help-block" ng-show="editCtrl.form.startDate.$error.date || editCtrl.form.startDate.$error.required">The event's start date is required and must be in the format YYYY-MM-DD</p>
                <p class="help-block" ng-show="editCtrl.form.startDate.$error.afterEnd && !(editCtrl.form.startDate.$error.date || editCtrl.form.startDate.$error.required)">The event's start date must be before the end date</p>                
                <p class="help-block" ng-show="editCtrl.form.startTime.$error.required">The event's start time is required</p>
                <p class="help-block" ng-show="editCtrl.form.startTime.$error.afterEnd">The event's start time must be before the end time when the event ends on the same day</p>            
                <p class="help-block" ng-show="editCtrl.form.endDate.$invalid">The event's end date is required and must be in the format YYYY-MM-DD</p>
                <p class="help-block" ng-show="editCtrl.form.endTime.$error.required">The event's end time is required</p>
            </div>
        </div>

        <div class="row form-inline repetition-row">
            <div class="col-sm-12">
                <div class="form-group"> 
                    <input type="checkbox" ng-model="editCtrl.event.is_repeat">
                    <label>Repeats</label>
                </div>
                <div class="form-group" ng-show="editCtrl.event.is_repeat" ng-class="{'has-error': editCtrl.form.$submitted && editCtrl.form.repetition.$invalid}">
                    <label>every</label>
                    <select class="form-control" name="repetition" ng-required="editCtrl.event.is_repeat" ng-model="editCtrl.event.repetition">
                        <option value="D">Day</option>
                        <option value="W">Week</option>
                        <option value="M">Month</option>
                    </select>
                </div>

                <div class="form-group" ng-show="editCtrl.event.is_repeat" ng-class="{'has-error': editCtrl.form.$submitted && editCtrl.form.repetitionEndDate.$invalid}">
                    <label>until</label>
                    <input type="text" class="form-control" uib-datepicker-popup 
                        ng-model="editCtrl.repetitionEndDate" name="repetitionEndDate" 
                        ng-required="editCtrl.event.is_repeat" ng-click="editCtrl.openEndRepeatPopup()" 
                        is-open="editCtrl.endRepeatPopupOpened" close-text="Close" 
                        ui-validate="{ beforeEnd: 'editCtrl.isRepetitionEndAfterEndDate'}" 
                        ng-model-options="{allowInvalid:true}" ui-validate-watch="'editCtrl.endDate'"/>
                </div>
            </div>
        </div>

        <div class="row has-error" ng-show="editCtrl.form.$submitted && editCtrl.form.$invalid">
            <div class="col-sm-12">
                <p class="help-block" ng-show="editCtrl.form.repetition.$error.required">A repetition interval is required if the event is repeating</p>
                <p class="help-block" ng-show="editCtrl.form.repetitionEndDate.$error.required">A repetition end date is required if the event is repeating</p>
                <p class="help-block" ng-show="editCtrl.form.repetitionEndDate.$error.date">The repetition end date must be in the format YYYY-MM-DD</p>
                <p class="help-block" ng-show="editCtrl.form.repetitionEndDate.$error.beforeEnd && !editCtrl.form.repetitionEndDate.$error.date && !editCtrl.form.repetitionEndDate.$error.required">The repetition end date must be after the event's end date</p>            
            </div>
        </div>

        <div class="row button-row"> 
            <div class="col-sm-2 ">
                <input ui-sref="eventsList" type="button" class="btn btn-danger btn-block" value="Cancel"/>
            </div>
            <div class="col-sm-2 col-sm-offset-8">
                <input type="submit" class="btn btn-primary btn-block" ng-click="editCtrl.saveChanges()" value="Save"/>
            </div>
        </div>
    </form>
</div>
