<div class="col-md-offset-3 col-md-6" ng-controller="BudgetSuppliesFormController as suppliesCtrl">
  <h2 class="text-center">Supplies</h2>
  <hr>
  <div class="row form-group">
    <div class="col-md-4 col-md-offset-2 checkbox">
      <label>
        <input type="checkbox" ng-model="budgetCtrl.form.supplies_walkie_talkies_boolean" ng-change="suppliesCtrl.suppliesTotal(budgetCtrl.form)"
        />Walkie Talkies
      </label>
    </div>
    <div class="col-md-4">
      <input class="text-right form-control" type="number" ng-disabled="!budgetCtrl.form.supplies_walkie_talkies_boolean" ng-model="budgetCtrl.form.supplies_walkie_talkies_amount"
      ng-change="suppliesCtrl.suppliesTotal(budgetCtrl.form)" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 col-md-offset-2 checkbox">
      <label>
        <input type="checkbox" ng-model="budgetCtrl.form.supplies_recorders_boolean" ng-change="suppliesCtrl.suppliesTotal(budgetCtrl.form)" />Recorders
      </label>
    </div>
    <div class="col-md-4">
      <input class="text-right form-control" type="number" ng-disabled="!budgetCtrl.form.supplies_recorders_boolean" ng-model="budgetCtrl.form.supplies_recorders_amount"
      ng-change="suppliesCtrl.suppliesTotal(budgetCtrl.form)" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 col-md-offset-2 checkbox">
      <label>
        <input type="checkbox" ng-model="budgetCtrl.form.supplies_binoculars_boolean" ng-change="suppliesCtrl.suppliesTotal(budgetCtrl.form)" />Binoculars
      </label>
    </div>
    <div class="col-md-4">
      <input class="text-right form-control" type="number" ng-disabled="!budgetCtrl.form.supplies_binoculars_boolean" ng-model="budgetCtrl.form.supplies_binoculars_amount"
      ng-change="suppliesCtrl.suppliesTotal(budgetCtrl.form)" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 col-md-offset-2 checkbox">
      <label>
        <input type="checkbox" ng-model="budgetCtrl.form.supplies_flashlights_boolean" ng-change="suppliesCtrl.suppliesTotal(budgetCtrl.form)" />Flashlights
      </label>
    </div>
    <div class="col-md-4">
      <input class="text-right form-control" type="number" ng-disabled="!budgetCtrl.form.supplies_flashlights_boolean" ng-model="budgetCtrl.form.supplies_flashlights_amount"
      ng-change="suppliesCtrl.suppliesTotal(budgetCtrl.form)" />
    </div>
  </div>
  <hr>
  <div class="row" ng-init="form_section = 4;">
    <div class="form-group" ng-repeat="form in suppliesCtrl.suppliesForms">
      <div class="col-md-4 col-md-offset-2">
        <input class="form-control" type="text" ng-model="form.name" ng-disabled="budgetCtrl.view" />
      </div>
      <div class="col-md-4">
        <input class="text-right form-control" type="number" ng-model="form.cost" ng-change="suppliesCtrl.otherItemsTotal()"
        ng-disabled="budgetCtrl.view" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" ng-click="suppliesCtrl.removeItem(form.id, $index)" ng-hide="budgetCtrl.view">Remove</button>
      </div>
      <br/>
      <br/>
    </div>
    <div class="row">
      <button class="btn btn-success col-xs-4 col-xs-offset-4" ng-click="budgetCtrl.addNewItem()" ng-hide="budgetCtrl.view">Add item</button>
    </div>
  </div>
  <hr>
  <div class="row center text-center">
    <div class="col-md-4 col-md-offset-4">
      <label>Total Supplies</label>
      <input class="form-control text-center" ng-value="suppliesCtrl.suppliesTotal(budgetCtrl.form) | currency" disabled="disabled" />
    </div>
  </div>
</div>