<div class="col-md-offset-3 col-md-6">
  <h2 class="text-center">Supplies</h2>
  <hr>
  <div class="row form-group">
    <div class="col-md-4 col-md-offset-2 checkbox">
      <label>
        <input type="checkbox" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.supplies_walkie_talkies_boolean" ng-disabled="budgetCtrl.isViewing"/>Walkie Talkies
      </label>
    </div>
    <div class="col-md-4">
      <input class="text-right form-control" type="number" ng-disabled="!budgetCtrl.form.supplies_walkie_talkies_boolean || budgetCtrl.isViewing" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.supplies_walkie_talkies_amount"/>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 col-md-offset-2 checkbox">
      <label>
        <input type="checkbox" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.supplies_recorders_boolean" ng-disabled="budgetCtrl.isViewing"/>Recorders
      </label>
    </div>
    <div class="col-md-4">
      <input class="text-right form-control" type="number" ng-disabled="!budgetCtrl.form.supplies_recorders_boolean || budgetCtrl.isViewing" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.supplies_recorders_amount"/>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 col-md-offset-2 checkbox">
      <label>
        <input type="checkbox" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.supplies_binoculars_boolean" ng-disabled="budgetCtrl.isViewing"/>Binoculars
      </label>
    </div>
    <div class="col-md-4">
      <input class="text-right form-control" type="number" ng-disabled="!budgetCtrl.form.supplies_binoculars_boolean || budgetCtrl.isViewing" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.supplies_binoculars_amount"/>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 col-md-offset-2 checkbox">
      <label>
        <input type="checkbox" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.supplies_flashlights_boolean" ng-disabled="budgetCtrl.isViewing"/>Flashlights
      </label>
    </div>
    <div class="col-md-4">
      <input class="text-right form-control" type="number" ng-disabled="!budgetCtrl.form.supplies_flashlights_boolean || budgetCtrl.isViewing" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.supplies_flashlights_amount"/>
    </div>
  </div>
  <hr>
  <div class="row">
    <div ng-repeat="otherSuppliesItem in budgetCtrl.form.other.Supplies">
      <div class="col-md-4 col-md-offset-2">
        <input class="form-control" type="text" ng-change="budgetCtrl.setTotals()" ng-model="otherSuppliesItem.name" ng-disabled="budgetCtrl.isViewing" required/>
      </div>
      <div class="col-md-4">
        <input class="text-right form-control" type="number" ng-change="budgetCtrl.setTotals()" ng-model="otherSuppliesItem.cost" ng-disabled="budgetCtrl.isViewing" required/>
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" ng-click="budgetCtrl.removeItem(budgetCtrl.form.other.Supplies, $index)" ng-hide="budgetCtrl.isViewing">Remove</button>
      </div>
      <br/>
      <br/>
    </div>
    <div class="row">
      <button class="btn btn-success col-xs-4 col-xs-offset-4" ng-click="budgetCtrl.form.other.Supplies.push({})" ng-hide="budgetCtrl.isViewing">Add item</button>
    </div>
  </div>
  <hr>
  <div class="row center text-center">
    <div class="col-md-4 col-md-offset-4">
      <label>Total Supplies</label>
      <input class="form-control text-center" ng-value="budgetCtrl.suppliesTotal() | currency:'Rs. '" disabled="disabled" />
    </div>
  </div>
</div>