<fieldset class="form-horizontal" ng-disabled="$ctrl.isViewing">
    <div class="container-fluid">
        <div class="row">
            <div class="padding-top-20">How was the PVOT identified?</div>
            <hr/>
        </div>
        <div class="row center-vertical">
            <div class="col-md-2">
                <form-step type="radio" label="Contact" response-value="$ctrl.questions[91].response.value" radio-name="contactOrStaff"></form-step>
            </div>
            <div class="row col-md-10">
	            <div class="row center-vertical">
	             	<div class="col-md-8">
                		<form-step type="text" response-value="$ctrl.questions[261].response.value" label="6.1 Name of Contact"></form-step>
                	</div>
	            </div>
	            <hr/>
                <div class="row center-vertical">
                    <div class="col-md-3" ng-repeat="contacts in $ctrl.config.RadioItems[92]">
                        <form-step type="radio" radio-name="contactType" ng-repeat="contact in contacts" label="{{contact}}" other-value="$ctrl.otherData.questions[92].otherValue"
                        	response-value="$ctrl.otherData.questions[92].value"></form-step>
                        <form-step ng-if="$last" type="otherRadio" radio-name="contactType" label="Other" other-value="$ctrl.otherData.questions[92].otherValue"
                        	response-value="$ctrl.otherData.questions[92].value"></form-step>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row center-vertical">
            <div class="col-md-2">
                <form-step type="radio" label="Staff" response-value="$ctrl.questions[91].response.value" radio-name="contactOrStaff"></form-step>
            </div>
            <div class="row col-md-10">
                <div class="row center-vertical">
                    <div class="col-md-2">
                        <b>7.1 Name of Staff</b>
                    </div>
                    <div class="col-xs-3">
                        <staff-select selected-staff="$ctrl.questions[106].response.value" station-id="$ctrl.stationId"></staff-select>
                    </div>
                </div>
                <hr/>
                <div class="row center-vertical col-md-12">
                	<form-step type="text" response-value="$ctrl.questions[262].response.value" label="7.2 What sign(s) initially drew your attention to them?"></form-step>
                </div>
            </div>
        </div>
    </div>
</fieldset>