<div class="col-md-offset-3 col-md-6">
  <h2 class="text-center">Miscellaneous</h2>
  <hr>
  <div class="row">
    <div class="col-md-3 calc-form-input-no-width">
      <input class="text-right form-control" type="number" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.miscellaneous_number_of_intercepts_last_month" ng-disabled="budgetCtrl.isViewing"/>
      <small># of intercepts last month</small>
    </div>
    <operator>*</operator>
    <div class="col-md-3 calc-form-input-no-width">
      <input class="text-right form-control" type="number" ng-change="budgetCtrl.setTotals()" ng-model="budgetCtrl.form.miscellaneous_number_of_intercepts_last_month_multiplier" ng-disabled="budgetCtrl.isViewing"/>
    </div>
    <operator>=</operator>
    <div class="col-md-4 input-group">
      <div class="input-group-addon">Rs.</div>
      <input class="form-control text-center" ng-value="budgetCtrl.miscellaneousMaximum() | number" disabled="disabled" />
    </div>
  </div>
  <hr>
  <div class="row">
    <div ng-repeat="otherMiscellaneousItem in budgetCtrl.form.other.Miscellaneous">
      <div class="col-md-4 col-md-offset-2">
        <input class="form-control" type="text" ng-change="budgetCtrl.setTotals()" ng-model="otherMiscellaneousItem.name" ng-disabled="budgetCtrl.isViewing" />
      </div>
      <div class="col-md-4">
        <input class="text-right form-control" type="number" ng-change="budgetCtrl.setTotals()" ng-model="otherMiscellaneousItem.cost" ng-disabled="budgetCtrl.isViewing"/>
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" ng-click="budgetCtrl.removeItem(budgetCtrl.form.other.Miscellaneous, $index)" ng-hide="budgetCtrl.isViewing">Remove</button>
      </div>
      <br/>
      <br/>
    </div>
    <div class="row">
      <button class="btn btn-success col-xs-4 col-xs-offset-4" ng-click="budgetCtrl.form.other.Miscellaneous.push({})" ng-hide="budgetCtrl.isViewing">Add item</button>
    </div>
  </div>
  <hr>
  <div class="row center text-center">
    <div class="col-md-4 col-md-offset-4">
      <label>Total Miscellaneous</label>
      <input class="text-center form-control" ng-value="budgetCtrl.miscellaneousTotal() | currency:'Rs. '" disabled="disabled" />
    </div>
  </div>
</div>
