<div class="col-xs-6">
  <h2 class="background"><span>Miscellaneous</span></h2>

  <div class="row">
    <div class="col-lg-3 calc-form-input-no-width">
      <input class="text-right form-control" type="number" id="misc_number_of_intercepts" ng-model="main.form.miscellaneous_number_of_intercepts_last_month" ng-change="main.miscTotal()" />
      <small># of intercepts last month</small>
    </div>
    <div class="col-lg-1" >
      <h4 class="text-center">*</h4>
    </div>
    <div class="col-lg-3 calc-form-input-no-width">
      <input class="text-right form-control" type="number" id="misc_number_of_intercepts_mult" ng-model="main.form.miscellaneous_number_of_intercepts_last_month_multiplier" ng-change="main.miscTotal()" />
    </div>
    <div class="col-lg-1">
      <h4 class="text-center">=</h4>
    </div>
    <div class="col-lg-4 input-group">
      <div class="input-group-addon">$</div>
      <input class="form-control text-center" ng-value="main.miscMaximum()" disabled="disabled"/>
    </div>
  </div>

  {% verbatim %}
  <hr/>
  <div class="row" ng-controller="otherBudgetItemsCtrl as miscItemsCtrl" ng-init="form_section = 2;">
    <div class="animated-budget-items" ng-repeat="form in miscItemsCtrl.miscForms">
      <div class="col-lg-4 col-lg-offset-1">
        <input class="form-control" type="text" ng-model="form.name" ng-disabled="main.view"/>
      </div>
      <div class="col-lg-2">
        <input class="text-right form-control" type="number" ng-model="form.cost" ng-change="miscItemsCtrl.otherItemsTotal()" ng-disabled="main.view"/>
      </div>
      <div class="col-lg-2">
        <a class="btn btn-danger" ng-click="miscItemsCtrl.removeItem(form.id, $index)" ng-hide="main.view">Remove</a>
      </div>
      <br/><br/>
    </div>
    <div class="row">
      <br/>

      <div class="col-lg-4 col-lg-offset-5">
        <a class="btn btn-success" id="misc_add_item" ng-click="miscItemsCtrl.addNewItem();" ng-hide="main.view">Add item</a>
      </div>
    </div>
  </div>
  {% endverbatim %}

  <div class="row center text-center" style="margin-top: 20px">
    <div class="col-lg-4 col-lg-offset-4">
      <label>Total Miscellaneous</label>
      <input class="text-center form-control" ng-value="main.miscTotalValue" disabled="disabled"/>
    </div>
  </div>
</div>