<fieldset>
    <div class="row">
        <div class="col-md-2 form-group">
	        <select name='form' class="form-control" ng-model="$ctrl.informationCard" ng-change="$ctrl.informationCardChange()">
	            <option value="MERGED">MERGED</option>
	            <option ng-repeat="opt in $ctrl.getCardInstances('Information')" value="{{ $index }}">{{  $ctrl.getResponseOfQuestionByTag(opt.responses, 'lfInformationSourceType').value + ':' + $ctrl.getResponseOfQuestionByTag(opt.responses, 'lfInformationSourceTitle').value }}</option>
	        </select>
	       
        </div>
        <fieldset class="col-md-1 form-group" ng-disabled="$ctrl.isViewing === true">
         	<button class="btn btn-success" ng-click="$ctrl.addInformationCard()">
                <i class="fa fa-plus"></i>
            </button>
        </fieldset>
       	<fieldset class="col-md-5" ng-if="$ctrl.currentCard" ng-disabled="$ctrl.isViewing === true">
       		<div class="col-md-2">
    			<label>Source of Intelligence</label>
    		</div>
    		<div class="col-md-10">
	    		<form-step class="col-md-3" type="radio" radio-name="lfSource" label="Intercept"
	    				response-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.value"
	    				other-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-3" type="radio" radio-name="lfSource" label="Operation"
	    				response-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.value"
	    				other-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-3" type="radio" radio-name="lfSource" label="Victim"
	    				response-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.value"
	    				other-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-3" type="radio" radio-name="lfSource" label="Police"
	    				response-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.value"
	    				other-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-3" type="radio" radio-name="lfSource" label="Trafficker"
	    				response-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.value"
	    				other-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-3" type="radio" radio-name="lfSource" label="OSI"
	    				response-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.value"
	    				other-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.otherValue"></form-step>
	    		<form-step class="col-md-9" type="otherRadio" radio-name="lfSource" label="Other"
			            other-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.otherValue"
			            response-value="$ctrl.currentCard.otherData.questions.lfInformationSourceType.value"></form-step>
	    	</div>
    	</fieldset>
    	<fieldset class="col-md-1 form-group"  ng-if="$ctrl.currentCard" ng-disabled="$ctrl.isViewing === true">
    		<label>Title</label>
    	</fieldset>
    	<fieldset class="col-md-2 form-group"  ng-if="$ctrl.currentCard" ng-disabled="$ctrl.isViewing === true">
    		<input type="text" ng-model="$ctrl.currentCard.questions.lfInformationSourceTitle.response.value">
    	</fieldset>
    	<fieldset class="col-md-1 form-group" ng-if="$ctrl.currentCard && $ctrl.getCardInstances('Information').length > 1" ng-disabled="$ctrl.isViewing === true">
         	<button class="btn btn-danger" ng-click="$ctrl.removeInformationCard()" ng-if="!$ctrl.currentCard.confirmedDelete">
                <i class="fa fa-minus"></i>
            </button>
            <button class="btn btn-danger" ng-click="$ctrl.removeInformationCard()" ng-if="$ctrl.currentCard.confirmedDelete">
                Confirm delete
            </button>
        </fieldset>
    </div>
    <fieldset ng-disabled="$ctrl.isViewing === true">
	    <div ng-if="$ctrl.currentCard">
	    	<div class="row">
	    		<div class="col-md-5 form-group">
	    			<div class="col-md-4">
	    				<label>Interviewer Name</label>
	    			</div>
	    			<div class="col-md-8">
		                <staff-select selected-staff="$ctrl.currentCard.questions.lfInformationInterviewerName.response.value" station-id="$ctrl.stationId"></staff-select>
		            </div>
	    		</div>
	    		<div class="col-md-3 form-group">
	    			<label>Interview Date</label>
	    			<input type="date"  ng-model-options="{timezone: 'utc'}" ng-model="$ctrl.currentCard.dateData.questions.lfInformationInterviewDate.value">
	    		</div>
	    		<div class="col-md-3 form-group">
	    			<div class="col-md-3">
	    				<label>Location</label>
	    			</div>
	    			<div class="col-md-9">
		                <location-select selected-location="$ctrl.currentCard.questions.lfInformationLocation.response.value" station-id="$ctrl.stationId"></location-select>
		            </div>
		            
	    		</div>
	    	</div>
	    </div>
	    <div ng-if="$ctrl.currentCard">
	    	<div class="row">
		    	<div class="col-md-12 form-group">
		    		<div class="col-md-2">
		            	<label>1.1 Which Place</label>
		            </div>
		            <div class="col-md-10">
		                <form-step class="col-md-3" type="radio" radio-name="whichPlace" label="Transit Location"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.otherValue"></form-step>
		                <form-step class="col-md-3" type="radio" radio-name="whichPlace" label="Meet Point"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.otherValue"></form-step>
		                <form-step class="col-md-3" type="radio" radio-name="whichPlace" label="Destination"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.otherValue"></form-step>
		                <form-step class="col-md-3" type="radio" radio-name="whichPlace" label="Source of ID"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.otherValue"></form-step>
		                <form-step class="col-md-3" type="radio" radio-name="whichPlace" label="Recruitment Agency"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.otherValue"></form-step>
		    			<form-step class="col-md-3" type="otherRadio" radio-name="whichPlace" label="Other"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlace.otherValue"></form-step>
		            </div>
		        </div>
	    	</div>
	    	<div class="row">
		    	<div class="col-md-12 form-group">
		    		<div class="col-md-2">
		            	<label>1.2 What kind of place is it?</label>
		            </div>
		            <div class="col-md-10">
		                <form-step class="col-md-3" type="radio" radio-name="placeKind" label="House"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.otherValue"></form-step>
		                <form-step class="col-md-3" type="radio" radio-name="placeKind" label="Bus Station"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.otherValue"></form-step>
		                <form-step class="col-md-3" type="radio" radio-name="placeKind" label="Hotel"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.otherValue"></form-step>
		                <form-step class="col-md-3" type="radio" radio-name="placeKind" label="Train Station"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.otherValue"></form-step>
		                <form-step class="col-md-3" type="radio" radio-name="placeKind" label="Airport"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.otherValue"></form-step>
		    			<form-step class="col-md-3" type="radio" radio-name="placeKind" label="Port"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.otherValue"></form-step>
		    			<form-step class="col-md-3" type="otherRadio" radio-name="placeKind" label="Other"
		    				response-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.value"
		    				other-value="$ctrl.currentCard.otherData.questions.lfInformationPlaceKind.otherValue"></form-step>
		            </div>
		        </div>
	    	</div>
	    	<div class="row">
		     	<div class="col-md-12 form-group">
		        	<label class="col-md-2 control-label margin-top-30">1.3 Address</label>
		        	<div class="col-md-10 margin-top-0">
			        	<address-entry ng-model="$ctrl.currentCard.questions.lfInformationAddress.response"
			        			latitude-model="$ctrl.currentCard.questions.lfInformationLatitude.response.value"
			        			longitude-model="$ctrl.currentCard.questions.lfInformationLongitude.response.value" view-only="$ctrl.isViewing"></addressEntry>
			        </div>
		        </div>
			</div>
			<div class="row">
		     	<div class="col-md-8 form-group">
		        	<label class="col-md-3 control-label">1.4 Name/Signboard</label>
		        	<div class="col-md-9 margin-top-0">
		                <input type="text" class="form-control" placeholder="Name/Signboard" ng-model="$ctrl.currentCard.questions.lfInformationSignboard.response.value">
			        </div>
		        </div>
		        <div class="col-md-4 form-group">
		        	<label class="col-md-4 control-label">1.5 Phone #</label>
		        	<div class="col-md-6 margin-top-0">
		                <input type="text" class="form-control" placeholder="Phone #" ng-model="$ctrl.currentCard.questions.lfInformationPhone.response.value">
			        </div>
		        </div>
			</div>
		    <div class="row">
		     	<div class="col-md-6 form-group">
		        	<label class="col-md-4 control-label">1.6 Location in town</label>
		        	<div class="col-md-8">
		                <input type="text" class="form-control" placeholder="Location" ng-model="$ctrl.currentCard.questions.lfInformationLocation.response.value">
			        </div>
		        </div>
		        <div class="col-md-3 form-group">
		        	<label class="col-md-4 control-label">1.7 Color</label>
		        	<div class="col-md-6">
		                <input type="text" class="form-control" placeholder="Color" ng-model="$ctrl.currentCard.questions.lfInformationColor.response.value">
			        </div>
			    </div>
			    <div class="col-md-3 form-group">
		        	<label class="col-md-5 control-label">1.8 # of levels</label>
		        	<div class="col-md-4">
		                <input type="text" class="form-control" placeholder="levels" ng-model="$ctrl.currentCard.questions.lfInformationNumberOfLevels.response.value">
			        </div>
		        </div>
		    </div>
		     <div class="row">
		    	<div class="col-md-12 form-group">
	            	<label class="col-md-2">1.9 Descriptive Features</label>
		            <div class="col-md-9">
		            	 <input type="text" class="form-control" placeholder="Description" ng-model="$ctrl.currentCard.questions.lfInformationDescription.response.value">
		            </div>
		        </div>
	    	</div>
	    	<div class="row">
		    	<div class="col-md-12 form-group">
		    		<div class="col-md-2">
		            	<label>1.10 Nearby Landmarks</label>
		            </div>
		            <div class="col-md-9">
		            	 <input type="text" class="form-control" placeholder="Landmarks" ng-model="$ctrl.currentCard.questions.lfInformationLandmarks.response.value">
		            </div>
		        </div>
	    	</div>
    	</div>
	    
	    
	    
	    
	    
	    
	    
	    <div ng-if="!$ctrl.currentCard">
	    	<div class="row">
		    	<div class="col-md-12 form-group">
		    		<div class="col-md-2">
		            	<label>1.1 Which Place</label>
		            </div>
		            <div class="col-md-10">
		            	<select class="form-control" ng-model="$ctrl.questions.lfMergedPlace.response.value">
		            		<option value="{{ item }}" ng-repeat="item in $ctrl.mergeOptions.lfInformationPlace">{{ item }}</option>
		            	</select>
		            </div>
		        </div>
	    	</div>
	    	<div class="row">
		    	<div class="col-md-12 form-group">
		    		<div class="col-md-2">
		            	<label>1.2 Which kind of place is it?</label>
		            </div>
		            <div class="col-md-10">
		            	<select class="form-control" ng-model="$ctrl.questions.lfMergedPlaceKind.response.value">
		            		<option value="{{ item }}" ng-repeat="item in $ctrl.mergeOptions.lfInformationPlaceKind">{{ item }}</option>
		            	</select>
		            </div>
		        </div>
	    	</div>
	    	<div class="row center-vertical">
		     	<div class="col-md-11 form-group margin-top-15">
		        	<label class="col-md-2 control-label">1.3 Address</label>
		        	<div class="col-md-10">
		        		<select class="form-control" ng-model="$ctrl.mergedAddressString" ng-change="$ctrl.addressChanged()">
		            		<option value="{{ item.address }}" ng-repeat="item in $ctrl.mergeOptions.lfInformationAddress">{{ item.address }}</option>
		            	</select>
			        </div>
		        </div>
		        <div class="col-md-1 form-group">
		        	<address-entry ng-model="$ctrl.questions.lfMergedAddress.response"
			        			latitude-model="$ctrl.questions.lfMergedLatitude.response.value"
			        			longitude-model="$ctrl.questions.lfMergedLongitude.response.value"
			        			hide-text="true"
			        			view-only="true"></addressEntry>
		        </div>
			</div>
			<div class="row">
		    	<div class="col-md-8 form-group">
		    		<div class="col-md-3">
		            	<label>1.4 Name/Signboard</label>
		            </div>
		            <div class="col-md-9">
		            	<select class="form-control" ng-model="$ctrl.questions.lfMergedSignboard.response.value">
		            		<option value="{{ item }}" ng-repeat="item in $ctrl.mergeOptions.lfInformationSignboard">{{ item }}</option>
		            	</select>
		            </div>
		        </div>
		        <div class="col-md-4 form-group">
		    		<div class="col-md-4">
		            	<label>1.5 Phone #</label>
		            </div>
		            <div class="col-md-8">
		            	<select class="form-control" ng-model="$ctrl.questions.lfMergedPhone.response.value">
		            		<option value="{{ item }}" ng-repeat="item in $ctrl.mergeOptions.lfInformationPhone">{{ item }}</option>
		            	</select>
		            </div>
		        </div>
	    	</div>
	    	<div class="row">
		    	<div class="col-md-6 form-group">
		    		<div class="col-md-3">
		            	<label>1.6 Location in town</label>
		            </div>
		            <div class="col-md-9">
		            	<select class="form-control" ng-model="$ctrl.questions.lfMergedLocationInTown.response.value">
		            		<option value="{{ item }}" ng-repeat="item in $ctrl.mergeOptions.lfInformationLocation">{{ item }}</option>
		            	</select>
		            </div>
		        </div>
		        <div class="col-md-3 form-group">
		    		<div class="col-md-4">
		            	<label>1.7 Color</label>
		            </div>
		            <div class="col-md-8">
		            	<select class="form-control" ng-model="$ctrl.questions.lfMergedColor.response.value">
		            		<option value="{{ item }}" ng-repeat="item in $ctrl.mergeOptions.lfInformationColor">{{ item }}</option>
		            	</select>
		            </div>
		        </div>
		        <div class="col-md-3 form-group">
		    		<div class="col-md-6">
		            	<label>1.8 # of levels</label>
		            </div>
		            <div class="col-md-6">
		            	<select class="form-control" ng-model="$ctrl.questions.lfMergedNumberOfLevels.response.value">
		            		<option value="{{ item }}" ng-repeat="item in $ctrl.mergeOptions.lfInformationNumberOfLevels">{{ item }}</option>
		            	</select>
		            </div>
		        </div>
	    	</div>
	    	<div class="row">
		    	<div class="col-md-12 form-group">
		    		<div class="col-md-2">
		            	<label>1.9 Descriptive Features</label>
		            </div>
		            <div class="col-md-10">
		            	<select class="form-control" ng-model="$ctrl.questions.lfMergedDescription.response.value">
		            		<option value="{{ item }}" ng-repeat="item in $ctrl.mergeOptions.lfInformationDescription">{{ item }}</option>
		            	</select>
		            </div>
		        </div>
	    	</div>
	    	<div class="row">
		    	<div class="col-md-12 form-group">
		    		<div class="col-md-2">
		            	<label>1.10 Nearby Landmarks</label>
		            </div>
		            <div class="col-md-10">
		            	<select class="form-control" ng-model="$ctrl.questions.lfMergedLandmarks.response.value">
		            		<option value="{{ item }}" ng-repeat="item in $ctrl.mergeOptions.lfInformationLandmarks">{{ item }}</option>
		            	</select>
		            </div>
		        </div>
	    	</div>
	    	
			
	    </div>
    </fieldset>
</fieldset>
