 <div class="row well well-sm">
	<h1>Forms</h1>
	<hr/>
 	<div ng-repeat="formType in frmCtrl.formTypes">
 		<div class="row">
 		 <div class="col-sm-12 form-group">
 	 		<label for="select_form">{{formType.name}}</label>
        	<select name='select-form' class="form-control" id="select-form"
                ng-options="option.id as option.form_name for option in frmCtrl.formOptions[formType.name]"
                ng-model="frmCtrl.formSelected[formType.name]">
                <option value="">Select a form</option>
        	</select>
        	</div>
 	 	</div>
 	</div>
 </div>