{% extends 'events/event_base.html' %}

{% block content %}

<h2> Edit Events </h2>

{% verbatim %}

    <div ng-controller="EventsCtrl as eventsCtrl" ng-cloak>
        <table class="table table-bordered table-hover">
            <thead>
                <th>Title</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Repeat</th>
                <th>Repetition</th>
                <th>Ends On</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="event in eventsCtrl.events">
                    <td>{{event.title}}</td>
                    <td>{{event.location}}</td>
                    <td>{{event.start_date}}</td>
                    <td>{{event.end_date}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.is_repeat}}</td>
                    <td>{{event.get_repetition_display}}</td>
                    <td>{{event.ends}}</td>
                    <td><a ng-href="/events/update/{{ event.id }}">Edit</a> <a ng-click="eventsCtrl.openModal(event)" >Delete</a> </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="modal.html">
            <div class="modal-header">
            <h3>Are you sure to delete event {{ eventTitle }}?</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" ng-click="modalCtrl.delete()">Delete</button>
                <button class="btn btn-warning" type="button" ng-click="modalCtrl.cancel()">Cancel</button>
            </div>
    </script>

{% endverbatim %}

{% endblock %}
