<div id="cif-osi-person-box-modal" class="modal-content">
    <form name="personBoxForm" ng-disabled="PersonBoxModalController.isViewing === 'true'">
        <div class="modal-header">
            <button type="button" class="close" ng-click="PersonBoxModalController.dismiss()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <div class="col-md-4">
            	<h3 class="modal-title">{{PersonBoxModalController.questions[965].response.name.value || 'Person Box'}}</h3>
            </div>
            <div class="col-md-1 margin-top-10">
	    		<label>PB#</label>
	    	</div>
			<div class="col-md-3 form-group">
		        <input type="number" min="0" class="form-control" ng-model="PersonBoxModalController.questions[480].response.value">
	        </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5 form-group">
                    <label class="col-md-3 control-label">Gender</label>
                    <div class="col-md-9">
                        <select class="form-control" ng-model="PersonBoxModalController.questions[965].response.gender.value">
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                            <option value="Unknown">Unknown</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-md-4 control-label">Age</label>
                    <div class="col-md-8">
                        <input type="number" min="0" class="form-control" ng-model="PersonBoxModalController.questions[965].response.age.value">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 form-group">
                    <label class="col-md-2 control-label">Full Name</label>
                    <div class="col-md-10">
                        <input class="form-control" ng-model="PersonBoxModalController.questions[965].response.name.value">
                    </div>
                </div>
                <div class="col-md-1 form-group">
            		<associated-person ng-model="PersonBoxModalController.questions[965].response" person-list="PersonBoxModalController.associatedPersons"
            				birth-date="PersonBoxModalController.dateData.questions[965]"
            				id-choice="PersonBoxModalController.personIdentifierChoice.questions[965].radioValue"></associatedPerson>
           		</div>
            </div>
            <div class="row">
            	<div class="col-md-6">
		            <label class="col-md-6 control-label">Case filed against PB</label>
	            	<div class="col-md-3">
	            		<form-step type="radio" radio-name="case-filed" label="Yes" response-value="PersonBoxModalController.questions[965].response.case_filed_against.value"></form-step>
	            	</div>
	            	<div class="col-md-3">
	            		<form-step type="radio" radio-name="case-filed" label="No" response-value="PersonBoxModalController.questions[965].response.case_filed_against.value"></form-step>
	            	</div>
            	</div>
            	<div class="col-md-5">
	            	<label class="col-md-6 control-label">Was PB arrested</label>
	            	<div class="col-md-3">
	            		<form-step type="radio" radio-name="arrested" label="Yes" response-value="PersonBoxModalController.questions[965].response.arrested.value"></form-step>
	            	</div>
	            	<div class="col-md-3">
	            		<form-step type="radio" radio-name="arrested" label="No" response-value="PersonBoxModalController.questions[965].response.arrested.value"></form-step>
	            	</div>
            	</div>
            </div>
            <div class="row">
            	<div class="col-md-12 margin-top-15">
			        <label class="col-md-2 ">Address</label>
			        <address-entry class="col-md-10" ng-model="PersonBoxModalController.questions[965].response.address.value"
			        		latitude-model="PersonBoxModalController.questions[965].response.latitude.value"
			        		longitude-model="PersonBoxModalController.questions[965].response.longitude.value"></addressEntry>
		        </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
	            	<label class="col-md-2 control-label">Address Notes</label>
	            	<div class="col-md-10">
			        	<input class="form-control" type="text" ng-model="PersonBoxModalController.questions[965].response.address_notes.value">
			        </div>
		        </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="col-md-3 control-label">Phone #</label>
                    <div class="col-md-9">
                        <input class="form-control" ng-model="PersonBoxModalController.questions[965].response.phone.value">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="col-md-4 control-label">FB/Social ID</label>
                    <div class="col-md-8">
                        <input class="form-control" ng-model="PersonBoxModalController.questions[965].response.social_media.value">
                    </div>
                </div>
            </div>
            <div class="row">
	            <div class="col-md-2 form-group">
		    		<label class="col-md-4">Role</form-step>
		    	</div>
				<div class="col-md-10 form-group">
			        <form-step type="checkbox" class="col-md-3" label="Broker"
			        	response-value="PersonBoxModalController.checkboxGroup.questions['965-role']['Broker']"></form-step>
			        <form-step type="checkbox" class="col-md-3" label="Companion"
			        	response-value="PersonBoxModalController.checkboxGroup.questions['965-role']['Companion']"></form-step>
			        <form-step type="checkbox" class="col-md-3" label="Host"
			        	response-value="PersonBoxModalController.checkboxGroup.questions['965-role']['Host']"></form-step>
			        <form-step type="checkbox" class="col-md-3" label="Id Facilitator"
			        	response-value="PersonBoxModalController.checkboxGroup.questions['965-role']['Id Facilitator']"></form-step>
			        <form-step type="checkbox" class="col-md-3" label="Agent"
			        	response-value="PersonBoxModalController.checkboxGroup.questions['965-role']['Agent']"></form-step>
			        <form-step type="checkbox" class="col-md-3" label="Witness"
			        	response-value="PersonBoxModalController.checkboxGroup.questions['965-role']['Witness']"></form-step>
			        <form-step type="checkbox" class="col-md-3" label="Complainant"
			        	response-value="PersonBoxModalController.checkboxGroup.questions['965-role']['Complainant']"></form-step>
			        <form-step type="otherCheckbox" class="col-md-6" label="Other:"
			        	response-value="PersonBoxModalController.checkboxGroup.questions['965-role'].internalOther"></form-step>
		        </div>
            </div>
            <div class="row">
            	<div class="col-md-2 form-group">
                	<label class="col-md-12">Nationality</label>
				</div>
                <div class="col-md-10 form-group">
                	<input class="form-control" ng-model="PersonBoxModalController.questions[965].response.nationality.value">
		        </div>
            </div>
            <div class="row">
	            <div class="col-md-2 form-group">
		    		<label class="col-md-12">Relation to PV</form-step>
		    	</div>
				<div class="col-md-10 form-group">
			        <span ng-repeat="relation in PersonBoxModalController.config.RadioItems[474]">
			            <form-step type="radio" class="col-md-3" radio-name="personRelation" label="{{relation}}"
			            	response-value="PersonBoxModalController.otherData.questions[474].value" other-value="PersonBoxModalController.otherData.questions[474].otherValue"></form-step>
			            <form-step ng-if="$last" type="otherRadio" class="col-md-6" radio-name="personRelation" label="Other:" other-value="PersonBoxModalController.otherData.questions[474].otherValue"
			                response-value="PersonBoxModalController.otherData.questions[474].value"></form-step>
			        </span>
		        </div>
            </div>
             <div class="row col-md-12">
                <span>
                    <label class="col-md-2 control-label">Appearance</label>
                    (hairstyle, build, facial hair, mouth, nose, eyes, glasses, tattoos, birth marks, etc.)
                </span>
            </div>
            <div class="row col-md-12">
            	<div class="row col-md-12">
                    <textarea class="form-control" rows="3" ng-model="PersonBoxModalController.questions[965].response.appearance.value"></textarea>
                </div>
            </div>
            <div class="row">
	            <div class="col-md-2 form-group">
		    		<label class="col-md-12">Occupation</form-step>
		    	</div>
				<div class="col-md-10 form-group">
			        <span ng-repeat="occupation in PersonBoxModalController.config.RadioItems['965-occupation']">
			            <form-step type="radio" class="col-md-3" radio-name="personOccupation" label="{{occupation}}"
			            	response-value="PersonBoxModalController.otherData.questions['965-occupation'].value"
			            	other-value="PersonBoxModalController.otherData.questions['965-occupation'].otherValue"></form-step>
			            <form-step ng-if="$last" type="otherRadio" class="col-md-6" radio-name="personOccupation" label="Other:"
			            	other-value="PersonBoxModalController.otherData.questions['965-occupation'].otherValue"
			                response-value="PersonBoxModalController.otherData.questions['965-occupation'].value"></form-step>
			        </span>
		        </div>
            </div>
 			<div class="row">
                <div class="col-md-9 form-group margin-top-15">
                    <label class="col-md-3 control-label">Associated LB#</label>
                    <div class="col-md-2">
                        <input class="form-control" ng-model="PersonBoxModalController.questions[423].response.value">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-success float-left" ng-click="PersonBoxModalController.save()" ng-disabled="intercepteeForm.$invalid" ng-if="!PersonBoxModalController.isViewing">Save</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-danger" ng-click="PersonBoxModalController.delete()" ng-if="!PersonBoxModalController.isAdd && !PersonBoxModalController.isViewing">Delete</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default" ng-click="PersonBoxModalController.dismiss()">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
