<div id="dashboard" class="full-height">
    <tally ng-if="dashboard.showTally"></tally>
    <googlemap></googlemap>

	<div id="country-dropdown" ng-class="{'open':showDropDown1}">
            <select class="form-control" ng-model="dashboard.selectedCountryName" ng-change="dashboard.changeCountry()">
            	<option ng-repeat="country in dashboard.countries" value="{{country.name}}">{{country.name}}</option>      
            </select>
     </div>
     <div id="layer-dropdown" class="btn-group" ng-mouseenter="showDropDown = true" ng-class="{'open':showDropDown}">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            <i class="glyphicon glyphicon-menu-hamburger"></i>
        </button>
        <ul class="dropdown-menu" role="menu" ng-mouseleave="showDropDown = false">
            <li class="checkbox">
                <label>
                    <input id="dashboardToggle" type="checkbox" ng-model="dashboard.showTally">
                    Tally
                </label>
            </li>

            <li class="checkbox">
                <label>
                    <input id="dashboardToggle" type="checkbox"
                           ng-change="dashboard.toggleBorderStationLocations()"
                           ng-model="dashboard.showBorderStationLocations">
                    Transit Station Locations
                </label>
            </li>
        </ul>
     </div>
</div>
