<div id="montlyStationDataEntry" class="container-fluid padding-top-20">
	<div class="row col-md-12 form-group center-vertical">
		<div class="col-md-1">
			<label>Country</label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="vm.dataEntryCountry" ng-change="vm.dataEntryCountrySelect()">
				<option ng-repeat="country in vm.editCountries" value="{{country.id}}">{{ country.name}} </option>
			</select>
		</div>
		<div class="col-md-2 text-right">
	        <label>Include Closed Stations</label>
	    </div>
	    <div class="col-md-1">
	        <input type="checkbox" ng-model="vm.includeClosed">
    	</div>
	</div>
	<div class="row col-md-12">
		
		<table class="table table-striped" float-thead="vm.stickyOptions" cellspacing="0" cellpadding="0" cellborder="0" style="border-collapse:collapse;" ng-model="vm.dataEntryData">
	        <thead class="sticky-table-header">
	        	<tr>
	        		<th colspan=2>
	        			<h3>{{ vm.monthNames[vm.showMonth] }} {{ vm.showYear }}</h3>
	        		</th>
	        		<th>
	        			<button class="btn btn-xs" ng-click="vm.changeMonth(1)">
				        	<i class="fa fa-arrow-left"></i>
				        </button>
	        		</th>
	        		<th>
	        			<button class="btn btn-xs" ng-click="vm.changeMonth(-1)">
				        	<i class="fa fa-arrow-right"></i>
				        </button>
	        		</th>
	        		<th colspan=4>
	        		</th>
	        	</tr>
	        	<tr>
	        		<th>Station Name</th>
	        		<th class="boldRightBorder">Station Code</th>
	        		<th>Budget</th>
	        		<th>Intercepts</th>
	        		<th>Arrests</th>
	        		<th>Gospel</th>
	        		<th>Empowerment</th>
	        		<th>Convictions</th>
	        	</tr>
	        </thead>
	        <tbody>
	        	<tr ng-repeat="entry in vm.dataEntryData" ng-show="entry.station_open || vm.includeClosed">
	        		<td>{{ entry.station_name }}</td>
	        		<td class="boldRightBorder">{{ entry.station_code }}</td>
	        		<td><input type="number" ng-model="entry.budget"></td>
	        		<td><input type="number" ng-model="entry.intercepts"></td>
	        		<td><input type="number" ng-model="entry.arrests"></td>
	        		<td><input type="number" ng-model="entry.gospel"></td>
	        		<td><input type="number" ng-model="entry.empowerment"></td>
	        		<td><input type="number" ng-model="entry.convictions"></td>
	        	</tr>
	        </tbody>
	     </table>
     </div>
     <div class="text-center">
     	<button class="btn btn-success" ng-click="vm.save()">Save</button>
     </div>
</div>