<div class="container" id="AuditSampleList"><br/>
	<div class="row text-center">
		<h3>{{ $ctrl.audit.form_type_name }} Audit {{ $ctrl.audit.country_name }}</h3>({{ $ctrl.audit.start_date }} to {{ $ctrl.audit.end_date }})
	</div>
	<br>
	<div class="row">
		<div class="col-md-2">
			<div class="col-md-4">Status</div>
			<div class="col-md-8">
				<select ng-model="$ctrl.completionStatus" ng-change="$ctrl.parameterChange()">
					<option value="">All</option>
					<option value="true">Completed</option>
					<option value="false">Not Completed</option>
				</select>
			</div>
		</div>
    	<div class="col-md-2">
    		<div class="col-md-4">Total</div>
    		<div class="col-md-8">{{ $ctrl.audit.total_samples }}</div>
    	</div>
    	<div class="col-md-2">
    		<div class="col-md-6">Completed</div>
    		<div class="col-md-6">{{ $ctrl.audit.samples_complete }}</div>
    	</div>
    	<div class="col-md-2">
    		<div class="col-md-8">Accuracy %</div>
    		<div class="col-md-4">{{ $ctrl.getOverallAccuracy() }}</div>
    	</div>
    	<div class="col-md-3">
    		<div class="col-md-8">Forms Passed %</div>
    		<div class="col-md-4">{{ $ctrl.getFormsPassed() }}</div>
    	</div>
    	<hr>
    </div>
    <table class="table table-striped" float-thead="$ctrl.stickyOptions" ng-model="$ctrl.auditSamples">
        <thead class="sticky-table-header">
            <tr>
                <th>Form#</th>
                <th># Incorrect</th>
                <th>Correct/Total Fields</th>
                <th>High Level Notes</th>
                <th>Corrected in SL?</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sample in $ctrl.auditSamples">
                <td><a ng-href="{{ sample.url }}">{{ sample.form_number }}</a></td>
                <td ng-if="sample.completion_date">{{  sample.incorrect }}</td>
                <td ng-if="!sample.completion_date">-</td>
                <td ng-if="sample.completion_date">{{ $ctrl.getAccuracy($ctrl.audit.question_count, sample.incorrect) }}%</td> 
                <td ng-if="!sample.completion_date">-</td>
                <td>{{ sample.high_level_notes }}</td>
                <td>{{ sample.corrected }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row text-center" ng-if="$ctrl.paginate.items > 0">
        <paginate page-control="$ctrl.paginate" controller="$ctrl">
    </div>
    <br>
</div>
