<div class="container" id="AuditSampleList"><br/>
	<div class="row">
    	<div class="col-md-4">
    		<div class="col-md-4">Total</div>
    		<div class="col-md-8">{{ $ctrl.audit.samples_complete * $ctrl.audit.question_count }}</div>
    	</div>
    	<div class="col-md-4">
    		<div class="col-md-6">Accuracy %</div>
    		<div class="col-md-6">{{ $ctrl.getOverallAccuracy() }}</div>
    	</div>
    	<div class="col-md-4">
    		<div class="col-md-8">Forms Passed %</div>
    		<div class="col-md-4">{{ $ctrl.getFormsPassed() }}</div>
    	</div>
    	<hr>
    </div>
    <table class="table table-striped" float-thead="$ctrl.stickyOptions" ng-model="$ctrl.auditSamples">
        <thead class="sticky-table-header">
            <tr>
                <th>Form#</th>
                <th># Incorrect</th>
                <th>Correct/Total Fields</th>
                <th>High Level Notes</th>
                <th>Corrected in SL?</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sample in $ctrl.auditSamples">
                <td><a ng-href="{{ sample.url }}">{{ sample.form_number }}</a></td>
                <td ng-if="sample.completion_date">{{  sample.incorrect }}</td>
                <td ng-if="!sample.completion_date">-</td>
                <td ng-if="sample.completion_date">{{ $ctrl.getAccuracy($ctrl.audit.question_count, sample.incorrect) }}%</td> 
                <td ng-if="!sample.completion_date">-</td>
                <td>{{ sample.high_level_notes }}</td>
                <td>{{ sample.corrected }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row text-center">
        <button ng-disabled="!$ctrl.nextPage" ng-click="$ctrl.showMoreIrfs()" class="btn btn-primary" style="width: 90%; margin-bottom:50px;">
            Load more results
        </button>
    </div>
</div>
