<div class="modal-header">
    <h3 class="modal-title">Select Staff</h3>
</div>

<div class="modal-body">
	<div class="col-md-6" ng-repeat="(key, val) in vm.selectionList">
		<form-step type="checkbox" label="{{ key }}" response-value="vm.selectionList[key]"></form-step>
	</div>
</div>

<div class="modal-footer">
    <button id="selectButton" class="btn btn-primary" type="button" ng-click="vm.select()">Select</button>
    <button class="btn btn-danger" type="button" ng-click="vm.cancel()">Cancel</button>
</div>