<chips ng-model="$ctrl.selectedStaff">
    {{$ctrl.selectedStaff}}
    <chip-tmpl>
        <div class="default-chip">
            {{chip}}
            <span class="glyphicon glyphicon-remove" remove-chip></span>
        </div>
    </chip-tmpl>
    {{$ctrl.checkEvent}}
    <input type="text" ng-model="$ctrl.searchStaff" 
            ng-keydown="$ctrl.checkForSelect($event)"
            typeahead-on-select"$ctrl.handleSelect($item, $model, $label, $event)"
            uib-typeahead="staff as staff.first_name + ' ' + staff.last_name for staff in $ctrl.staff | filter:$viewValue:$ctrl.filterStaffByFirstAndLastName"></input>
</chips>