<div id="irf-page7">
    <div class="row header">
        <h1>Person Cards</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Person Box 1</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5 box-label">
                            <p>Full name</p>
                        </div>
                        <div class="col-md-7 input-field">
                            <input type="text" name="fullname"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="radio">
                          <label><input type="radio" name="optradio">Male</label> &nbsp;
                          <label><input type="radio" name="optradio">Female</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 box-label">
                            <p>Age</p>
                        </div>
                        <div class="col-md-7 input-field">
                            <input type="text" name="age"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 box-label">
                            <p>Address 1</p>
                        </div>

                        <div class="col-md-7 input-field">
                            <input type="text" name="address-1"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 box-label">
                            <p>Address 2</p>
                        </div>

                        <div class="col-md-7 input-field">
                            <input type="text" name="address-2"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 box-label">
                            <p>Phone Contact</p>
                        </div>
                        <div class="col-md-7 input-field">
                            <input type="text" name="phone-contact"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 box-label">
                            <p>Relation to...</p>
                        </div>
                        <div class="col-md-7 input-field">
                            <input type="text" name="relation-to"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 box-label">
                            <p>Photo Upload</p>
                        </div>
                        <div class="col-md-7 input-field">
                            <input type="text" name="photo-upload"><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>