       <div id="profile" class="col-xs-12 col-md-12 col-lg-4">
            <div class="row ">
                <div ng-class="{'has-error': accountEditCtrl.emailError}" class="col-md-12 form-group">
                    <label ng-class="{'text-danger': accountEditCtrl.emailError}">Email</label>
                    <input type="text" class="form-control" placeholder="Email" ng-model="accountEditCtrl.account.email"/>
                    <span ng-class="{'text-danger': accountEditCtrl.emailError}">{{accountEditCtrl.emailError}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name"
                           ng-model="accountEditCtrl.account.first_name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name"
                           ng-model="accountEditCtrl.account.last_name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Role</label>
                    <select type="text" ng-model="accountEditCtrl.account.role">
                    	<option value=""></option>
                    	<option value="Data Entry">Data Entry</option>
                    	<option value="Project Manager">Project Manager</option>
                    	<option value="Champion">Champion</option>
                    	<option value="Program Staff">Program Staff</option>
                    	<option value="National Office">National Office</option>
                    	<option value="Auditor">Auditor</option>
                    	<option value="Partner">Partner</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Country</label>
                    <select type="text" ng-model="accountEditCtrl.account.country_name">
                    	<option value=""></option>
                    	<option ng-repeat="country in accountEditCtrl.countries" value="{{ country.name }}">{{ country.name }}</option>
                    </select>
                </div>
            </div>
        </div>