<fieldset class="container-fluid" ng-disabled="$ctrl.isViewing">
    <div class="row center-vertical">
        <div class="col-md-4">
            <div class="margin-top-40 margin-bottom-10">
                <form-step>5.2 Which family member did you talk to?</form-step>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6" ng-repeat="families in $ctrl.config.RadioItems[82]">
                    <form-step type="radio" radio-name="familyRadio" ng-repeat="family in families" label="{{family}}" other-value="$ctrl.otherData.questions[82].otherValue" response-value="$ctrl.otherData.questions[82].value"></form-step>
                </div>
                <div class="col-md-6">
                	<form-step type="otherRadio" label="Other:" radio-name="familyRadio" other-value="$ctrl.otherData.questions[82].otherValue" response-value="$ctrl.otherData.questions[82].value"></form-step>
                </div>
            </div>
        </div>
    </div>
</fieldset>
