<fieldset class="form-horizontal" ng-disabled="$ctrl.isViewing">
    <div class="container-fluid">
        <div class="row col-md-12" ng-if="$ctrl.immigration">
        	<table class="immigrationTable">
        		<thead>
        			<tr>
        				<th class="immigrationHeader"></th>
        				<th class="immigrationCell"></th>
        				<th class="immigrationCell">Entry</th>
        				<th class="immigrationCell">Transit</th>
        				<th class="immigrationCell">Exit</th>
        				<th class="immigrationCase">Immigration Case Number</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr>
        				<td rowspan="2">LJ Recommendation</td>
        				<td>Allow</td>
        				<td><input type="radio" name="ljEntry" value="Allow" ng-model="$ctrl.questions[981].response.value"></td>
        				<td><input type="radio" name="ljTransit" value="Allow" ng-model="$ctrl.questions[982].response.value"></td>
        				<td><input type="radio" name="ljExit" value="Allow" ng-model="$ctrl.questions[983].response.value"></td>
        				<td rowspan="4"><form-step type="text" response-value="$ctrl.questions[987].response.value"></form-step></td>
        			</tr>
        			<tr>
        				<td>Deny</td>
        				<td><input type="radio" name="ljEntry" value="Deny" ng-model="$ctrl.questions[981].response.value"></td>
        				<td><input type="radio" name="ljTransit" value="Deny" ng-model="$ctrl.questions[982].response.value"></td>
        				<td><input type="radio" name="ljExit" value="Deny" ng-model="$ctrl.questions[983].response.value"></td>
        			</tr>
        			<tr>
        				<td rowspan="2">Immigration Decision</td>
        				<td>Allow</td>
        				<td><input type="radio" name="immEntry" value="Allow" ng-model="$ctrl.questions[984].response.value"></td>
        				<td><input type="radio" name="immTransit" value="Allow" ng-model="$ctrl.questions[985].response.value"></td>
        				<td><input type="radio" name="imExit" value="Allow" ng-model="$ctrl.questions[986].response.value"></td>
        			</tr>
        			<tr>
        				<td>Deny</td>
        				<td><input type="radio" name="imEntry" value="Deny" ng-model="$ctrl.questions[984].response.value"></td>
        				<td><input type="radio" name="imTransit" value="Deny" ng-model="$ctrl.questions[985].response.value"></td>
        				<td><input type="radio" name="imExit" value="Deny" ng-model="$ctrl.questions[986].response.value"></td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div class="row">
	    	<div class="col-md-6">
	    		<div>
                    <form-step ng-if="!$ctrl.narrativeOnly" type="textarea" label="8.1 What is the primary reason you believe this person is being trafficked or is at high risk of being trafficked?"
		    			response-value="$ctrl.questions[142].response.value"></form-step>
                    <form-step ng-if="$ctrl.narrativeOnly" type="textarea" label="Narrative - include the primary reason that you believe this person was being trafficked or was at high risk of being trafficked"
                            response-value="$ctrl.questions[146].response.value"></form-step>
	    		</div>
	    	</div>
	    	<div class="col-md-6">
	    		<div>
	    			<p>&nbsp;</p>
	    			<form-step>How sure are you that an interception should be made given the "When to Intercept Posters"?</form-step>
		    		<form-step>
		             <label for="how-sure">Rate from 1-5 (1 = not at all sure, 5 = absolutely sure)</label>
		             <select id="how-sure" ng-model="$ctrl.questions[147].response.value">
		                 <option value="1 - Not at all sure">1 - Not at all sure</option>
		                 <option value="2 - Unsure but suspects it">2 - Unsure but suspects it</option>
		                 <option value="3 - Somewhat sure">3 - Somewhat sure</option>
		                 <option value="4 - Very sure">4 - Very sure</option>
		                 <option value="5 - Absolutely sure">5 - Absolutely sure</option>
		             </select>
		    		</form-step>
		    	</div>
		    	<div>
	                <form-step>Why did the potential victims stop?</form-step>
	                <form-step type="checkbox" label="Staff convinced (not forced) to stop" response-value="$ctrl.questions[149].response.value"></form-step>
	                <form-step type="checkbox" label="Family convinced or forced (if under 18 years) to stop" response-value="$ctrl.questions[148].response.value"></form-step>
	                <form-step type="text" class="col-md-12" label="Family Phone #" response-value="$ctrl.questions[940].response.value"></form-step>
	                <form-step type="checkbox" label="Police convinced or forced to stop" response-value="$ctrl.questions[150].response.value"></form-step>
	                <form-step ng-if="$ctrl.includeQuestion[1077]" type="checkbox" label="PV decided to stop on their own prior to interception and needed resources to return home" response-value="$ctrl.questions[1077].response.value"></form-step>
	            </div>
	    	</div>

		</div>
		<hr/>
		<div class="row center-vertical">
			<div class="col-md-6" ng-if="$ctrl.questions[1069]">
				<form-step type="text" class="col-md-12" label="Flight Number" response-value="$ctrl.questions[1069].response.value"></form-step>
			</div>
		</div>
        <div class="container-fluid">
            <div class="row center-vertical">
                <div class="col-md-6 panel panel-default text-center padding-10 margin-vertical-20">
                    <div class="row">
                        I certify that I have followed procedures and filled out this form correctly, completely, and accurately.
                    </div>
                    <form-step>
                        <input id="scanned" type="checkbox" ng-change="$ctrl.getWarningMessages()" ng-model="$ctrl.questions[151].response.value">
                        <label for="scanned">Scanned form has signature</label>
                    </form-step>
                </div>
            </div>
        </div>
    </div>
</fieldset>
