<fieldset class="form-horizontal" ng-disabled="$ctrl.isViewing">
    <div class="container-fluid">
        <div class="row center-vertical">
	        <div class="col-md-4">
	            <div class="margin-top-40 margin-bottom-10">
	                <form-step>5.2 Which family member did you talk to?</form-step>
	            </div>
	        </div>
	        <div class="col-md-8">
	            <div class="row">
	                <div class="col-md-6" ng-repeat="families in $ctrl.config.RadioItems[82]">
	                    <form-step type="radio" radio-name="familyRadio" ng-repeat="family in families" label="{{family}}" other-value="$ctrl.otherData.questions[82].otherValue" response-value="$ctrl.otherData.questions[82].value"></form-step>
	                    <form-step ng-if="$first" type="otherRadio" label="Other:" radio-name="familyRadio" other-value="$ctrl.otherData.questions[82].otherValue" response-value="$ctrl.otherData.questions[82].value"></form-step>
	                </div>
	            </div>
	        </div>
	    </div>
	    <hr>
	    <div class="row center-vertical">
			<div class="col-md-12">
				<form-step>5.3  Please give any additional information about the interception, how it occurred, the reason you decided to intercept the potential victim(s), etc.</form-step>
					<form-step>
	                <textarea class="form-control" rows="5" ng-model="$ctrl.questions[146].response.value"></textarea>
	            </form-step>
	        </div>
	    </div>
	    <hr>
        <div class="row">
            <div>Either fill out the first or second section (not both), depending on whether the potential victim was first noticed by
                staff, or came from a contact. </div>
            <div class="padding-top-20">How did you make the interception?</div>
            <hr/>
        </div>
        <div class="row center-vertical">
            <div class="col-md-2">
                <form-step type="radio" label="6.0 Contact" response-value="$ctrl.questions[91].response.value" radio-name="contactOrStaff"></form-step>
            </div>
            <div class="row col-md-10">
                <div class="row center-vertical">
                    <div class="col-md-3" ng-repeat="contacts in $ctrl.contactList">
                        <form-step type="radio" radio-name="contactType" ng-repeat="contact in contacts" label="{{contact}}" other-value="$ctrl.otherData.questions[92].otherValue"
                        	response-value="$ctrl.otherData.questions[92].value"></form-step>
                        <form-step ng-if="$last" type="otherRadio" radio-name="contactType" label="Other" other-value="$ctrl.otherData.questions[92].otherValue"
                        	response-value="$ctrl.otherData.questions[92].value"></form-step>
                    </div>
                </div>
                <hr/>
                <div class="padding-bottom-20">Did you pay the contact for this information?</div>
                <div class="row center-vertical">
                    <div class="col-md-2">
                        <form-step type="radio" label="No" response-value="$ctrl.questions[102].response.value" radio-name="didYouPay"></form-step>
                    </div>
                    <div class="col-md-2">
                        <form-step type="radio" label="Yes" response-value="$ctrl.questions[102].response.value" radio-name="didYouPay"></form-step>
                    </div>
                    <div class="col-md-4 margin-left-10">
                        <form-step label="How much?" type="text" response-value="$ctrl.questions[104].response.value"></form-step>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row center-vertical">
            <div class="col-md-2">
                <form-step type="radio" label="7.0 Staff" response-value="$ctrl.questions[91].response.value" radio-name="contactOrStaff"></form-step>
            </div>
            <div class="row col-md-10">
                <div class="row center-vertical">
                    <div class="col-md-6 form-group">
                        <form-step class="col-xs-4 control-label">7.1 Staff who noticed</form-step>
                        <div class="col-xs-6">
                            <staff-select selected-staff="$ctrl.questions[106].response.value" station-id="$ctrl.stationId"></staff-select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>
