<fieldset class="form-horizontal" ng-disabled="$ctrl.isViewing === true">
    <div class="row">
        <div class="col-md-4 form-group">
            <form-step class="col-xs-3 control-label">Irf Number: </form-step>
            <div class="col-xs-4">
                <input type="text" id="formNumber" class="form-control" placeholder="Irf Number" ng-model="$ctrl.questions[1].response.value" ng-change="$ctrl.formNumberChange()">
            </div>
            <div class="col-xs-5 alert-danger" ng-show="!$ctrl.goodFormNumber">
            	Invalid Form Number
            </div>
        </div>
        <div class="col-md-4 form-group">
            <form-step class="col-xs-3 control-label"># of PVOTs: </form-step>
            <div class="col-xs-9">
                <input type="number" class="form-control" min="0" ng-model="$ctrl.questions[2].response.value">
            </div>
        </div>
        <div class="col-md-4 form-group">
            <form-step class="col-xs-3 control-label">Location: </form-step>
            <div class="col-xs-9">
                <location-select selected-location="$ctrl.questions[3].response.value" station-id="$ctrl.stationId"></location-select>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <br>
		<div class="col-md-4 form-group">
            <form-step class="col-xs-1 control-label">Date: </form-step>
            <div class="col-md-5">
                 <input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="$ctrl.interceptionDate">
            </div>
            <form-step class="col-xs-1 control-label">Time: </form-step>
            <div class="col-md-4">
        		<input data-clocklet="format: hh:mm a" ng-model=$ctrl.clock>
        	</div>
        </div>
        <div class="col-md-4 form-group">
            <form-step class="col-xs-3 control-label"># of Suspects: </form-step>
            <div class="col-xs-9">
                <input type="number" class="form-control" min="0" ng-model="$ctrl.questions[5].response.value">
            </div>
        </div>
        <div class="col-md-4 form-group">
            <form-step class="col-xs-3 control-label">Staff Name: </form-step>
            <div class="col-xs-9">
                <staff-select selected-staff="$ctrl.questions[6].response.value" station-id="$ctrl.stationId"></staff-select>
            </div>
        </div>
    </div>
</fieldset>