<div id="staff-box-modal" class="modal-content">
	<div class="modal-body">
		<div class="row">
	          <div class="col-sm-6 form-group">
	            <label for="firstName">First Name</label>
	            <input type="text" class="form-control" placeholder="First Name"
	                   ng-model="StaffModalController.questions[957].response.value">
	          </div>
	          <div class="col-sm-6 form-group">
	            <label for="lastName">Last Name</label>
	            <input type="text" class="form-control" placeholder="Last Name"
	                   ng-model="StaffModalController.questions[958].response.value">
	          </div>
	      </div>
	      <div class="row">
	          <div class="col-sm-6 form-group">
	            <label for="email">Email</label>
	            <input type="text" class="form-control" placeholder="Email Address"
	                   ng-model="StaffModalController.questions[959].response.value">
	          </div>
	          <div class="col-sm-6 form-group">
	            <label for="phone">Phone Number</label>
	            <input type="text" class="form-control" placeholder="Phone Number"
	                   ng-model="StaffModalController.questions[960].response.value">
	          </div>
	      </div>
	      <div class="row">
	          <div class="col-sm-6 form-group">
	            <label for="position">Position</label>
	            <input type="text" class="form-control" placeholder="Position"
	                   ng-model="StaffModalController.questions[961].response.value">
	          </div>
	          <div class="col-sm-6 checkbox">
	          	<label>
	              <input type="checkbox"
	                     ng-model="StaffModalController.questions[962].response.value" ng-disabled="!StaffModalController.questions[959].response.value"> Recieves Money Distribution Form
	            </label>
	          </div>
	      </div>
	      <div class="row">
	      	<div class="col-sm-6 form-group">
	            <label for="project">Work Project</label>
	            <select id="project" class="form-control"
	            		ng-model="StaffModalController.worksOn" ng-if="StaffModalController.projectCount < 2">
	            	<option value="{{ proj.id }}" ng-repeat="proj in StaffModalController.params.projects">{{ proj.station_name }}</option>
	            </select>
	            <div ng-repeat="worksOn in StaffModalController.worksOn" ng-if="StaffModalController.projectCount > 1">
	            	<div class="col-md-10">
	            		<input type="text" class="form-control" ng-model="worksOn.works_on.project_name" disabled>
	            	</div>
	            	<div class="col-md-2">
	            		<input type="text" class="form-control" ng-model="worksOn.percent" disabled>
            		</div>
	            </div>
	      	</div>
	      </div>
	      <div class="row">
	          <div class="col-sm-6 form-group">
	            <label for="joined">Start Date</label>
	            <input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="StaffModalController.dateData.questions[969].value">
	          </div>
	      </div>
	      <div class="row" ng-if="StaffModalController.isRemove">
	    	<div class="col-sm-6 form-group">
	          <h3>Enter last date as member of staff</h3>
	          <input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="StaffModalController.dateData.questions[970].value">
	        </div>
	    </div>
	  </div>
	  <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-success float-left" ng-click="StaffModalController.save()" ng-if="!StaffModalController.isViewing"
                    		ng-show="!StaffModalController.isRemove"
                    		ng-disabled="StaffModalController.questions[957].response.value==='' || StaffModalController.dateData.questions[969].value===''">Save</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-danger" ng-click="StaffModalController.remove()"
                    		ng-if="!StaffModalController.isAdd && !StaffModalController.isViewing && !StaffModalController.isRemove">Remove from Staff</button>
                    <button class="btn btn-danger" ng-click="StaffModalController.save()"
                    		ng-if="!StaffModalController.isAdd && !StaffModalController.isViewing && StaffModalController.isRemove">Proceed to Remove from Staff</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default" ng-click="StaffModalController.dismiss()">Close</button>
                </div>
            </div>
        </div>