<div  class="verticalOffset">
    <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <ul class="nav nav-tabs">
            <li ng-repeat="section in accountNavCtrl.sections.allSections" ng-class="{active: accountNavCtrl.active == $index}" ng-click="accountNavCtrl.active = $index; accountNavCtrl.sectionTemplateUrl = section.templateUrl"><a href="">{{section.name}}</a></li>
        </ul>

        <div class="verticalOffset" ng-include="accountNavCtrl.sectionTemplateUrl"></div>
    </div>
</div>