<fieldset ng-disabled="$ctrl.isViewing === true">
    <div class="row">
        <div class="col-md-4 form-group">
            <form-step class="col-md-3 control-label">1.1 Name</form-step>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Name" ng-model="$ctrl.questions[292].response.name.value">
            </div>
            <div class="col-md-1">
	            <associated-person ng-model="$ctrl.questions[292].response" person-list="$ctrl.associatedPersons" birth-date="$ctrl.dateData.questions[292]"
	            		id-choice="$ctrl.personIdentifierChoice.questions[292].radioValue" associated-controller="$ctrl"></associatedPerson>
            </div>
        </div>
        <div class="col-md-2 form-group">
            <form-step class="col-md-5 control-label">1.2 Gender</form-step>
            <div class="col-md-7">
                 <select class="form-control" ng-model="$ctrl.questions[292].response.gender.value">
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>
                 </select>
            </div>
        </div>
        <div class="col-md-2 form-group">
            <form-step class="col-md-6 control-label">1.3 Age</form-step>
            <div class="col-md-6">
                <input type="number" class="form-control" placeholder="Age" ng-model="$ctrl.questions[292].response.age.value">
            </div>
        </div>
        <div class="col-md-4 form-group">
            <form-step class="col-md-4 control-label">1.4 Nationality</form-step>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="$ctrl.questions[292].response.nationality.value">
            </div>
        </div>
    </div>
    <div class="row">
     	<div class="col-md-6 form-group">
        	<form-step class="col-md-2 margin-top-15">1.5 Address:</form-step>
        	<address-entry class="col-md-10 margin-top-15" ng-model="$ctrl.questions[292].response.address"
        			latitude-model="$ctrl.questions[292].response.latitude.value"
        			longitude-model="$ctrl.questions[292].response.longitude.value" view-only="$ctrl.isViewing"></addressEntry>
        </div>
        <div class="col-md-6 form-group">
        	<form-step class="col-md-2 margin-top-15">Address Notes:</form-step>
        	<div class="col-md-10">
                <input type="text" class="form-control margin-top-15" ng-model="$ctrl.questions[292].response.address_notes.value">
            </div>
        </div>
    </div>
    <div class="row">
		<div class="col-md-4">
            <form-step class="col-md-5 control-label">1.6 Occupation</form-step>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="$ctrl.questions[292].response.occupation.value">
            </div>
        </div>
		<div class="col-md-8">
			<div class="col-md-2">
            	<form-step class="col-md-12 control-label">1.7 Education</form-step>
            </div>
            <div class="col-md-10">
		        <div class="col-md-3">
		            <form-step type="radio" radio-name="education" label="None/Illiterate" response-value="$ctrl.questions[292].response.education.value"></form-step>
		        </div>
		        <div class="col-md-2">
		            <form-step type="radio" radio-name="education" label="Primary" response-value="$ctrl.questions[292].response.education.value"></form-step>
		        </div>
		        <div class="col-md-2">
		            <form-step type="radio" radio-name="education" label="Secondary" response-value="$ctrl.questions[292].response.education.value"></form-step>
		        </div>
		        <div class="col-md-2">
		            <form-step type="radio" radio-name="education" label="University" response-value="$ctrl.questions[292].response.education.value"></form-step>
		        </div>
	        </div>
	     </div>
    </div>
    <br>
    <div class="row">
    	<br>
    	<div class="col-md-7">
            <form-step class="col-md-4 control-label">1.8 (If Under 18) Name of Guardian</form-step>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="$ctrl.questions[292].response.guardian_name.value">
            </div>
        </div>
    </div>
    <div class="row">
    	<br>
		<div class="col-md-2">
           	<form-step class="col-md-12 control-label">1.9 Relationship to Guardian</form-step>
        </div>
        <div class="col-md-7">
	        <div class="col-md-2">
	            <form-step type="radio" radio-name="relationship-guardian" label="Own Parent(s)" response-value="$ctrl.questions[292].response.guardian_relationship.value"></form-step>
	        </div>
	        <div class="col-md-2">
	            <form-step type="radio" radio-name="relationship-guardian" label="Other Relative" response-value="$ctrl.questions[292].response.guardian_relationship.value"></form-step>
	        </div>
	        <div class="col-md-2">
	            <form-step type="radio" radio-name="relationship-guardian" label="Non-relative" response-value="$ctrl.questions[292].response.guardian_relationship.value"></form-step>
	        </div>
	        <div class="col-md-4">
	            <form-step type="radio" radio-name="relationship-guardian" label="No one (I have no guardian)" response-value="$ctrl.questions[292].response.guardian_relationship.value"></form-step>
	        </div>
	     </div>
    </div>
    <div class="row">
    	<br>
 		<div class="col-md-4">
           	<form-step class="col-md-12 control-label">1.10 Were there other possible victims associated with this case?</form-step>
        </div>
        <div class="col-md-7">
	        <div class="col-md-2">
	            <form-step type="radio" radio-name="other-pvs" label="Yes" response-value="$ctrl.questions[299].response.value"></form-step>
	        </div>
	        <div class="col-md-2">
	            <form-step type="radio" radio-name="other-pvs" label="No" response-value="$ctrl.questions[299].response.value"></form-step>
	        </div>
	     </div>
    </div>
    <div class="row col-md-12">
 		&nbsp;
 	</div>
</fieldset>
