<div class="container-fluid">
<h1 class="text-center">Data Collection Indicators</h1>
<div class="row center-vertical fixed-layout" id="dataCollectionIndicator">
	<div class="col-md-1">
		&nbsp;
	</div>
	<div class="col-md-3 text-center">
		<div class="col-md-3 text-center">
			<p>Country</p>
		</div>
		<div class="col-md-9" ng-dropdown-multiselect="" options="collectionIndicators.countryDropDown.options"
				selected-model="collectionIndicators.countryDropDown.selectedOptions"
				extra-settings="collectionIndicators.countryDropDown.settings"
				translation-texts="collectionIndicators.countryDropDown.customText"
				events="collectionIndicators.countryDropDown.eventListener">
		</div>
	</div>
	<div class="col-md-3 text-center">
		<form-step class="col-md-4 text-center">Start Date</form-step>
		<div class="col-md-8">
			<input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="collectionIndicators.startDate" ng-change="collectionIndicators.calculate();">
		</div>
	</div>
	<div class="col-md-3 text-center">
		<form-step class="col-md-4">End Date</form-step>
		<div class="col-md-8">
			<input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="collectionIndicators.endDate"  ng-change="collectionIndicators.calculate();">
		</div>
	</div>
	<div class="col-md-4">
		&nbsp;
	</div>
	<div class="col-md-1">
		<img ng-src="assets/images/Actions-go-previous-icon.png" ng-show="collectionIndicators.scrollLeft" ng-click="collectionIndicators.scroll(-1)">
	</div>
	<div class="col-md-1">
		<img ng-src="assets/images/Actions-go-next-icon.png" ng-show="collectionIndicators.scrollRight" ng-click="collectionIndicators.scroll(1)">
	</div>
	<hr>
	<div ng-style="{'width':collectionIndicators.tableDivSize, 'margin': 'auto'}" ng-if="collectionIndicators.indicators">
		<table class="table" float-thead="collectionIndicators.stickyOptions" ng-model="collectionIndicators.indicators">
	        <thead class="sticky-table-header">
	        	<tr>
	        		<th ng-style="{'width':collectionIndicators.sectionWidth + 'px'}"></th>
	        		<th ng-style="{'width':collectionIndicators.labelWidth + 'px'}" class="label-col"></th>
	        		<th ng-repeat="indicator in collectionIndicators.indicators" ng-style="{'width':collectionIndicators.dataWidth + 'px'}" class="col-data"></th>
	        		
	        	</tr>
	        	<tr>
	                <th ng-class="collectionIndicators.getHeadClass('bold heading heading-type black')" colspan="2">Data Collection Indicators</th>
	                <th ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('heading dark-grey', 'heading',  $index)">{{ indicator.label }}</th>
	            </tr>
	            <tr>
	        		<th ng-class="collectionIndicators.getHeadClass('victims-light')"></th>
	        		<th ng-class="collectionIndicators.getHeadClass('victims-light')"># of Victims</th>
	        		<th ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('victims-dark', 'victims-light',  $index)">{{ indicator.victim_count }}</th>
	        	</tr>
	        </thead>
	        <tbody>
	        	
	        	<tr>
	        		<td rowspan="4" ng-class="collectionIndicators.getHeadClass('bold irf-dark center')">IRF</td>
	        		<td ng-class="collectionIndicators.getHeadClass('irf-light')">IRFs</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('light-grey center', 'irf-light', $index)">{{ indicator.irf_count }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('irf-dark')">IRFs in Compliance #</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"  ng-class="collectionIndicators.getCellClass('med-grey', 'irf-light', $index)">{{ indicator.irf_compliance_count }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('irf-light')">IRFs in Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('light-grey', 'irf-light', $index)">{{ collectionIndicators.displayPercent(indicator.irf_compliance_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('irf-dark')">IRF Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('med-grey', 'irf-light', $index)">{{ indicator.irf_lag }}</td>
	        	</tr>
	        	<tr>
	        		<td rowspan="6" ng-class="collectionIndicators.getHeadClass('bold cif-dark center')">CIF</td>
	        		<td ng-class="collectionIndicators.getHeadClass('cif-light')">CIFs</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('light-grey', 'cif-light', $index)">{{ indicator.cif_count }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('cif-dark')">CIF %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('med-grey', 'cif-light', $index)">{{ collectionIndicators.displayPercent(indicator.cif_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('cif-light')">CIF in Compliance #</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('light-grey', 'cif-light', $index)">{{ indicator.cif_compliance_count }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('cif-dark')">CIF in Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('med-grey', 'cif-light', $index)">{{ collectionIndicators.displayPercent(indicator.cif_compliance_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('cif-light')">CIF Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('light-grey', 'cif-light', $index)">{{ indicator.cif_lag }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('cif-dark')"># of CIFs with "Evidence"</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('med-grey', 'cif-light', $index)">{{ indicator.cif_with_evidence_count }}</td>
	        	</tr>
	        	<tr>
	        		<td rowspan="4" ng-class="collectionIndicators.getHeadClass('bold vdf-dark center')">VDF</td>
	        		<td ng-class="collectionIndicators.getHeadClass('vdf-light')">VDFs</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('light-grey','vdf-light', $index)">{{ indicator.vdf_count }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('vdf-dark')">VDFs in Compliance #</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('med-grey','vdf-light', $index)">{{ indicator.vdf_compliance_count }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('vdf-light')">VDFs in Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('light-grey','vdf-light', $index)">{{ collectionIndicators.displayPercent(indicator.vdf_compliance_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('vdf-dark')">VDF Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('med-grey','vdf-light', $index)">{{ indicator.vdf_lag }}</td>
	        	</tr>
	        	<tr>
	        		<td rowspan="7" ng-class="collectionIndicators.getHeadClass('bold dark-grey center')">Verification</td>
	        		<td ng-class="collectionIndicators.getHeadClass('dark-grey')">Total# of Verified Forms</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('dark-grey', 'comp-light', $index)">{{ indicator.verified_forms }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('clear-dark')">Evidence of Trafficking</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('clear-dark', 'clear-light', $index)">{{ indicator.evidence_count }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('clear-dark')">%</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('clear-dark', 'clear-light', $index)">{{ collectionIndicators.displayPercent(indicator.evidence_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('invalid-dark')">Invalid Intercept</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('invalid-dark', 'invalid-light', $index)">{{ indicator.invalid_intercept_count }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('invalid-dark')">%</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('invalid-dark', 'invalid-light', $index)">{{ collectionIndicators.displayPercent(indicator.invalid_intercept_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('high-dark')">High Risk of Trafficking</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('high-dark', 'high-light', $index)">{{ indicator.high_risk_count }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('high-dark')">%</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('high-dark', 'high-light', $index)">{{ collectionIndicators.displayPercent(indicator.high_risk_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td rowspan="10" ng-class="collectionIndicators.getHeadClass('bold light-grey center')">Station Compliance</td>
	        		<td ng-class="collectionIndicators.getHeadClass('')">VDF %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)">{{ collectionIndicators.displayPercent(indicator.vdf_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('light-grey')">V Photos %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('light-grey', 'comp-light', $index)">{{ collectionIndicators.displayPercent(indicator.photo_percent) }}</td>
	        	</tr>
				<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('')">Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)">{{ collectionIndicators.displayPercent(indicator.compliance_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('light-grey')">Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('light-grey', 'comp-light', $index)">{{ collectionIndicators.displayPercent(indicator.collection_lag_time) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('')">Evidence Cases with CIF%</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)">{{ collectionIndicators.displayPercent(indicator.evidence_cif_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('light-grey')">% of Valid Intercepts</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('light-grey', 'comp-light', $index)">{{ collectionIndicators.displayPercent(indicator.valid_intercept_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('')">% Phone Numbers Verified</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)">{{ collectionIndicators.displayPercent(indicator.phone_verified_percent) }}</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('bold black right')"><b>Total</b></td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('black', 'comp-light', $index)"><b>{{ collectionIndicators.displayPercent(indicator.compliance_total) }}</b></td>
	        	</tr>
	    </table>
    </div>
</div>
<div>
