<div class="container-fluid">
<h1 class="text-center">Data Collection Indicators</h1>
<div class="row center-vertical fixed-layout" id="dataCollectionIndicator">
	<div class="col-md-1">
		&nbsp;
	</div>
	<div class="col-md-3 text-center">
		<div class="col-md-3 text-center">
			<p>Country</p>
		</div>
		<div class="col-md-9" ng-dropdown-multiselect="" options="collectionIndicators.countryDropDown.options"
				selected-model="collectionIndicators.countryDropDown.selectedOptions"
				extra-settings="collectionIndicators.countryDropDown.settings"
				translation-texts="collectionIndicators.countryDropDown.customText"
				events="collectionIndicators.countryDropDown.eventListener">
		</div>
	</div>
	<div class="col-md-3 text-center">
		<form-step class="col-md-4 text-center">Start Date</form-step>
		<div class="col-md-8">
			<input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="collectionIndicators.startDate" ng-change="collectionIndicators.calculate();">
		</div>
	</div>
	<div class="col-md-3 text-center">
		<form-step class="col-md-4">End Date</form-step>
		<div class="col-md-8">
			<input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="collectionIndicators.endDate"  ng-change="collectionIndicators.calculate();">
		</div>
	</div>
	<div class="col-md-4">
		&nbsp;
	</div>
	<div class="col-md-1">
		<img ng-src="assets/images/Actions-go-previous-icon.png" ng-show="collectionIndicators.scrollLeft" ng-click="collectionIndicators.scroll(-1)">
	</div>
	<div class="col-md-1">
		<img ng-src="assets/images/Actions-go-next-icon.png" ng-show="collectionIndicators.scrollRight" ng-click="collectionIndicators.scroll(1)">
	</div>
	<hr>
	<div ng-style="{'width':collectionIndicators.tableDivSize, 'margin': 'auto'}" ng-if="collectionIndicators.indicators">
		<table class="table" float-thead="collectionIndicators.stickyOptions" ng-model="collectionIndicators.indicators">
	        <thead class="sticky-table-header">
	        	<tr>
	        		<th ng-style="{'width':collectionIndicators.sectionWidth + 'px'}"></th>
	        		<th ng-style="{'width':collectionIndicators.labelWidth + 'px'}" class="label-col"></th>
	        		<th ng-repeat="indicator in collectionIndicators.indicators" ng-style="{'width':collectionIndicators.dataWidth + 'px'}" class="col-data"></th>
	        		
	        	</tr>
	        	<tr>
	                <th ng-class="collectionIndicators.getHeadClass('bold heading heading-type black')" colspan="2">Data Collection Indicators</th>
	                <th ng-repeat="indicator in collectionIndicators.indicators" ng-class="collectionIndicators.getCellClass('heading dark-grey', 'heading',  $index)">{{ indicator.label }}</th>
	            </tr>
	            <tr>
	        		<th ng-class="collectionIndicators.getHeadClass('victims-light')"></th>
	        		<th ng-class="collectionIndicators.getHeadClass('victims-light')"># PVs</th>
	        		<th ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('victims-dark', 'victims-light',  $index)"
	        				ng-click="collectionIndicators.getDetail('# PVs', indicator)">
	        			{{ indicator.victim_count }}
	        		</th>
	        	</tr>
	        </thead>
	        <tbody>
	        	
	        	<tr>
	        		<td rowspan="4" ng-class="collectionIndicators.getHeadClass('bold irf-dark center')">IRF</td>
	        		<td ng-class="collectionIndicators.getHeadClass('irf-light')">IRFs</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey center', 'irf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('IRFs', indicator)">
	        			{{ indicator.irf_count }}
	        		</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('irf-dark')">IRFs in Compliance #</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators" 
	        				ng-class="collectionIndicators.getCellClass('med-grey', 'irf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('IRFs in Compliance #', indicator)">
	        			{{ indicator.irf_compliance_count }}
	        		</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('irf-light')">IRFs in Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'irf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('IRFs in Compliance %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.irf_compliance_percent) }}
	        		</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('irf-dark')">IRF Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey', 'irf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('IRF Collection Lag Time', indicator)">
	        			{{ indicator.irf_lag }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td rowspan="6" ng-class="collectionIndicators.getHeadClass('bold cif-dark center')">CIF</td>
	        		<td ng-class="collectionIndicators.getHeadClass('cif-light')">CIFs</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'cif-light', $index)"
	        				ng-click="collectionIndicators.getDetail('CIFs', indicator)">
	        			{{ indicator.cif_count }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('cif-dark')">CIF %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey', 'cif-light', $index)"
	        				ng-click="collectionIndicators.getDetail('CIF %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.cif_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('cif-light')">CIFs in Compliance #</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'cif-light', $index)"
	        				ng-click="collectionIndicators.getDetail('CIFs in Compliance #', indicator)">
	        			{{ indicator.cif_compliance_count }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('cif-dark')">CIFs in Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey', 'cif-light', $index)"
	        				ng-click="collectionIndicators.getDetail('CIFs in Compliance %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.cif_compliance_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('cif-light')">CIF Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'cif-light', $index)"
	        				ng-click="collectionIndicators.getDetail('CIF Collection Lag Time', indicator)">
	        			{{ indicator.cif_lag }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('cif-dark')">CIFs with Evidence #</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey', 'cif-light', $index)"
	        				ng-click="collectionIndicators.getDetail('CIFs with Evidence #', indicator)">
	        			{{ indicator.cif_with_evidence_count }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td rowspan="4" ng-class="collectionIndicators.getHeadClass('bold vdf-dark center')">VDF</td>
	        		<td ng-class="collectionIndicators.getHeadClass('vdf-light')">VDFs</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey','vdf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('VDFs', indicator)">
	        			{{ indicator.vdf_count }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('vdf-dark')">VDFs in Compliance #</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey','vdf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('VDFs in Compliance #', indicator)">
	        			{{ indicator.vdf_compliance_count }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('vdf-light')">VDFs in Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey','vdf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('VDFs in Compliance %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.vdf_compliance_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('vdf-dark')">VDF Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey','vdf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('VDF Collection Lag Time', indicator)">
	        			{{ indicator.vdf_lag }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td rowspan="4" ng-class="collectionIndicators.getHeadClass('bold pvf-dark center')">PVF</td>
	        		<td ng-class="collectionIndicators.getHeadClass('pvf-light')">PVFs</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey','pvf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('PVFs', indicator)">
	        			{{ indicator.vdf_count }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('pvf-dark')">PVFs in Compliance #</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey','pvf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('PVFs in Compliance #', indicator)">
	        			{{ indicator.vdf_compliance_count }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('pvf-light')">PVFs in Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey','pvf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('PVFs in Compliance %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.vdf_compliance_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('pvf-dark')">PVF Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey','pvf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('PVF Collection Lag Time', indicator)">
	        			{{ indicator.vdf_lag }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td rowspan="4" ng-class="collectionIndicators.getHeadClass('bold sf-dark center')">SF</td>
	        		<td ng-class="collectionIndicators.getHeadClass('sf-light')">SFs</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey','sf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('SFs', indicator)">
	        			{{ indicator.sf_count }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('sf-dark')">SFs in Compliance #</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey','sf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('SFs in Compliance #', indicator)">
	        			{{ indicator.sf_compliance_count }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('sf-light')">SFs in Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey','sf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('SFs in Compliance %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.sf_compliance_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('sf-dark')">SF Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey','sf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('SF Collection Lag Time', indicator)">
	        			{{ indicator.sf_lag }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td rowspan="4" ng-class="collectionIndicators.getHeadClass('bold lf-dark center')">LF</td>
	        		<td ng-class="collectionIndicators.getHeadClass('lf-light')">LFs</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey','lf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('LFs', indicator)">
	        			{{ indicator.lf_count }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('lf-dark')">LFs in Compliance #</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey','lf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('LFs in Compliance #', indicator)">
	        			{{ indicator.lf_compliance_count }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('lf-light')">LFs in Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey','lf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('LFs in Compliance %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.lf_compliance_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('lf-dark')">LF Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('med-grey','lf-light', $index)"
	        				ng-click="collectionIndicators.getDetail('LF Collection Lag Time', indicator)">
	        			{{ indicator.lf_lag }}
	        		</td>
	        	</tr>
	        	
	        	<tr>
	        		<td rowspan="7" ng-class="collectionIndicators.getHeadClass('bold dark-grey center')">Verification</td>
	        		<td ng-class="collectionIndicators.getHeadClass('dark-grey')">Total # Verified Forms</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('dark-grey', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('Total # Verified Forms', indicator)">
	        			{{ indicator.verified_forms }}
	        		</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('clear-dark')">Evidence of Trafficking</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('clear-dark', 'clear-light', $index)"
	        				ng-click="collectionIndicators.getDetail('Evidence of Trafficking', indicator)">
	        			{{ indicator.evidence_count }}
	        		</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('clear-dark')">%</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('clear-dark', 'clear-light', $index)"
	        				ng-click="collectionIndicators.getDetail('Evidence of Trafficking %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.evidence_percent) }}
	        		</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('invalid-dark')">Invalid Intercept</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('invalid-dark', 'invalid-light', $index)"
	        				ng-click="collectionIndicators.getDetail('Invalid Intercept', indicator)">
	        			{{ indicator.invalid_intercept_count }}
	        		</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('invalid-dark')">%</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('invalid-dark', 'invalid-light', $index)"
	        				ng-click="collectionIndicators.getDetail('Invalid Intercept %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.invalid_intercept_percent) }}
	        		</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('high-dark')">High Risk of Trafficking</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('high-dark', 'high-light', $index)"
	        				ng-click="collectionIndicators.getDetail('High Risk of Trafficking', indicator)">
	        			{{ indicator.high_risk_count }}
	        		</td>
	        	</tr>
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('high-dark')">%</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('high-dark', 'high-light', $index)"
	        				ng-click="collectionIndicators.getDetail('High Risk of Trafficking %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.high_risk_percent) }}
	        		</td>
	        	</tr>
	        	
	        	
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td rowspan="10" ng-class="collectionIndicators.getHeadClass('bold light-grey center')">Project Compliance</td>
	        		<td ng-class="collectionIndicators.getHeadClass('')">VDF %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('VDF %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.vdf_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('light-grey')">PV Photos %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('PV Photos %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.photo_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('')">S Photos %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('S Photos %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.suspect_photo_percent) }}
	        		</td>
	        	</tr>
				<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('light-grey')">Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('Compliance %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.compliance_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('')">Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('Collection Lag Time', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.collection_lag_time) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('light-grey')">% of Evidence Cases with CIF</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('% of Evidence Cases with CIF', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.evidence_cif_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('')">% of Valid Intercepts</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('% of Valid Intercepts', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.valid_intercept_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="!collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('light-grey')">% of Phone Numbers Verified</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('% of Phone Numbers Verified', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.phone_verified_percent) }}
	        		</td>
	        	</tr>
	        	
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td rowspan="10" ng-class="collectionIndicators.getHeadClass('bold light-grey center')">Project Compliance</td>
	        		<td ng-class="collectionIndicators.getHeadClass('')">IRF Suspect SF %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('IRF Suspect SF %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.sf_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('light-grey')">PVF %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('PVF %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.vdf_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('')">S Photos %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('S Photos %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.suspect_photo_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('light-grey')">Compliance %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail(' Compliance %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.compliance_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('')">PV Photos %</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('PV Photos %', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.photo_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('light-grey')">Collection Lag Time</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('Collection Lag Time', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.collection_lag_time) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('')">% of Valid Intercepts</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('% of Valid Intercepts', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.valid_intercept_percent) }}
	        		</td>
	        	</tr>
	        	<tr ng-if="collectionIndicators.pvfForm">
	        		<td ng-class="collectionIndicators.getHeadClass('light-grey')">% of Phone Numbers Verified</td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('light-grey', 'comp-light', $index)"
	        				ng-click="collectionIndicators.getDetail('% of Phone Numbers Verified', indicator)">
	        			{{ collectionIndicators.displayPercent(indicator.phone_verified_percent) }}
	        		</td>
	        	</tr>
	        	
	        	
	        	<tr>
	        		<td ng-class="collectionIndicators.getHeadClass('bold black right')"><b>Total</b></td>
	        		<td ng-repeat="indicator in collectionIndicators.indicators"
	        				ng-class="collectionIndicators.getCellClass('black', 'comp-light', $index)">
	        			<b>{{ collectionIndicators.displayPercent(indicator.compliance_total) }}</b>
	        		</td>
	        	</tr>
	    </table>
    </div>
</div>
<div>
