#dataCollectionIndicator {
	.label-col {
		word-wrap:break-word;
	}
	.tbl-div {
		width:1000px;
		margin: auto;
	}
	.bold {
		font-weight: bold;
	}
	.sticky.stick {
	    z-index: 1;
	    position: fixed;
	    width: inherit;
	}
	.heading {
		border-top: 1px solid black;
	}
	.heading-type {
		width:25%;
	}
	.right {
		text-align: right;
	}
	.center {
		text-align: center;
	}
	.black {
		background-color: black;
		color: white;
	}
	.victims-light {
	}
	.victims-dark {
		background-color: black;
		color: white;
	}
	.irf-light {
		background-color: #e6f2ff;
	}
	.irf-dark {
		background-color: #99bbff;
	}
	.cif-light {
		background-color: #c6ecc6;
	}
	.cif-dark {
		background-color: #a3dca3;
	}
	.vdf-light {
		background-color: #ffebcc;
	}
	.vdf-dark {
		background-color: #ffcc80;
	}
	.light-grey {
		background-color: #cccccc;
	}
	.med-grey {
		background-color: #b3b3b3;
	}
	.dark-grey {
		background-color: #404040;
		color: white;
	}
	.clear-dark {
		background-color: #264d00;
		color: white;
	}
	.clear-light {
		background-color: #a3dca3;
	}
	.some-dark {
		background-color: #408000;
		color: white;
	}
	.some-light {
		background-color: #c6ecc6;
	}
	.invalid-dark {
		background-color: #660033;
		color: white;
	}
	.invalid-light {
		background-color: #ffcccc;
	}
	.high-dark {
		background-color: #806000;
		color: white;
	}
	.high-light {
		background-color: #dfbf9f;
	}
	.comp-light {
		background-color: #ececec;
	}
	.light-border {
		border-right: 1px solid black;
		border-left: 1px solid black;
	}
	.heavy-border {
		border-right: 3px solid black;
		border-left: 3px solid black;
	}
	table {
        border-collapse: separate;
        .header {
            font-size: 26px;
            font-weight: 500;
            line-height: 1.1;
        }
        td {
            vertical-align: middle;
            height: 10px;
            padding:1px;
        }
    }
}