<div class="col-md-offset-1 col-md-10">
  <h2 class="text-center">Past Month Sent Money</h2>
  <div class="col-md-4"></div>
  <div  ng-class="mdfCtrl.reviewCompleteClass('col-md-4 text-center',mdfCtrl.form.past_month_sent_reviewed)" ng-hide="mdfCtrl.isViewing">
  	<form-step type="checkbox" label="Past Month Sent Reviewed" response-value="mdfCtrl.form.past_month_sent_reviewed"></form-step>
  </div>
  <hr>
  <div class="row" ng-repeat="project in mdfCtrl.allProjects">
  	<div class="row">
	  	<div class="col-md-12 center-vertical">
			<h3 class=col-md-6>{{ project.project_category_name }}: {{ project.station_name }}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 center-vertical">
			<div class="col-md-4">
				<label>Description</label>
			</div>
			<div class="col-md-2">
				<label>Budget Category</label>
			</div>
			<div class="col-md-2">
		  		<label>Total</label>
		  	</div>
		  	<div class="col-md-2">
		  		<label>Approved by</label>
		  	</div>
	  	</div>
	</div>
    <div ng-repeat="item in mdfCtrl.form.mdfitem_set"
    		ng-if="item.work_project===project.id && item.category===mdfCtrl.constants.FormSections.PastMonth">
      <div class="col-md-4">
        <input class="form-control" type="text" ng-model="item.description" ng-disabled="mdfCtrl.isViewing" required/>
      </div>
      <div class="col-md-2">
      	<select ng-model="item.associated_section" required>
      		<option ng-repeat="section in mdfCtrl.sections.allSections" 
      			ng-if="mdfCtrl.sections.excludeFromDropDown.indexOf(section.name) < 0 && project.id === mdfCtrl.borderStationId"
      			value="{{ section.value }}">{{ section.name }}</option>
      		<option ng-if="project.id !== mdfCtrl.borderStationId" value="8">Salaries & Benefits</option>
      		<option ng-if="project.id !== mdfCtrl.borderStationId" value="14">Operational Expense</option>
      	</select>
      </div>
      <div class="col-md-2">
        <input ng-if="mdfCtrl.currencyType==='local'" class="text-right form-control" type="text" 
        		onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 45 || event.charCode === 46"
        		ng-change="mdfCtrl.setTotals()" 
        		ng-model="item.cost" 
        		ng-disabled="mdfCtrl.isViewing" required/>
        <input ng-if="mdfCtrl.currencyType==='USD'" class="text-right form-control" type="text" 
        		ng-model="item.display" 
        		disabled/>
      </div>
      <div class="col-md-2">
      	<input class="form-control" type="text" ng-model="item.approved_by" ng-disabled="mdfCtrl.isViewing">
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" ng-click="mdfCtrl.removeItem(mdfCtrl.form.mdfitem_set, $index)" ng-hide="mdfCtrl.isViewing">Remove</button>
      </div>
      <br/>
      <br/>
    </div>
    <div class="row">
      <button class="btn btn-success col-xs-4 col-xs-offset-4"
	      	ng-click="mdfCtrl.addItem(project.id,mdfCtrl.constants.FormSections.PastMonth);mdfCtrl.form.past_month_sent_reviewed=true"
	      	ng-hide="mdfCtrl.isViewing">Add item for {{ project.station_name }}
	  </button>
    </div>
  </div>
  <hr>
  <div class="row center text-center">

    <div class="col-md-6 col-md-offset-3">
      <label>Past Month Sent Money Total</label>
      <input class="text-center form-control" ng-value="mdfCtrl.totals[project.id][mdfCtrl.constants.FormSections.PastMonth].display | currency:mdfCtrl.currency:mdfCtrl.decimalDigits" disabled="disabled" />
    </div>
  </div>
</div>
