<div class="col-md-offset-2 col-md-8">
  <h2 class="text-center">Potential Victim Care</h2>
  <hr>
  <div class="row">
		<table class="fixed table-striped staff-item-table" ng-model="mdfCtrl.form.requests">
			<tbody>
				<tr>
					<td  ng-class="mdfCtrl.getMultiplierColor('',mdfCtrl.multiplierByLocation[mdfCtrl.constants.FormSections.PotentialVictimCare])">
						<input class="text-right form-control" type="text"
			          		ng-model="mdfCtrl.multiplierByLocation[mdfCtrl.constants.FormSections.PotentialVictimCare].cost" 
			          		disabled/>
			          	<small title="Set based on last month's MDF">Food & Snacks Cost per day</small>
					</td>
					<td>
						<a ng-if="mdfCtrl.multiplierByLocation[mdfCtrl.constants.FormSections.PotentialVictimCare].request" 
								ng-href="{{ mdfCtrl.multiplierByLocation[mdfCtrl.constants.FormSections.PotentialVictimCare].request.editUrl }}"><i class="fa fa-search reviewIcon"></i></a>
					</td>
					<td>
						*
					</td>
					<td>
						<input class="text-right form-control" type="number"
							ng-change="mdfCtrl.setTotals()"
			          		ng-model="mdfCtrl.form.number_of_pv_days" 
			          		ng-disabled="mdfCtrl.isViewing"/>
			          	<small># PV Days</small>
					</td>
					<td>
						=
					</td>
					<td>
						<input class="form-control text-right" ng-model="mdfCtrl.totalFoodSnacks" disabled="disabled"/>
						<small>Total PV Food & Snacks Cost</small>
					</td>
				</tr>
			</tbody>
		</table>
  </div>
  <hr>
  <div class="row">
  	<table class="fixed table-striped staff-item-table" ng-model="mdfCtrl.form.requests">
			<tbody>
				<tr>
					<td ng-class="mdfCtrl.getMultiplierColor('',mdfCtrl.multiplierByLocation[mdfCtrl.constants.FormSections.Limbo])">
						<input class="text-right form-control" type="text"
			          		ng-model="mdfCtrl.multiplierByLocation[mdfCtrl.constants.FormSections.Limbo].cost" 
			          		disabled/>
			          	<small title="Set based on last month's MDF">Limbo PV Cost per Day</small>
					</td>
					<td>
						<a ng-if="mdfCtrl.multiplierByLocation[mdfCtrl.constants.FormSections.Limbo].request" 
								ng-href="{{ mdfCtrl.multiplierByLocation[mdfCtrl.constants.FormSections.Limbo].request.editUrl }}"><i class="fa fa-search reviewIcon"></i></a>
					</td>
					<td>
						*
					</td>
					<td>
						<input class="text-right form-control" type="text"
			          		ng-model="mdfCtrl.limboPvDays" 
			          		disabled/>
			          	<small>Limbo PV # Days</small>
					</td>
					<td>
						=
					</td>
					<td>
						<input class="form-control text-right" ng-model="mdfCtrl.limboCost" disabled="disabled"/>
						<small>Total Limbo PV Cost</small>
					</td>
				</tr>
			</tbody>
		</table>
  </div>
  <br>
  <div class="row">
  	<div ng-repeat="item in mdfCtrl.form.mdfitem_set" ng-if="item.category===mdfCtrl.constants.FormSections.Limbo">
  		<div class="col-md-6 col-md-offset-2">
        <input class="form-control" type="text" placeholder="PV Name" ng-model="item.description" ng-disabled="mdfCtrl.isViewing" required/>
      </div>
      <div class="col-md-2">
        <input class="text-right form-control" placeholder="# days" type="text" 
        		onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        		ng-change="mdfCtrl.setTotals()" 
        		ng-model="item.cost" 
        		ng-disabled="mdfCtrl.isViewing" required/>
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" ng-click="mdfCtrl.removeItem(mdfCtrl.form.mdfitem_set, $index)" ng-hide="mdfCtrl.isViewing">Remove</button>
      </div>
      <br><br>
  	</div>
  </div>
  <div class="row">
  	<br>
  	<button class="btn btn-success col-xs-4 col-xs-offset-4" ng-click="mdfCtrl.addItem(mdfCtrl.form.border_station, mdfCtrl.constants.FormSections.Limbo)" ng-hide="mdfCtrl.isViewing">Add Limbo PV</button>
  </div>
  <hr>
  <div class="row">
    <div class="row">
 		<table class="fixed table-striped  staff-item-table" ng-model="mdfCtrl.form.requests">
	  		<thead>
	  			<tr>
	  				<th class="text-center">Description</th>
	  				<th class="salary-col text-center">Cost</th>
	  				<th></th>
	  			</tr>
	  		</thead>
	  		<tbody>
	  			<tr ng-repeat="request in mdfCtrl.form.requests" ng-if="request.category===mdfCtrl.constants.FormSections.PotentialVictimCare && request.status==='Approved'">
	  				<td>{{ request.description }}</td>
	  				<td ng-class="mdfCtrl.getCostColor('',[request])">
	  					{{ request.cost }}
	  				</td>
	  				<td class="text-center">
	  					<a ng-href="{{ request.editUrl }}"><i class="fa fa-search reviewIcon"></i></a>
	  				</td>
	  			</tr>
	  		</tbody>
		</table>
	</div>
  </div>
  <hr>
  <div class="row center text-center">
    <div class="col-md-4 col-md-offset-4">
      <label>Potential Victim Care Total</label>
      <input class="form-control text-center" ng-value="mdfCtrl.totals[mdfCtrl.form.border_station][mdfCtrl.constants.FormSections.PotentialVictimCare].display | currency:mdfCtrl.currency:mdfCtrl.decimalDigits" disabled="disabled" />
    </div>
  </div>
  	 <div class="col-md-11" ng-if="mdfCtrl.totals[mdfCtrl.form.border_station][mdfCtrl.constants.FormSections.PotentialVictimCare].changed_count">
  	 	<hr>
	  	<h4>{{ mdfCtrl.findProject(mdfCtrl.form.border_station).station_name }}: Requests with changed amount</h4>
	  	<table class="fixed table-striped staff-item-table" ng-model="mdfCtrl.form.requests">
	  	 	<thead>
		  	 	<tr>
		  	 		<th class="text-center">Description</th>
		  	 		<th class="salary-col text-center">Original</th>
		  	 		<th class="salary-col text-center">Modified</th>
		  	 		<th class="text-center">Monthly</th>
		  	 		<th class="text-center">Comment</th>
		  	 		<th></th>
		  	 	</tr>
	  	 	</thead>
	  	 	<tbody>
	  	 		<tr ng-repeat="request in mdfCtrl.form.requests"
	  	 				ng-if="request.status==='Approved' && request.project===mdfCtrl.form.border_station && request.category===mdfCtrl.constants.FormSections.PotentialVictimCare && mdfCtrl.amountChanged(request)">
	  	 			<td>{{ request.description }}</td>
	  	 			<td class="text-right">{{ request.original_cost }}</td>
					<td class="text-right">{{ request.cost }}</td>
					<td>
						<i ng-if="request.monthly" class="fa fa-check-square-o monthlyIcon"></i>
               			<i ng-if="!request.monthly" class="fa fa-square-o monthlyIcon"></i>
               		</td>
					<td>{{ mdfCtrl.getComment(request) }}</td>
					<td class="text-center">
						<a ng-href="{{ request.editUrl }}"><i class="fa fa-search reviewIcon"></i></a>
					</td>
	  	 		</tr>
	  	 	</tbody>
	  	 </table>
	  </div>
	  <div class="col-md-11" ng-if="mdfCtrl.totals[mdfCtrl.form.border_station][mdfCtrl.constants.FormSections.PotentialVictimCare].declined_count">
	  	<hr>
	  	<h4>{{ mdfCtrl.findProject(mdfCtrl.form.border_station).station_name }}: Declined requests</h4>
	  	<table class="fixed table-striped staff-item-table" ng-model="mdfCtrl.form.requests">
	  	 	<thead>
		  	 	<tr>
		  	 		<th class="text-center">Description</th>
		  	 		<th class="salary-col text-center">Amount</th>
		  	 		<th class="text-center">Monthly</th>
		  	 		<th class="text-center">Comment</th>
		  	 		<th></th>
		  	 	</tr>
	  	 	</thead>
	  	 	<tbody>
	  	 		<tr ng-repeat="request in mdfCtrl.form.requests"
	  	 				ng-if="request.status==='Declined' && request.category===mdfCtrl.constants.FormSections.PotentialVictimCare  && request.project===mdfCtrl.form.border_station">
	  	 			<td>{{ request.description }}</td>
					<td class="text-right">{{ request.cost }}</td>
					<td>
						<i ng-if="request.monthly" class="fa fa-check-square-o monthlyIcon"></i>
               			<i ng-if="!request.monthly" class="fa fa-square-o monthlyIcon"></i>
               		</td>
					<td>{{ mdfCtrl.getComment(request) }}</td>
					<td class="text-center">
						<a ng-href="{{ request.editUrl }}"><i class="fa fa-search reviewIcon"></i></a>
					</td>
	  	 		</tr>
	  	 	</tbody>
	  	 </table>
	  </div>
	  <div class="col-md-11" ng-if="mdfCtrl.totals[mdfCtrl.form.border_station][mdfCtrl.constants.FormSections.PotentialVictimCare].completed_count">
	  	<hr>
	  	<h4>{{ mdfCtrl.findProject(mdfCtrl.form.border_station).station_name }}: Completed requests</h4>
	  	<table class="fixed table-striped staff-item-table" ng-model="mdfCtrl.form.requests">
	  	 	<thead>
		  	 	<tr>
		  	 		<th class="text-center">Description</th>
		  	 		<th class="salary-col text-center">Amount</th>
		  	 		<th class="text-center">Monthly</th>
		  	 		<th class="text-center">Comment</th>
		  	 		<th></th>
		  	 	</tr>
	  	 	</thead>
	  	 	<tbody>
	  	 		<tr ng-repeat="request in mdfCtrl.form.requests"
	  	 				ng-if="request.status==='Approved-Complete' && request.category===mdfCtrl.constants.FormSections.PotentialVictimCare && request.project===mdfCtrl.form.border_station">
	  	 			<td>{{ request.description }}</td>
					<td class="text-right">{{ request.cost }}</td>
					<td>
						<i ng-if="request.monthly" class="fa fa-check-square-o monthlyIcon"></i>
               			<i ng-if="!request.monthly" class="fa fa-square-o monthlyIcon"></i>
               		</td>
					<td>{{ mdfCtrl.getComment(request) }}</td>
					<td class="text-center">
						<a ng-href="{{ request.editUrl }}"><i class="fa fa-search reviewIcon"></i></a>
					</td>
	  	 		</tr>
	  	 	</tbody>
	  	 </table>
	  </div>
</div>