<fieldset ng-disabled="$ctrl.isViewing === true">
    <div class="row">
        <form-step class="col-md-3 control-label">4.1 What date did potential victim leave the care of the Station?</form-step>
        <div class="col-md-2">
            <input type="date" class="form-control" ng-model-options="{timezone: 'utc'}" ng-model="$ctrl.dateData.questions[682].value">    
        </div>
    </div>
    <br>
    <div class="row center-vertical">
        <form-step class="col-md-3 control-label">4.2 Where did the potential victim go?</form-step>
        <div class="col-md-9">
            <form-step type="radio" radio-name="victimGo" label="Home to stay with guardians" other-value="$ctrl.otherData.questions[1059].otherValue" response-value="$ctrl.otherData.questions[1059].value"></form-step>
            <form-step type="radio" radio-name="victimGo" label="Sent to stay with other relatives" other-value="$ctrl.otherData.questions[1059].otherValue" response-value="$ctrl.otherData.questions[1059].value"></form-step>    
            <form-step type="radio" radio-name="victimGo" label="Sent to Partner Organization" other-value="$ctrl.otherData.questions[1059].otherValue" response-value="$ctrl.otherData.questions[1059].value"></form-step>    
            <form-step type="radio" radio-name="victimGo" label="Social Welfare" other-value="$ctrl.otherData.questions[1059].otherValue" response-value="$ctrl.otherData.questions[1059].value"></form-step>    
            <form-step type="otherRadio" radio-name="victimGo" label="Other" other-value="$ctrl.otherData.questions[1059].otherValue" response-value="$ctrl.otherData.questions[1059].value"></form-step>
        </div>
    </div>
    <br>
    <div class="row center-vertical">
        <form-step class="col-md-3 control-label">4.3 How was the PV released?</form-step>
        <div class="col-md-9">
            <form-step type="radio" radio-name="howReleased" label="Someone came to pick the PV up from the station/shelter" other-value="$ctrl.otherData.questions[1048].otherValue" response-value="$ctrl.otherData.questions[1048].value"></form-step>
            <form-step type="radio" radio-name="howReleased" label="Staff arranged transportation for the PV to travel alone" other-value="$ctrl.otherData.questions[1048].otherValue" response-value="$ctrl.otherData.questions[1048].value"></form-step>
            <form-step type="radio" radio-name="howReleased" label="Staff accompanied the PV during travel" other-value="$ctrl.otherData.questions[1048].otherValue" response-value="$ctrl.otherData.questions[1048].value"></form-step>
            <form-step type="otherRadio" radio-name="howReleased" label="Other" other-value="$ctrl.otherData.questions[1048].otherValue" response-value="$ctrl.otherData.questions[1048].value"></form-step>
        </div>
    </div>
    <br>
    <div class="row center-vertical">
        <form-step class="col-md-3 control-label">4.4 What services were provided to the victim?</form-step>
        <div class="col-md-9">
        	<form-step type="checkbox" label="Education about HT" response-value="$ctrl.questions[1049].response.value"></form-step>
        	<form-step type="checkbox" label="Legal Support" response-value="$ctrl.questions[1050].response.value"></form-step>
        	<form-step type="checkbox" label="Medical Support" response-value="$ctrl.questions[1051].response.value"></form-step>
        	<form-step type="checkbox" label="Travel Support" response-value="$ctrl.questions[1052].response.value"></form-step>
        	<form-step type="checkbox" label="Food" response-value="$ctrl.questions[1053].response.value"></form-step>
        	<form-step type="checkbox" label="Safe Foreign Employment Info" response-value="$ctrl.questions[1054].response.value"></form-step>
        </div>
    </div>
    <br>
    <div class="row center-vertical">
        <form-step class="col-md-3 control-label">4.5 What country was the PV sent back to?</form-step>
        <div class="col-md-9">
            <form-step type="radio" radio-name="countrySent" label="Monitoring Country" other-value="$ctrl.otherData.questions[1055].otherValue" response-value="$ctrl.otherData.questions[1055].value"></form-step>
            <form-step type="otherRadio" radio-name="countrySent" label="Other" other-value="$ctrl.otherData.questions[1055].otherValue" response-value="$ctrl.otherData.questions[1055].value"></form-step>
        </div>
    </div>
    <br>
    <div class="row center-vertical">
        <form-step class="col-md-3 control-label">4.6 Did the PV spend time at LJ's short-term shelter?</form-step>
        <div class="col-md-9">
        	<div>
	        	<form-step type="radio" class="inblock" radio-name="shelterTime" label="Yes" response-value="$ctrl.questions[1056].response.value"></form-step>
				for <input type="number" class="inblock" ng-model="$ctrl.questions[1057].response.value"> Nights
			</div>
			<div>
	            <form-step type="radio" class="inblock" radio-name="shelterTime" label="No" response-value="$ctrl.questions[1056].response.value"></form-step>
	             but staff interacted with the victims for approximately <input type="number" class="inblock" ng-model="$ctrl.questions[1058].response.value"> hours
             </div>
        </div>
    </div>
   
	
</fieldset>
