<div class="col-lg-6">
  <h2 class="background"><span>Shelter</span></h2>

  <div class="row text-center" style="margin-top: 30px">
      <div class="col-lg-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="shelter_rent" ng-model="main.form.shelter_rent"/>
          <small>Rent</small>
      </div>
      <div class="col-lg-1">
          <h4 class="text-center">+</h4>
      </div>
      <div class="col-lg-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="shelter_water" ng-model="main.form.shelter_water"/>
          <small>Water</small>
      </div>
      <div class="col-lg-1">
          <h4 class="text-center">+</h4>
      </div>
      <div class="col-lg-2 calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="shelter_electricity" ng-model="main.form.shelter_electricity"/>
          <small>Electricity</small>
      </div>
      <div class="col-lg-1">
          <h4 class="text-center">=</h4>
      </div>
      <div class="col-lg-3 input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control text-center" ng-value="main.utilTotal()" disabled="disabled"/>
      </div>
  </div>
  <div class="row text-center" style="margin-top: 30px">
      <div class="col-lg-1 col-lg-offset-2">
          <input style="margin-bottom: 0; margin-top: 10px" type="checkbox" id="shelterStartupBool" ng-model="main.form.shelter_shelter_startup"/>
      </div>
      <div class="col-lg-2 input-with-text calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="shelter_startup_amount" ng-model="main.form.shelter_shelter_startup_amount"/>
          <small>Shelter Startup</small>
      </div>
      <div class="col-lg-1">
          <input style="margin-bottom: 0; margin-top: 10px" type="checkbox" id="shelter_two_bool" ng-model="main.form.shelter_shelter_two"/>
      </div>
      <div class="col-lg-2 input-with-text calc-form-input-no-width">
          <input class="text-right form-control" type="number" id="shelter_two_amount" ng-model="main.form.shelter_shelter_two_amount"/>
          <small>Shelter 2</small>
      </div>
      <div class="col-lg-1">
          <h4 class="text-center">=</h4>
      </div>
      <div class="col-lg-3 input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control text-center" ng-value="main.shelterCheckboxTotal()" disabled="disabled"/>
      </div>
  </div>

  {% verbatim %}
      <div class="row" ng-controller="otherBudgetItemsCtrl as shelterItemsCtrl" ng-init="form_section = 5;">
          <div class="animated-budget-items" ng-repeat="form in shelterItemsCtrl.shelterForms">

              <div class="col-lg-4 col-lg-offset-2">
                  <input class="form-control" type="text" ng-model="form.name" ng-disabled="main.view"/>
              </div>
              <div class="col-lg-4">
                  <input class="text-right form-control" type="number" ng-model="form.cost" ng-change="shelterItemsCtrl.otherItemsTotal()" ng-disabled="main.view"/>
              </div>
              <div class="col-lg-2">
                  <a class="btn btn-danger" ng-click="shelterItemsCtrl.removeItem(form.id, $index)" ng-hide="main.view">Remove</a>
              </div>
              <br/><br/>
          </div>
          <div class="row">
              <br/>

              <div class="col-lg-4 col-lg-offset-5">
                  <a class="btn btn-success" id="shelter_add_item" ng-click="shelterItemsCtrl.addNewItem()" ng-hide="main.view">Add item</a>
              </div>
          </div>
      </div>
  {% endverbatim %}

  <div class="row center text-center" style="margin-top: 20px">
      <div class="col-lg-4 col-lg-offset-4">
          <label>Shelter Total</label>
          <input class="form-control text-center" ng-value="main.shelterTotal()" disabled="disabled"/>
      </div>



      {% comment %}<div class="col-lg-1 col-lg-offset-4" style="width: 100px; padding: 0">
          <label>Shelter Total</label>
          <input class="form-control text-center" ng-value="main.shelterTotal()" disabled="disabled"/>
      </div>{% endcomment %}
  </div>
</div>