<div class="container" id="section1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">VIF Data</h3>
            <input type="button" value="Hello" ng-click="section1Ctrl.foo()">
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.1 - 1.2</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="radio">
                            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="section1Ctrl.vif.name">
                            <strong>Gender:</strong>&nbsp;
                            <label><input type="radio" name="gender" ng-model="section1Ctrl.vif.isMale" ng-value="true">Male</label>&nbsp;
                            <label><input type="radio" name="gender" ng-model="section1Ctrl.vif.isFemale" ng-value="true">Female</label>&nbsp;
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.3</strong> Victim's Recent Address</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="address1" placeholder="Address 1" ng-model="section1Ctrl.vif.address1">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control pull-right" id="address2" placeholder="Address 2" ng-model="section1Ctrl.vif.address2">
                        </div>
                    </div>
                    <div class="form-group row no-margin-bottom">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="ward" placeholder="Ward #" ng-model="section1Ctrl.vif.ward">
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control pull-right" id="phone" placeholder="Phone #" ng-model="section1Ctrl.vif.phone">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.4 - 1.6</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="form-group row no-margin-bottom">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="age" placeholder="Age" ng-model="section1Ctrl.vif.age">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="height" placeholder="Height" ng-model="section1Ctrl.vif.height">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control pull-right" id="weight" placeholder="Weight" ng-model="section1Ctrl.vif.weight">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.7</strong> Caste</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4" ng-repeat="caste in section1Ctrl.castes">
                        <div class="radio options">
                            <label><input type="radio" name="caste" ng-model="caste.value" ng-value="true">{{ caste.name }}</label>
                        </div>
                    </div>
                    <div class="col-md-12 radio">
                        <label><input type="radio" name="caste" ng-model="section1Ctrl.vif.caste.other">Other</label>&nbsp;
                        <input type="text" class="form-control other" placeholder="Caste" ng-model="section1Ctrl.vif.caste.otherText">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.8</strong> What is your occupation?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-3" ng-repeat="occupation in section1Ctrl.occupations">
                        <div class="radio options">
                            <label><input type="radio" name="occupation" ng-model="occupation.value">{{ occupation.name }}</label>
                        </div>
                    </div>
                    <div class="col-md-12 radio">
                        <label><input type="radio" name="occupation" ng-model="section1Ctrl.vif.occupation.other">Other</label>&nbsp;
                        <input type="text" class="form-control other" placeholder="Occupation" ng-model="section1Ctrl.vif.occupation.otherText">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.9</strong> Marital Status</h3>
                </div>
                <div class="panel-body panel-radio-only">
                    <div class="col-md-4" ng-repeat="status in section1Ctrl.marital_statuses">
                        <div class="radio options">
                            <label><input type="radio" name="marital-status" ng-model="status.value">{{ status.name }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.10</strong> With whom do you live?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4" ng-repeat="living in section1Ctrl.living">
                        <div class="radio options">
                            <label><input type="radio" name="living" ng-model="living.value">{{ living.name }}</label>
                        </div>
                    </div>
                    <div class="col-md-12 radio">
                        <label><input type="radio" name="living" ng-model="section1Ctrl.vif.livesWith.other">Other</label>&nbsp;
                        <input type="text" class="form-control other" placeholder="Lives with" ng-model="section1Ctrl.vif.livesWith.otherText">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.11</strong> How many people are in your own family?</h3>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" placeholder="#" ng-model="section1Ctrl.vif.numInFamily">
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.12</strong> Who is your primary guardian?</h3>
                </div>
                <div class="panel-body panel-radio-only">
                    <div class="col-md-4" ng-repeat="guardian in section1Ctrl.guardians">
                        <div class="radio options">
                            <label><input type="radio" name="guardian" ng-model="guardian.value">{{ guardian.name }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.13</strong> Guardian's Address</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="address1" placeholder="Address 1" ng-model="section1Ctrl.vif.primaryGuardian.address1">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control pull-right" id="address2" placeholder="Address 2" ng-model="section1Ctrl.vif.primaryGuardian.address2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="ward" placeholder="Ward #" ng-model="section1Ctrl.vif.primaryGuardian.ward">
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control pull-right" id="phone" placeholder="Phone #" ng-model="section1Ctrl.vif.primaryGuardian.phone">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.14</strong> What is parents' marital status?</h3>
                </div>
                <div class="panel-body panel-radio-only">
                    <div class="col-md-4" ng-repeat="status in section1Ctrl.parents_marital_statuses">
                        <div class="radio options">
                            <label><input type="radio" name="parents-marital" ng-model="status.value">{{ status.name }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.15</strong> Education Level</h3>
                </div>
                <div class="panel-body panel-radio-only">
                    <div class="col-md-4" ng-repeat="education in section1Ctrl.education">
                        <div class="radio options">
                            <label><input type="radio" name="education" ng-model="education.value">{{ education.name }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>1.16</strong> Is the victim literate?</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" ng-repeat="option in section1Ctrl.literate">
                        <div class="radio">
                            <label><input type="radio" name="literate" ng-click="section1Ctrl.test()">{{ option.name }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>