#section1 {
  #name {
    display: inline;
    margin-right: 10px;
    width: 81%;
  }
  .no-margin-bottom {
    margin-bottom: 0;
  }
  .other {
    display: inline;
    width: 93%;
  }
  .test {
    border: 1px solid black;
  }
}